<!-- BEGIN xml --><?xml version="1.0" encoding="UTF-8"?>
<urlset xmlns="http://www.sitemaps.org/schemas/sitemap/0.9">

    <!-- BEGIN item -->
    <url>
        <loc>{loc}</loc>

        <!-- BEGIN lastmod -->
        <lastmod>{lastmod}</lastmod>
        <!-- END lastmod -->

        <!-- BEGIN changefreq -->
        <changefreq>{changefreq}</changefreq>
        <!-- END changefreq -->

        <!-- BEGIN priority -->
        <priority>{priority}</priority>
        <!-- END priority -->
    </url>
    <!-- END item -->

</urlset>

<!-- END xml -->