<!-- BEGIN SysInfo -->
<div class="gadget_header"><div class="gadget_title"><h3>{{title}}</h3></div></div>
<div class="gadget_container">
  <div class="gadget_content content">
    <!-- BEGIN InfoSection -->
    <table class="table table-hover table-bordered">
      <!-- BEGIN InfoItem -->
      <tr><td class="item_title">{{item_title}}</td><td class="item_value">{{item_value}}</td></tr>
      <!-- END InfoItem -->
    </table>
    <div></div>
    <!-- END InfoSection -->
  </div>
</div>
<div class="gadget_footer"></div>
<!-- END SysInfo -->