<!-- BEGIN account -->
<div class="gadget users profilebox">
  <h2>{title}</h2>
  <!-- BEGIN response --><div class="simple-response-msg">{msg}</div><!-- END response -->
  <form name="profilebox" action="{base_script}" method="post">
  <input type="hidden" name="gadget" value="Users" />
  <input type="hidden" name="action" value="UpdateAccount" />
  <div class="content">
    <fieldset>
      <p><label for="profile_email">{lbl_email}:</label>
        <input name="email" id="profile_email" value="{email}" type="text" style="direction: ltr;" />
      </p>
      <p><label for="profile_nickname">{lbl_nickname}:</label>
        <input name="nickname" id="profile_nickname" value="{nickname}" type="text" />
      </p>
      <p><label for="profile_password">{lbl_password}:</label>
        <input name="password" id="profile_password" type="password" value="" style="direction: ltr;" />
        <span><small>{emptypassword}</small></span>
      </p>
      <p><label for="profile_chkpasswd">{lbl_checkpassword}:</label>
        <input name="password_check" id="profile_chkpasswd" type="password" value="" style="direction: ltr;" />
      </p>
    </fieldset>
  </div>
  <div class="actions"><button type="submit" value="{update}">{update}</button></div>
  </form>
</div>
<!-- END account -->