<!-- BEGIN LoginLinks -->
<div class="gadget users loginlinks">
  <h2>{title}</h2>
  <div class="content">
    <span>{welcome}</span>
    <ul>
      <li><a href="{login_url}">{user_login}</a></li>
      <!-- BEGIN registeration -->
      <li><a href="{registeration_url}">{user_registeration}</a></li>
      <!-- END registeration -->
      <!-- BEGIN forgot -->
      <li><a href="{forgot_url}">{user_forgot}</a></li>
      <!-- END forgot -->
    </ul>
  </div>
</div>
<!-- END LoginLinks -->
<!-- BEGIN UserLinks -->
<div class="gadget users userlinks">
  <h2>{title}</h2>
  <div class="content">
    <span>{welcome}</span>
    <ul>
      <li><a>{username}</a></li>
      <li><a>{nickname}</a></li>
      <li><a>{email}</a></li>
      <!-- BEGIN account -->
      <li><a href="{account_url}">{user_account}</a></li>
      <!-- END account -->
      <!-- BEGIN password -->
      <li><a href="{password_url}">{user_password}</a></li>
      <!-- END password -->
      <!-- BEGIN profile -->
      <li><a href="{profile_url}">{user_profile}</a></li>
      <!-- END profile -->
      <!-- BEGIN preferences -->
      <li><a href="{preferences_url}">{user_preferences}</a></li>
      <!-- END preferences -->
      <!-- BEGIN cpanel -->
      <li><a href="{cpanel_url}">{cpanel}</a></li>
      <!-- END cpanel -->
      <li><a href="{logout_url}">{logout}</a></li>
    </ul>
  </div>
</div>
<!-- END UserLinks -->
