fieldset{
padding:0;
}
a:active, a:focus{
outline:none;
}
#weather_datagrid{
width:100%;
margin-top:0.2em;
}
#regions_area{
padding-left:15px;
}
#gmap_box{
width:354px;
height:290px;
padding:1em 1em 0 1em;
}
#gmap{
width:352px;
height:288px;
cursor:pointer;
border:1px solid #ccc;
}
#zoom_box{
padding:5px;
text-align:right;
margin-top:-28px;
}
#zoom_box a{
display:inline-block;
text-decoration:none;
background:url(../Resources/images/button-bg.png);
}
#zoom_box a{
border:1px solid #888;
border-radius:3px;
}
#zoom_box a:hover{
background-color:#eef;
}
#zoom_box img{
width:18px;
height:18px;
}
#geo_position{
width:100%;
padding:10px;
font-weight:bold;
text-align:right;
}
#geo_position th{
width:80px;
}
#geo_position input{
width:240px;
}
#geo_position label{
width:95px;
font-weight:normal;
}
#settings{
width:100%;
font-weight:bold;
border:1px solid #D3D7CF;
padding:8px 10px 8px 10px;
text-align:right;
}
#settings label{
width:95px;
font-weight:normal;
}
#settings th{
width:110px;
}
.buttons{
text-align:left;
}