<!-- BEGIN events -->
<div class="gadget_header">
  <div class="gadget_title"><h2>{{title}}</h2></div>
  <div class="gadget_menubar">{{menubar}}</div>
</div>
<div class="gadget_container">
  <div class="gadget_response">
    <div id="eventscalendar_events_response" class="alert {{response_type}}" role="alert">{{response_text}}</div>
  </div>
  <div class="gadget_content content">
    <form id="frm_search" action="{{base_script}}" method="post">
      <input type="hidden" name="gadget" value="EventsCalendar" />
      <input type="hidden" name="action" value="Search" />
      <table class="table">
        <tr><th>{{lbl_public}}</th><td>{{public}}</td></tr>
        <tr><th>{{lbl_shared}}</th><td>{{shared}}</td></tr>
        <tr><th>{{lbl_type}}</th><td>{{type}}</td></tr>
        <tr><th>{{lbl_priority}}</th><td>{{priority}}</td></tr>
        <tr><th>{{lbl_term}}</th><td>{{term}}</td></tr>
        <tr><th>{{lbl_date}}</th><td>{{start}} - {{stop}}</td></tr>
      </table>
      <div>{{btn_search}} {{btn_reset}}</div>
    </form><br>
    <table class="table table-hover table-bordered">
      <thead><tr>
        <th class="th-check"><input class="form-check-input" type="checkbox" id="chk_all" onchange="checkAll()"/></th>
        <th class="event-subject">{{lbl_subject}}</th>
        <th>{{lbl_date}}</th>
        <th>{{lbl_time}}</th>
        <th>{{lbl_public}}</th>
        <th>{{lbl_shared}}</th>
        <th>{{lbl_owner}}</th>
      </tr></thead>
      <tbody id="grid_events">
        <!-- BEGIN event -->
        <tr id="event_{{id}}">
          <td><input class="form-check-input" type="checkbox" value="{{id}}"/></td>
          <td><a href="{{url}}">{{subject}}</a></td>
          <td>{{date}}</td>
          <td>{{time}}</td>
          <td>{{public}}</td>
          <td>{{shared}}</td>
          <td class="event-owner" title="{{username}}">{{nickname}}</td>
        </tr>
        <!-- END event -->
      </tbody>
    </table>
    <!-- INCLUDE PageNavigation.html -->
    <div class="gadget_actions actions">
      <button class="btn" onclick="location.assign('{{url_new}}')">{{lbl_new_event}}</button>
      <button class="btn" id="btn_del_event" onclick="deleteEvents()">{{lbl_del_event}}</button>
    </div>
  </div>
</div>
<div class="gadget_footer"></div>
<script>
var events_url = "{{events_url}}",
    confirmDelete = "{{confirmDelete}}",
    errorShortQuery = "{{errorShortQuery}}";
initEvents();
</script>
<!-- END events -->