<!-- BEGIN reminder -->
<div class="gadget_header">
  <div class="gadget_title">
    <!-- INCLUDE MenuNavigation.html include/Jaws/Resources -->
    <h2>{{title}}</h2>
  </div>
</div>
<div class="gadget_container">
  <div class="gadget_content">
    <table class="table table-hover table-bordered">
      <thead><tr>
        <th>{{lbl_subject}}</th>
        <th>{{lbl_type}}</th>
        <th>{{lbl_location}}</th>
        <th>{{lbl_priority}}</th>
        <th>{{lbl_date}}</th>
        <th>{{lbl_owner}}</th>
      </tr></thead>
      <tbody>
      <!-- BEGIN event -->
      <tr>
        <td><a href="{{event_url}}">{{subject}}</a></td>
        <td>{{type}}</td>
        <td>{{location}}</td>
        <td>{{priority}}</td>
        <td>{{date}}</td>
        <td>{{owner}}</td>
      </tr>
      <!-- END event -->
      </tbody>
    </table>
  </div>
</div>
<div class="gadget_footer"></div>
<!-- END reminder -->