<div class="gadget_header">
  <div class="row">
    <div class="col-xs-9">
      <h2>
        {% if user == "public" %}
          {{ "eventscalendar.public_events" | t }} - {{ "eventscalendar.actions_reminder" | t }}
        {% else %}
          {{ "eventscalendar.user_events" | t }} - {{ "eventscalendar.actions_reminder" | t }}
        {% endif %}
      </h2>
    </div>
    <div class="col-xs-3">{% include 'include/Jaws/Resources/XMenuNavigation.html' with navigation %}</div>
  </div>
</div>
<div class="gadget_container">
  <div class="gadget_content">
    <table class="table table-hover table-bordered">
      <thead><tr>
        <th>{{ "eventscalendar.event_subject" | t }}</th>
        <th>{{ "eventscalendar.event_type" | t }}</th>
        <th>{{ "eventscalendar.event_location" | t }}</th>
        <th>{{ "eventscalendar.event_priority" | t }}</th>
        <th>{{ "eventscalendar.date" | t }}</th>
        <th>{{ "eventscalendar.event_owner" | t }}</th>
      </tr></thead>
      <tbody>

      {% for event in events %}
      <tr>
        <td><a href="{{event.event_url}}">{{event.subject}}</a></td>
        <td>{{ "eventscalendar.event_type_" | append: event.type | t }}</td>
        <td>{{event.location}}</td>
        <td>{{ "eventscalendar.event_priority_" | append: event.priority | t }}</td>
        <td>{{event.start_time | date: "DN d MN Y - h:i a"}}</td>
        <td>
          {% if user != "public" %}
            {% if event.owner != user %}
              {{ event.nickname }}
            {% endif %}
          {% endif %}
        </td>
      </tr>
      {% endfor %}

      </tbody>
    </table>
  </div>
</div>
<div class="gadget_footer"></div>