<!-- BEGIN share -->
<div class="gadget_header">
  <div class="gadget_title">
    <!-- INCLUDE MenuNavigation.html include/Jaws/Resources -->
    <h2>{{title}}</h2>
  </div>
</div>
<div class="gadget_container">
  <div class="gadget_response">
    <div id="eventscalendar_{{action}}_response" class="alert {{response_type}}" role="alert">{{response_text}}</div>
  </div>
  <h4>{{subject}}</h4>
  <div id="event_share">
    <div><label>{{lbl_event_users}}:</label></div>
    {{event_users}}
    <div><label>{{lbl_groups}}:</label></div>
    {{groups}}
    <div><label>{{lbl_users}}:</label></div>
    <div id="sys_users"></div>
    <div class="gadget_actions">
      <button class="btn" type="button" onclick="location.href='{{url_back}}'">{{lbl_cancel}}</button>
      <button class="btn btn-primary" type="button" onclick="submitShare({{id}})">{{lbl_ok}}</button>
    </div>
  </div>
</div>
<div class="gadget_footer"></div>
<script>
var UID = "{{UID}}",
    events_url = "{{events_url}}";
initShare();
</script>
<!-- END share -->
