<!-- BEGIN day -->
<div class="gadget_header">
  <div class="gadget_title">
    <!-- INCLUDE MenuNavigation.html include/Jaws/Resources -->
    <h2><a href="{{year_url}}">{{year}}</a> / <a href="{{month_url}}">{{month}}</a> / {{day}}</h2>
  </div>
</div>
<div class="gadget_container">
  <div class="gadget_content">
    <div class="nav">
      <a href="{{prev_url}}" class="float-left">&laquo; {{prev}}</a>
      <a href="{{next_url}}" class="float-right">{{next}} &raquo;</a>
    </div>
    <table class="table table-hover table-bordered">
      <thead><tr>
        <th>{{lbl_hour}}</th>
        <th>{{lbl_events}}</th>
      </tr></thead>
      <tbody>
        <!-- BEGIN hour -->
        <tr>
          <td>{{hour}}</td>
          <td>
            <!-- BEGIN event -->
            <div class="event type_{{type}} {{priority}}">
              <a href="{{event_url}}">{{event}}</a>
              <!-- BEGIN shared -->
              <img src="gadgets/EventsCalendar/Resources/images/shared.png" alt="shared" />
              <!-- END shared -->
              <!-- BEGIN foreign -->
              <img src="gadgets/EventsCalendar/Resources/images/foreign.png" alt="foreign" />
              <!-- END foreign -->
            </div>
            <!-- END event -->
          </td>
        </tr>
        <!-- END hour -->
      </tbody>
    </table>
  </div>
</div>
<div class="gadget_footer"></div>
<!-- END day -->