<!-- BEGIN day -->
<div class="gadget events-calendar view-day">
  <h2>{title}</h2>
  <div class="content">
    <div class="nav">
      <a href="{prev}" title="{prev_day}" class="button">&lt;</a>
      {current_date}
      <a href="{next}" title="{next_day}" class="button">&gt;</a>
    </div>
    <table>
      <thead><tr>
        <th>{lbl_hour}</th>
        <th>{lbl_events}</th>
      </tr></thead>
      <tbody>
        <!-- BEGIN hour -->
        <tr>
          <td>{hour}</td>
          <td>{events}</td>
        </tr>
        <!-- END hour -->
      </tbody>
    </table>
  </div>
</div>
<script>
</script>
<!-- END day -->