<!-- BEGIN event -->
<div class="gadget events-calendar view-event">
  <div class="gadget_header"><h3>{title}</h3><div class="gadget_menubar">{menubar}</div></div>
  <div class="gadget_container">
  <div class="gadget_content content">
    <table>
      <tr><th>{lbl_location}</th><td>{location}</td></tr>
      <tr><th>{lbl_desc}</th><td>{desc}</td></tr>
      <tr><th>{lbl_date}</th><td>{start_date} - {stop_date}</td></tr>
      <tr><th>{lbl_time}</th><td>{start_time} - {stop_time}</td></tr>
      <tr><th>{lbl_type}</th><td>{type}</td></tr>
      <tr><th>{lbl_priority}</th><td>{priority}</td></tr>
      <tr><th>{lbl_reminder}</th><td>{reminder}</td></tr>
      <tr><th>{lbl_recurrence}</th><td>{recurrence} {rec_value}</td></tr>
      <tr><th>{lbl_shared}</th><td>{shared}</td></tr>
    </table>
    <div class="gadget_actions actions">
      <button type="button" onclick="window.location.assign('{url_edit}')">{lbl_edit}</button>
      <button type="button" onclick="window.location.assign('{url_share}')">{lbl_share}</button>
    </div>
  </div>
  </div>
  <div class="gadget_footer"></div>
</div>
<!-- END event -->