<!-- BEGIN week -->
<div class="gadget events-calendar view-week">
  <div class="gadget_header"><h2>{title}</h2><div class="gadget_menubar">{menubar}</div></div>
  <div class="gadget_container">
  <div class="gadget_content content">
    <div class="nav">
      <a href="{prev_url}" class="float-left">&laquo; {prev}</a>
      <a href="{next_url}" class="float-right">{next} &raquo;</a>
    </div>
    <table>
      <thead><tr>
        <th>{lbl_day}</th>
        <th>{lbl_events}</th>
      </tr></thead>
      <tbody>
        <!-- BEGIN day -->
        <tr>
          <td><a href="{day_url}">{day}</a></td>
          <td>
            <!-- BEGIN event -->
            <div class="event type_{type} {priority}">
              <a href="{event_url}">{event}</a>
              <!-- BEGIN shared -->
              <img src="gadgets/EventsCalendar/Resources/images/shared.png" alt="shared" />
              <!-- END shared -->
              <!-- BEGIN foreign -->
              <img src="gadgets/EventsCalendar/Resources/images/foreign.png" alt="foreign" />
              <!-- END foreign -->
            </div>
            <!-- END event -->
          </td>
        </tr>
        <!-- END day -->
      </tbody>
    </table>
  </div>
  </div>
  <div class="gadget_footer"></div>
</div>
<!-- END week -->