<!-- BEGIN event -->
<div class="gadget_header">
  <div class="gadget_title">
    <!-- INCLUDE MenuNavigation.html include/Jaws/Resources -->
    <h2>{{title}}</h2>
  </div>
</div>
<div class="gadget_container">
  <div class="gadget_content">
    <table class="table table-hover table-bordered">
      <tr><th>{{lbl_location}}</th><td>{{location}}</td></tr>
      <tr><th>{{lbl_desc}}</th><td>{{desc}}</td></tr>
      <tr><th>{{lbl_date}}</th><td>{{start_date}} - {{stop_date}}</td></tr>
      <tr><th>{{lbl_time}}</th><td>{{start_time}} - {{stop_time}}</td></tr>
      <tr><th>{{lbl_type}}</th><td>{{type}}</td></tr>
      <tr><th>{{lbl_priority}}</th><td>{{priority}}</td></tr>
      <tr><th>{{lbl_reminder}}</th><td>{{reminder}}</td></tr>
      <tr><th>{{lbl_recurrence}}</th><td>{{recurrence}} {{rec_value}}</td></tr>
      <tr><th>{{lbl_shared}}</th><td>{{shared}}</td></tr>
      <tr><th>{{lbl_public}}</th><td>{{public}}</td></tr>
    </table>
    <div class="gadget_actions">
      <button class="btn" type="button" onclick="window.location.assign('{{url_edit}}')">{{lbl_edit}}</button>
      <button class="btn" type="button" onclick="window.location.assign('{{url_share}}')">{{lbl_share}}</button>
    </div>
  </div>
</div>
<div class="gadget_footer"></div>
<!-- END event -->