<!-- BEGIN day -->
<div class="gadget events-calendar view-day">
  <h2>{title}</h2>
  <div class="content">
    <div class="nav">
      <a href="{prev_url}" class="float-left">&laquo; {prev}</a>
      <a href="{next_url}" class="float-right">{next} &raquo;</a>
    </div>
    <table>
      <thead><tr>
        <th>{lbl_hour}</th>
        <th>{lbl_events}</th>
      </tr></thead>
      <tbody>
        <!-- BEGIN hour -->
        <tr>
          <td>{hour}</td>
          <td>
            <!-- BEGIN event -->
            <div><a href="{event_url}">{event}</a></div>
            <!-- END event -->
          </td>
        </tr>
        <!-- END hour -->
      </tbody>
    </table>
  </div>
</div>
<script>
</script>
<!-- END day -->