<!-- BEGIN topic -->
<div class="gadget forums deletetopic">
  <h2><a href="{forum_url}">{forum_title}</a> - {title}</h2>
  <!-- BEGIN response -->
  <div class="simple-response-msg">{msg}</div>
  <!-- END response -->
  <form name="deletetopic" action="{requested_url}" method="post">
    <input type="hidden" name="gadget" value="Forums" />
    <input type="hidden" name="action" value="DeleteTopic" />
    <input type="hidden" name="fid" value="{fid}" />
    <input type="hidden" name="tid" value="{tid}" />
    <div class="content">
      <div class="post_meta">{postedby_lbl}{username}{nickname}{user_url}{createtime}</div>
      <div class="post_content">{message}</div>
    </div>
    <div class="actions">
      <button type="submit" name="cancel" >{btn_cancel_title}</button>
      <button type="submit" name="confirm">{btn_submit_title}</button>
    </div>
  </form>
</div>
<!-- END topic -->