<!-- BEGIN post -->
<div class="gadget forums editpost">
  <h2><a href="{topic_url}">{topic_title}</a> - {title}</h2>
  <!-- BEGIN response -->
  <div class="simple-response-msg">{msg}</div>
  <!-- END response -->
  <form name="editpost" action="{requested_url}" method="post">
    <input type="hidden" name="gadget" value="Forums" />
    <input type="hidden" name="action" value="UpdatePost" />
    <input type="hidden" name="fid" value="{fid}" />
    <input type="hidden" name="tid" value="{tid}" />
    <input type="hidden" name="pid" value="{pid}" />
    <div class="content">
      <div>
        <label for="message">{lbl_message}:</label>
        <textarea id="message" name="message" cols="40" rows="8">{message}</textarea>
      </div>
      <!-- BEGIN update_reason -->
      <div>
        <label for="update_reason">{lbl_update_reason}:</label>
        <textarea id="update_reason" name="update_reason" cols="40" rows="2">{update_reason}</textarea>
      </div>
      <!-- END update_reason -->
    </div>
    <div class="actions">
      <button type="button" name="cancel" onclick="window.location='{topic_url}'">{btn_cancel_title}</button>
      <button type="submit" name="submit">{btn_submit_title}</button>
    </div>
  </form>
</div>
<!-- END post -->