<!-- BEGIN post -->
<div class="gadget forums editpost">
  <h2>
    <a href="{findex_url}">{findex_title}</a> &rsaquo;
    <a href="{forum_url}">{forum_title}</a> &rsaquo;
    <a href="{topic_url}">{topic_title}</a> &rsaquo;
    {title}
  </h2>
  <!-- BEGIN response -->
  <div class="simple-response-msg">{msg}</div>
  <!-- END response -->
  <form name="editpost" action="{requested_url}" method="post" enctype="multipart/form-data">
    <input type="hidden" name="gadget" value="Forums" />
    <input type="hidden" name="action" value="UpdatePost" />
    <input type="hidden" name="fid" value="{fid}" />
    <input type="hidden" name="tid" value="{tid}" />
    <input type="hidden" name="pid" value="{pid}" />
    <div class="content">
      <!-- BEGIN post_meta -->
      <div class="post_meta">
        <label>{postedby_lbl}:</label> <a href="{user_url}" title="{username}">{nickname}</a>
        &raquo; <abbr title="{insert_time_iso}">{insert_time}</abbr>
      </div>
      <!-- END post_meta -->
      <!-- BEGIN preview -->
      <div>
        <label>{lbl_preview}:</label>
        <div class="post_preview">{message}</div>
      </div>
      <!-- END preview -->
      <div>
        <label for="message">{lbl_message}:</label>
        {message}
      </div>
      <!-- BEGIN attachment -->
      <div>
        <input id="remove_attachment" name="remove_attachment" type="checkbox" />
        <label for="remove_attachment">{lbl_remove_attachment}</label>
      </div>
      <div>
        <label for="post_attachment">{lbl_attachment}:</label>
        <input id="post_attachment" name="attachment" type="file" />
      </div>
      <!-- END attachment -->
      <!-- BEGIN update_reason -->
      <div>
        <label for="update_reason">{lbl_update_reason}:</label>
        <textarea id="update_reason" name="update_reason" rows="2">{update_reason}</textarea>
      </div>
      <!-- END update_reason -->
      <!-- BEGIN captcha -->
      <div class="captcha">
        <label>{lbl_captcha}:</label><span>{captcha}<small>{msg}</small></span>{value}
      </div>
      <!-- END captcha -->
    </div>
    <div class="actions">
      <button type="button" name="cancel" onclick="window.location='{topic_url}'">{btn_cancel_title}</button>
      <button type="button" name="preview" onclick="this.form.elements['action'].value='EditPost'; this.form.submit();">{btn_preview_title}</button>
      <button type="submit" name="update">{btn_update_title}</button>
    </div>
  </form>
</div>
<!-- END post -->