<!-- BEGIN newtopic -->
<div class="gadget forums newtopic">
  <h2><a href="{url_forum}">{lbl_forum}</a> - {title}</h2>
  <!-- BEGIN response --><div class="simple-response-msg">{msg}</div><!-- END response -->
  <form name="newtopic" action="{requested_url}" method="post">
    <input type="hidden" name="gadget" value="Forum" />
    <input type="hidden" name="action" value="UpdateTopic" />
    <input type="hidden" name="fid" value="{fid}" />
    <div class="content">
      <p>
        <label for="subject">{lbl_subject}:</label>
        <input id="subject" name="subject" type="text" value="{subject}" />
      </p>
      <p>
        <label for="description">{lbl_description}:</label>
        <textarea id="description" name="description" cols="40" rows="10">{description}</textarea>
      </p>
    </div>
    <div class="actions"><button type="submit" value="{newtopic}">{newtopic}</button></div>
  </form>
</div>
<!-- END newtopic -->