<!-- BEGIN posts -->
<div class="gadget forums posts">
  <h2><a href="{findex_url}">{findex_title}</a> - <a href="{forum_url}">{forum_title}</a> - <a href="{url}">{title}</a></h2>
  <div class="content">
    <!-- BEGIN post -->
    <div class="forum_post">
      <ul class="post_profile">
        <li>{postedby_lbl}: <a href="{user_url}" title="{username}">{nickname}</a></li>
        <li><img src="{avatar}" alt="{username}" title="{nickname}" /></li>
        <li>{posts_count_lbl}: {posts_count}</li>
        <li>{registered_date_lbl}: {registered_date}</li>
      </ul>
      <div class="post_meta">{postedby_lbl}: <a href="{user_url}" title="{username}">{nickname}</a>{createtime}</div>
      <div class="post_content">{message}</div>
      <!-- BEGIN update -->
      <div class="post_update">
        {updatedby_lbl}: <a href="{user_url}" title="{username}">{nickname}</a>
        {update_reason}
        {update_time}
      </div>
      <!-- END update -->
      <!-- BEGIN actions -->
      <div class="post_actions">
        <a href="{editpost_url}" title="{editpost_lbl}">{editpost_lbl}</a>
        <a href="{deletepost_url}" title="{deletepost_lbl}">{deletepost_lbl}</a>
      </div>
      <!-- END actions -->
    </div>
    <hr/>
    <!-- END post -->
  </div>
  <!-- BEGIN actions -->
  <div class="actions">
    <a href="{newpost_url}" title="{newpost_lbl}">{newpost_lbl}</a>
    <a href="{locktopic_url}" title="{locktopic_lbl}">{locktopic_lbl}</a>
  </div>
  <!-- END actions -->
</div>
<!-- END posts -->