<!-- BEGIN topics -->
<div class="gadget forums">
  <h2><a href="{url}">{title}</a></h2>
  <div class="content">
    <div class="topics_header">
      <dl>
        <dt>{lbl_topics}</dt>
        <dd class="topics_replies">{lbl_replies}</dd>
        <dd class="topics_views">{lbl_views}</dd>
        <dd class="topics_lastpost">{lbl_lastpost}</dd>
      </dl>
    </div>
    <ul class="topics_list">
      <!-- BEGIN topic -->
      <li>
        <dl>
          <dt class="topic_status_{status}"><a href="{url}">{title}</a></dt>
          <dd class="topics_replies">{replies}</dd>
          <dd class="topics_views">{views}</dd>
          <dd class="topics_lastpost">
            <!-- BEGIN lastpost -->
            {postedby_lbl}: <a href="{user_url}" title="{username}">{nickname}</a>
            <a href="{lastpost_url}" title="{lastpost_lbl}">
              <img src="gadgets/Forums/images/topic_latest{.dir}.png" alt="{lastpost_lbl}"/>
            </a><br/>
            {lastpost_date}
            <!-- END lastpost -->
          </dd>
        </dl>
      </li>
      <!-- END topic -->
    </ul>
  </div>
  <!-- BEGIN actions -->
  <div class="actions">
    <a href="{newtopic_url}" title="{newtopic_lbl}">{newtopic_lbl}</a>
  </div>
  <!-- END actions -->
</div>
<!-- END topics -->