<!-- BEGIN contacts -->
<table>
  <tr><td><label for="country">{{lbl_country}}:</label><br />{{country}}</td></tr>
  <tr><td><label for="city">{{lbl_city}}:</label><br />{{city}}</td></tr>
  <tr><td><label for="address">{{lbl_address}}:</label><br />{{address}}</td></tr>
  <tr><td><label for="postal_code">{{lbl_postal_code}}:</label><br />{{postal_code}}</td></tr>
  <tr><td><label for="phone_number">{{lbl_phone_number}}:</label><br />{{phone_number}}</td></tr>
  <tr><td><label for="mobile_number">{{lbl_mobile_number}}:</label><br />{{mobile_number}}</td></tr>
  <tr><td><label for="fax_number">{{lbl_fax_number}}:</label><br />{{fax_number}}</td></tr>
</table>
<!-- END contacts -->
