<!-- BEGIN contacts -->
<form name="contacts" id="contact-form" action="#" method="post">
<table>
  <tr><td>
    <label for="title">{{lbl_title}}:</label><br />
    <input class="form-control" name="title" id="title" value="{{title}}" type="text"/>
  </td></tr>
  <tr><td>
    <label for="name">{{lbl_name}}:</label><br />
    <input class="form-control" name="name" id="name" value="{{name}}" type="text"/>
  </td></tr>

  <tr><td>
    <fieldset>
      <legend id="legend_tel">
        {{lbl_tel}}
      </legend>
      <table>
        <tr>
          <td>{{lbl_home}}:</td>
          <td><input type="text" class="form-control" name="tel_home" id="tel_home" value="{{tel_home}}"></td>
        </tr>
        <tr>
          <td>{{lbl_work}}:</td>
          <td><input type="text" class="form-control" name="tel_work" id="tel_work" value="{{tel_work}}"></td>
        </tr>
        <tr>
          <td>{{lbl_other}}:</td>
          <td><input type="text" class="form-control" name="tel_other" id="tel_other" value="{{tel_other}}"></td>
        </tr>
      </table>
    </fieldset>
  </td></tr>

  <tr><td>
    <fieldset>
      <legend id="legend_fax">
        {{lbl_fax}}
      </legend>
      <table>
        <tr>
          <td>{{lbl_home}}:</td>
          <td><input type="text" class="form-control" name="fax_home" id="fax_home" value="{{fax_home}}"></td>
        </tr>
        <tr>
          <td>{{lbl_work}}:</td>
          <td><input type="text" class="form-control" name="fax_work" id="fax_work" value="{{fax_work}}"></td>
        </tr>
        <tr>
          <td>{{lbl_other}}:</td>
          <td><input type="text" class="form-control" name="fax_other" id="fax_other" value="{{fax_other}}"></td>
        </tr>
      </table>
    </fieldset>
  </td></tr>

  <tr><td>
    <fieldset>
      <legend id="legend_mobile">
        {{lbl_mobile}}
      </legend>
      <table>
        <tr>
          <td>{{lbl_home}}:</td>
          <td><input type="text" class="form-control" name="mobile_home" id="mobile_home" value="{{mobile_home}}"></td>
        </tr>
        <tr>
          <td>{{lbl_work}}:</td>
          <td><input type="text" class="form-control" name="mobile_work" id="mobile_work" value="{{mobile_work}}"></td>
        </tr>
        <tr>
          <td>{{lbl_other}}:</td>
          <td><input type="text" class="form-control" name="mobile_other" id="mobile_other" value="{{mobile_other}}"></td>
        </tr>
      </table>
    </fieldset>
  </td></tr>

  <tr><td>
    <fieldset>
      <legend id="legend_url">
        {{lbl_url}}
      </legend>
      <table>
        <tr>
          <td>{{lbl_home}}:</td>
          <td><input type="text" class="form-control" name="url_home" id="url_home" value="{{url_home}}"></td>
        </tr>
        <tr>
          <td>{{lbl_work}}:</td>
          <td><input type="text" class="form-control" name="url_work" id="url_work" value="{{url_work}}"></td>
        </tr>
        <tr>
          <td>{{lbl_other}}:</td>
          <td><input type="text" class="form-control" name="url_other" id="url_other" value="{{url_other}}"></td>
        </tr>
      </table>
    </fieldset>
  </td></tr>

  <tr><td>
    <fieldset>
      <legend id="legend_email">
        {{lbl_email}}
      </legend>
      <table>
        <tr>
          <td>{{lbl_home}}:</td>
          <td><input type="text" class="form-control" name="email_home" id="email_home" value="{{email_home}}"></td>
        </tr>
        <tr>
          <td>{{lbl_work}}:</td>
          <td><input type="text" class="form-control" name="email_work" id="email_work" value="{{email_work}}"></td>
        </tr>
        <tr>
          <td>{{lbl_other}}:</td>
          <td><input type="text" class="form-control" name="email_other" id="email_other" value="{{email_other}}"></td>
        </tr>
      </table>
    </fieldset>
  </td></tr>

  <tr><td>
    <fieldset>
      <legend id="legend_address">
        {{lbl_address}}
      </legend>
      <table>

        <tr>
          <td>{{lbl_home}}:</td>
          <td>

            <div>
              <label for="province_home">{{lbl_province}}:</label>
              <select name="province_home" id="province_home" onchange="javascript:changeProvince(this.value, 'city_home');">
                <!-- BEGIN province_home -->
                <option value="{{value}}" {{selected}}>{{title}}</option>
                <!-- END province_home -->
              </select>
            </div>

            <div>
              <label for="city_home">{{lbl_city}}:</label>
              <select name="city_home" id="city_home">
                <!-- BEGIN city_home -->
                <option value="{{value}}">{{title}}</option>
                <!-- END city_home -->
              </select>
            </div>

            <div>
              <label for="address_home">{{lbl_address}}:</label>
              <textarea class="form-control" name="address_home" id="address_home" cols="45" rows="4"></textarea>
            </div>

            <div>
              <label for="postal_code_home">{{lbl_postal_code}}:</label>
              <input class="form-control" name="postal_code_home" id="postal_code_home" type="text"/>
            </div>

          </td>
        </tr>

        <tr>
          <td>{{lbl_work}}:</td>
          <td>

            <div>
              <label for="province_work">{{lbl_province}}:</label>
              <select name="province_work" id="province_work" onchange="javascript:changeProvince(this.value, 'city_work');">
                <!-- BEGIN province_work -->
                <option value="{{value}}" {{selected}}>{{title}}</option>
                <!-- END province_work -->
              </select>
            </div>

            <div>
              <label for="city_work">{{lbl_city}}:</label>
              <select name="city_work" id="city_work">
                <!-- BEGIN city_work -->
                <option value="{{value}}">{{title}}</option>
                <!-- END city_work -->
              </select>
            </div>

            <div>
              <label for="address_work">{{lbl_address}}:</label>
              <textarea class="form-control" name="address_work" id="address_work" cols="45" rows="4"></textarea>
            </div>

            <div>
              <label for="postal_code_work">{{lbl_postal_code}}:</label>
              <input class="form-control" name="postal_code_work" id="postal_code_work" type="text"/>
            </div>

          </td>
        </tr>

        <tr>
          <td>{{lbl_other}}:</td>
          <td>

            <div>
              <label for="province_other">{{lbl_province}}:</label>
              <select name="province_other" id="province_other" onchange="javascript:changeProvince(this.value, 'city_other');">
                <!-- BEGIN province_other -->
                <option value="{{value}}" {{selected}}>{{title}}</option>
                <!-- END province_other -->
              </select>
            </div>

            <div>
              <label for="city_other">{{lbl_city}}:</label>
              <select name="city_other" id="city_other">
                <!-- BEGIN city_other -->
                <option value="{{value}}">{{title}}</option>
                <!-- END city_other -->
              </select>
            </div>

            <div>
              <label for="address_other">{{lbl_address}}:</label>
              <textarea class="form-control" name="address_other" id="address_other" cols="45" rows="4"></textarea>
            </div>

            <div>
              <label for="postal_code_other">{{lbl_postal_code}}:</label>
              <input class="form-control" name="postal_code_other" id="postal_code_other" type="text"/>
            </div>

          </td>
        </tr>


      </table>
    </fieldset>
  </td></tr>

  <tr><td>
    <label for="note">{{lbl_note}}:</label>
    <textarea class="form-control" name="note" id="note" cols="45" rows="4">{{note}}</textarea>
  </td></tr>

</table>
</form>
<!-- END contacts -->
