<!-- BEGIN extra -->
<form id="extra-form" name="extra" method="post" action="{{base_script}}" onsubmit="return false;">
<table>
  <tr><td>
    <label for="mailquota">{{lbl_mailquota}}:</label><br />
    <input class="form-control" name="mailquota" id="mailquota" value="{{mailquota}}" type="text"/>
  </td></tr>
  <tr><td>
    <label for="ftpquota">{{lbl_ftpquota}}:</label><br />
    <input class="form-control" name="ftpquota" id="ftpquota" value="{{ftpquota}}" type="text"/>
  </td></tr>
</table>
</form>
<!-- END extra -->
