<!-- BEGIN Groups -->
{menubar}
<table width="100%" border="0" cellpadding="0" cellspacing="0">
  <tr>
    <td style="vertical-align:top;">{groups_datagrid}</td>
    <td style="vertical-align:top; width: 290px;">
      <input type="hidden" name="gid" id="gid" value="0" />
      <fieldset>
        <legend><span id="legend_title">{legend_title}</span></legend>
        <div id="group_workarea">{group_workarea}</div>
      </fieldset>
    </td>
  </tr>
  <tr><td class="buttons" colspan="2">{cancel}{save}</td></tr>
</table>
<script type="text/javascript">
  var incompleteGroupFields = "{incompleteGroupFields}";
  var permissionsMsg        = "{permissionsMsg}";
  var users                 = "{users}";
  var confirmGroupDelete    = "{confirmGroupDelete}";
  var confirmResetACL       = "{confirmResetACL}";
  var permissionAllow       = "{permissionAllow}";
  var permissionDeny        = "{permissionDeny}";
  var permissionNone        = "{permissionNone}";
  var addGroup_title        = "{addGroup_title}";
  var editGroup_title       = "{editGroup_title}";
  var editGroupACL_title    = "{editGroupACL_title}";
  var editGroupUsers_title  = "{editGroupUsers_title}";
  var currentAction         = 'UserAccount';
  var cachedGroupForm       = $('group_workarea').innerHTML;
  stopGroupAction();
  initDataGrid('groups_datagrid', new usersadminajax, getGroups);
</script>
<!-- END Groups -->
