{%- if domains %}
 <div>
   <label>{{ 'users.domain' | t }}:</label>
   <select class="form-control form-select" name="domain" disabled>
     <option value="0">{{ 'users.nodomain' | t }}</option>
     {%- for _domain in domains %}
       <option value="{{ _domain.id }}" {{- _domain.id | equal: domain, ' selected', '' }}>{{ _domain.title }}</option>
     {%- endfor %}
   </select>
 </div>
{%- endif %}

<div>
  <label>{{ 'global.username' | t }}:</label>
  <input class="form-control ltr" name="username" id="username" type="text"  value="{{username}}" disabled />
</div>

<div>
  <label>{{ 'global.password' | t }}:</label>
  <input class="form-control ltr" type="password" role="password" name="password" id="password" dir="ltr"
    autocomplete="off" data-toggle="password" required
  />
</div>

{%- if pubkey %}
  <div>
    <label class="form-check-label">
      <input type="checkbox" name="usecrypt" class="form-check-input" value="1"
        {{- usecrypt | formatString: ' checked="checked"' -}}
      />
      {{ 'global.login_secure' | t }}
    </label>
  </div>
{%- endif %}

<div>
  <label class="form-check-label">
    <input type="checkbox" name="remember" class="form-check-input" value="1"
      {{- remember | formatString: ' checked="checked"' -}}
    />
    {{ 'global.remember_me' | t }}
  </label>
</div>

{%- if captcha.enabled %}
  {% include 'XCaptcha.html' path 'gadgets/Policy/Templates' with captcha %}
{%- endif %}

<div class="gadget-actions buttons mt-2">
  <div class="d-flex justify-content-between">
    <button class="btn btn-primary text-nowrap ms-auto" type="submit">{{ 'global.login' | t }}</button>
  </div>
  <div class="text-end mt-2">
    <a class="text-decoration-none mt-1" href="{{ 'site_url' | global }}">
      {{- 'global.view_site' | t -}}
    </a>
  </div>
</div>