<!DOCTYPE html>
<!-- BEGIN layout -->
<html lang="{{site_languages}}">
 <head>
  <title>{{site-name}}</title>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <base href="{{BASE_URL}}" />
  <link rel="icon" type="image/png" href="images/jaws.png" />
  <!-- BEGIN metas -->{{elements}}<!-- END metas -->
  <link href="gadgets/ControlPanel/Resources/style{{.dir}}.css?{{cpanel_version}}" type="text/css" rel="stylesheet" >
  <!-- BEGIN links -->{{elements}}<!-- END links -->
 </head>
 <body>
  <div id="header">
   <h1><a href="{{admin-script}}">{{site-name}}: {{control-panel}}</a></h1>
   <p>{{site-slogan}}</p>
  </div>
  <hr />
  <div id="container" class="clearfix">
   <div id="main-section" class="clearfix">
    <div id="login">
      <div class="gadget_response">
        <div id="{{main_gadget}}_{{main_action}}_response" class="alert {{response_type}}" role="alert">
          {{response_text}}
        </div>
      </div>
      <form name="loginbox" action="{{base_script}}"
        onsubmit="return Jaws_Gadget.getInstance('Users').submitLoginForm(this);"
        method="post"
      >
        <input type="hidden" name="gadget" value="Users" />
        <input type="hidden" name="action" value="Authenticate" />
        <input type="hidden" name="referrer" value="{{referrer}}" />
        <fieldset id="loginbox">
          <legend><span>{{legend_title}}</span></legend>
<!-- BEGIN login_step_1 -->
          <input type="hidden" name="authstep" value="0" />
          <!-- BEGIN encryption -->
          <input type="hidden" name="pubkey" id="pubkey" value="{{pubkey}}" />
          <!-- END encryption -->
          <!-- BEGIN multi_domain -->
          <div>
            <label for="domain">{{lbl_domain}}:</label>
            <select class="form-control" name="domain" id="domain">
              <!-- BEGIN domain -->
              <option value="{{id}}" {{selected}}>{{title}}</option>
              <!-- END domain -->
            </select>
          </div>
          <!-- END multi_domain -->
          <div>
            <label for="username">{{lbl_username}}:</label>
            <input class="form-control ltr" name="username" id="username"
                   type="text"
                   value="{{username}}"
                   required
            />
          </div>
          <div>
            <label for="password">{{lbl_password}}:</label>
            <input class="form-control ltr" name="password" id="password"
                   type="password"
                   autocomplete="off"
                   value=""
                   required
            />
          </div>
          <!-- BEGIN remember -->
          <div>
            <label class="form-check-label" for="remember">
              <input class="form-check-input" type="checkbox"
                    name="remember"
                    id="remember"
                    <!-- BEGIN selected -->
                    checked="checked"
                    <!-- END selected -->
                    value="true" />
              {{lbl_remember}}
            </label>
          </div>
          <!-- END remember -->
          <!-- BEGIN usecrypt -->
          <div>
            <label class="form-check-label" for="usecrypt">
              <input class="form-check-input" type="checkbox"
                     name="usecrypt"
                     id="usecrypt"
                     <!-- BEGIN selected -->
                     checked="checked"
                     <!-- END selected -->
                     value="true" />
              {{lbl_usecrypt}}
             </label>
          </div>
          <!-- END usecrypt -->
<!-- END login_step_1 -->
<!-- BEGIN login_step_2 -->
          <input type="hidden" name="authstep" value="1" />
          <input type="hidden" name="remember" value="{{remember}}" />
          <div>
            <label for="username">{{lbl_username}}:</label>
            <input class="form-control ltr" name="username" id="username"
                   type="text"
                   value="{{username}}"
                   required
                   readonly
            />
          </div>
          <div>
            <label for="loginkey">{{lbl_loginkey}}:</label>
            <input class="form-control ltr" name="loginkey" id="loginkey"
                   type="text"
                   autocomplete="off"
                   value=""
            />
          </div>
<!-- END login_step_2 -->

          <!-- INCLUDE Captcha.html gadgets/Policy/Templates -->
          <div class="buttons">
            <button class="btn btn-primary" type="submit" value="{{login}}">{{login}}</button>
          </div>
        </fieldset>
      </form>
      <div class="login-footer"><a href="{{base_url}}">{{back}}</a></div>
    </div>
   </div>
   <hr />
   <div id="footer" style="margin-top: 100px;">
    <p><strong>{{site-name}}</strong><br />
    {{site-slogan}}</p>
    <p>Powered by the <a href="http://jaws-project.com" rel="external">Jaws Project</a></p>
   </div>
  </div>
  <!-- BEGIN scripts -->
  {{elements}}
  <!-- END scripts -->
 </body>
</html>
<!-- END layout -->