<form method="post" onsubmit="return Jaws_Gadget.getInstance('Users').encryptFormSubmit(this, ['password', 'old_password']);">
  <input type="hidden" name="reqGadget" value="Users" />
  <input type="hidden" name="reqAction" value="Authenticate" />
  <input type="hidden" name="referrer" value="{{referrer}}" />
  <input type="hidden" name="loginstep" value="{{ loginstep | downcase }}" />
  <input type="hidden" name="defaults" value="" />
  {%- if pubkey %}
    <input type="hidden" name="pubkey" id="pubkey" value="{{pubkey}}" disabled />
  {%- endif %}
  <div class="gadget-content">
    <div id="login" data-loading-container="users.login">
      <fieldset id="loginbox">
        <legend><span>{{ loginstep | lower | prepend: 'users.login_title_step_' | t }}</span></legend>
        {%- case loginstep %}
          {%- when 'user' %}
            {% include 'LoginStep.User.html' %}

          {%- when 'password' %}
            {% include 'LoginStep.Password.html' %}

          {%- when 'key' %}
            {% include 'LoginStep.Key.html' %}

          {%- when 'expiry' %}
            {% include 'LoginStep.Expiry.html' %}

        {%- endcase %}
      </fieldset>
      <div class="text-center">
        {%- if response.text %}
          <div class="alert {{ response.type }}" role="alert">
            {{- response.text -}}
          </div>
        {%- endif %}
      </div>
    </div>
  </div>
</form>
