<!-- BEGIN OnlineUsers -->
<div class="gadget_menubar">{{menubar}}</div>
<table class="full_width">
  <tr>
    <td id="online_users_filter">
      <label for="filter_active">{{lbl_filter_active}}:</label>{{filter_active}}
      <label for="filter_logged">{{lbl_filter_logged}}:</label>{{filter_logged}}
      <label for="filter_session_type">{{lbl_filter_session_type}}:</label>{{filter_session_type}}
    </td>
  </tr>
  <tr>
    <td>
    {{online_users_datagrid}}
    <div class="buttons">{{actions_combo}}{{btn_execute}}</div>
    </td>
  </tr>
</table>
<!-- END OnlineUsers -->