<!-- BEGIN OnlineUsers -->
{menubar}
<table class="full_width">
  <tr>
    <td style="vertical-align: top;">
        <table id="online_users_filter">
            <tr>
                <td class="filter_label"><label>{lbl_filter_session_status}:</label></td><td>{filter_session_status}</td>
                <td class="filter_label"><label>{lbl_filter_membership}:</label></td><td>{filter_membership}</td>
            </tr>
        </table>

      {online_users_datagrid}
    </td>
  </tr>
</table>
<script type="text/javascript">
  var confirmThrowOut   = "{confirmThrowout}";
  var confirmBlockIP    = "{confirmBlockIP}";
  var confirmBlockAgent = "{confirmBlockAgent}";
  initDataGrid('onlineusers_datagrid', UsersAjax, getOnlineUsers);
</script>
<!-- END OnlineUsers -->