<div class="modal fade" id="passwordModal" tabindex="-1" role="dialog" aria-labelledby="passwordModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title">{{ "users.users_password" | t }}</h4>
      </div>
      <div class="modal-body">

        <form id="user-password" action="#">
          <div class="gadget_content">
            <fieldset>

              <div class="form-group">
                <label>{{ "users.users_username" | t }}:</label>
                <input class="form-control ltr" type="text"
                       name="username"
                       value=""
                       readonly />
              </div>

              <div class="form-group">
                <label>{{ "users.users_password_old" | t }}:</label>
                <div class="input-group">
                  <input class="form-control ltr" type="password" name="old_password"
                         autocomplete="off" data-toggle="password" required
                  />
                  <span title="Click here to show/hide password" class="input-group-addon" style="cursor: pointer;">
              <i class="glyphicon glyphicon-eye-open"></i>
              </span>
                </div>
              </div>

              <div class="form-group">
                <label>{{ "users.users_password" | t }}:</label>
                <div class="input-group">
                  <input class="form-control ltr" type="password" name="password"
                         autocomplete="off" data-toggle="password" required />
                  <span title="Click here to show/hide password" class="input-group-addon" style="cursor: pointer;">
              <i class="glyphicon glyphicon-eye-open"></i>
            </span>
                </div>
              </div>

              {% if pubkey %}
              <div class="form-check">
                <input type="checkbox" class="form-check-input"
                       id="usecrypt" name="usecrypt" value="true"
                       {{ usecrypt_selected | equal: true, 'checked="checked"' }}
                />
                <label class="form-check-label" for="usecrypt">{{ "global.login_secure" | t }}</label>
              </div>
              {% endif %}

            </fieldset>
          </div>
        </form>

      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">
          {{ "global.cancel" | t }}
        </button>
        <button type="button" class="btn btn-primary" id="btnSaveUserPassword">
          {{ "global.save" | t }}
        </button>
      </div>
    </div>
  </div>
</div>