<!-- BEGIN settings -->
<div class="gadget_menubar">{{menubar}}</div>
<div id="main">
  <table id="users_settings">
    <tr><td><label for="authtype">{{lbl_authtype}}: </label></td><td>{{authtype}}</td></tr>
    <tr><td><label for="anon_register">{{lbl_anon_register}}: </label></td><td>{{anon_register}}</td></tr>
    <tr><td><label for="anon_activation">{{lbl_anon_activation}}: </label></td><td>{{anon_activation}}</td></tr>
    <tr><td><label for="anon_group">{{lbl_anon_group}}: </label></td><td>{{anon_group}}</td></tr>
    <tr><td><label for="password_recovery">{{lbl_password_recovery}}: </label></td><td>{{password_recovery}}</td></tr>
    <tr><td><label for="reserved_users">{{lbl_reserved_users}}: </label></td><td>{{reserved_users}}</td></tr>
  </table>
  <div class="buttons">{{btn_save}}</div>
</div>
<!-- END settings -->