<div class="gadget_menubar">{{menubar}}</div>

<div class="row">
  <div class="form-group col-xs-12 col-md-4">
    <label for="authtype">{{ "global.authtype" | t }}:</label>
    <select class="form-control" name="authtype" id="authtype">
      {%- for authtype in authtypes %}
      <option value="{{authtype}}" {{ authtype | equal: authtype_default, "selected" }}>
      {{- authtype -}}
      </option>
      {%- endfor %}
    </select>
  </div>

  <div class="form-group col-xs-12 col-md-4">
    <label for="anon_register">{{ "users.properties_anon_register" | t }}:</label>
    <select class="form-control" name="anon_register" id="anon_register">
      <option value="false" {{ anon_register | equal: "false", "selected" }}>{{ "global.noo" | t }}</option>
      <option value="true" {{ anon_register | equal: "true", "selected" }}>{{ "global.yess" | t }}</option>
    </select>
  </div>

  <div class="form-group col-xs-12 col-md-4">
    <label for="anon_activation">{{ "users.properties_anon_activation" | t }}:</label>
    <select class="form-control" name="anon_activation" id="anon_activation">
      {%- for anon_activation in anon_activation_items %}
      <option value="{{forloop.key}}" {{ forloop.key | equal: anon_activation_default, "selected" }}>
      {{- anon_activation -}}
      </option>
      {%- endfor %}
    </select>
  </div>

  <div class="form-group col-xs-12 col-md-4">
    <label for="anon_group">{{ "users.properties_anon_group" | t }}:</label>
    <select class="form-control" name="anon_group" id="anon_group">
      {%- for group in groups %}
      <option value="{{group.id}}" {{ group.id | equal: anon_group, "selected" }}>
      {{- group.title -}}
      </option>
      {%- endfor %}
    </select>
  </div>

  <div class="form-group col-xs-12 col-md-4">
    <label for="password_recovery">{{ "users.properties_pass_recovery" | t }}:</label>
    <select class="form-control" name="password_recovery" id="password_recovery">
      <option value="false" {{ password_recovery | equal: "false", "selected" }}>{{ "global.noo" | t }}</option>
      <option value="true" {{ password_recovery | equal: "true", "selected" }}>{{ "global.yess" | t }}</option>
    </select>
  </div>

  <div class="form-group col-xs-12">
    <label for="reserved_users">{{ "users.properties_reserved_users" | t }}:</label>
    <textarea name="reserved_users" id="reserved_users" class="form-control ltr" cols="30" rows="8">
      {{ reserved_users }}
    </textarea>
  </div>

</div>

<div class="actions">
  <button type="button" class="btn btn-primary" id="btnUpdateSettings">
    {{ "global.save" | t }}
  </button>
</div>