<!-- BEGIN user -->
<!-- BEGIN encryption -->{{length}}{{modulus}}{{exponent}}<!-- END encryption -->
<input type="hidden" name="prev_status" id="prev_status" value="0" />
<table>
  <tr><td><label for="username">{{lbl_username}}:</label><br />{{username}}</td></tr>
  <tr><td><label for="nickname">{{lbl_nickname}}:</label><br />{{nickname}}</td></tr>
  <tr><td><label for="email">{{lbl_email}}:</label><br />{{email}}</td></tr>
  <tr><td><label for="superadmin">{{lbl_superadmin}}:</label><br />{{superadmin}}</td></tr>
  <tr><td><label for="pass1">{{lbl_pass1}}:</label><br />{{pass1}}</td></tr>
  <tr><td><label for="pass2">{{lbl_pass2}}:</label><br />{{pass2}}</td></tr>
  <tr><td><label for="concurrents">{{lbl_concurrents}}:</label><br />{{concurrents}}</td></tr>
  <tr><td><label for="expiry_date">{{lbl_expiry_date}}:</label><br />{{expiry_date}}</td></tr>
  <tr><td><label for="status">{{lbl_status}}:</label><br />{{status}}</td></tr>
</table>
<!-- END user -->
