<!-- BEGIN Users -->
<div class="gadget_menubar">{{menubar}}</div>
<table class="full_width">
  <tr>
    <td style="vertical-align: top;">
      <table id="users_filter">
        <tr>
          <td class="filter_label"><label>{{lbl_filter_group}}:</label></td><td>{{filter_group}}</td>
          <!-- BEGIN single-domain -->
          <td class="filter_label"></td><td><input type="hidden" name="filter_domain" id="filter_domain" value="" /></td>
          <!-- END single-domain -->
          <!-- BEGIN multi-domain -->
          <td class="filter_label"><label>{{lbl_filter_domain}}:</label></td><td>{{filter_domain}}</td>
          <!-- END multi-domain -->
        </tr>
        <tr>
          <td class="filter_label"><label>{{lbl_filter_type}}:</label></td><td>{{filter_type}}</td>
          <td class="filter_label"><label>{{lbl_filter_status}}:</label></td><td>{{filter_status}}</td>
        </tr>
        <tr>
          <td class="filter_label"><label>{{lbl_filter_term}}:</label></td><td>{{filter_term}}</td>
          <td class="filter_label"><label>{{lbl_order_type}}:</label></td><td>{{order_type}}</td>
        </tr>
      </table>
      {{users_datagrid}}
    </td>
    <td class="workarea">
      <input type="hidden" name="uid" id="uid" value="0" />
      <!-- BEGIN encryption -->
      <input type="hidden" name="pubkey" id="pubkey" value="{{pubkey}}" />
      <!-- END encryption -->
      <fieldset>
        <legend><span id="legend_title">{{legend_title}}</span></legend>
        <div id="workarea">{{workarea}}</div>
      </fieldset>
    </td>
  </tr>
  <tr><td class="buttons" colspan="2">{{cancel}}{{save}}</td></tr>
</table>
<!-- END Users -->
