<!-- BEGIN commentform -->
<div class="gadget comment_form">
  <h2>{title}</h2>
  <!-- BEGIN response --><div class="simple-response-msg">{msg}</div><!-- END response -->
  <form name="commentBox" action="{requested_url}" method="post">
  <input type="hidden" name="parent_id" value="{parent_id}" />
  <input type="hidden" name="parent" value="{parent}" />
  <input type="hidden" name="gadget" value="Blog" />
  <input type="hidden" name="action" value="SaveComment" />
  <div class="content">
    <!-- BEGIN mail_me -->
    <p><label for="blog_mail_comment">{mail_me}</label>
       <input type="checkbox" name="mail_comment" id="blog_mail_comment" value="true" />
    </p>
    <!-- END mail_me -->
    <!-- BEGIN unregistered -->
    <p><label for="blog_comment_name">{name}:</label>
       <input name="name" id="blog_comment_name" value="{name_value}" type="text" />
    </p>
    <p><label for="blog_comment_email">{email}:</label>
       <input name="email" id="blog_comment_email" value="{email_value}" type="text" style="direction: ltr;" />
    </p>
    <p><label for="blog_comment_url">{url}:</label>
       <input name="url" id="blog_comment_url" value="{url_value}" type="text" style="direction: ltr;" />
    </p>
    <!-- END unregistered -->
    <p class="spam_check"><label for="blog_comment_url2">{url2}:</label>
       <input name="url2" id="blog_comment_url2" value="{url2_value}" type="text" />
    </p>
    <!-- BEGIN captcha -->
      <p><label>{lbl_captcha}:</label><br /><span>{captcha}<br /><small>{captcha_msg}</small></span><br />{captchavalue}</p>
    <!-- END captcha -->
    <p><label for="blog_comment_comments">{comments}:</label>
       <textarea rows="7" cols="20" name="comments" id="blog_comment_comments">{comments_value}</textarea>
    </p>
  </div>
  <div class="actions">
    <span class="comments_feed">{lbl_feeds}: <a href="{rss_url}">RSS</a> | <a href="{atom_url}">Atom</a></span>
    <button type="button" name="preview" id="preview" value="{preview}"
            onclick="this.form.action.value='Preview'; this.form.submit();">{preview}</button>
    <button type="submit" value="{send}">{send}</button>
  </div>
  </form>
</div>
<!-- END commentform -->
