<!-- BEGIN view_date -->
<div class="gadget view_date">
  <h2>{title}</h2>
  <div class="content">
    <!-- BEGIN entry -->
    <div class="blog-entry blog_entry">
      <h3><a href="{permanent-link}" title="{title}" rel="bookmark">{title}</a></h3>
      <div class="content">{text}</div>
      <div class="entry-meta">
        <span class="entry-author vcard author"><a href="{author-url}" class="fn url">{nickname}</a></span>
        <span class="separator">|</span>
        <span class="entry-date"><abbr class="published" title="{createtime-iso}">{createtime}</abbr></span>
        <span class="separator">|</span>
        <span class="entry-category"><!-- BEGIN category --><a href="{url}" rel="category">{name}</a>{separator} <!-- END category --></span>
        <!-- BEGIN read-more -->
        <span class="separator">|</span>
        <span class="entry-read-more"><a href="{url}">{read_more}</a></span>
        <!-- END read-more -->
        <!-- BEGIN comment-link -->
        <span class="separator">|</span>
        <span class="entry-comment-link"><a href="{url}">{text_comments}</a></span>
        <!-- END comment-link -->
        <!-- BEGIN comments-statistic -->
        <span class="separator">|</span>
        <span class="entry-comments-statistic"><a>{text_comments}</a></span>
        <!-- END comments-statistic -->
      </div>
    </div>
    <!-- END entry -->
  </div>
  {page_navigation}
  {date_navigation}
</div>
<!-- END view_date -->