<!-- BEGIN rss_link -->
<div class="emblem">
 <a href="{url}"><img width="80" height="15" src="images/rss2.png" border="0" alt="rss" /></a>
</div>
<!-- END rss_link -->

<!-- BEGIN atom_link -->
<div class="emblem">
 <a href="{url}"><img width="80" height="15" src="images/atom.png" border="0" alt="atom" /></a>
</div>
<!-- END atom_link -->

<!-- BEGIN recentcomments_atom_link -->
<div class="emblem">
 <a href="{url}"><img width="80" height="15" src="images/atom.png" border="0" alt="recent comments atom" /></a>
</div>
<!-- END recentcomments_atom_link -->

<!-- BEGIN recentcomments_rss_link -->
<div class="emblem">
 <a href="{url}"><img width="80" height="15" src="images/rss2.png" border="0" alt="recent comments rss" /></a>
</div>
<!-- END recentcomments_rss_link -->
