.modal-body .display-item{
    margin-bottom: 15px;
}
.modal-body .display-item .label{
    font-weight: bold;
    font-size: 11px;
    color: #000;
}
.modal-body.display-item span{
    color: #6c757d;
}
.repeater-header-right {
    margin: 10px 0;
}
.datagrid-filters div[class*="col-"] {
    min-height: 40px;
}

.btn-combo {
    position: relative;

    display: inline-block;
    margin-bottom: 0;
    font-weight: 400;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    cursor: pointer;
    background-image: none;
    border: 1px solid transparent;
    padding: 5px 8px;
    border-radius: 4px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}