#log_ui{
width:300px;
padding-left:8px;
vertical-align:top;
}
.tableform td{
padding-top: 5px;
}
#logs_filter{
height:70px;
text-align:left;
padding-bottom:4px;
}
#logs_filter input,#logs_filter select{
width:130px;
white-space:nowrap;
margin:0 10px 4px 0;
}
#logs_filter table td{
padding:2px;
}
#logs_filter .filter_label{
width:70px;
}
#log_box{
width:100%;
border-spacing:2px;
}
#log_box #labels{
width:80px;
}
#log_box td{
height:18px;
padding:4px 0px;
vertical-align:top;
}
#settings label{
    width:130px;
    display: inline-block;
}
#settings select{
    width:100px;
}