<!-- BEGIN view -->
<div class="file-info">
  <fieldset>
    <table>
      <tr><th>{{lbl_title}}:</th><td>{{title}}</td></tr>
      <tr><th>{{lbl_desc}}:</th><td>{{desc}}</td></tr>
      <tr><th>{{lbl_created}}:</th><td title="{{create_time}}">{{created}}</td></tr>
      <tr><th>{{lbl_modified}}:</th><td title="{{update_time}}">{{modified}}</td></tr>
    </table>
  </fieldset>
  <div class="gadget_actions">
    <button class="btn" type="button" onclick="cancel()">{{lbl_cancel}}</button>
  </div>
</div>
<!-- END view -->

<!-- BEGIN edit -->
<form id="frm_dir">
  <input type="hidden" name="id" />
  <input type="hidden" name="public" value="1" />
  <input type="hidden" name="parent" value="0" />
  <fieldset>
    <table>
      <tr><th>{{lbl_title}}:</th><td><input name="title" class="large"/></td></tr>
      <tr><th>{{lbl_desc}}:</th><td>{{description}}</td></tr>
      <tr><th>{{lbl_published}}:</th><td><input class="form-check-input" type="checkbox" name="published" checked/></td></tr>
    </table>
  </fieldset>
  <div class="gadget_actions">
    <button class="btn" type="button" onclick="cancel()">{{lbl_cancel}}</button>
    <button class="btn btn-primary" type="button" onclick="submitDirectory()">{{lbl_ok}}</button>
  </div>
</form>
<!-- END edit -->
