<!-- BEGIN view -->
<div class="file-info">
  <fieldset>
    <table>
      <tr><th>{{lbl_title}}:</th><td>{{title}}</td></tr>
      <tr><th>{{lbl_desc}}:</th><td>{{desc}}</td></tr>
      <tr><th>{{lbl_filename}}:</th><td>{{user_filename}}</td></tr>
      <tr><th>{{lbl_type}}:</th><td title="{{filetype}}">{{type}}</td></tr>
      <tr><th>{{lbl_size}}:</th><td class="file-size">{{size}} ({{filesize}} {{lbl_bytes}})</td></tr>
      <tr><th>{{lbl_hidden}}:</th><td>{{hidden}}</td></tr>
      <tr><th>{{lbl_created}}:</th><td title="{{createtime}}">{{created}}</td></tr>
      <tr><th>{{lbl_modified}}:</th><td title="{{updatetime}}">{{modified}}</td></tr>
      <tr><th>{{lbl_url}}:</th><td>{{url}}</td></tr>
    </table>
  </fieldset>
  <div class="gadget_actions actions">
    <button type="button" onclick="cancel()">{{lbl_cancel}}</button>
  </div>
</div>
<!-- END view -->

<!-- BEGIN edit -->
<fieldset>
  <form id="frm_upload" action="{{base_script}}" target="ifrm_upload"
        method="post" enctype="multipart/form-data" onsubmit="return true">
    <input type="hidden" name="gadget" value="Directory" />
    <input type="hidden" name="action" value="UploadFile" />
    <table>
      <tr><th>{{lbl_file}}:</th><td>
        <input type="file" id="file" name="file" onchange="uploadFile()" class="file" />
      </td></tr>
    </table>
  </form>
  <form id="frm_file">
    <input type="hidden" name="id" />
    <input type="hidden" name="parent" id="parent" value="0" />
    <input type="hidden" name="user_filename" id="user_filename" />
    <input type="hidden" name="host_filename" id="host_filename" />
    <input type="hidden" name="filetype" id="filetype" />
    <input type="hidden" name="filesize" id="filesize" />
    <table>
      <tr id="tr_file"><th>{{lbl_file}}:</th><td id="filelink"></td></tr>
      <tr><th>{{lbl_title}}:</th><td><input name="title" /></td></tr>
      <tr><th>{{lbl_desc}}:</th><td><input name="description" /></td></tr>
      <tr><th>{{lbl_hidden}}:</th><td><input type="checkbox" name="hidden" /></td></tr>
    </table>
  </form>
</fieldset>
<div class="gadget_actions actions">
  <button type="button" onclick="cancel()">{{lbl_cancel}}</button>
  <button type="button" onclick="submitFile()" id="btn_ok">{{lbl_ok}}</button>
</div>
<!-- END edit -->
