<!-- BEGIN workspace -->
<div class="gadget_menubar">{{menubar}}</div>
<div class="gadget_container directory {{standalone}}">
  <div class="clearfix">&nbsp;</div>
  <div id="dir_pathbar">
    <a href="{{home_url}}" title="{{home_title}}">
      <img src="gadgets/Directory/Resources/images/home.png"/>
    </a>
    <span id="dir_path"></span>
  </div>
  <div id="dir_searchbar" class="hidden">
    <img src="gadgets/Directory/Resources/images/search.png" />
    <span id="search_res"></span>
  </div>
  <div id="file_actions">
    <img id="btn_new_file" src="{{img_new_file}}" alt="{{lbl_new_file}}" title="{{lbl_new_file}}" onclick="newFile()" />
    <img id="btn_new_dir" src="{{img_new_dir}}" alt="{{lbl_new_dir}}" title="{{lbl_new_dir}}" onclick="newDirectory()" />
    <img id="btn_props" src="{{img_props}}" alt="{{lbl_props}}" title="{{lbl_props}}" onclick="props()" />
    <img id="btn_edit" src="{{img_edit}}" alt="{{lbl_edit}}" title="{{lbl_edit}}" onclick="edit()" />
    <img id="btn_move" src="{{img_move}}" alt="{{lbl_move}}" title="{{lbl_move}}" onclick="move()" />
    <img id="btn_delete" src="{{img_delete}}" alt="{{lbl_delete}}" title="{{lbl_delete}}" onclick="del()" />
    <img id="btn_dl" src="{{img_dl}}" alt="{{lbl_dl}}" title="{{lbl_dl}}" onclick="downloadFile()" /> |
    <img id="btn_search" src="{{img_search}}" alt="{{lbl_search}}" title="{{lbl_search}}" onclick="toggleSearch()" />
  </div>
  <form id="frm_search" style="display:none;">
    <table>
      <tr>
        <th>{{lbl_term}}:</th>
        <td>
          <input id="file_search" name="file_search" onchange="onSearchChange(this)" onkeyup="onSearchChange(this)">
          <button type="button" id="btn_search_close" onclick="closeSearch()">x</button>
        </td>

        <th>{{lbl_published}}:</th>
        <td>
          <select name="file_published">
            <option value=""></option>
            <option value="1">{{lbl_yes}}</option>
            <option value="0">{{lbl_no}}</option>
          </select>
        </td>

      </tr>
      <tr>
        <th>{{lbl_type}}:</th>
        <td>
          <select name="file_type">
            <option value=""></option>
            <option value="{{type_folder}}">{{lbl_folder}}</option>
            <option value="{{type_text}}">{{lbl_text}}</option>
            <option value="{{type_image}}">{{lbl_image}}</option>
            <option value="{{type_audio}}">{{lbl_audio}}</option>
            <option value="{{type_video}}">{{lbl_video}}</option>
            <option value="{{type_archive}}">{{lbl_archive}}</option>
            <option value="{{type_other}}">{{lbl_other}}</option>
          </select>
        </td>
        <th>{{lbl_start_date}}:</th><td>{{start_date}}</td>
      </tr>
      <tr>
        <th>{{lbl_size}}:</th>
        <td>
          <select name="file_size">
            <option value="0"></option>
            <option value="0,10">0 - 10 KB</option>
            <option value="10,100">10 - 100 KB</option>
            <option value="100,1024">100 KB - 1 MB</option>
            <option value="1024,16384">1 MB - 16 MB</option>
            <option value="16384,131072">16 MB - 128 MB</option>
            <option value="131072,">&gt; 128 MB</option>
          </select>
        </td>
        <th>{{lbl_end_date}}:</th><td>{{end_date}}</td>
      </tr>
    </table>
  </form>
  <table class="files-table">
    <thead><tr>
      <th><input type="checkbox" id="chk_all_files" onchange="checkAll(this.checked)"></th>
      <th colspan="2">{{lbl_title}}</th>
      <th>{{lbl_published}}</th>
      <th>{{lbl_created}}</th>
      <th>{{lbl_modified}}</th>
      <th>{{lbl_size}}</th>
    </tr></thead>
    <tbody id="file_arena" style="display:none;">
      <!-- BEGIN fileTemplate -->
      <tr id="file_{{id}}" title="{{description}}">
        <td class="file-check"><input type="checkbox" value="{{id}}"></td>
        <td class="file-icon">{{icon}}<span class="file-sharing"></span></td>
        <td class="file-title"><a href="{{url}}">{{title}}</a></td>
        <td class="file-published_str">{{published_str}}</td>
        <td class="file-created">{{created}}</td>
        <td class="file-modified">{{modified}}</td>
        <td class="file-size">{{size}}</td>
      </tr>
      <!-- END fileTemplate -->
    </tbody>
  </table>
  <div id="form"></div>
</div>
<div class="gadget_footer"></div>
<!-- BEGIN standalone -->
<style>
body {background: none !important;}
#container{width: 100% !important;}
#header, #footer, #control-panel-title, .gadget_menubar {display: none !important;}
.directory {padding: 0 10px;}
</style>
<!-- END standalone -->
<script>
  var UID = "{{UID}}",  // User ID
      currentDir = "{{currentDir}}",
      site_url = "{{site_url}}",
      icon_url = "{{icon_url}}",
      imgDeleteFile = "{{imgDeleteFile}}",
      alertShortQuery = "{{alertShortQuery}}",
      confirmDelete = "{{confirmDelete}}",
      currentAction = "{{currentAction}}",
      ckFuncIndex = "{{ckFuncIndex}}";
  initDirectory();
</script>
<!-- END workspace -->
