<!-- BEGIN fileManager -->
<div class="gadget file-manager">
  <h2>{title}</h2>
  <div id="simple_response">{response}</div>
  <div><b>Path:</b> <span id="path"></span></div>
  <table><tr>
    <td>
      <select id="files" size="20" style="width:400px" onchange="selectFile()" ondblclick="openDir()"></select>
      <div class="actions">
        <button type="button" id="btn_new_dir" onclick="newDir()">New Directory</button>
        <!--button type="button" id="btn_new_file" onclick="newFile()">New File</button-->
        <button type="button" id="btn_edit" onclick="edit()">{lbl_edit}</button>
        <button type="button" id="btn_delete" onclick="deleteFile()">{lbl_delete}</button>
      </div>
    </td>
    <td id="form" valign="top"></td>
  </tr></table>
</div>
<style type="text/css">
  fieldset {border:1px solid silver; margin:0; padding:10px;}
  fieldset input {width:250px;}
  #simple_response {color:#0a0;}
  #path span {color:blue; cursor:pointer;}
  #path span:hover {text-decoration:underline;}
  #frm_dir th {text-align:left;}
</style>
<script>
  initFileManager();
</script>
<!-- END fileManager -->

<!-- BEGIN dirForm -->
<form id="frm_dir" name="frm_dir" action="{base_url}" method="post">
  <input type="hidden" name="gadget" value="FileManager" />
  <input type="hidden" name="action" value="CreateDir" />
  <input type="hidden" name="id" />
  <input type="hidden" name="parent" value="0" />
  <fieldset>
    <table>
      <tr><th>{lbl_title}:</th><td><input name="title" /></td></tr>
      <tr><th>{lbl_desc}:</th><td><input name="description" /></td></tr>
      <tr><th>{lbl_published}:</th><td><select name="published">
        <option value="1">Yes</option>
        <option value="0">No</option>
        </select></td></tr>
    </table>
  </fieldset>
  <div class="actions">
    <button>{lbl_submit}</button>
    <button type="button" onclick="cancel()">Cancel</button>
  </div>
</form>
<!-- END dirForm -->

<!-- BEGIN fileForm -->
<div class="form">
  <fieldset>
    <table id="file_form">
      <tr><th>{lbl_title}</th><td><input name="title" /></td></tr>
      <tr><th>{lbl_parent}</th><td><input name="parent" value="0" /></td></tr>
      <tr><th>{lbl_file}</th><td>
        <form id="frm_file" name="frm_file" method="post"
              target="ifrm_upload" action="{base_script}"
              enctype="multipart/form-data" onsubmit="return true">
          <input type="hidden" name="gadget" value="FileManager" />
          <input type="hidden" name="action" value="UploadFile" />
          <input type="file" name="file" onchange="uploadFile()" />
          <input id="filename" name="filename" />
        </form></td></tr>
      <tr><th></th><td><button type="button" onclick="submitForm()">{lbl_submit}</button></td></tr>
    </table>
  </fieldset>
</div>
<!-- END fileForm -->
