<!-- BEGIN fileManager -->
<div class="gadget file-manager">
  <h2>{title}</h2>
  <table><tr>
    <td id="dirs"></td>
    <td id="files"></td>
  </tr></table>
</div>
<!-- END fileManager -->

<!-- BEGIN fileForm -->
<div class="form">
  <div id="simple_response">{response}</div>
  <form id="frm_file" name="frm_file" action="{base_url}" method="post">
    <input type="hidden" name="gadget" value="FileManager" />
    <input type="hidden" name="action" value="CreateFile" />
    <table>
      <tr><th>{lbl_title}</th><td><input name="title" /></td></tr>
      <tr><th>{lbl_dir}</th><td><input name="dir_id" value="0" /></td></tr>
    </table>
    <button>{lbl_submit}</button>
  </form>
</div>
<!-- END fileForm -->
