<!-- BEGIN Customize -->
<p>{{customize_info}}</p>
<div>
  <form id="customize_form" method="post" onsubmit="return false;">
    <table id="tbl_customize">
      <colgroup>
        <col style="width:150px;"/>
        <col style="width:350px;"/>
      </colgroup>
      <tr>
        <td><label for="data_path">DATA_PATH:</label></td>
        <td>
          <input type="hidden" name="default_data_path" id="default_data_path" value="{{data_path}}" />
          <input class="form-check-input" type="checkbox" name="chk_data_path" id="chk_data_path" onchange="toggleEnabled(this);"
            {{checked_data_path}} value="true"/>
          <input type="text" name="data_path" id="data_path" value="{{data_path}}"
            {{disabled_data_path}} size="32" onchange="jawsDataChange();" style="direction: ltr;" />
        </td>
      </tr>
      <tr>
        <td><label for="base_data_path">BASE_DATA_PATH:</label></td>
        <td>
          <input class="form-check-input" type="checkbox" name="chk_base_data_path" id="chk_base_data_path" onchange="toggleEnabled(this);"
            {{checked_base_data_path}} value="true"/>
          <input type="text" name="base_data_path" id="base_data_path" value="{{base_data_path}}"
            {{disabled_base_data_path}} size="32" onchange="jawsBaseDataChange();" style="direction: ltr;" />
        </td>
      </tr>
      <tr>
        <td><label for="themes_path">THEMES_PATH:</label></td>
        <td>
          <input class="form-check-input" type="checkbox" name="chk_themes_path" id="chk_themes_path" onchange="toggleEnabled(this);"
            {{checked_themes_path}} value="true"/>
          <input type="text" name="themes_path" id="themes_path" value="{{themes_path}}" {{disabled_themes_path}}
            size="32" style="direction: ltr;" />
        </td>
      </tr>
      <tr>
        <td><label for="base_themes_path">BASE_THEMES_PATH:</label></td>
        <td>
          <input class="form-check-input" type="checkbox" name="chk_base_themes_path" id="chk_base_themes_path" onchange="toggleEnabled(this);"
            {{checked_base_themes_path}} value="true"/>
          <input type="text" name="base_themes_path" id="base_themes_path" value="{{base_themes_path}}"
            {{disabled_base_themes_path}} size="32" style="direction: ltr;" />
        </td>
      </tr>
      <tr>
        <td><label for="cache_path">CACHE_PATH:</label></td>
        <td>
          <input class="form-check-input" type="checkbox" name="chk_cache_path" id="chk_cache_path" onchange="toggleEnabled(this);"
            {{checked_cache_path}} value="true"/>
          <input type="text" name="cache_path" id="cache_path" value="{{cache_path}}" {{disabled_cache_path}}
            size="32" style="direction: ltr;" />
        </td>
      </tr>
    </table> 

    <input type="hidden" name="Customize_next" value="1" />
    <div class="buttons"><button type="button" onclick="doSubmit();">{{next}} &gt;</button></div>
  </form>
  <script type="text/javascript">
  function doSubmit(el) {
    $('customize_form').submit()
  }

  function $(name) {
    return document.getElementById(name);
  }

  function toggleEnabled(el) {
    el.nextSibling.nextSibling.disabled = !el.nextSibling.nextSibling.disabled;
    jawsDataChange();
    jawsBaseDataChange();
  }

  function jawsDataChange() {
    // data path
    if (!$('chk_data_path').checked) {
        $('data_path').value = $('default_data_path').value;
        jawsBaseDataChange();
    }
    // jaws base data
    if (!$('chk_base_data_path').checked) {
        $('base_data_path').value = $('data_path').value;
        jawsBaseDataChange();
    }
    // jaws themes
    if (!$('chk_themes_path').checked) {
        $('themes_path').value = $('data_path').value+ 'themes' + $('themes_path').value.slice(-1);
    }
    // cache path
    if (!$('chk_cache_path').checked) {
        $('cache_path').value = $('data_path').value+ 'cache' + $('cache_path').value.slice(-1);
    }
  }

  function jawsBaseDataChange() {
    if (!$('chk_base_themes_path').checked) {
        $('base_themes_path').value = $('base_data_path').value+ 'themes' + $('base_data_path').value.slice(-1);
    }
  }

  </script>
</div>
<!-- END Customize -->
