#policy > table{
width:100%;
}
#policy_sidebar{
width:200px;
vertical-align:top;
padding-right:8px;
}
#policy_form{
width:200px;
padding-left:8px;
}
#policy_options{
padding:4px;
margin-bottom:6px;
border:1px solid silver;
}
#datagrid,#options_entry{
vertical-align:top;
}
#options_entry table{
margin-left:50px;
}
#options_entry label{
white-space:nowrap;
margin-right:10px;
text-align:right;
}
#policy_encryption select{
width:110px;
}
#policy_spam select{
width:170px;
}
#policy_spam textarea{
width:274px;
}
#policy_advanced select{
width:120px;
}
select#default_captcha_driver{
width:100px;
}
select#login_captcha{
width:220px;
}
select#login_captcha_driver{
width:100px;
}
