<!-- BEGIN faq_category -->
<div class="gadget faq_category">
  <div class="gadget_header"><h2>{title} - {category}<a id="topfaq">&nbsp;</a></h2></div>
  <div class="gadget_container">
  <div class="summary">
    <p>{description}</p>
    <ol>
      <!-- BEGIN question -->
      <li><a href="{url}#question{pos}">{question}</a></li>
      <!-- END question -->
    </ol>
  </div>
  <div class="gadget_content content">
    <ol>
      <!-- BEGIN item -->
      <li>
        <h4><a href="{url}" id="question{pos}">{question}</a></h4>
        <div class="faq_answer">
          {answer}
        </div>
        <div class="gadget_actions actions"><a href="{top_link}">{top_label}</a></div>
      </li>
      <!-- END item -->
    </ol>
  </div>
  </div>
  <div class="gadget_footer"></div>
</div>
<!-- END faq_category -->