<!-- BEGIN faq_category -->
<div class="gadget_header">
  <div class="row">
    <div class="col-xs-12"><h3>{{title}} - {{category}}<a id="topfaq">&nbsp;</a></h3></div>
  </div>
</div>
<div class="gadget_container">
  <div class="summary">
    <p>{{description}}</p>
    <ol>
      <!-- BEGIN question -->
      <li><a href="{{url}}#question{{pos}}">{{question}}</a></li>
      <!-- END question -->
    </ol>
  </div>
  <div class="gadget_content">
    <ol>
      <!-- BEGIN item -->
      <li>
        <h5><a href="{{url}}" id="question{{pos}}">{{question}}</a></h5>
        <div class="faq_answer">
          {{answer}}
        </div>
        <div class="gadget_actions"><a href="{{top_link}}">{{top_label}}</a></div>
      </li>
      <!-- END item -->
    </ol>
  </div>
</div>
<div class="gadget_footer"></div>
<!-- END faq_category -->