<!-- BEGIN faq_category -->
<div class="gadget-header card-header d-flex align-items-center justify-content-between">
  <h5 class="m-0 me-2 py-1">{{title}} - {{category}}</h5>
</div>
<div class="gadget-container">
  <div class="summary">
    <p>{{description}}</p>
    <ol>
      <!-- BEGIN question -->
      <li><a href="{{url}}#question{{pos}}">{{question}}</a></li>
      <!-- END question -->
    </ol>
  </div>
  <div class="gadget-content card-body">
    <ol>
      <!-- BEGIN item -->
      <li>
        <h5><a href="{{url}}" id="question{{pos}}">{{question}}</a></h5>
        <div class="faq_answer">
          {{answer}}
        </div>
        <div class="gadget_actions"><a href="{{top_link}}">{{top_label}}</a></div>
      </li>
      <!-- END item -->
    </ol>
  </div>
</div>
<div class="gadget-footer card-footer" hidden></div>
<!-- END faq_category -->