<!-- BEGIN feedreader -->
<!-- BEGIN simple -->
<div class="gadget feedreader">
  <div class="gadget_header"><h2>{title}</h2></div>
  <div class="content">
    <div class="feed_title"><a href="{feed_link}" rel="external" target="_blank">{feed_title}</a></div>
    <ul><!-- BEGIN item --><li><a href="{href}" rel="external" target="_blank">{title}</a></li><!-- END item --></ul>
  </div>
</div>
<!-- END simple -->
<!-- BEGIN marquee -->
<div class="gadget feedreader">
  <div class="gadget_header"><h2>{title}</h2></div>
  <div class="content">
    <div class="feed_title"><a href="{feed_link}" rel="external" target="_blank">{feed_title}</a></div>
    <marquee behavior="scroll" direction="{marquee_direction}" scrolldelay="100" scrollamount="1" onmouseover="this.stop()" onmouseout="this.start()">
    <ul><!-- BEGIN item --><li><a href="{href}" rel="external" target="_blank">{title}</a></li><!-- END item --></ul>
    </marquee>
  </div>
</div>
<!-- END marquee -->
<!-- END feedreader -->
