<!-- BEGIN feedreader -->
<!-- BEGIN simple -->
<div class="gadget_header">
  <div class="gadget_title"><h2>{{title}}</h2></div>
</div>
<div class="gadget_container">
  <div class="gadget_content">
    <div class="feed_title" data-alias="{{alias}}">
      <h4><a href="{{feed_link}}" rel="external" target="_blank">{{feed_title}}</a></h4>
    </div>
    <ul>
      <!-- BEGIN item -->
      <li>
        <div class="row">
          <div class="col-lg-2 col-md-3 col-xs-4">
<!--
img[src=""] {
  content:url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAQAAAC1HAwCAAAAC0lEQVR42mNkYAAAAAYAAjCB0C8AAAAASUVORK5CYII=);
}
-->
            <img src="{{enclosure}}" />
          </div>
          <div class="col-lg-10 col-md-9 col-xs-8">
            <h5><a href="{{href}}" rel="external" target="_blank">{{title}}</a></h5>
            <p>{{summary}}</p>
          </div>
        </div>
      </li>
      <!-- END item -->
    </ul>
  </div>
</div>
<div class="gadget_footer"></div>
<!-- END simple -->
<!-- BEGIN marquee -->
<div class="gadget_header">
  <div class="gadget_title"><h2>{{title}}</h2></div>
</div>
<div class="gadget_container">
  <div class="gadget_content">
    <div class="feed_title" data-alias="{{alias}}"><a href="{{feed_link}}" rel="external" target="_blank">{{feed_title}}</a></div>
    <marquee behavior="scroll" direction="{{marquee_direction}}" scrolldelay="100" scrollamount="1" onmouseover="this.stop()" onmouseout="this.start()">
    <ul><!-- BEGIN item --><li><a href="{{href}}" rel="external" target="_blank">{{title}}</a></li><!-- END item --></ul>
    </marquee>
  </div>
</div>
<div class="gadget_footer"></div>
<!-- END marquee -->
<!-- END feedreader -->
