<!-- BEGIN UserFeeds -->
<div class="gadget_header">
  <div class="gadget_title"><h2>{{title}}</h2></div>
</div>
<div class="gadget_container">
  <div class="gadget_content content">

    <div id="feed_workarea" style="display: none; width: 650px; height: 400px; overflow: auto">
      <div rel="body">
        <div style="padding: 10px; font-size: 11px; line-height: 150%;">
          <form action="#" name="feed">
            <table class="table" id="geo_position" cellpadding="0" cellspacing="2">
              <tr><td><label for="title">{{lbl_title}}:</label></td><td><input type="text" id="title" name="title"></td></tr>
              <tr><td><label for="url">{{lbl_url}}:</label></td><td><input type="text" id="url" name="url"></td></tr>

              <tr><td><label for="cache_time">{{lbl_cache_time}}:</label></td><td>
                <select class="form-control" name="cache_time" id="cache_time">
                  <option value="0">{{lbl_disable}}</option>
                  <option value="600">{{lbl_minutes_10}}</option>
                  <option value="1800">{{lbl_minutes_30}}</option>
                  <option value="3600">{{lbl_hours_1}}</option>
                  <option value="18000">{{lbl_hours_5}}</option>
                  <option value="36000">{{lbl_hours_10}}</option>
                  <option value="86400">{{lbl_days_1}}</option>
                  <option value="604800">{{lbl_weeks_1}}</option>
                </select>
              </td></tr>

              <tr><td><label for="view_type">{{lbl_view_type}}:</label></td><td>
                <select class="form-control" name="view_type" id="view_type">
                  <option value="0">{{lbl_view_type_simple}}</option>
                  <option value="1">{{lbl_view_type_up}}</option>
                  <option value="2">{{lbl_view_type_down}}</option>
                  <option value="3">{{lbl_view_type_left}}</option>
                  <option value="4">{{lbl_view_type_right}}</option>
                </select>
              </td></tr>

              <tr><td><label for="title_view">{{lbl_title_view}}:</label></td><td>
                <select class="form-control" name="title_view" id="title_view">
                  <option value="0">{{lbl_title_view_disable}}</option>
                  <option value="1">{{lbl_title_view_internal}}</option>
                  <option value="2">{{lbl_title_view_external}}</option>
                </select>
              </td></tr>

              <tr><td><label for="count_entry">{{lbl_count_entry}}:</label></td><td><input type="text" id="count_entry" name="count_entry"></td></tr>

              <tr><td><label for="visible">{{lbl_visible}}:</label></td><td>
                <select class="form-control" name="visible" id="visible">
                  <option value="1">{{lbl_yes}}</option>
                  <option value="0">{{lbl_no}}</option>
                </select>
              </td></tr>

          </table>
          </form>
        </div>
      </div>
      <div rel="buttons">
        <button class="btn btn-primary" onclick="javascript:updateFeed()">{{lbl_save}}</button>
        <button class="btn" onclick="javascript:stopAction();">{{lbl_cancel}}</button>
      </div>
    </div>


    <div id="feeds-grid" style="width: 100%; height: 400px;"></div>
  </div>
</div>
<div class="gadget_footer"></div>

<script type="text/javascript">
  var lbl_title = "{{lbl_title}}";
  var lbl_add = "{{lbl_add}}";
  var lbl_edit = "{{lbl_edit}}";
  var lbl_visible = "{{lbl_visible}}";
</script>
<!-- END UserFeeds -->