#lightbox{
	background-color:#EEEEEE;
	padding: 10px;
	border-bottom: 2px solid #666;
	border-right: 2px solid #666;
}
#lightboxCaption{font-weight:bold; font-size:12px; color:#3465a4; margin-bottom:5px; text-align:center;}
#lightboxDetails{
	font-size: 0.8em;
	padding-top: 0.4em;
}	
#closeButton{ top: 5px; right: 5px; }
#lightbox img{ border: none; clear: both;} 
#overlay img{ border: none; }
#overlay{ background-image: url(overlay.png); }
* html #overlay{
	background-color: #333;
	background-color: transparent;
	filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="libraries/lightbox/overlay.png", sizingMethod="scale");
}
	