<!-- BEGIN topic -->
<div class="gadget_header">
  <div class="gadget_title">
    <h2>
      <a href="{{findex_url}}">{{findex_title}}</a> &rsaquo;
      <a href="{{forum_url}}">{{forum_title}}</a> &rsaquo;
      {{title}}
    </h2>
  </div>
</div>
<div class="gadget_container">
  <div class="gadget_response">
    <div class="alert {{response_type}}" role="alert">{{response_text}}</div>
  </div>
  <form name="deletetopic" action="{{requested_url}}" method="post">
    <input type="hidden" name="gadget" value="Forums" />
    <input type="hidden" name="action" value="DeleteTopic" />
    <input type="hidden" name="fid" value="{{fid}}" />
    <input type="hidden" name="tid" value="{{tid}}" />
    <div class="gadget_content">
      <div class="post_meta">
        {{postedby_lbl}}: <a href="{{user_url}}" title="{{username}}">{{nickname}}</a>
        &raquo; <abbr title="{{insert_time_iso}}">{{insert_time}}</abbr>
      </div>
      <div class="post_content">{{message}}</div>
    </div>
    <div>
      <label for="delete_reason">{{lbl_delete_reason}}:</label>
      <textarea class="form-control" id="delete_reason" name="delete_reason" rows="2" class="x-large">{{delete_reason}}</textarea>
    </div>
    <!-- BEGIN notification -->
    <div>
      <label class="form-check-label" for="notification">
        <input class="form-check-input" type="checkbox" id="notification" name="notification" value="1" <!-- BEGIN checked -->checked="checked" <!-- END checked -->/>
        {{lbl_send_notification}}
      </label>
    </div>
    <!-- END notification -->
    <div class="gadget_actions">
      <button class="btn btn-primary" type="submit" name="cancel" >{{btn_cancel_title}}</button>
      <button class="btn btn-primary" type="submit" name="confirm">{{btn_submit_title}}</button>
    </div>
  </form>
</div>
<div class="gadget_footer"></div>
<!-- END topic -->