<!-- BEGIN recenttopics -->
<div class="gadget-header card-header d-flex align-items-center justify-content-between">
  <h5 class="m-0 me-2 py-1">{{action_title}} - {{group_title}}</h5>
</div>
<div class="gadget-container">
  <div class="gadget-content card-body">
    <ul>
      <!-- BEGIN topic -->
      <li>
        <h5><a href="{{url_topic}}">{{lbl_topic}}</a></h5>
        <div class="post_content_partly">{{message}}</div>
        <div class="post_meta">
          {{lbl_postedby}}: <a href="{{url_user}}" title="{{username}}">{{nickname}}</a>
          <br/><abbr title="{{lastpost_date_iso}}">{{lastpost_date}}</abbr>
          <a href="{{lastpost_url}}" title="{{lbl_topic}}">
            <img width="16" height="16" src="gadgets/Forums/Resources/images/topic_latest{{.dir}}.png" alt="{{lbl_topic}}"/>
          </a>
        </div>
      </li>
      <!-- END topic -->
    </ul>
  </div>
</div>
<div class="gadget-footer card-footer" hidden></div>
<!-- END recenttopics -->