<!-- BEGIN userposts -->
<div class="gadget forums recentposts">
  <h2>{action_title}</h2>
  <div class="content">
    <ul>
      <!-- BEGIN post -->
      <li>
        <h3><a href="{url_topic}">{lbl_topic}</a></h3>
        <div class="post_content_partly">{message}</div>
        <div class="post_meta">
          <br/><abbr title="{insert_time_iso}">{insert_time}</abbr>
          <a href="{url_post}" title="{lbl_topic}">
            <img width="16" height="16" src="gadgets/Forums/Resources/images/topic_latest{.dir}.png" alt="{lbl_topic}"/>
          </a>
        </div>
      </li>
      <!-- END post -->
    </ul>
  </div>
</div>
<!-- INCLUDE PageNavigation.html -->
<!-- END userposts -->