<!-- BEGIN Groups -->
<div class="gadget_menubar">{{menubar}}</div>
<div id="main">
<table id="PageGroups">
  <tr>
    <td id="groups_datagrid">
    {{grid}}
    </td>
    <td id="group_ui">
      <fieldset>
      <legend><span id="legend_title">{{legend_title}}</span></legend>
        <table width="100%">
          <tr><th><label for="title">{{lbl_title}}</label></th><td>{{title}}</td></tr>
          <tr><th><label for="fast_url">{{lbl_fast_url}}</label></th><td>{{fast_url}}</td></tr>
          <tr><th><label for="meta_keys">{{lbl_meta_keys}}</label></th><td>{{meta_keys}}</td></tr>
          <tr><th><label for="meta_desc">{{lbl_meta_desc}}</label></th><td>{{meta_desc}}</td></tr>
          <tr><th><label for="visible">{{lbl_visible}}</label></th><td>{{visible}}</td></tr>
        </table>
      </fieldset>
      <div class="buttons">{{btn_cancel}}{{btn_save}}</div>
    </td>
  </tr>
</table>
</div>
<!-- END Groups -->
