<!-- BEGIN jms -->
{menubar}
<table width="100%">
  <tr>
    <td id="components">
      <div>
        <h3 title="{outdated_desc}">{lbl_outdated}</h3>
        <ul id="outdated"></ul>
        <h3 title="{notinstalled_desc}">{lbl_notinstalled}</h3>
        <ul id="notinstalled"></ul>
        <h3 title="{installed_desc}">{lbl_installed}</h3>
        <ul id="installed"></ul>
      </div>
    </td>
    <td valign="top"><div id="component_info" style="display:none"></div></td>
  </tr>
</table>
<div id="actions">{update}{install}{uninstall}{disable}{cancel}</div>
<script type="text/javascript">
  var actions = {
      outdated: "{lbl_update}",
      installed: "{lbl_uninstall}",
      notinstalled: "{lbl_install}"
    },
    pluginsMode = false,
    confirmUninstallGadget = "{confirmUninstallGadget}",
    confirmDisableGadget = "{confirmDisableGadget}";
  init();
</script>
<!-- END jms -->
