<!-- BEGIN jms -->
{menubar}
<table width="100%">
  <tr>
    <td id="components">
      <div>
        <h3 title="{outdated_desc}">{lbl_outdated_gadgets}</h3>
        <ul id="outdated_gadgets"></ul>
        <h3 title="{notinstalled_desc}">{lbl_notinstalled_gadgets}</h3>
        <ul id="notinstalled_gadgets"></ul>
        <h3 title="{installed_desc}">{lbl_installed_gadgets}</h3>
        <ul id="installed_gadgets"></ul>
      </div>
    </td>
    <td valign="top"><div id="component_info" style="display:none"></div></td>
  </tr>
</table>
{buttons}
<script type="text/javascript">
  var actions = {
      outdated: "{lbl_update}",
      installed: "{lbl_uninstall}",
      notinstalled: "{lbl_install}"
    },
    pluginsMode = {pluginsMode},
    confirmUninstallComponent = "{confirmUninstallComponent}";
  init();
  /*var confirmDisableComponent   = "{confirmDisableComponent}";
  var confirmPurgeComponent     = "{confirmPurgeComponent}";
  var noAvailableData           = "{noAvailableData}";
  pluginsMode                   = {pluginsMode};
  var gadgetsMsg                = "{gadgetsMsg}";
  var useAlways                 = "{useAlways}";
$('{combo_name}').selectedIndex = -1;
if ($('{combo_name}').options.length == 0) { //No installed components, lets check uninstalled
  $('only_show').selectedIndex = 1;
  updateView();
} else {
  $('only_show').selectedIndex = 0;
}*/
</script>
<!-- END jms -->
