<!-- BEGIN subscription -->
<div class="gadget_header">
  <h3>{{title}}</h3>
</div>
<div class="gadget_container">
    <div class="gadget_response">
        <div id="subscription_subscription_response" class="{{type}}">{{text}}</div>
    </div>
    <form name="subscription" action="{{base_script}}" method="post" onsubmit="return updateSubscription();">
        <input type="hidden" name="gadget" value="Subscription" />
        <input type="hidden" name="action" value="UpdateSubscription" />

        <div class="gadget_content content">
            <!-- BEGIN gadget -->
            <fieldset>
              <legend class="collapse" onclick="this.className= this.className=='collapse'? 'uncollapse' : 'collapse';">
                <span>{{gadget_title}}</span>
              </legend>
                <div class="subscription_items">
                  <!-- BEGIN item -->
                  <fieldset>
                    <legend class="{{collapse}}" onclick="this.className= this.className=='collapse'? 'uncollapse' : 'collapse';">
                      <span>
                          <!-- BEGIN checkbox -->
                        <input type="checkbox" name="subscriptionItems" id="{{id}}" value="{{id}}" {{checked}}>
                          <!-- END checkbox -->
                        <label for="{{id}}"><a href="{{url}}">{{title}}</a></label>
                      </span>
                    </legend>
                      <div class="subscription_items">

                      <!-- BEGIN subItem -->
                      <ul>
                          <li>
                              <input type="checkbox" name="subscriptionItems" id="{{id}}" value="{{id}}" {{checked}}>
                              <label for="{{id}}"><a href="{{url}}">{{title}}</a></label>
                          </li>
                      </ul>
                      <!-- END subItem -->
                      </div>
                  </fieldset>
                  <!-- END item -->
                </div>

            <!-- BEGIN no_subscription -->{{no_subscription}}<!-- END no_subscription -->
            </fieldset>
            <!-- END gadget -->

            <!-- BEGIN email -->
            <label for="email">{{lbl_email}}:</label>
            <input type="text" id="email" name="email" value="{{email}}">
            <!-- END email -->

            <!-- BEGIN mobile -->
            <label for="mobile">{{lbl_mobile}}:</label>
            <input type="text" id="mobile" name="mobile" value="{{mobile}}">
            <!-- END mobile -->

        </div>
        <div class="gadget_actions actions"><button type="submit" value="{{update}}">{{update}}</button></div>
    </form>
</div>

<div class="gadget_footer"></div>
<!-- END subscription -->


<!-- BEGIN inline -->
<div class="gadget_header">
    <h3>{{title}}</h3>
</div>

<div class="gadget_subscription">
<form name="subscriptionForm" method="post" action="{{base_script}}">
    <input type="hidden" name="gadget" value="Subscription"/>
    <input type="hidden" name="action" value="UpdateGadgetSubscription"/>

    <input type="hidden" name="subscription_gadget" value="{{gadget}}"/>
    <input type="hidden" name="subscription_action" value="{{action}}"/>
    <input type="hidden" name="subscription_reference" value="{{reference}}"/>
    <input type="hidden" name="is_subscribe" value="{{is_subscribe}}"/>

    <!-- BEGIN email -->
    <input type="email" name="email">
    <!-- END email -->

    <!-- BEGIN mobile -->
    <input type="number" name="mobile">
    <!-- END mobile -->

    <button class="button" type="submit">{{lbl_action_type}}</button>
</form>
</div>
<!-- END inline -->
