<!-- BEGIN archive  -->
<div class="gadget-header card-header d-flex align-items-center justify-content-between">
  <h5 class="m-0 me-2 py-1">{{title}}</h5>
</div>
<div class="gadget-container">
  <div class="gadget-content card-body">
    <!-- BEGIN month -->
    <h5>{{month}} {{year}}</h5>
    <ul>
      <!-- BEGIN record -->
      <li>
      <a href="{{view-link}}">{{title}}</a> <span class="comments">[{{comments}}]</span> <span class="date">{{date}}</span>
      </li>
      <!-- END record -->
    </ul>
    <!-- END month -->
  </div>
</div>
<div class="gadget-footer card-footer" hidden></div>
<!-- END archive -->