<!-- BEGIN archive  -->
<div class="gadget_header"><h3>{{title}}</h3></div>
<div class="gadget_container">
  <div class="gadget_content content">
    <!-- BEGIN month -->
    <h4>{{month}} {{year}}</h4>
    <ul>
      <!-- BEGIN record -->
      <li>
      <a href="{{view-link}}">{{title}}</a> <span class="comments">[{{comments}}]</span> <span class="date">{{date}}</span>
      </li>
      <!-- END record -->
    </ul>
    <!-- END month -->
  </div>
</div>
<div class="gadget_footer"></div>
<!-- END archive -->