<!-- BEGIN calendar -->
<div class="gadget_header">
  <div class="gadget_title"><h2>{{title}}</h2></div>
</div>
<div class="gadget_container">
  <div class="gadget_content content">
    <table class="table table-hover table-bordered">
     <tr>
      <td id="cal-header" colspan="7">
       {{month}} {{year}}
      </td>
     </tr>
     <tr>
      <!-- BEGIN weekday -->
      <td class="weekday">{{weekday}}</td>
      <!-- END weekday -->
     </tr>
     <!-- BEGIN week -->
     <tr>
      <!-- BEGIN day -->
      <td class="{{style}}">{{day}}</td>
      <!-- END day -->
     </tr>
     <!-- END week -->
     <tr>
      <td id="cal-footer" colspan="7">
       <div id="arrow-left">{{left_arrow}}</div>
       <div id="arrow-right">{{right_arrow}}</div>
      </td>
     </tr>
    </table>
  </div>
</div>
<div class="gadget_footer"></div>
<!-- END calendar -->
