<!-- BEGIN categories_list -->
<div class="gadget blog_categories">
  <div class="gadget_header"><h2>{title}</h2></div>
  <div class="gadget_container">
  <div class="gadget_content content">
    <ul>
    <!-- BEGIN item -->
      <li><a href="{url}">{category}</a>
          <span class="blog-addinfo">({howmany})&nbsp;[<a href="{atomfeed}">atom</a> | <a href="{rssfeed}">rss</a>]</span>
      </li>
    <!-- END item -->
    </ul>
  </div>
  </div>
  <div class="gadget_footer"></div>
</div>
<!-- END categories_list -->