<div class="gadget_header">
  <div class="row">
    <div class="col-xs-12"><h2>{{ {{ "blog.favorite_posts" | t }} }}</h2></div>
  </div>
</div>
<div class="gadget_container">
  <div class="gadget_content">
    <ul>
      {% for post in posts %}
      <li>
        {% if post.image | empty %}
        <!--
        <img class="blog_post_image"
          src="data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw=="
          alt="{{ 'global.noimage' | t }}"
        />
        -->
        {% else %}
        <!--
        <img class="blog_post_image"
          src="{{ 'blog/images/' | append: post.image | dataURL }}" alt="{{ post.image }}"
        />
        -->
        {% endif %}
        <a href="{{ 'Blog' | urlmap: 'SingleView', 'id', post.fast_url }}"
          title="{{ post.publishtime | date: 'DN d MN Y' }}">
          {{ post.title }}
        </a>
      </li>
      {% endfor %}
    </ul>
  </div>
</div>
<div class="gadget_footer"></div>