<div class="gadget-header card-header d-flex align-items-center justify-content-between">
  <h5 class="m-0 me-2 py-1">{{ "blog.favorite_posts" | t }}</h5>
</div>
<div class="gadget-container">
  <div class="gadget-content card-body">
    <ul>
      {% for post in posts %}
      <li>
        {% if post.image | empty %}
        <!--
        <img class="blog_post_image"
          src="data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw=="
          alt="{{ 'global.noimage' | t }}"
        />
        -->
        {% else %}
        <!--
        <img class="blog_post_image"
          src="{{ 'blog/images/' | append: post.image | dataURL }}" alt="{{ post.image }}"
        />
        -->
        {% endif %}
        <a href="{{ 'Blog' | urlmap: 'SingleView', 'id', post.fast_url }}"
          title="{{ post.publishtime | date: 'DN d MN Y' }}">
          {{ post.title }}
        </a>
      </li>
      {% endfor %}
    </ul>
  </div>
</div>
<div class="gadget-footer card-footer" hidden></div>