<!-- BEGIN groups -->
<div class="gadget users groups">
    <div class="gadget_header"><h2>{title}</h2><div class="gadget_menubar">{menubar}</div></div>

    <div class="gadget_response">
        <div id="users_contacts_response" class="{type}">{text}</div>
    </div>


    <form name="groups" id="groups" action="{requested_url}" method="post">
        <input type="hidden" name="gadget" value="Users"/>
        <input type="hidden" name="action" value="Groups"/>
        <input type="hidden" name="status" value=""/>

        <table>
            <thead>
            <tr>
                <th><input type="checkbox" onclick="toggleCheckboxes();"></th>
                <th>{lbl_name}</th>
                <th>{lbl_title}</th>
            </tr>
            </thead>

            <tbody>
            <!-- BEGIN group -->
            <tr>
                <td>
                    <input type="checkbox" name="group_checkbox[]" value="{id}" class="table-checkbox">
                </td>
                <td><a href="{url}" title="{name}">{name}</a></td>
                <td>{title}</td>
            </tr>
            <!-- END group -->
            </tbody>
        </table>

        <div class="actions">
            <label for="groups_actions_combo">{lbl_actions}:&nbsp;</label>
            <select title="{lbl_actions}" id="groups_actions_combo" name="groups_actions_combo">
                <option value="">{lbl_no_action}</option>
                <option value="delete">{lbl_delete}</option>
            </select>

            <button value="{lbl_actions}" id="action_button" name="action_button"
                    onclick="javascript: return doDGAction();"><img src="{icon_ok}" alt="{lbl_actions}"/>
            </button>
        </div>

    </form>

</div>

<script type="text/javascript">
    function toggleCheckboxes() {
        do_check = !do_check;
        $$('.table-checkbox').each(function (el) {
            el.checked = do_check;
        });
    }
    var do_check = false;

    function doDGAction() {
        var action = document.getElementById("groups_actions_combo").value;
        if(action=="") {
            return false;
        }

        if(action == 'delete') {
            document.groups.action.value = 'DeleteGroups';
        } else if(action == 'disable') {
            document.groups.action.value = 'EnableGroups';
            document.groups.status.value = 'no';
        } else if(action == 'enable') {
            document.groups.action.value = 'EnableGroups';
            document.groups.status.value = 'yes';
        }
        document.getElementById("groups").submit();
        return true;
    }
</script>
<!-- END groups -->

<!-- BEGIN add_group -->
<div class="gadget users groups">
    <div class="gadget_header"><h2>{title}</h2><div class="gadget_menubar">{menubar}</div></div>
    <form name="groups" id="groups" action="{base_script}" method="post">
        <input type="hidden" name="gadget" value="Users"/>
        <input type="hidden" name="action" value="AddGroup"/>

        <div class="content">
            <fieldset>
                <div><label for="name">{lbl_name}:</label>
                    <input name="name" id="name" value="" type="text"/>
                </div>
                <div><label for="title">{lbl_title}:</label>
                    <input name="title" id="title" value="" type="text"/>
                </div>
                <div><label for="description">{lbl_description}:</label>
                    <textarea name="description" id="description" cols="45" rows="4"></textarea>
                </div>
            </fieldset>
        </div>
        <div class="actions">
            <button type="submit" value="{save}">{save}</button>
        </div>
    </form>
</div>
<!-- END add_group -->

<!-- BEGIN manage_group -->
<div class="gadget users groups">
    <div class="gadget_header"><h2>{title}</h2><div class="gadget_menubar">{menubar}</div></div>
    <form name="groups" id="groups" action="{base_script}" method="post" onsubmit="return selectAllMembers()">
        <input type="hidden" name="gadget" value="Users"/>
        <input type="hidden" name="action" value="UpdateGroup"/>
        <input type="hidden" name="gid" value="{gid}"/>

        <div class="content">
            <fieldset>
                <div><label for="name">{lbl_name}:</label>
                    <input name="name" id="name" value="{name}" type="text"/>
                </div>
                <div><label for="title">{lbl_title}:</label>
                    <input name="title" id="title" value="{title}" type="text"/>
                </div>
                <div><label for="description">{lbl_description}:</label>
                    <textarea name="description" id="description" cols="45" rows="4">{description}</textarea>
                </div>
            </fieldset>

            <fieldset>
                <legend><span>{lbl_group_member}</span></legend>

                <div><label for="users">{lbl_users}:</label>
                    <select name="users" id="users">
                        <!-- BEGIN user -->
                        <option value="{user}">{username} - {nickname}</option>
                        <!-- END user -->
                    </select>
                    <a class="button" href="javascript:addUserToMember()">{lbl_add_user_to_group}</a>
                </div>

                <div><label for="members">{lbl_members}:</label>
                    <select name="members[]" id="members" multiple="multiple">
                        <!-- BEGIN member -->
                        <option value="{user}">{username} - {nickname}</option>
                        <!-- END member -->
                    </select>
                    <a class="button" href="javascript:removeUserFromMember()">{lbl_remove_user_from_member}</a>
                </div>

            </fieldset>

        </div>
        <div class="actions">
            <button type="submit" value="{update}">{update}</button>
        </div>
    </form>
</div>

<script type="text/javascript">
    function addUserToMember() {
        var alreadyMember = false;
        var userId = $('users').value;
        var userTitle = $('users').getSelected().get('text');
        $$('#members').getElements('option')[0].each(function(member) {
            if(userId==member.value) {
                alreadyMember = true;
                return;
            }
        });

        if (!alreadyMember) {
            var newElement = new Element('option');
            newElement.inject($('members'));
            newElement.setProperty('value', userId);
            newElement.appendText(userTitle);
        }
    }

    function removeUserFromMember() {
        $$('#members').getSelected()[0].each(function (member) {
            member.dispose();
        });
    }

    function selectAllMembers() {
        $$('#members').getElements('option')[0].each(function(member) { member.selected = 'selected'; });
        return true;
    }
</script>
<!-- END manage_group -->