ul 
{
  margin:0;
  margin-top:10px;
  padding:0;
  list-style-type: none;
  width: 100%;
}

li 
{
  margin:0;
  margin-bottom:4px;
  padding:5px;
  cursor:move;
}

.category {
    text-align: right;
}

.category_action {
    text-align: left;
}

#preview div {
    text-align: right;
}