<!-- BEGIN Settings -->
<p>{{lbl_info}}</p>

<form method="post">
 <table>
  <tr>
   <td><label for="site_name">{{lbl_site_name}}:</label></td>
   <td><input type="text" id="site_name" name="site_name" size="30" value="{{site_name}}" /></td>
  </tr>
  <tr>
   <td></td>
   <td class="form_comment">{{site_name_info}}</td>
  </tr>
  <tr>
   <td><label for="site_slogan">{{lbl_site_slogan}}:</label></td>
   <td><input type="text" id="site_slogan" name="site_slogan" value="{{site_slogan}}" size="30" /></td>
  </tr>
  <tr>
   <td></td>
   <td class="form_comment">{{site_slogan_info}}</td>
  </tr>
  <tr>
   <td><label for="site_language">{{lbl_site_language}}:</label></td>
   <td>
    <select name="site_language" id="site_language">
      <!-- BEGIN lang -->
      <option value="{{code}}" {{selected}}>{{title}}</option>
      <!-- END lang -->
    </select>
   </td>
  </tr>
  <tr>
   <td></td>
   <td class="form_comment">{{site_language_info}}</td>
  </tr>
  <tr>
   <td><label for="site_sample">{{lbl_site_sample}}:</label></td>
   <td><input type="checkbox" name="site_sample" id="site_sample" value="true"/>{{site_sample_info}}</td>
  </tr>
  <tr>
   <td></td>
   <td><img src="Resources/images/sample.png"/></td>
  </tr>
 </table>

 <div class="buttons">
  <input type="submit" name="Settings_next" value="{{next}} &gt;" />
 </div>
</form>
<!-- END Settings -->
