.workarea{
width:290px;
padding-right:8px;
vertical-align:top;
}
#workarea{
direction:rtl;
text-align:right;
vertical-align:top;
}
fieldset table{
width:auto;
text-align:right;
}
fieldset table td label{
padding:0;
}
fieldset table td table td{
padding:0px;
}
fieldset input,fieldset select,fieldset textarea{
width:220px;
}
fieldset select{
height:25px;
}
fieldset input[type="checkbox"]{
width:14px;
vertical-align:middle;
}
#user_groups_checkbox, #group_users_checkbox{
padding:0px;
width:264px;
height:408px;
overflow:scroll;
overflow-x:hidden;
overflow-y:scroll;
}
#user_groups,
#group_users{
text-align:right;
}
#user_groups_title,
#group_users_title{
text-align:right;
}
/* New menu */
#right_menu{
background:#fff url(../Resources/images/right_menu_bg.png) top left repeat-x;
border:1px solid #babdb6;
margin:0.5em;
width:15em;
font-size:85%;
}
#right_menu ul{
list-style:none;
padding:0.5em;
margin:0;
}
#right_menu ul li{
padding:0.3em 0;
margin:0 0 0.3em 0;
border-bottom:1px solid #babdb6;
text-align:right;
}
#right_menu ul li:last-child{
border-bottom:0;
}
#right_menu ul li a{
width:100%;
display:block;
color:#666;
text-decoration:none;
}
#right_menu ul li a:hover{
color:#000;
}
/* Ends */
#user_groups_content,
#group_users_content{
text-align:right;
width:100%;
}
#users_filter{
height:90px;
text-align:right;
padding-bottom:4px;
}
#users_filter input,#users_filter select{
width:200px;
white-space:nowrap;
margin:0 0 4px 10px;
}
#users_filter table td{
padding:2px;
text-align:right;
}
#users_filter .filter_label{
width:52px;
}
#online_users_filter{
text-align:right;
padding-bottom:4px;
}
#online_users_filter input,#online_users_filter select{
margin:0 4px 0 12px;
}
#my_account{
margin:auto;
width:380px;
padding:5px;
}
#my_account table{
padding:5px 5px 10px;
}
#username, #email, #pass1, #pass2, #concurrents, #expiry_date,
#dob, #url, #timezone, #language, #theme{
direction:ltr;
}
#theme optgroup{
direction:rtl;
}
#theme optgroup option{
direction:ltr;
}
#timezone, #editor,
#theme, #language{
width:250px;
}
#ifrm_upload{
display:none;
}
#fname , #lname, #ssn{
width:130px;
}
#privacy, #gender{
width:138px;
}
#user_avatar{
width:132px;
padding:0px;
text-align:center;
vertical-align:middle;
}
#user_avatar img{
max-width:128px;
max-height:128px;
}
#avatar_actions{
padding:20px 0 0;
text-align:center;
}
#avatar_actions .actions{
width:63px;
padding:0px;
margin:0px auto;
position:relative;
direction:ltr;
}
#avatar_actions .actions button{
width:28px;
height:24px;
margin:0;
}
#avatar_actions .wrapper{
top:0;
width:28px;
height:24px;
padding:0px 1px;
overflow:hidden;
position:absolute;
}
#avatar_actions .wrapper input{
margin:0;
font-size:30px;
opacity:0;
filter:alpha(opacity=0);
}
#about{
height:72px;
}
#onlineusers_datagrid td .lastactive{
display:block;
direction:ltr;
font-weight:normal;
text-align:left;
}
#acl{
padding:0;
}
#acl img{
vertical-align:middle;
}
#acl label{
display:inline;
vertical-align:middle;
}
#acl select{
width:160px;
}
#acl_form{
height:350px;
overflow:auto;
}
#acl_form label{
font-weight:normal;
}
#main table{
margin:0 auto;
}
form#contact-form {
overflow-y: scroll;
height: 400px;
}