<!-- BEGIN aboutuser -->
<div class="gadget-header card-header d-flex align-items-center justify-content-between">
  <h5 class="m-0 me-2 py-1">{{title}}</h5>
</div>
<div class="gadget-container">
  <div class="gadget-content card-body">
    <p><img src="{{avatar}}" alt="{{nickname}}" /></p>
    <p><label>{{lbl_fname}}: </label>{{fname}}</p>
    <p><label>{{lbl_lname}}: </label>{{lname}}</p>
    <p><label>{{lbl_nickname}}: </label>{{nickname}}</p>
    <hr/>
    <p><label>{{lbl_about}}: </label><br/>{{about}}</p>
  </div>
</div>
<div class="gadget-footer card-footer" hidden></div>
<!-- END aboutuser -->