<!-- BEGIN aboutuser -->
<div class="gadget users aboutuser">
  <div class="gadget_header"><h3>{title}</h3></div>
  <div class="gadget_container">
  <div class="gadget_content content">
    <p><img src="{avatar}" alt="{nickname}" /></p>
    <p><label>{lbl_fname}: </label>{fname}</p>
    <p><label>{lbl_lname}: </label>{lname}</p>
    <p><label>{lbl_nickname}: </label>{nickname}</p>
    <hr/>
    <p><label>{lbl_about}: </label><br/>{about}</p>
  </div>
  </div>
  <div class="gadget_footer"></div>
</div>
<!-- END aboutuser -->