<div class="gadget_header">
  <div class="row">
    <div class="col-xs-9"><h3>{{ "users.account_info" | t }}</h3></div>
    <div class="col-xs-3">{% include 'XMenuNavigation.html' 'include/Jaws/Resources' with navigation %}</div>
  </div>
</div>
<div class="gadget_container">
  <div class="gadget_response">
    <div class="alert {{response.type}}" role="alert">{{response.text}}</div>
  </div>

  <form name="account" action="{{base_script}}" method="post">
    <input type="hidden" name="reqGadget" value="Users" />
    <input type="hidden" name="reqAction" value="UpdateAccount" />
    <input type="hidden" name="step" value="{{step}}" />
    <div class="gadget_content">
      <fieldset>
        {% case step %}
          {% when 2 %}
            <div class="user_avatar">
              <img src="{{avatar}}" alt="{{username}}" title="{{nickname}}">
            </div>
            <div>
              <label for="username">{{ "users.users_username" | t }}:</label>
              <input class="form-control ltr" name="username" id="username" value="{{username}}"
                type="text" {{ username_disabled | equal: true, 'disabled="disabled"' }}
              />
            </div>
            <div>
              <label for="nickname">{{ "users.users_nickname" | t }}:</label>
              <input class="form-control" name="nickname" id="nickname" value="{{nickname}}"
                type="text" {{ nickname_disabled | equal: true, 'disabled="disabled"' }}
              />
            </div>
            <div>
              <label for="email">{{ "global.email" | t }}:</label>
              <input class="form-control ltr" name="email" id="email" value="{{email}}"
                type="text" {{ email_disabled | equal: true, 'disabled="disabled"' }}
              />
            </div>
            <div>
              <label for="mobile">{{ "users.contacts_mobile_number" | t }}:</label>
              <input class="form-control ltr" name="mobile" id="mobile" value="{{mobile}}"
                type="text" {{ mobile_disabled | equal: true, 'disabled="disabled"' }}
              />
            </div>
          {% when 3 %}
          {% else %}
        {% endcase %}

      </fieldset>
    </div>
    <div class="gadget_actions">
      <button class="btn btn-primary" type="submit">{{ "users.users_account_update" | t }}</button>
    </div>
  </form>
</div>
<div class="gadget_footer"></div>
