<!-- BEGIN attributes -->
<div class="gadget_header">
  <div class="row">
    <div class="col-xs-9"><h2>{{title}}</h2></div>
    <div class="col-xs-3"><!-- INCLUDE MenuNavigation.html include/Jaws/Resources --></div>
  </div>
</div>
<div class="gadget_container">
  <div class="gadget_response">
    <div id="users_preferences_response" class="alert {{response_type}}" role="alert">{{response_text}}</div>
  </div>
  <div class="gadget_content">
    <form name="preferencesBox" action="{{base_script}}" method="post" onsubmit="return updateAttributes(this);">
      <input type="hidden" name="reqGadget" value="Users" />
      <input type="hidden" name="reqAction" value="UpdateAttributes" />
      <input type="hidden" name="gadget" value="{{gadget}}" />
<!--





-->
    </form>
  </div>
</div>
<div class="gadget_footer"></div>
<!-- END attributes -->