<!-- BEGIN Bookmarks -->
<div class="gadget_header">
  <div class="gadget_title">
    <!-- INCLUDE MenuNavigation.html include/Jaws/Resources -->
    <h2>{{gadget_title}}</h2>
  </div>
</div>
<div class="gadget_container">
  <div class="gadget_response">
    <div id="users_bookmarks_response" class="alert {{response_type}}" role="alert">{{response_text}}</div>
  </div>

  <div class="repeater" id="bookmarksGrid" data-staticheight="500">
    <div class="repeater-header">
      <div>
        <table class="datagrid-filters table">
          <tr>
            <td><label>{{lbl_filter_gadget}}:</label></td>
            <td>
              <select name="filter_gadget" id="filter_gadget" class="form-control">
                <!-- BEGIN filterGadget -->
                <option value="{{value}}">{{title}}</option>
                <!-- END filterGadget -->
              </select>
            </td>

            <td><label>{{lbl_filter_term}}:</label></td>
            <td>
              <input type="text" id="filter_term" name="filter_term" class="form-control">
            </td>
          </tr>
        </table>

        <!--        <div class="repeater-search">
                  <div class="search disabled input-group">
                    <input type="search" class="form-control input-sm" placeholder="Search">
                    <span class="input-group-btn">
                      <button class="btn btn-default btn-sm" type="button">
                          <span class="glyphicon glyphicon-search"></span>
                          <span class="sr-only">Search</span>
                      </button>
                  </span>
                  </div>
                </div>-->
      </div>
      <div class="repeater-header-right">
      </div>
    </div>
    <div class="repeater-viewport">
      <div class="repeater-canvas"></div>
      <div class="loader repeater-loader"></div>
    </div>
    <div class="repeater-footer">
      <div class="repeater-footer-left">
        <div class="repeater-itemization">
          <span><span class="repeater-start"></span> {{lbl_to}} <span class="repeater-end"></span> {{lbl_of}} <span class="repeater-count"></span> {{lbl_items}}</span>
          <div class="btn-group selectlist dropup" data-resize="auto">
            <button type="button" class="btn btn-default btn-sm dropdown-toggle" data-toggle="dropdown">
              <span class="selected-label">?</span>
              <span class="caret"></span>
              <span class="sr-only">Toggle Dropdown</span>
            </button>
            <ul class="dropdown-menu" role="menu">
              <li data-value="10" data-selected="true"><a href="#">10</a></li>
              <li data-value="25"><a href="#">25</a></li>
              <li data-value="50"><a href="#">50</a></li>
            </ul>
            <input class="hidden hidden-field" name="itemsPerPage" readonly="readonly" aria-hidden="true" type="text">
          </div>
          <span>{{lbl_per_page}}</span>
        </div>
      </div>
      <div class="repeater-footer-right">
        <div class="repeater-pagination">
          <button type="button" class="btn btn-default btn-sm repeater-prev">
            <span class="glyphicon glyphicon-chevron-left"></span>
            <span class="sr-only">Previous Page</span>
          </button>
          <label class="page-label" id="myPageLabel"></label>
          <div class="repeater-primaryPaging active">
            <div class="input-group input-append dropdown combobox dropup">
              <input type="text" class="form-control input-sm" aria-labelledby="myPageLabel">
              <div class="input-group-btn">
                <button type="button" class="btn btn-default btn-sm dropdown-toggle" data-toggle="dropdown">
                  <span class="caret"></span>
                  <span class="sr-only">Toggle Dropdown</span>
                </button>
                <ul class="dropdown-menu dropdown-menu-right"></ul>
              </div>
            </div>
          </div>
          <input type="text" class="form-control input-sm repeater-secondaryPaging" aria-labelledby="myPageLabel">
          <button type="button" class="btn btn-default btn-sm repeater-next">
            <span class="glyphicon glyphicon-chevron-right"></span>
            <span class="sr-only">Next Page</span>
          </button>
        </div>
      </div>
    </div>
  </div>

</div>

<!-- Contact Modal -->
<div class="modal fade" id="bookmarkModal" tabindex="-1" role="dialog" aria-labelledby="bookmarkModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="bookmarkModalLabel">{{lbl_bookmark}}</h4>
      </div>
      <div class="modal-body">
        <form action="#" id="bookmark-form">
          <div class="form-group">
            <label for="url">{{lbl_url}}: </label>
            <span><a href="" id="url" target="_blank"></a></span>
          </div>

          <div class="form-group"><label for="gadget">{{lbl_gadget}}:</label>
            <input class="form-control" name="gadget" id="gadget" value="{{gadget}}" type="text" disabled />
          </div>

          <div class="form-group"><label for="action">{{lbl_action}}:</label>
            <input class="form-control" name="action" id="action" value="{{action}}" type="text" disabled/>
          </div>

          <div class="form-group"><label for="reference">{{lbl_reference}}:</label>
            <input class="form-control" name="reference" id="reference" value="{{reference}}" type="text" disabled/>
          </div>

          <div class="form-group"><label for="title">{{lbl_title}}:</label>
            <input type="text" name="title" id="title" value="{{title}}" class="form-control">
          </div>

          <div class="form-group"><label for="description">{{lbl_description}}:</label>
            <textarea class="form-control" name="description" id="description" cols="45" rows="4">{{description}}</textarea>
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" onclick="javascript:stopAction()">{{lbl_cancel}}</button>
        <button type="button" class="btn btn-primary" onclick="javascript:updateBookmark()">{{lbl_update}}</button>
      </div>
    </div>
  </div>
</div>

<div class="gadget_footer"></div>
<!-- END Bookmarks -->