<!-- BEGIN contacts -->
<div class="gadget_header">
  <div class="gadget_title"><h2>{{gadget_title}}</h2></div>
  <div class="gadget_menubar">{{menubar}}</div>
  <div class="gadget_submenubar">{{submenubar}}</div>
</div>
<div class="gadget_container">
  <div class="gadget_response">
    <div id="users_contacts_response" class="alert {{response_type}}" role="alert">{{response_text}}</div>
  </div>

  <div class="repeater" id="contractsGrid" data-staticheight="500">
    <div class="repeater-header">
      <div class="repeater-header-left">
        <div class="repeater-search">
          <div class="search disabled input-group">
            <input type="search" class="form-control input-sm" placeholder="Search">
            <span class="input-group-btn">
              <button class="btn btn-default btn-sm" type="button">
                  <span class="glyphicon glyphicon-search"></span>
                  <span class="sr-only">Search</span>
              </button>
          </span>
          </div>
        </div>
      </div>
      <div class="repeater-header-right">
        <button type="button" class="btn btn-success btn-m" data-toggle="modal" data-target="#contactModal">
          <span class="glyphicon glyphicon-plus"></span> {{lbl_add}}
        </button>
      </div>
    </div>
    <div class="repeater-viewport">
      <div class="repeater-canvas"></div>
      <div class="loader repeater-loader"></div>
    </div>
    <div class="repeater-footer">
      <div class="repeater-footer-left">
        <div class="repeater-itemization">
          <span><span class="repeater-start"></span> {{to}} <span class="repeater-end"></span> {{of}} <span class="repeater-count"></span> {{items}}</span>
          <div class="btn-group selectlist dropup" data-resize="auto">
            <button type="button" class="btn btn-default btn-sm dropdown-toggle" data-toggle="dropdown">
              <span class="selected-label">?</span>
              <span class="caret"></span>
              <span class="sr-only">Toggle Dropdown</span>
            </button>
            <ul class="dropdown-menu" role="menu">
              <li data-value="10" data-selected="true"><a href="#">10</a></li>
              <li data-value="25"><a href="#">25</a></li>
              <li data-value="50"><a href="#">50</a></li>
            </ul>
            <input class="hidden hidden-field" name="itemsPerPage" readonly="readonly" aria-hidden="true" type="text">
          </div>
          <span>{{per_page}}</span>
        </div>
      </div>
      <div class="repeater-footer-right">
        <div class="repeater-pagination">
          <button type="button" class="btn btn-default btn-sm repeater-prev">
            <span class="glyphicon glyphicon-chevron-left"></span>
            <span class="sr-only">Previous Page</span>
          </button>
          <label class="page-label" id="myPageLabel"></label>
          <div class="repeater-primaryPaging active">
            <div class="input-group input-append dropdown combobox dropup">
              <input type="text" class="form-control input-sm" aria-labelledby="myPageLabel">
              <div class="input-group-btn">
                <button type="button" class="btn btn-default btn-sm dropdown-toggle" data-toggle="dropdown">
                  <span class="caret"></span>
                  <span class="sr-only">Toggle Dropdown</span>
                </button>
                <ul class="dropdown-menu dropdown-menu-right"></ul>
              </div>
            </div>
          </div>
          <input type="text" class="form-control input-sm repeater-secondaryPaging" aria-labelledby="myPageLabel">
          <button type="button" class="btn btn-default btn-sm repeater-next">
            <span class="glyphicon glyphicon-chevron-right"></span>
            <span class="sr-only">Next Page</span>
          </button>
        </div>
      </div>
    </div>
  </div>

</div>



<!-- Contact Modal -->
<div class="modal fade" id="contactModal" tabindex="-1" role="dialog" aria-labelledby="contactModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="contactModalLabel">{{lbl_addContact}}</h4>
      </div>
      <div class="modal-body">


        <form action="#" id="contacts-form">
        <div><label for="title">{{lbl_title}}:</label>
          <input class="form-control" name="title" class="large ltr" id="title" value="{{title}}" type="text" />
        </div>

        <div><label for="name">{{lbl_name}}:</label>
          <input class="form-control" name="name" class="large ltr" id="name" value="{{name}}" type="text" />
        </div>

        <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">

          <div class="panel panel-default">
            <div class="panel-heading" role="tab" id="headingTel">
              <h4 class="panel-title">
                <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseTel" aria-expanded="true" aria-controls="collapseTel">
                  {{lbl_tel}}
                </a>
              </h4>
            </div>
            <div id="collapseTel" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingOne">
              <div class="panel-body">
                <table>
                  <tr>
                    <td>{{lbl_home}}:</td>
                    <td><input type="text" class="form-control" name="tel_home" id="tel_home" value="{{tel_home}}"></td>
                  </tr>
                  <tr>
                    <td>{{lbl_work}}:</td>
                    <td><input type="text" class="form-control" name="tel_work" id="tel_work" value="{{tel_work}}"></td>
                  </tr>
                  <tr>
                    <td>{{lbl_other}}:</td>
                    <td><input type="text" class="form-control" name="tel_other" id="tel_other" value="{{tel_other}}"></td>
                  </tr>
                </table>
              </div>
            </div>
          </div>

          <div class="panel panel-default">
            <div class="panel-heading" role="tab" id="headingFax">
              <h4 class="panel-title">
                <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseFax" aria-expanded="false" aria-controls="collapseFax">
                  {{lbl_fax}}
                </a>
              </h4>
            </div>
            <div id="collapseFax" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingOne">
              <div class="panel-body">
                <table>
                  <tr>
                    <td>{{lbl_home}}:</td>
                    <td><input type="text" class="form-control" name="fax_home" id="fax_home" value="{{fax_home}}"></td>
                  </tr>
                  <tr>
                    <td>{{lbl_work}}:</td>
                    <td><input type="text" class="form-control" name="fax_work" id="fax_work" value="{{fax_work}}"></td>
                  </tr>
                  <tr>
                    <td>{{lbl_other}}:</td>
                    <td><input type="text" class="form-control" name="fax_other" id="fax_other" value="{{fax_other}}"></td>
                  </tr>
                </table>
              </div>
            </div>
          </div>

          <div class="panel panel-default">
            <div class="panel-heading" role="tab" id="headingMobile">
              <h4 class="panel-title">
                <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseMobile" aria-expanded="false" aria-controls="collapseMobile">
                  {{lbl_mobile}}
                </a>
              </h4>
            </div>
            <div id="collapseMobile" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingOne">
              <div class="panel-body">
                <table>
                  <tr>
                    <td>{{lbl_home}}:</td>
                    <td><input type="text" class="form-control" name="mobile_home" id="mobile_home" value="{{mobile_home}}"></td>
                  </tr>
                  <tr>
                    <td>{{lbl_work}}:</td>
                    <td><input type="text" class="form-control" name="mobile_work" id="mobile_work" value="{{mobile_work}}"></td>
                  </tr>
                  <tr>
                    <td>{{lbl_other}}:</td>
                    <td><input type="text" class="form-control" name="mobile_other" id="mobile_other" value="{{mobile_other}}"></td>
                  </tr>
                </table>
              </div>
            </div>
          </div>

          <div class="panel panel-default">
            <div class="panel-heading" role="tab" id="headingURL">
              <h4 class="panel-title">
                <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseURL" aria-expanded="false" aria-controls="collapseURL">
                  {{lbl_url}}
                </a>
              </h4>
            </div>
            <div id="collapseURL" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingOne">
              <div class="panel-body">
                <table>
                  <tr>
                    <td>{{lbl_home}}:</td>
                    <td><input type="text" class="form-control" name="url_home" id="url_home" value="{{url_home}}"></td>
                  </tr>
                  <tr>
                    <td>{{lbl_work}}:</td>
                    <td><input type="text" class="form-control" name="url_work" id="url_work" value="{{url_work}}"></td>
                  </tr>
                  <tr>
                    <td>{{lbl_other}}:</td>
                    <td><input type="text" class="form-control" name="url_other" id="url_other" value="{{url_other}}"></td>
                  </tr>
                </table>
              </div>
            </div>
          </div>

          <div class="panel panel-default">
            <div class="panel-heading" role="tab" id="headingEmail">
              <h4 class="panel-title">
                <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseEmail" aria-expanded="false" aria-controls="collapseEmail">
                  {{lbl_email}}
                </a>
              </h4>
            </div>
            <div id="collapseEmail" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingOne">
              <div class="panel-body">
                <table>
                  <tr>
                    <td>{{lbl_home}}:</td>
                    <td><input type="text" class="form-control" name="email_home" id="email_home" value="{{email_home}}"></td>
                  </tr>
                  <tr>
                    <td>{{lbl_work}}:</td>
                    <td><input type="text" class="form-control" name="email_work" id="email_work" value="{{email_work}}"></td>
                  </tr>
                  <tr>
                    <td>{{lbl_other}}:</td>
                    <td><input type="text" class="form-control" name="email_other" id="email_other" value="{{email_other}}"></td>
                  </tr>
                </table>
              </div>
            </div>
          </div>

          <div class="panel panel-default">
            <div class="panel-heading" role="tab" id="headingAddress">
              <h4 class="panel-title">
                <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseAddress"
                   aria-expanded="false" aria-controls="collapseAddress">
                  {{lbl_address}}
                </a>
              </h4>
            </div>
            <div id="collapseAddress" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingOne">
              <div class="panel-body">
                <table>
                  <tr>
                    <td>{{lbl_home}}:</td>
                    <td>

                      <div><label for="province_home">{{lbl_province}}:</label>
                        <select name="province_home" id="province_home" class="form-control"
                                onchange="javascript:changeProvince(this.value, 'city_home');">
                          <!-- BEGIN province_home -->
                          <option value="{{value}}" {{selected}}>{{title}}</option>
                          <!-- END province_home -->
                        </select>
                      </div>

                      <div><label for="city_home">{{lbl_city}}:</label>
                        <select name="city_home" id="city_home" class="form-control">
                          <!-- BEGIN city_home -->
                          <option value="{{value}}" {{selected}}>{{title}}</option>
                          <!-- END city_home -->
                        </select>
                      </div>

                      <div><label for="address_home">{{lbl_address}}:</label>
                        <textarea class="form-control address" name="address_home"  id="address_home"
                                  cols="45" rows="4">{{address_home}}</textarea>
                      </div>

                      <div><label for="postal_code_home">{{lbl_postal_code}}:</label>
                        <input type="text" id="postal_code_home" name="postal_code_home"
                               class="form-control" value="{{postal_code_home}}">
                      </div>

                    </td>
                  </tr>

                  <tr>
                    <td>{{lbl_work}}:</td>
                    <td>

                      <div><label for="province_work">{{lbl_province}}:</label>
                        <select name="province_work" id="province_work" class="form-control"
                                onchange="javascript:changeProvince(this.value, 'city_work');">
                          <!-- BEGIN province_work -->
                          <option value="{{value}}" {{selected}}>{{title}}</option>
                          <!-- END province_work -->
                        </select>
                      </div>

                      <div><label for="city_work">{{lbl_city}}:</label>
                        <select name="city_work" id="city_work" class="form-control">
                          <!-- BEGIN city_work -->
                          <option value="{{value}}" {{selected}}>{{title}}</option>
                          <!-- END city_work -->
                        </select>
                      </div>

                      <div><label for="address_work">{{lbl_address}}:</label>
                        <textarea class="form-control address" name="address_work"  id="address_work"
                                  cols="45" rows="4">{{address_work}}</textarea>
                      </div>

                      <div><label for="postal_code_work">{{lbl_postal_code}}:</label>
                        <input type="text" id="postal_code_work" name="postal_code_work"
                               class="form-control" value="{{postal_code_work}}">
                      </div>

                    </td>
                  </tr>

                  <tr>
                    <td>{{lbl_other}}:</td>
                    <td>

                      <div><label for="province_other">{{lbl_province}}:</label>
                        <select name="province_other" id="province_other" class="form-control"
                                onchange="javascript:changeProvince(this.value, 'city_other');">
                          <!-- BEGIN province_other -->
                          <option value="{{value}}" {{selected}}>{{title}}</option>
                          <!-- END province_other -->
                        </select>
                      </div>

                      <div><label for="city_other">{{lbl_city}}:</label>
                        <select name="city_other" id="city_other" class="form-control">
                          <!-- BEGIN city_other -->
                          <option value="{{value}}" {{selected}}>{{title}}</option>
                          <!-- END city_other -->
                        </select>
                      </div>

                      <div><label for="address_other">{{lbl_address}}:</label>
                        <textarea class="form-control address" name="address_other"  id="address_other"
                                  cols="45" rows="4">{{address_other}}</textarea>
                      </div>

                      <div><label for="postal_code_other">{{lbl_postal_code}}:</label>
                        <input type="text" id="postal_code_other" name="postal_code_other"
                               class="form-control" value="{{postal_code_other}}">
                      </div>

                    </td>
                  </tr>
                </table>
              </div>
            </div>
          </div>

        </div>

        <div><label for="note">{{lbl_note}}:</label>
          <textarea class="form-control" name="note" class="large note" id="note" cols="45" rows="2">{{note}}</textarea>
        </div>

        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" onclick="javascript:stopAction()">{{lbl_cancel}}</button>
        <button type="button" class="btn btn-primary" onclick="javascript:saveContact()">{{lbl_save}}</button>
      </div>
    </div>
  </div>
</div>
<div class="gadget_footer"></div>

<script type="text/javascript">
  var currentAction = "UserContacts";
    var confirmDelete = "{{confirmDelete}}";
    var lbl_addContact = "{{lbl_addContact}}";
    var lbl_editContact = "{{lbl_editContact}}";
    var selectedContact = 0;

    // Define the data to be displayed in the repeater.
    function contactsDataSource(options, callback) {

        // define the columns for the grid
        var columns = [
            {
                'label': '{{lbl_title}}',      // column header label
                'property': 'title',   // the JSON property you are binding to
                'sortable': true      // is the column sortable?
            }
        ];

        // set options
        var pageIndex = options.pageIndex;
        var pageSize = options.pageSize;
        var options = {
            'pageIndex': pageIndex,
            'pageSize': pageSize,
            'sortDirection': options.sortDirection,
            'sortBy': options.sortProperty,
            'filterBy': options.filter.value || '',
            'searchBy': options.search || ''
        };

        var rows = UsersAjax.callSync('GetContacts', options);

        var items = rows.records;
        var totalItems = rows.total;
        var totalPages = Math.ceil(totalItems / pageSize);
        var startIndex = (pageIndex * pageSize) + 1;
        var endIndex = (startIndex + pageSize) - 1;

        if(endIndex > items.length) {
            endIndex = items.length;
        }

        // configure datasource
        var dataSource = {
            'page':    pageIndex,
            'pages':   totalPages,
            'count':   totalItems,
            'start':   startIndex,
            'end':     endIndex,
            'columns': columns,
            'items':   items
        };

        // pass the datasource back to the repeater
        callback(dataSource);
    }


    var list_actions = {
        width: 50,
        items: [
            {
                name: 'edit',
                html: '<span class="glyphicon glyphicon-pencil"></span> {{lbl_edit}}',
                clickAction: function (helpers, callback, e) {
                    e.preventDefault();
                    editContact(helpers.rowData.id);
                    callback();
                }

            },
            {
                name: 'delete',
                html: '<span class="glyphicon glyphicon-trash"></span> {{lbl_delete}}',
                clickAction: function (helpers, callback, e) {
                    e.preventDefault();

                    // detect multi select
                    var ids = new Array();
                    if (helpers.length > 1) {
                        helpers.forEach(function(entry) {
                            ids.push(entry.rowData.id);
                        });

                    } else {
                        ids.push(helpers.rowData.id);
                    }

                    deleteContacts(ids);
                    callback();
                }
            }
        ]
    };

    $(document).ready(function () {
        // initialize the repeater
        var repeater = $('#contractsGrid');
        repeater.repeater({
            // setup your custom datasource to handle data retrieval;
            // responsible for any paging, sorting, filtering, searching logic
            dataSource: contactsDataSource,
            staticHeight: 600,
            list_actions: list_actions,
            list_selectable: 'multi'
        });

        $('#contactModal').on('hidden.bs.modal', function (e) {
            stopAction();
        })
    });
</script>

<!-- END contacts -->