<!-- BEGIN contact -->
<div class="gadget_header">
  <div class="gadget_title"><h2>{{gadget_title}}</h2></div>
  <div class="gadget_menubar">{{menubar}}</div>
  <div class="gadget_submenubar">{{submenubar}}</div>
</div>
<div class="gadget_container">
  <div class="gadget_response">
    <div id="users_contacts_response" class="alert {{response_type}}" role="alert">{{response_text}}</div>
  </div>
  <form name="contacts" action="{{base_script}}" method="post" onsubmit="return updateContact();">
  <input type="hidden" name="gadget" value="Users" />
  <input type="hidden" name="action" value="UpdateContact" />
  <div class="gadget_content content">
    <div class="user_avatar">{{avatar}}</div>

    <fieldset>
      <div><label for="title">{{lbl_title}}:</label>
        <input class="form-control" name="title" class="large ltr" id="title" value="{{title}}" type="text" />
      </div>

      <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">

        <div class="panel panel-default">
          <div class="panel-heading" role="tab" id="headingTel">
            <h4 class="panel-title">
              <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseTel" aria-expanded="true" aria-controls="collapseTel">
                {{lbl_tel}}
              </a>
            </h4>
          </div>
          <div id="collapseTel" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingOne">
            <div class="panel-body">
              <table>
                <tr>
                  <td>{{lbl_home}}:</td>
                  <td><input type="text" class="form-control" name="tel_home" id="tel_home" value="{{tel_home}}"></td>
                </tr>
                <tr>
                  <td>{{lbl_work}}:</td>
                  <td><input type="text" class="form-control" name="tel_work" id="tel_work" value="{{tel_work}}"></td>
                </tr>
                <tr>
                  <td>{{lbl_other}}:</td>
                  <td><input type="text" class="form-control" name="tel_other" id="tel_other" value="{{tel_other}}"></td>
                </tr>
              </table>
            </div>
          </div>
        </div>

        <div class="panel panel-default">
          <div class="panel-heading" role="tab" id="headingFax">
            <h4 class="panel-title">
              <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseFax" aria-expanded="false" aria-controls="collapseFax">
                {{lbl_fax}}
              </a>
            </h4>
          </div>
          <div id="collapseFax" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingOne">
            <div class="panel-body">
              <table>
                <tr>
                  <td>{{lbl_home}}:</td>
                  <td><input type="text" class="form-control" name="fax_home" id="fax_home" value="{{fax_home}}"></td>
                </tr>
                <tr>
                  <td>{{lbl_work}}:</td>
                  <td><input type="text" class="form-control" name="fax_work" id="fax_work" value="{{fax_work}}"></td>
                </tr>
                <tr>
                  <td>{{lbl_other}}:</td>
                  <td><input type="text" class="form-control" name="fax_other" id="fax_other" value="{{fax_other}}"></td>
                </tr>
              </table>
            </div>
          </div>
        </div>

        <div class="panel panel-default">
          <div class="panel-heading" role="tab" id="headingMobile">
            <h4 class="panel-title">
              <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseMobile" aria-expanded="false" aria-controls="collapseMobile">
                {{lbl_mobile}}
              </a>
            </h4>
          </div>
          <div id="collapseMobile" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingOne">
            <div class="panel-body">
              <table>
                <tr>
                  <td>{{lbl_home}}:</td>
                  <td><input type="text" class="form-control" name="mobile_home" id="mobile_home" value="{{mobile_home}}"></td>
                </tr>
                <tr>
                  <td>{{lbl_work}}:</td>
                  <td><input type="text" class="form-control" name="mobile_work" id="mobile_work" value="{{mobile_work}}"></td>
                </tr>
                <tr>
                  <td>{{lbl_other}}:</td>
                  <td><input type="text" class="form-control" name="mobile_other" id="mobile_other" value="{{mobile_other}}"></td>
                </tr>
              </table>
            </div>
          </div>
        </div>

        <div class="panel panel-default">
          <div class="panel-heading" role="tab" id="headingURL">
            <h4 class="panel-title">
              <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseURL" aria-expanded="false" aria-controls="collapseURL">
                {{lbl_url}}
              </a>
            </h4>
          </div>
          <div id="collapseURL" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingOne">
            <div class="panel-body">
              <table>
                <tr>
                  <td>{{lbl_home}}:</td>
                  <td><input type="text" class="form-control" name="url_home" id="url_home" value="{{url_home}}"></td>
                </tr>
                <tr>
                  <td>{{lbl_work}}:</td>
                  <td><input type="text" class="form-control" name="url_work" id="url_work" value="{{url_work}}"></td>
                </tr>
                <tr>
                  <td>{{lbl_other}}:</td>
                  <td><input type="text" class="form-control" name="url_other" id="url_other" value="{{url_other}}"></td>
                </tr>
              </table>
            </div>
          </div>
        </div>

      </div>


      <div><label for="province">{{lbl_province}}:</label>
        <select name="province" id="province" class="form-control" onchange="javascript:changeProvince(this.value);">
          <!-- BEGIN province -->
          <option value="{{value}}" {{selected}}>{{title}}</option>
          <!-- END province -->
        </select>
      </div>

      <div><label for="city">{{lbl_city}}:</label>
        <select name="city" id="city" class="form-control">
          <!-- BEGIN city -->
          <option value="{{value}}" {{selected}}>{{title}}</option>
          <!-- END city -->
        </select>
      </div>

      <div><label for="address">{{lbl_address}}:</label>
        <textarea class="form-control" name="address" class="large address" id="address" cols="45" rows="4">{{address}}</textarea>
      </div>

      <div><label for="postal_code">{{lbl_postal_code}}:</label>
        <input type="text" id="postal_code" name="postal_code" class="form-control" value="{{postal_code}}">
      </div>

      <div><label for="note">{{lbl_note}}:</label>
        <textarea class="form-control" name="note" class="large note" id="note" cols="45" rows="4">{{note}}</textarea>
      </div>

    </fieldset>
  </div>
  <div class="gadget_actions actions"><button class="btn btn-primary" type="submit" value="{{update}}">{{update}}</button></div>
  </form>
</div>
<div class="gadget_footer"></div>
<!-- END contact -->