<!-- BEGIN contact -->
<div class="gadget_header">
  <div class="row">
    <div class="col-xs-9"><h3>{{title}}</h3></div>
    <div class="col-xs-3"><!-- INCLUDE MenuNavigation.html include/Jaws/Resources --></div>
  </div>
</div>
<div class="gadget_container">
  <div class="gadget_response">
    <div id="users_contact_response" class="alert {{response_type}}" role="alert">{{response_text}}</div>
  </div>
  <form name="contacts" action="{{base_script}}" method="post" onsubmit="return updateContact();">
    <input type="hidden" name="reqGadget" value="Users" />
    <input type="hidden" name="reqAction" value="UpdateContact" />
    <div class="gadget_content">
      <div class="user_avatar">{{avatar}}</div>
      <!-- INCLUDE ContactTemplate.html gadgets/Users/Templates -->
    </div>
    <div class="gadget_actions">
      <button class="btn btn-primary" type="submit" value="{{update}}">{{update}}</button>
    </div>
  </form>
</div>
<div class="gadget_footer"></div>
<!-- END contact -->