<!-- BEGIN contact -->
<div class="gadget_header">
  <div class="gadget_title">
    <!-- INCLUDE MenuNavigation.html include/Jaws/Resources -->
    <h2>{{gadget_title}}</h2>
  </div>
</div>
<div class="gadget_container">
  <div class="gadget_response">
    <div id="users_contact_response" class="alert {{response_type}}" role="alert">{{response_text}}</div>
  </div>
  <form name="contacts" action="{{base_script}}" method="post" onsubmit="return updateContact();">
    <input type="hidden" name="gadget" value="Users" />
    <input type="hidden" name="action" value="UpdateContact" />
    <div class="gadget_content">
      <div class="user_avatar">{{avatar}}</div>
      <!-- INCLUDE ContactTemplate.html gadgets/Users/Templates -->
    </div>
    <div class="gadget_actions">
      <button class="btn btn-primary" type="submit" value="{{update}}">{{update}}</button>
    </div>
  </form>
</div>
<div class="gadget_footer"></div>
<!-- END contact -->