<!-- BEGIN forgot -->
<div class="gadget_header"><h3>{title}</h3></div>
<div class="gadget_container">
  <div class="gadget_response"><div class="{type}">{text}</div></div>
  <form name="forgotBox" action="{base_script}" method="post">
  <input type="hidden" name="gadget" value="Users" />
  <input type="hidden" name="action" value="SendRecoverKey" />
  <div class="gadget_content content">
    <fieldset>
      <p>{info}</p>
      <div><label for="forgot_email">{email}:</label>
         <input name="email" class="large email ltr" id="forgot_email" type="text" value="" />
      </div>
      <!-- INCLUDE Captcha.html gadgets/Policy/Templates -->
    </fieldset>
  </div>
  <div class="gadget_actions actions"><button type="submit" value="{remember}">{remember}</button></div>
  </form>
</div>
<div class="gadget_footer"></div>
<!-- END forgot -->