<!-- BEGIN forgot -->
<div class="gadget_header"><div class="gadget_title"><h3>{{title}}</h3></div></div>
<div class="gadget_container">
  <div class="gadget_response">
    <div class="alert {{response_type}}" role="alert">{{response_text}}</div>
  </div>
  <form name="forgotBox" action="{{base_script}}" method="post">
  <input class="form-control" type="hidden" name="gadget" value="Users" />
  <input class="form-control" type="hidden" name="action" value="SendRecoverKey" />
  <div class="gadget_content content">
    <fieldset>
      <p>{{info}}</p>
      <div><label for="forgot_email">{{email}}:</label>
         <input class="form-control" name="email" class="large email ltr" id="forgot_email" type="text" value="" required />
      </div>
      <!-- INCLUDE Captcha.html gadgets/Policy/Templates -->
    </fieldset>
  </div>
  <div class="gadget_actions actions"><button class="btn btn-primary" type="submit" value="{{remember}}">{{remember}}</button></div>
  </form>
</div>
<div class="gadget_footer"></div>
<!-- END forgot -->