<!-- BEGIN groups -->
<div class="gadget_header">
  <div class="gadget_title">
    <!-- INCLUDE MenuNavigation.html include/Jaws/Resources -->
    <h2>{{title}}</h2>
  </div>
</div>
<div class="gadget_container">
  <div class="gadget_response">
    <div id="users_friendsgroups_response" class="alert {{response_type}}" role="alert">{{response_text}}</div>
  </div>

    <div class="repeater" id="friendsGrid" data-staticheight="500">
        <div class="repeater-header">
            <div class="repeater-header-left">
                <div class="repeater-search">
                    <div class="search disabled input-group">
                        <input type="search" class="form-control input-sm" placeholder="Search">
                        <span class="input-group-btn">
              <button class="btn btn-default btn-sm" type="button">
                  <span class="glyphicon glyphicon-search"></span>
                  <span class="sr-only">Search</span>
              </button>
          </span>
                    </div>
                </div>
            </div>
            <div class="repeater-header-right">
                <button type="button" class="btn btn-success btn-m" data-toggle="modal" data-target="#friendModal">
                    <span class="glyphicon glyphicon-plus"></span> {{lbl_add}}
                </button>
            </div>
        </div>
        <div class="repeater-viewport">
            <div class="repeater-canvas"></div>
            <div class="loader repeater-loader"></div>
        </div>
        <div class="repeater-footer">
            <div class="repeater-footer-left">
                <div class="repeater-itemization">
                    <span><span class="repeater-start"></span> {{lbl_to}} <span class="repeater-end"></span> {{lbl_of}} <span class="repeater-count"></span> {{lbl_items}}</span>
                    <div class="btn-group selectlist dropup" data-resize="auto">
                        <button type="button" class="btn btn-default btn-sm dropdown-toggle" data-toggle="dropdown">
                            <span class="selected-label">?</span>
                            <span class="caret"></span>
                            <span class="sr-only">Toggle Dropdown</span>
                        </button>
                        <ul class="dropdown-menu" role="menu">
                            <li data-value="10" data-selected="true"><a href="#">10</a></li>
                            <li data-value="25"><a href="#">25</a></li>
                            <li data-value="50"><a href="#">50</a></li>
                        </ul>
                        <input class="hidden hidden-field" name="itemsPerPage" readonly="readonly" aria-hidden="true" type="text">
                    </div>
                    <span>{{lbl_per_page}}</span>
                </div>
            </div>
            <div class="repeater-footer-right">
                <div class="repeater-pagination">
                    <button type="button" class="btn btn-default btn-sm repeater-prev">
                        <span class="glyphicon glyphicon-chevron-left"></span>
                        <span class="sr-only">Previous Page</span>
                    </button>
                    <label class="page-label" id="myPageLabel"></label>
                    <div class="repeater-primaryPaging active">
                        <div class="input-group input-append dropdown combobox dropup">
                            <input type="text" class="form-control input-sm" aria-labelledby="myPageLabel">
                            <div class="input-group-btn">
                                <button type="button" class="btn btn-default btn-sm dropdown-toggle" data-toggle="dropdown">
                                    <span class="caret"></span>
                                    <span class="sr-only">Toggle Dropdown</span>
                                </button>
                                <ul class="dropdown-menu dropdown-menu-right"></ul>
                            </div>
                        </div>
                    </div>
                    <input type="text" class="form-control input-sm repeater-secondaryPaging" aria-labelledby="myPageLabel">
                    <button type="button" class="btn btn-default btn-sm repeater-next">
                        <span class="glyphicon glyphicon-chevron-right"></span>
                        <span class="sr-only">Next Page</span>
                    </button>
                </div>
            </div>
        </div>
    </div>

    <!-- Friend Modal -->
    <div class="modal fade" id="friendModal" tabindex="-1" role="dialog" aria-labelledby="friendModalLabel">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="friendModalLabel">{{lbl_addFriend}}</h4>
                </div>
                <div class="modal-body">

                    <form name="friends" id="friends-form" action="#">
                        <div class="gadget_content content">
                            <fieldset>
                                <div><label for="name">{{lbl_name}}:</label>
                                    <input class="form-control" name="name" id="name" value="{{name}}" type="text"/>
                                </div>
                                <div><label for="title">{{lbl_title}}:</label>
                                    <input class="form-control" name="title" id="title" value="{{group_title}}" type="text"/>
                                </div>
                                <div><label for="description">{{lbl_description}}:</label>
                                    <textarea class="form-control" name="description" id="description" cols="45" rows="4">{{description}}</textarea>
                                </div>
                            </fieldset>
                        </div>
                    </form>

                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">{{lbl_cancel}}</button>
                    <button type="button" class="btn btn-primary" onclick="javascript:saveFriendGroup()">{{lbl_save}}</button>
                </div>
            </div>
        </div>
    </div>

    <!-- Friend Members Modal -->
    <div class="modal fade" id="friendMembersModal" tabindex="-1" role="dialog" aria-labelledby="friendMembersModalLabel">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                            aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="friendMembersModalLabel">{{addUser_title}}</h4>
                </div>
                <div class="modal-body">
                    <div style="padding: 10px; font-size: 11px; line-height: 150%;">

                        <form action="#" name="friends-users-form" id="friends-users-form">
                            <table class="table">
                                <tbody>
                                <!-- BEGIN user -->
                                <tr>
                                    <td>
                                        <label class="form-check-label" for="user_{{id}}">
                                            <input class="form-check-input" name="group_users[]" id="user_{{id}}" value="{{id}}" type="checkbox">
                                            {{title}}
                                        </label>
                                    </td>
                                </tr>
                                <!-- END user -->
                                </tbody>
                            </table>
                        </form>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal" onclick="javascript:stopAction()">
                        {{lbl_cancel}}
                    </button>
                    <button type="button" class="btn btn-primary" onclick="javascript:saveFriendMembers()">{{lbl_save}}</button>
                </div>
            </div>
        </div>
    </div>

</div>

<div class="gadget_footer"></div>
<!-- END groups -->