<!-- BEGIN NotificationRecovery -->
{{nickname}},

{{message}}

{{lbl_username}}: {{username}}
{{lbl_mobile}}: {{mobile}}
{{lbl_key}}: {{key}}
{{lbl_ip}}: {{ip}}

{{thanks}},
-------------------
{{site-name}}
{{site-url}}
<!-- END NotificationRecovery -->
<!-- BEGIN NotificationPassword -->
{{nickname}},

{{message}}

{{lbl_username}}: {{username}}
{{lbl_mobile}}: {{mobile}}
{{lbl_password}}: {{password}}
{{lbl_ip}}: {{ip}}

{{thanks}},
-------------------
{{site-name}}
{{site-url}}
<!-- END NotificationPassword -->