<!-- BEGIN forgot -->
<div class="gadget_header">
  <div class="gadget_title"><h2>{{title}}</h2></div>
</div>
<div class="gadget_container">
  <div class="gadget_response">
    <div class="alert {{response_type}}" role="alert">{{response_text}}</div>
  </div>
  <form name="forgotBox" action="{{base_script}}" method="post">
    <input type="hidden" name="gadget" value="Users" />
    <input type="hidden" name="action" value="LoginRecovery" />
    <input type="hidden" name="step" value="{{step}}" />
    <div class="gadget_content content">
      <fieldset>
        <!-- BEGIN email -->
        <p>{{info}}</p>
        <div><label for="forgot_email">{{lbl_email}}:</label>
           <input class="form-control" name="email" class="large email ltr" id="forgot_email" type="text" value="{{email}}" {{disabled}} required />
        </div>
        <!-- INCLUDE Captcha.html gadgets/Policy/Templates -->
        <!-- END email -->
        <!-- BEGIN key -->
        <p>{{info}}</p>
        <div><label for="forgot_key">{{lbl_key}}:</label>
           <input class="form-control" name="key" class="large ltr" id="forgot_key" type="text" value="{{key}}" required />
        </div>
        <!-- INCLUDE Captcha.html gadgets/Policy/Templates -->
        <!-- END key -->
        <!-- BEGIN success -->
        <p>{{info}}</p>
        <!-- END success -->
      </fieldset>
    </div>
    <div class="gadget_actions actions"><button class="btn btn-primary" type="submit" value="{{remember}}">{{remember}}</button></div>
  </form>
</div>
<div class="gadget_footer"></div>
<!-- END forgot -->