<!-- BEGIN LoginBox -->
<div class="gadget_header">
  <div class="gadget_title"><h2>{{title}}</h2></div>
</div>
<div class="gadget_container">
  <div class="gadget_response">
    <div class="alert {{response_type}}" role="alert">{{response_text}}</div>
  </div>
  <form name="loginBox" action="{{base_script}}" onsubmit="return encryptPassword(this);" method="post">
    <input type="hidden" name="gadget" value="Users" />
    <input type="hidden" name="action" value="Authenticate" />
    <input type="hidden" name="referrer" value="{{referrer}}" />
    <div class="gadget_content content">
<!-- BEGIN login_step_1 -->
      <input type="hidden" name="authstep" value="0" />
      <!-- BEGIN encryption -->
      <input type="hidden" name="pubkey" id="pubkey" value="{{pubkey}}" />
      <!-- END encryption -->
      <div>
        <label for="username">{{lbl_username}}:</label>
        <input class="form-control ltr" name="username" id="username"
               type="text"
               value="{{username}}"
               required
        />
      </div>
      <div>
        <label for="password">{{lbl_password}}:</label>
        <input class="form-control ltr" name="password" id="password"
               type="password"
               autocomplete="off"
               value="{{password}}"
               required
        />
      </div>
      <!-- BEGIN authtype -->
      <div>
        <label for="authtype">{{lbl_authtype}}:</label>
        <select class="form-control" name="authtype" id="authtype">
          <!-- BEGIN item -->
          <option value="{{method}}" {{selected}}>{{method}}</option>
          <!-- END item -->
        </select>
      </div>
      <!-- END authtype -->
      <!-- BEGIN remember -->
      <div>
        <label class="form-check-label" for="remember">
        <input class="form-check-input" type="checkbox"
               name="remember"
               id="remember"
               <!-- BEGIN selected -->checked="checked"<!-- END selected -->
               value="true" />
          {{lbl_remember}}
        </label>
      </div>
      <!-- END remember -->
      <!-- BEGIN usecrypt -->
      <div>
        <label class="form-check-label" for="usecrypt">
        <input class="form-check-input" type="checkbox"
               name="usecrypt"
               id="usecrypt"
               <!-- BEGIN selected --> checked="checked"<!-- END selected -->
               value="true" />
          {{lbl_usecrypt}}
        </label>
      </div>
      <!-- END usecrypt -->
<!-- END login_step_1 -->
<!-- BEGIN login_step_2 -->
      <input type="hidden" name="password" value="{{password}}" />
      <input type="hidden" name="usecrypt" value="{{usecrypt}}" />
      <input type="hidden" name="authstep" value="1" />
      <input type="hidden" name="authtype" value="{{authtype}}" />
      <input type="hidden" name="remember" value="{{remember}}" />
      <div>
        <label for="login_username">{{lbl_username}}:</label>
        <input class="form-control ltr" name="username" id="username"
               type="text"
               value="{{username}}"
               required
               readonly
        />
      </div>
      <div>
        <label for="loginkey">{{lbl_loginkey}}:</label>
        <input class="form-control ltr" name="loginkey" id="loginkey"
               type="text"
               autocomplete="off"
               value=""
        />
      </div>
<!-- END login_step_2 -->
      <!-- INCLUDE Captcha.html gadgets/Policy/Templates -->
    </div>
    <div class="gadget_actions actions">
      <button class="btn btn-primary" type="submit" value="{{login}}">{{login}}</button>
      <div>{{forgot-password}}</div>
      <div>{{user-register}}</div>
    </div>
  </form>
</div>
<div class="gadget_footer"></div>
<!-- END LoginBox -->