<div class="gadget-header d-flex align-items-center mb-2">
  <h5 class="m-0 me-2 py-1">
    {{ loginstep | lower | prepend: 'users.login_title_step_' | t }}
  </h5>
</div>
<div class="gadget-container" data-loading-container="users.login">
  <form method="post" onsubmit="return Jaws_Gadget.getInstance('Users').encryptFormSubmit(this, ['password', 'old_password']);">
    <input type="hidden" name="reqGadget" value="Users" />
    <input type="hidden" name="reqAction" value="Authenticate" />
    <input type="hidden" name="referrer" value="{{referrer}}" />
    <input type="hidden" name="loginstep" value="{{ loginstep | downcase }}" />
    <input type="hidden" name="defaults" value="" />
    {%- if pubkey %}
      <input type="hidden" name="pubkey" id="pubkey" value="{{pubkey}}" disabled />
    {%- endif %}
    <div class="gadget-content">
      <div class="row g-2">
        {%- case loginstep %}
          {%- when 'user' %}
            {% include 'LoginStep.User.html' %}

          {%- when 'password' %}
            {% include 'LoginStep.Password.html' %}

          {%- when 'key' %}
            {% include 'LoginStep.Key.html' %}

          {%- when 'expiry' %}
            {% include 'LoginStep.Expiry.html' %}

        {%- endcase %}
      </div>
    </div>
  </form>
</div>
<div class="gadget-footer" hidden></div>