<!-- BEGIN recovery -->
{{nickname}},

{{message}}

{{lbl_username}}: {{username}}
{{lbl_mobile}}: {{mobile}}
<!-- BEGIN key -->
{{lbl_key}}: {{key}}
<!-- END key -->
<!-- BEGIN password -->
{{lbl_password}}: {{password}}
<!-- END password -->
{{lbl_ip}}: {{ip}}

{{thanks}},
-------------------
{{site-name}}
{{site-url}}
<!-- END recovery -->
<!-- BEGIN verification -->
{{nickname}},

{{message}}

{{lbl_username}}: {{username}}
{{lbl_key}}: {{key}}
{{lbl_ip}}: {{ip}}

{{thanks}},
-------------------
{{site-name}}
{{site-url}}
<!-- END verification -->