<!-- BEGIN LoginBox -->
<div class="gadget loginbox">
  <div class="gadget_header"><h3>{title}</h3></div>
  <div class="gadget_container">
  <div class="gadget_response"><div class="{type}">{text}</div></div>
  <form name="loginBox"
        action="{base_script}"
        <!-- BEGIN onsubmit --> onsubmit="return encryptedElement(this.password,
                                                                 this.exponent.value,
                                                                 this.modulus.value,
                                                                 this.elements['usecrypt'].checked);"
        <!-- END onsubmit -->
        method="post">
  <input type="hidden" name="gadget" value="Users" />
  <input type="hidden" name="action" value="Login" />
  <input type="hidden" name="referrer" value="{referrer}" />
  <!-- BEGIN encryption -->
  <input type="hidden" name="modulus" value="{modulus}" />
  <input type="hidden" name="exponent" value="{exponent}" />
  <!-- END encryption -->
  <div class="gadget_content content">
    <p><label for="login_username">{lbl_username}:</label>
       <input name="username" id="login_username" type="text" style="direction: ltr;" value="{username}" />
    </p>
    <p><label for="login_password">{lbl_password}:</label>
       <input name="password" id="login_password" type="password" autocomplete="off" style="direction: ltr;" value="" />
    </p>
    <!-- BEGIN authtype -->
    <p><label for="authtype">{lbl_authtype}:</label>
      <select name="authtype" id="authtype">
      <!-- BEGIN item -->
      <option value="{method}" {selected}>{method}</option>
      <!-- END item -->
      </select>
    </p>
    <!-- END authtype -->
    <!-- INCLUDE Captcha.html gadgets/Policy/Templates -->
    <!-- BEGIN remember -->
    <p><input type="checkbox"
              name="remember"
              id="login_remember"
              <!-- BEGIN selected -->checked="checked"<!-- END selected -->
              value="true" />
       <label for="login_remember">{lbl_remember}</label>
    </p>
    <!-- END remember -->
    <!-- BEGIN usecrypt -->
    <p><input type="checkbox"
              name="usecrypt"
              id="login_usecrypt"
              <!-- BEGIN selected --> checked="checked"<!-- END selected -->
              value="true" />
       <label for="login_usecrypt">{lbl_usecrypt}</label>
    </p>
    <!-- END usecrypt -->
  </div>
  <div class="gadget_actions actions">
    <button type="submit" value="{login}">{login}</button>
    <div>{forgot-password}</div>
    <div>{user-register}</div>
  </div>
  </form>
  </div>
  <div class="gadget_footer"></div>
</div>
<!-- END LoginBox -->