<!-- BEGIN login -->
<div class="gadget-header card-header d-flex align-items-center justify-content-between">
  <h5 class="m-0 me-2 py-1">{{title}}</h5>
</div>
<div class="gadget-container" data-loading-container="users.login">
<!-- BEGIN login_step_1 -->
  <form name="loginBox" method="post"
    onsubmit="return Jaws_Gadget.getInstance('Users').encryptFormSubmit(this, ['password']);" >
    <input type="hidden" name="reqGadget" value="Users" />
    <input type="hidden" name="reqAction" value="Authenticate" />
    <input type="hidden" name="referrer" value="{{referrer}}" />
    <input type="hidden" name="loginstep" value="1" />
    <input type="hidden" name="defaults" value="" />
    <!-- BEGIN encryption -->
    <input type="hidden" name="pubkey" id="pubkey" value="{{pubkey}}" />
    <!-- END encryption -->
    <div class="gadget-content card-body">
      <!-- BEGIN multi_domain -->
      <div>
        <label for="domain">{{lbl_domain}}:</label>
        <select class="form-control" name="domain" id="domain">
          <!-- BEGIN domain -->
          <option value="{{id}}" {{selected}}>{{title}}</option>
          <!-- END domain -->
        </select>
      </div>
      <!-- END multi_domain -->
      <div class="form-group">
        <label for="username">{{lbl_username}}:</label>
        <input class="form-control ltr" name="username" id="username"
               type="text"
               value="{{username}}"
               required
        />
      </div>
      <div class="form-group">
        <label for="password">{{lbl_password}}:</label>
        <div class="input-group">
          <input class="form-control ltr" type="password"
            role="password" name="password" id="password"
            autocomplete="off" data-toggle="password" required
          />
          <span title="Click here to show/hide password" class="input-group-addon" style="cursor: pointer;">
            <i class="glyphicon glyphicon-eye-open"></i>
          </span>
        </div>
      </div>
      <!-- BEGIN remember -->
      <div class="form-check">
        <input type="checkbox" class="form-check-input"
          id="remember" name="remember" value="true"
          <!-- BEGIN selected -->checked="checked"<!-- END selected -->
        />
        <label class="form-check-label" for="remember">{{lbl_remember}}</label>
      </div>
      <!-- END remember -->
      <!-- BEGIN usecrypt -->
      <div class="form-check">
        <input type="checkbox" class="form-check-input"
          id="usecrypt" name="usecrypt" value="true"
          <!-- BEGIN selected -->checked="checked"<!-- END selected -->
        />
        <label class="form-check-label" for="usecrypt">{{lbl_usecrypt}}</label>
      </div>
      <!-- END usecrypt -->
      <!-- INCLUDE Captcha.html gadgets/Policy/Templates -->
    </div>
    <div class="gadget_actions">
      <button class="btn btn-primary" type="submit">{{login}}</button>
      <div>{{forgot-password}}</div>
      <div>{{user-register}}</div>
      <div><a href="{{url_back}}">{{lbl_back}}</a></div>
    </div>
  </form>
<!-- END login_step_1 -->

<!-- BEGIN login_step_2 -->
  <form name="loginBox" action="{{base_script}}" method="post">
    <input type="hidden" name="reqGadget" value="Users" />
    <input type="hidden" name="reqAction" value="Authenticate" />
    <input type="hidden" name="referrer" value="{{referrer}}" />
    <input type="hidden" name="loginstep" value="2" />
    <input type="hidden" name="remember" value="{{remember}}" />
    <div class="gadget-content card-body">
      <div>
        <label for="login_username">{{lbl_username}}:</label>
        <input class="form-control ltr" name="username" id="username"
               type="text"
               value="{{username}}"
               readonly
        />
      </div>
      <div>
        <label for="loginkey">{{lbl_loginkey}}:</label>
        <input class="form-control ltr" name="loginkey" id="loginkey"
               type="text"
               autocomplete="off"
               value=""
        />
      </div>
      <div>
        <br/>
      </div>
      <!-- INCLUDE Captcha.html gadgets/Policy/Templates -->
    </div>
    <div class="gadget_actions">
      <div><button class="btn btn-primary" type="submit" value="{{login}}">{{login}}</button></div>
      <div><a href="{{url_back}}">{{lbl_back}}</a></div>
    </div>
  </form>
<!-- END login_step_2 -->

<!-- BEGIN login_step_3 -->
  <form name="loginBox" action="{{base_script}}" method="post"
    onsubmit="return Jaws_Gadget.getInstance('Users').encryptFormSubmit(this, ['password', 'old_password']);" >
    <input type="hidden" name="reqGadget" value="Users" />
    <input type="hidden" name="reqAction" value="Authenticate" />
    <input type="hidden" name="referrer" value="{{referrer}}" />
    <input type="hidden" name="loginstep" value="3" />
    <input type="hidden" name="remember" value="{{remember}}" />
    <!-- BEGIN encryption -->
    <input type="hidden" name="pubkey" id="pubkey" value="{{pubkey}}" />
    <!-- END encryption -->
    <div class="gadget-content card-body">

      <div class="form-group">
        <label for="username">{{lbl_username}}:</label>
        <input class="form-control ltr" type="text"
          name="username"
          value="{{username}}"
          readonly
        />
      </div>

      <div class="form-group">
        <label for="old_password">{{lbl_old_password}}:</label>
        <div class="input-group">
          <input class="form-control ltr" type="password" name="old_password"
            autocomplete="off" data-toggle="password" required
          />
          <span title="Click here to show/hide password" class="input-group-addon" style="cursor: pointer;">
            <i class="glyphicon glyphicon-eye-open"></i>
          </span>
        </div>
      </div>

      <div class="form-group">
        <label for="password">{{lbl_password}}:</label>
        <div class="input-group">
          <input class="form-control ltr" type="password" name="password"
            autocomplete="off" data-toggle="password" required
          />
          <span title="Click here to show/hide password" class="input-group-addon" style="cursor: pointer;">
            <i class="glyphicon glyphicon-eye-open"></i>
          </span>
        </div>
      </div>

      <!-- BEGIN usecrypt -->
      <div class="form-check">
        <input type="checkbox" class="form-check-input"
          id="usecrypt" name="usecrypt" value="true"
          <!-- BEGIN selected -->checked="checked"<!-- END selected -->
        />
        <label class="form-check-label" for="usecrypt">{{lbl_usecrypt}}</label>
      </div>
      <!-- END usecrypt -->

    </div>
    <div class="gadget_actions">
      <div><button class="btn btn-primary" type="submit">{{login}}</button></div>
      <div><a href="{{url_back}}">{{lbl_back}}</a></div>
    </div>
  </form>
<!-- END login_step_3 -->

</div>
<div class="gadget-footer card-footer" hidden></div>
<!-- END login -->