<!-- BEGIN forgot -->
<div class="gadget-header d-flex align-items-center mb-2">
  <h5 class="m-0 me-2 py-1">{{title}}</h5>
</div>
<div class="gadget-container" data-loading-container="users.loginforgot">
<!-- BEGIN forgot_step_1 -->
  <form name="forgotBox" action="{{base_script}}" method="post">
    <input type="hidden" name="reqGadget" value="Users" />
    <input type="hidden" name="reqAction" value="LoginRecovery" />
    <input type="hidden" name="rcvstep" value="1" />
    <div class="gadget-content">
      <div class="row g-2">
        <!-- BEGIN multi_domain -->
        <div class="col-12 col-md-8 col-lg-6">
          <label for="domain">{{lbl_domain}}:</label>
          <select class="form-control" name="domain" id="domain">
            <!-- BEGIN domain -->
            <option value="{{id}}" {{selected}}>{{title}}</option>
            <!-- END domain -->
          </select>
        </div>
        <div class="w-100 m-0"></div>
        <!-- END multi_domain -->
        <div class="col-12 col-md-8 col-lg-6">
          <div class="input-group">
            <span class="input-group-text min-w-12rem justify-content-center">{{lbl_account}}:</span>
            <span class="input-group-text w-icon px-2">
              <i tabindex="-1" class="fas fa-circle-info align-middle fs-5" data-bs-toggle="tooltip" data-bs-trigger="focus" data-bs-placement="top"
                title="{{lbl_account_hint}}">
              </i>
            </span>
            <input type="text" name="account" class="form-control" value="{{account}}" dir="ltr" required />
          </div>
        </div>
        <div class="w-100 m-0"></div>
        <div class="col-12 col-md-8 col-lg-6">
        <!-- INCLUDE Captcha.html gadgets/Policy/Templates -->
        </div>
        <div class="w-100 m-0"></div>
        <div class="gadget-actions col-12 col-md-8 col-lg-6 text-end mt-3">
          <div class="d-flex justify-content-between">
            <div class="w-100 alert {{response_type}} text-start my-0 py-1 me-2" role="alert">{{response_text}}</div>
            <button class="btn btn-primary text-nowrap" type="submit">{{recovery}}</button>
          </div>
          <a class="d-block text-decoration-none mt-1"href="{{url_back}}">{{lbl_back}}</a>
        </div>
      </div>
    </div>
  </form>
<!-- END forgot_step_1 -->

<!-- BEGIN forgot_step_2 -->
  <form name="forgotBox" action="{{base_script}}" method="post">
    <input type="hidden" name="reqGadget" value="Users" />
    <input type="hidden" name="reqAction" value="LoginRecovery" />
    <input type="hidden" name="rcvstep" value="2" />
    <div class="gadget-content">
      <div class="row g-2">
        <div class="col-12 col-md-8 col-lg-6">
          <div class="input-group">
            <span class="input-group-text min-w-12rem justify-content-center">{{lbl_account}}:</span>
            <input type="text" class="form-control bg-body-secondary" name="account" value="{{account}}" dir="ltr" required readonly />
          </div>
        </div>
        <div class="w-100 m-0"></div>
        <div class="col-12 col-md-8 col-lg-6">
          <div class="input-group">
            <span class="input-group-text min-w-12rem justify-content-center">{{lbl_key}}:</span>
            <input type="text" class="form-control" name="rcvkey" value="" dir="ltr" autocomplete="off" required />
          </div>
        </div>
        <div class="w-100 m-0"></div>
        <div class="col-12 col-md-8 col-lg-6">
        <!-- INCLUDE Captcha.html gadgets/Policy/Templates -->
        </div>
        <div class="w-100 m-0"></div>
        <div class="gadget-actions col-12 col-md-8 col-lg-6 text-end mt-3">
          <div class="d-flex justify-content-between">
            <div class="w-100 alert {{response_type}} text-start my-0 py-1 me-2" role="alert">{{response_text}}</div>
            <button class="btn btn-primary text-nowrap" type="submit">{{recovery}}</button>
          </div>
          <a class="d-block text-decoration-none mt-1"href="{{url_back}}">{{lbl_back}}</a>
        </div>
      </div>
    </div>
  </form>
<!-- END forgot_step_2 -->

<!-- BEGIN forgot_step_3 -->
  <form name="forgotBox" action="{{base_script}}" method="post"
    onsubmit="return Jaws_Gadget.getInstance('Users').encryptFormSubmit(this, ['password']);">
    <input type="hidden" name="reqGadget" value="Users" />
    <input type="hidden" name="reqAction" value="LoginRecovery" />
    <input type="hidden" name="rcvstep" value="3" />
    <!-- BEGIN encryption -->
    <input type="hidden" name="pubkey" id="pubkey" value="{{pubkey}}" />
    <!-- END encryption -->
    <div class="gadget-content">
      <div class="row g-2">
        <div class="col-12 col-md-8 col-lg-6">
          <div class="input-group">
            <span class="input-group-text min-w-12rem justify-content-center">{{lbl_account}}:</span>
            <input type="text" class="form-control bg-body-secondary" name="account" value="{{account}}" dir="ltr" required readonly />
          </div>
        </div>
        <div class="w-100 m-0"></div>
        <!-- password -->
        <div class="col-12 col-md-8 col-lg-6">
          <div class="input-group">
            <span class="input-group-text min-w-12rem justify-content-center">{{lbl_password}}:</span>
            <input type="password" class="form-control" name="password" dir="ltr"
              autocomplete="off" data-toggle="password" required
            />
            <span title="Click here to show/hide password" class="input-group-text" style="cursor: pointer;">
              <i class="fas fa-eye"></i>
            </span>
          </div>
        </div>
        <div class="w-100 m-0"></div>
        <!-- BEGIN usecrypt -->
        <div class="col-12 col-md-8 col-lg-6">
          <div class="input-group">
            <span class="input-group-text min-w-12rem justify-content-center">{{lbl_usecrypt}}</span>
            <input type="checkbox" name="usecrypt" class="form-check-input fs-2 m-0 rounded align-self-center" value="true"
              <!-- BEGIN selected -->checked="checked"<!-- END selected -->
            />
          </div>
        </div>
        <div class="w-100 m-0"></div>
        <!-- END usecrypt -->
        <div class="gadget-actions col-12 col-md-8 col-lg-6 text-end mt-3">
          <div class="d-flex justify-content-between">
            <div class="w-100 alert {{response_type}} text-start my-0 py-1 me-2" role="alert">{{response_text}}</div>
            <button class="btn btn-primary text-nowrap" type="submit">{{recovery}}</button>
          </div>
          <a class="d-block text-decoration-none mt-1"href="{{url_back}}">{{lbl_back}}</a>
        </div>
      </div>
    </div>
  </form>
<!-- END forgot_step_3 -->

<!-- BEGIN forgot_step_4 -->
  <div class="gadget-content">
    <div class="row g-2">
      <div class="col-12 col-md-8 col-lg-6">
        <div class="alert alert-success" role="alert">{{message}}</div>
      </div>
      <div class="w-100 m-0"></div>
      <div class="gadget-actions col-12 col-md-8 col-lg-6 text-end mt-3">
        <a class="d-block text-decoration-none mt-1"href="{{url_back}}">{{lbl_back}}</a>
      </div>
    </div>
  </div>
<!-- END forgot_step_4 -->
</div>
<div class="gadget-footer" hidden></div>
<!-- END forgot -->