<!-- BEGIN LoginLinks -->
<div class="gadget users loginlinks">
  <div class="gadget_header"><h2>{title}</h2></div>
  <div class="gadget_container">
  <div class="gadget_content content">
    <span>{welcome}</span>
    <ul>
      <li><a href="{login_url}" rel="nofollow">{user_login}</a></li>
      <!-- BEGIN registration -->
      <li><a href="{registeration_url}">{user_registeration}</a></li>
      <!-- END registration -->
      <!-- BEGIN forgot -->
      <li><a href="{forgot_url}">{user_forgot}</a></li>
      <!-- END forgot -->
    </ul>
  </div>
  </div>
  <div class="gadget_footer"></div>
</div>
<!-- END LoginLinks -->
<!-- BEGIN UserLinks -->
<div class="gadget users userlinks">
  <div class="gadget_header"><h2>{title}</h2></div>
  <div class="gadget_container">
  <div class="gadget_content content">
    <span>{welcome}</span>
    <ul>
      <li><a>{username}</a></li>
      <li><a href="{profile_url}">{nickname}</a></li>
      <li><a>{email}</a></li>
      <!-- BEGIN account -->
      <li><a href="{account_url}">{user_account}</a></li>
      <!-- END account -->
      <!-- BEGIN personal -->
      <li><a href="{personal_url}">{user_personal}</a></li>
      <!-- END personal -->
      <!-- BEGIN preferences -->
      <li><a href="{preferences_url}">{user_preferences}</a></li>
      <!-- END preferences -->
      <!-- BEGIN contacts -->
      <li><a href="{contacts_url}">{user_contacts}</a></li>
      <!-- END contacts -->
      <!-- BEGIN groups -->
      <li><a href="{groups_url}">{user_groups}</a></li>
      <!-- END groups -->
      <!-- BEGIN layout -->
      <li><a href="{layout_url}">{layout}</a></li>
      <!-- END layout -->
      <!-- BEGIN dashboard -->
      <li><a href="{dashboard_url}">{dashboard}</a></li>
      <!-- END dashboard -->
      <!-- BEGIN cpanel -->
      <li><strong><a href="{cpanel_url}">{cpanel}</a></strong></li>
      <!-- END cpanel -->
      <li><a href="{logout_url}">{logout}</a></li>
    </ul>
  </div>
  </div>
  <div class="gadget_footer"></div>
</div>
<!-- END UserLinks -->
