<!-- BEGIN OnlineUsers -->
<div class="gadget users">
    <h2>{title}</h2>
    <div class="content">
        <!-- BEGIN users --><div>{username}</div><!-- END users -->
    </div>
</div>
<!-- END OnlineUsers -->

<!-- BEGIN OnlineStatistics -->
<div class="gadget users">
    <h2>{title}</h2>
    <div class="content">
        <div><label>{registered_users_label}</label> : {registered_users}</div>
        <div><label>{guest_users_label}</label> : {guest_users}</div>
    </div>
</div>
<!-- END OnlineStatistics -->

<!-- BEGIN LatestRegisteredUser -->
<div class="gadget users">
    <h2>{title}</h2>
    <div class="content">
        <!-- BEGIN users --><div>{username}</div><!-- END users -->
    </div>
</div>
<!-- END LatestRegisteredUser -->

