<div class="gadget-header d-flex align-items-center justify-content-between mb-2">
  <h5 class="m-0 me-2 py-1">{{ "users.users_password" | t }}</h5>
  {% include 'XMenuNavigation.html' path 'include/Jaws/Resources' with navigation %}
</div>
<div class="gadget-container" data-loading-container="users.password">
  <form name="account" action="{{base_script}}" method="post"
    onsubmit="return Jaws_Gadget.getInstance('Users').encryptFormSubmit(this, ['password', 'old_password']);" >
    <input type="hidden" name="reqGadget" value="Users" />
    <input type="hidden" name="reqAction" value="UpdatePassword" />
    <input type="hidden" name="pubkey" id="pubkey" value="{{pubkey}}" />
    <div class="gadget-content">
      <div class="row">
        <div class="col-12 col-md-3 col-lg-2">
          <img src="{{avatar}}" alt="{{username}}" title="{{nickname}}">
        </div>
        <div class="col-12 col-md-9 col-lg-10">
          <div class="row g-2">
            <div class="col-12 col-lg-6">
              <div class="input-group">
                <span class="input-group-text min-w-12rem justify-content-center">{{ "users.users_username" | t }}</span>
                <input class="form-control" dir="ltr" type="text"
                    name="username"
                    value="{{username}}"
                    readonly
                />
              </div>
            </div>
            <div class="w-100 m-0"></div>
            <div class="col-12 col-lg-6">
                <div class="input-group">
                  <span class="input-group-text min-w-12rem justify-content-center">{{ "users.users_password_old" | t }}:</span>
                    <input class="form-control" type="password" name="old_password" dir="ltr"
                      autocomplete="off" data-toggle="password" required
                    />
                    <span title="Click here to show/hide password" class="input-group-text" style="cursor: pointer;">
                      <i class="fas fa-eye"></i>
                    </span>
                </div>
            </div>
            <div class="col-12 col-lg-6">
                <div class="input-group">
                  <span class="input-group-text min-w-12rem justify-content-center">{{ "users.users_password" | t }}:</span>
                  <input class="form-control" type="password" name="password" dir="ltr"
                    autocomplete="off" data-toggle="password" required
                  />
                  <span title="Click here to show/hide password" class="input-group-text" style="cursor: pointer;">
                    <i class="fas fa-eye"></i>
                  </span>
                </div>
            </div>
            {% if pubkey %}
            <div class="col-12 col-lg-6">
              <div class="input-group">
                <span class="input-group-text min-w-12rem justify-content-center" for="usecrypt">{{ "global.login_secure" | t }}</span>
                <input type="checkbox" class="form-check-input fs-2 m-0 rounded align-self-center"
                    id="usecrypt" name="usecrypt" value="true"
                    {{ usecrypt_selected | equal: true, 'checked="checked"' }}
                />
              </div>
            </div>
            {% endif %}
            <div class="gadget_actions text-end mt-3 w-100">
              <button class="btn btn-primary" type="submit">{{ "global.save" | t }}</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </form>
</div>
<div class="gadget-footer card-footer" hidden></div>
