<!-- BEGIN personal -->
<div class="gadget users personalbox">
  <h2>{title}</h2>
  <!-- BEGIN response --><div class="{type}">{text}</div><!-- END response -->
  <form name="personalbox" action="{base_script}" method="post" enctype="multipart/form-data">
  <input type="hidden" name="gadget" value="Users" />
  <input type="hidden" name="action" value="UpdatePersonal" />
  <div class="content">
    <fieldset>
      <p>
          {avatar}
      </p>

        <p><label for="personal_fname">{lbl_fname}:</label>
        <input name="fname" id="personal_fname" value="{fname}" type="text" />
      </p>
      <p><label for="personal_lname">{lbl_lname}:</label>
        <input name="lname" id="personal_lname" value="{lname}" type="text" />
      </p>
      <p><label for="user_gender">{lbl_gender}:</label>
        <select name="gender" id="user_gender">
          <option value="0" {selected_gender_0}>{gender_0}</option>
          <option value="1" {selected_gender_1}>{gender_1}</option>
          <option value="2" {selected_gender_2}>{gender_2}</option>
        </select>
      </p>
      <p id="user_dob">
        <label for="user_dob_year">{lbl_dob}:</label>
        <input name="dob_year"  id="user_dob_year"  value="{dob_year}"  type="text" />
        <input name="dob_month" id="user_dob_month" value="{dob_month}" type="text" />
        <input name="dob_day"   id="user_dob_day"   value="{dob_day}"   type="text" />
        <span><small>{dob_sample}</small></span>
      </p>
      <p><label for="personal_url">{lbl_url}:</label>
        <input name="url" id="personal_url" value="{url}" type="text" style="direction: ltr;" />
      </p>
        <p>
            <label for="personal_fname">{lbl_uploadavatar}:</label>
            {uploadavatar}
        </p>

        <p>{delete_avatar}</p>

        <p><label for="personal_signature">{lbl_signature}:</label>
            <textarea name="signature" id="personal_signature" cols="45" rows="4">{signature}</textarea>
        </p>

        <p><label for="personal_about">{lbl_about}:</label>
            <textarea name="about" id="personal_about" cols="45" rows="4">{about}</textarea>
        </p>

        <p><label for="personal_about">{lbl_experiences}:</label>
            <textarea name="experiences" id="personal_experiences" cols="45" rows="4">{experiences}</textarea>
        </p>

        <p><label for="personal_about">{lbl_occupations}:</label>
            <textarea name="occupations" id="personal_occupations" cols="45" rows="4">{occupations}</textarea>
        </p>

        <p><label for="personal_interests">{lbl_interests}:</label>
            <textarea name="interests" id="personal_interests" cols="45" rows="4">{interests}</textarea>
        </p>

    </fieldset>
  </div>
  <div class="actions"><button type="submit" value="{update}">{update}</button></div>
  </form>
</div>
<!-- END personal -->