<!-- BEGIN preferences -->
<div class="gadget_header">
  <div class="gadget_title">
    <!-- INCLUDE MenuNavigation.html include/Jaws/Resources -->
    <h2>{{title}}</h2>
  </div>
</div>
<div class="gadget_container">
  <div class="gadget_response">
    <div id="users_preferences_response" class="alert {{response_type}}" role="alert">{{response_text}}</div>
  </div>
  <div class="gadget_content content">
    <!-- BEGIN gadget -->
    <form name="preferencesBox" action="{{base_script}}" method="post" onsubmit="return updatePreferences(this);">
      <input type="hidden" name="gadget" value="Users" />
      <input type="hidden" name="action" value="UpdatePreferences" />
      <input type="hidden" name="component" value="{{component}}" />
      <fieldset>
        <legend class="collapse" onclick="this.className= this.className=='collapse'? 'uncollapse' : 'collapse';">
          <span>{{lbl_component}}</span>
        </legend>
        <div>
          <!-- BEGIN key -->
          <div>
            <label>{{key_title}}:</label>
            <!-- BEGIN select -->
            <select class="{{class}}" name="{{key_name}}" >
              <!-- BEGIN option -->
              <option value="{{value}}" <!-- BEGIN selected --> selected<!-- END selected -->>{{text}}</option>
              <!-- END option -->
            </select>
            <!-- END select -->

            <!-- BEGIN number -->
            <input class="{{class}}" type="number" name="{{key_name}}" value="{{value}}" />
            <!-- END number -->

            <!-- BEGIN checkbox -->
            <input class="{{class}}"
              type="checkbox"
              name="{{key_name}}"
              value="1"
              <!-- BEGIN checked --> checked<!-- END checked -->
            />
            <!-- END checkbox -->

            <!-- BEGIN text -->
            <input class="{{class}}" type="text" name="{{key_name}}" value="{{value}}" />
            <!-- END text -->
          </div>
          <!-- END key -->
          <div class="gadget_actions actions"><button class="btn btn-primary" type="submit" value="{{update}}">{{update}}</button></div>
        </div>
      </fieldset>
    </form>
    <!-- END gadget -->
  </div>
</div>
<div class="gadget_footer"></div>
<!-- END preferences -->