<!-- BEGIN preferences -->
<div class="gadget users preferencesbox">
  <h2>{title}</h2>
  <!-- BEGIN response --><div class="{type}">{text}</div><!-- END response -->
  <form name="preferencesBox" action="{base_script}" method="post">
  <input type="hidden" name="gadget" value="Users" />
  <input type="hidden" name="action" value="UpdatePreferences" />
  <div class="content">
    <fieldset>
      <p><label for="user_language">{language}:</label>{user_language}</p>
      <p><label for="user_theme">{theme}:</label>{user_theme}</p>
      <p><label for="user_editor">{editor}:</label>{user_editor}</p>
      <p><label for="user_timezone">{timezone}:</label>{user_timezone}</p>
    </fieldset>
  </div>
  <div class="actions"><button type="submit" value="{update}">{update}</button></div>
  </form>
</div>
<!-- END preferences -->