<!-- BEGIN profile -->
<div class="gadget users profile">
  <h2>{title}</h2>
  <div class="content">
    <p><img src="{avatar}" alt="{nickname}" /></p>
    <p><label>{lbl_fname}: </label>{fname}</p>
    <p><label>{lbl_lname}: </label>{lname}</p>
    <p><label>{lbl_nickname}: </label>{nickname}</p>
    <p><label>{lbl_gender}: </label>{gender}</p>
    <p><label>{lbl_dob}: </label>{dob}</p>
    <p><label>{lbl_url}: </label>
      <!-- BEGIN website --><a href="{url}" target="_blank" rel="nofollow">{url}</a><!-- END website -->
    </p>
    <hr/>
    <p><label>{lbl_about}: </label><br/>{about}</p>
    <p><label>{lbl_occupation}: </label><br/>{occupation}</p>
    <p><label>{lbl_interests}: </label><br/>{interests}</p>
  </div>
</div>
<!-- END profile -->