<!-- BEGIN profile -->
<div class="gadget_header">
  <div class="row">
    <div class="col-xs-9"><h2>{{title}}</h2></div>
    <div class="col-xs-3"><!-- INCLUDE MenuNavigation.html include/Jaws/Resources --></div>
  </div>
</div>
<div class="gadget_container">
  <div class="gadget_content">
    <div class="row">
      <div class="col-xs-8">
        <dl class="row mb-xs-2">
          <dt class="col-xs-4">{{lbl_username}}:</dt>
          <dd class="col-xs-8">{{username}}</dd>
        </dl>

        <dl class="row mb-xs-2">
          <dt class="col-xs-4">{{lbl_nickname}}:</dt>
          <dd class="col-xs-8">{{nickname}}</dd>
        </dl>

        <dl class="row mb-xs-2">
          <dt class="col-xs-4">{{lbl_registered_date}}:</dt>
          <dd class="col-xs-8">{{registered_date}}</dd>
        </dl>

        <!-- BEGIN public -->
        <fieldset>
          <legend class="mb-xs-2" data-toggle="collapse" data-target="#user_private_profile">
            {{lbl_private}}
          </legend>
          <div class="collapse in" id="user_private_profile">
            <dl class="row mb-xs-2">
              <dt class="col-xs-4">{{lbl_fname}}:</dt>
              <dd class="col-xs-8">{{fname}}</dd>
            </dl>
            <dl class="row mb-xs-2">
              <dt class="col-xs-4">{{lbl_lname}}:</dt>
              <dd class="col-xs-8">{{lname}}</dd>
            </dl>
            <dl class="row mb-xs-2">
              <dt class="col-xs-4">{{lbl_gender}}:</dt>
              <dd class="col-xs-8">{{gender}}</dd>
            </dl>
            <dl class="row mb-xs-2">
              <dt class="col-xs-4">{{lbl_ssn}}:</dt>
              <dd class="col-xs-8">{{ssn}}</dd>
            </dl>
            <dl class="row mb-xs-2">
              <dt class="col-xs-4">{{lbl_dob}}:</dt>
              <dd class="col-xs-8">{{dob}}</dd>
            </dl>
          </div>
        </fieldset>

        <fieldset>
          <legend class="mb-xs-2" data-toggle="collapse" data-target="#user_public_profile">
            {{lbl_public}}
          </legend>
          <div class="collapse in" id="user_public_profile">
            <dl class="row">
              <dt class="col-xs-12">{{lbl_url}}:</dt>
              <dd class="col-xs-12 pt-xs-2">
                <!-- BEGIN website --><a href="{{url}}" target="_blank" rel="nofollow">{{url}}</a><!-- END website -->
              </dd>
            </dl>
            <dl class="row">
              <dt class="col-xs-12">{{lbl_about}}:</dt>
              <dd class="col-xs-12 pt-xs-2">
                {{about}}
              </dd>
            </dl>
            <dl class="row">
              <dt class="col-xs-12">{{lbl_experiences}}:</dt>
              <dd class="col-xs-12 pt-xs-2">
                {{experiences}}
              </dd>
            </dl>
            <dl class="row">
              <dt class="col-xs-12">{{lbl_occupations}}:</dt>
              <dd class="col-xs-12 pt-xs-2">
                {{occupations}}
              </dd>
            </dl>
            <dl class="row">
              <dt class="col-xs-12">{{lbl_interests}}:</dt>
              <dd class="col-xs-12 pt-xs-2">
                {{interests}}
              </dd>
            </dl>
          </div>
        </fieldset>
        <!-- END public -->

        <!-- BEGIN attributes -->
          <!-- BEGIN gadget -->
          <!-- END gadget -->
        <!-- END attributes -->

        <!-- BEGIN activity -->
        <fieldset>
          <legend class="mb-xs-2" data-toggle="collapse" data-target="#user_activities">
            {{lbl_activities}}
          </legend>
          <div class="collapse in" id="user_activities">
            <!-- BEGIN gadget -->
            <dl class="row">
              <dt class="col-xs-12">{{gadget}}:</dt>
              <dd class="col-xs-12 pt-xs-2">
                <ul>
                <!-- BEGIN item -->
                  <li><a href="{{url}}"><!-- BEGIN count -->{{count}} <!-- END count -->{{title}}</a></li>
                <!-- END item -->
                </ul>
              </dd>
            </dl>
            <!-- END gadget -->
            <!-- BEGIN no_activity -->
            <dl class="row">
              <dd class="col-xs-12 pt-xs-2">{{no_activity}}</dd>
            </dl>
            <!-- END no_activity -->
          </div>
        </fieldset>
        <!-- END activity -->

      </div>
      <div class="col-xs-4">
        <img class="user_avatar" src="{{avatar}}" alt="{{username}}" title="{{nickname}}" />
      </div>
    </div>

  </div>
</div>
<div class="gadget_footer"></div>
<!-- END profile -->
