<!-- BEGIN profile -->
<div class="gadget users profile">
  <h2>{title}</h2>
  <div class="content">
    <p><img src="{avatar}" /></p>
    <p><label for="fname">{lbl_fname}: </label>{fname}</p>
    <p><label for="lname">{lbl_lname}: </label>{lname}</p>
    <p><label for="nickname">{lbl_nickname}: </label>{nickname}</p>
    <p><label for="gender">{lbl_gender}: </label>{gender}</p>
    <p><label for="dob">{lbl_dob}: </label>{dob}</p>
    <p><label for="url">{lbl_url}: </label>{url}</p>
    <hr/>
    <p><label for="about">{lbl_about}: </label><br/>{about}</p>
    <p><label for="occupation">{lbl_occupation}: </label><br/>{occupation}</p>
    <p><label for="interests">{lbl_interests}: </label><br/>{interests}</p>
  </div>
</div>
<!-- END profile -->