<!-- BEGIN register -->
<div class="gadget_header"><h3>{title}</h3></div>
<div class="gadget_container">
  <div class="gadget_response"><div class="{type}">{text}</div></div>
  <form name="registerBox" action="{base_script}" method="post">
  <input type="hidden" name="gadget" value="Users" />
  <input type="hidden" name="action" value="DoRegister" />
  <div class="gadget_content content">
    <fieldset>
      <legend><span>{lbl_account_info}</span></legend>
      <div><label for="register_username">{lbl_username}:</label>
        <input name="username" class="large username ltr" id="register_username" maxlength="80" value="{username}" type="text" />
        <span><small>{validusernames}</small></span>
      </div>
      <div><label for="register_email">{lbl_email}:</label>
        <input name="email" class="large email ltr" id="register_email" value="{email}" type="text" />
      </div>
      <div><label for="register_nickname">{lbl_nickname}:</label>
        <input name="nickname" class="large name" id="register_nickname" value="{nickname}" type="text" />
      </div>
      <div><label for="register_password">{lbl_password}:</label>
        <input name="password" class="large password ltr" id="register_password" type="password" value="" />
        <span><small>{sendpassword}</small></span>
      </div>
      <div><label for="register_chkpassword">{lbl_checkpassword}:</label>
        <input name="password_check" class="large password ltr" id="register_chkpassword" type="password" value="" />
      </div>
    </fieldset>
    <fieldset>
      <legend><span>{lbl_personal_info}</span></legend>
      <div><label for="register_fname">{lbl_fname}:</label>
        <input name="fname" class="large name" id="register_fname" value="{fname}" type="text" />
      </div>
      <div><label for="register_lname">{lbl_lname}:</label>
        <input name="lname" class="large name" id="register_lname" value="{lname}" type="text" />
      </div>
      <div><label for="user_gender">{lbl_gender}:</label>
        <select name="gender" class="large" id="user_gender">
          <option value="0" {selected_gender_0}>{gender_0}</option>
          <option value="1" {selected_gender_1}>{gender_1}</option>
          <option value="2" {selected_gender_2}>{gender_2}</option>
        </select>
      </div>
      <div><label for="register_ssn">{lbl_ssn}:</label>
        <input name="ssn" class="large ltr" id="register_ssn" value="{ssn}" type="text" />
      </div>
      <div id="user_dob">
        <label for="user_dob_year">{lbl_dob}:</label>
        <input name="dob_year"  class="x-small ltr" id="user_dob_year"  value="{dob_year}"  type="text" />
        <input name="dob_month" class="x-small ltr" id="user_dob_month" value="{dob_month}" type="text" />
        <input name="dob_day"   class="x-small ltr" id="user_dob_day"   value="{dob_day}"   type="text" />
        <span><small>{dob_sample}</small></span>
      </div>
      <div><label for="register_url">{lbl_url}:</label>
        <input name="url" class="large url ltr" id="register_url" value="{url}" type="text" />
      </div>
      <!-- INCLUDE Captcha.html gadgets/Policy/Templates -->
    </fieldset>
  </div>
  <div class="gadget_actions actions"><button type="submit" value="{register}">{register}</button></div>
  </form>
</div>
<div class="gadget_footer"></div>
<!-- END register -->