<!-- BEGIN UserNotification -->
{{say_hello}},

{{message}}

{{lbl_username}}: {{username}}
{{lbl_mobile}}: {{mobile}}
<!-- BEGIN Password -->
{{lbl_password}}: {{password}}
<!-- END Password -->
<!-- BEGIN Activation -->
{{lbl_key}}: {{key}}
<!-- END Activation -->
{{lbl_ip}}: {{ip}}

{{thanks}},
-------------------
{{site-name}}
{{site-url}}
<!-- END UserNotification -->
<!-- BEGIN OwnerNotification -->
{{say_hello}},

{{message}}

{{lbl_username}}: {{username}}
{{lbl_nickname}}: {{nickname}}
{{lbl_email}}: {{email}}
{{lbl_mobile}}: {{mobile}}
{{lbl_ip}}: {{ip}}

{{thanks}},
-------------------
{{site-name}}
{{site-url}}
<!-- END OwnerNotification -->