<!-- BEGIN registration -->
<div class="gadget_header">
  <div class="gadget_title"><h2>{{title}}</h2></div>
</div>
<div class="gadget_container">
  <div class="gadget_response">
    <div class="alert {{response_type}}" role="alert">{{response_text}}</div>
  </div>
  <form name="registerBox" action="{{base_script}}" method="post">
    <input type="hidden" name="gadget" value="Users" />
    <input type="hidden" name="action" value="DoRegister" />
    <div class="gadget_content content">
      <!-- BEGIN request -->
      <fieldset>
        <legend><span>{{lbl_account_info}}</span></legend>
        <div><label for="register_username">{{lbl_username}}:</label>
          <input class="form-control" name="username" class="large username ltr" id="register_username" maxlength="80" value="{{username}}" type="text" required />
          <span><small>{{validusernames}}</small></span>
        </div>
        <div><label for="register_email">{{lbl_email}}:</label>
          <input class="form-control" name="email" class="large email ltr" id="register_email" value="{{email}}" type="text" required />
        </div>
        <div><label for="register_mobile">{{lbl_mobile}}:</label>
          <input class="form-control" name="mobile" class="large mobile ltr" id="register_mobile" value="{{mobile}}" type="text" />
        </div>
        <div><label for="register_nickname">{{lbl_nickname}}:</label>
          <input class="form-control" name="nickname" class="large name" id="register_nickname" value="{{nickname}}" type="text" required />
        </div>
        <div><label for="register_password">{{lbl_password}}:</label>
          <input class="form-control" name="password" class="large password ltr" id="register_password" type="password" value="" />
          <span><small>{{sendpassword}}</small></span>
        </div>
        <div><label for="register_chkpassword">{{lbl_checkpassword}}:</label>
          <input class="form-control" name="password_check" class="large password ltr" id="register_chkpassword" type="password" value="" />
        </div>
      </fieldset>
      <fieldset>
        <legend><span>{{lbl_personal_info}}</span></legend>
        <div><label for="register_fname">{{lbl_fname}}:</label>
          <input class="form-control" name="fname" class="large name" id="register_fname" value="{{fname}}" type="text" />
        </div>
        <div><label for="register_lname">{{lbl_lname}}:</label>
          <input class="form-control" name="lname" class="large name" id="register_lname" value="{{lname}}" type="text" />
        </div>
        <div><label for="user_gender">{{lbl_gender}}:</label>
          <select class="form-control" name="gender" class="large" id="user_gender">
            <option value="0" {{selected_gender_0}}>{{gender_0}}</option>
            <option value="1" {{selected_gender_1}}>{{gender_1}}</option>
            <option value="2" {{selected_gender_2}}>{{gender_2}}</option>
          </select>
        </div>
        <div><label for="register_ssn">{{lbl_ssn}}:</label>
          <input class="form-control" name="ssn" class="large ltr" id="register_ssn" value="{{ssn}}" type="text" />
        </div>
        <div><label for="register_dob">{{lbl_dob}}: ({{dob_sample}})</label>
          <input class="form-control" name="dob" class="large ltr" id="register_dob" value="{{dob}}" type="text" pattern="[0-9]{4}-(0[1-9]|1[012])-(0[1-9]|1[0-9]|2[0-9]|3[01])" title="{{dob_sample}}" />
        </div>
        <div><label for="register_url">{{lbl_url}}:</label>
          <input class="form-control" name="url" class="large url ltr" id="register_url" value="{{url}}" type="text" />
        </div>
        <!-- INCLUDE Captcha.html gadgets/Policy/Templates -->
      </fieldset>
      <!-- END request -->
      <!-- BEGIN result -->
      {{message}}
      <!-- END result -->
    </div>
    <!-- BEGIN action -->
    <div class="gadget_actions actions"><button class="btn btn-primary" type="submit">{{register}}</button></div>
    <!-- END action -->
  </form>
</div>
<div class="gadget_footer"></div>
<!-- END registration -->