<!-- BEGIN registration -->
<div class="gadget-header card-header d-flex align-items-center justify-content-between">
  <h5 class="m-0 me-2 py-1">{{title}}</h5>
</div>
<div class="gadget-container">
  <div class="gadget_response">
    <div class="alert {{response_type}}" role="alert">{{response_text}}</div>
  </div>
  <!-- BEGIN reg_step_1 -->
  <div class="gadget-content card-body">
    <form name="registerBox" method="post">
      <input type="hidden" name="reqGadget" value="Users" />
      <input type="hidden" name="reqAction" value="Register" />
      <input type="hidden" name="regstep" value="1" />
      <!-- BEGIN encryption -->
      <input type="hidden" name="pubkey" id="pubkey" value="{{pubkey}}" />
      <!-- END encryption -->
      <fieldset class="border rounded-2 p-3 mb-3">
        <legend class="float-none w-auto px-1 ms-n1 fs-6 fw-medium">{{lbl_account_info}}</legend>
        <!-- BEGIN multi_domain -->
        <div class="input-group mb-3">
          <label class="input-group-text">{{lbl_domain}}</label>
          <select class="form-select" name="domain">
            <!-- BEGIN domain -->
            <option value="{{id}}" {{selected}}>{{title}}</option>
            <!-- END domain -->
          </select>
        </div>
        <!-- END multi_domain -->
        <div class="input-group mb-3">
          <label class="input-group-text">{{lbl_username}}</label>
          <input class="form-control" dir="ltr" name="username" type="text" value="{{username}}" placeholder="{{validusernames}}" required />
        </div>
        <div class="input-group mb-3">
          <label class="input-group-text">{{lbl_email}}</label>
          <input class="form-control" dir="ltr" name="email" type="text" value="{{email}}" />
        </div>
        <div class="input-group mb-3">
          <label class="input-group-text">{{lbl_mobile}}</label>
          <input class="form-control" dir="ltr" name="mobile" type="text" value="{{mobile}}" />
        </div>
        <div class="input-group mb-3">
          <label class="input-group-text">{{lbl_nickname}}</label>
          <input class="form-control" name="nickname" type="text" value="{{nickname}}" required />
        </div>
        <div class="input-group mb-3">
          <label class="input-group-text">{{lbl_password}}</label>
          <input class="form-control" dir="ltr" name="password" type="password" placeholder="{{sendpassword}}" value="" />
        </div>
        <div class="input-group mb-3">
          <label class="input-group-text">{{lbl_checkpassword}}</label>
          <input class="form-control" dir="ltr" name="password_check" type="password" value="" />
        </div>
      </fieldset>

      <fieldset class="border rounded-2 p-3 mb-3">
        <legend class="float-none w-auto px-1 ms-n1 fs-6 fw-medium">{{lbl_personal_info}}</legend>
        <div class="input-group mb-3">
          <label class="input-group-text">{{lbl_fname}}</label>
          <input class="form-control" name="fname" type="text" value="{{fname}}" />
        </div>
        <div class="input-group mb-3">
          <label class="input-group-text">{{lbl_lname}}</label>
          <input class="form-control" name="lname" type="text" value="{{lname}}" />
        </div>
        <div class="input-group mb-3">
          <label class="input-group-text">{{lbl_gender}}</label>
          <select class="form-select" name="gender">
            <option value="0" {{selected_gender_0}}>{{gender_0}}</option>
            <option value="1" {{selected_gender_1}}>{{gender_1}}</option>
            <option value="2" {{selected_gender_2}}>{{gender_2}}</option>
          </select>
        </div>
        <div class="input-group mb-3">
          <label class="input-group-text">{{lbl_ssn}}</label>
          <input class="form-control" dir="ltr" name="ssn" type="text" value="{{ssn}}" />
        </div>
        <div class="input-group mb-3">
          <label class="input-group-text">{{lbl_dob}}</label>
          <input class="form-control" dir="ltr" name="dob" type="text" value="{{dob}}" placeholder="{{dob_sample}}" pattern="[0-9]{4}-(0[1-9]|1[012])-(0[1-9]|1[0-9]|2[0-9]|3[01])" />
        </div>
        <!-- INCLUDE Captcha.html gadgets/Policy/Templates -->
      </fieldset>

      <div class="gadget-actions text-end mt-3">
        <a class="btn" href="{{url_back}}">{{lbl_back}}</a>
        <button class="btn btn-primary" type="submit">{{register}}</button>
      </div>
    </form>
  </div>
  <!-- END reg_step_1 -->

  <!-- BEGIN reg_step_2 -->
  <form name="registerBox" action="{{base_script}}" method="post">
    <input type="hidden" name="reqGadget" value="Users" />
    <input type="hidden" name="reqAction" value="Register" />
    <input type="hidden" name="regstep" value="2" />
    <div class="gadget-content card-body">
      <fieldset>
        <p>{{message}}</p>
        <div>
          <label for="login_username">{{lbl_username}}:</label>
          <input class="form-control ltr" name="username" id="username"
                 type="text"
                 value="{{username}}"
                 required
                 readonly
          />
        </div>
        <div>
          <label for="regkey">{{lbl_regkey}}:</label>
          <input class="form-control ltr" name="regkey" id="regkey"
                 type="text"
                 autocomplete="off"
                 value=""
          />
        </div>
        <!-- INCLUDE Captcha.html gadgets/Policy/Templates -->
      </fieldset>
    </div>
    <div class="gadget_actions">
      <button class="btn btn-primary" type="submit">{{register}}</button>
      <div><a href="{{url_back}}">{{lbl_back}}</a></div>
    </div>
  </form>
  <!-- END reg_step_2 -->
  <!-- BEGIN reg_step_3 -->
  <div class="gadget-content card-body">
    <p>{{message}}</p>
  </div>
  <div class="gadget_actions">
    <div><a href="{{url_back}}">{{lbl_back}}</a></div>
  </div>
  <!-- END reg_step_3 -->
</div>
<div class="gadget-footer card-footer" hidden></div>
<!-- END registration -->