<!-- BEGIN OnlineUsers -->
<div class="gadget users online">
  <div class="gadget_header"><h2>{title}</h2></div>
  <div class="gadget_content content">
    <!-- BEGIN user -->
    <a href="{url_user}" title="{username}">{nickname}</a>
    <!-- END user -->
    <!-- BEGIN no_online -->
    <span>{no_online}</span>
    <!-- END no_online -->
  </div>
  <div class="gadget_footer"></div>
</div>
<!-- END OnlineUsers -->
<!-- BEGIN OnlineStatistics -->
<div class="gadget users statistics">
  <div class="gadget_header"><h2>{title}</h2></div>
  <div class="gadget_content content">
    <div><label>{lbl_registered_users}</label> : {registered_users}</div>
    <div><label>{lbl_guests_users}</label> : {guest_users}</div>
  </div>
  <div class="gadget_footer"></div>
</div>
<!-- END OnlineStatistics -->
<!-- BEGIN LatestRegistered -->
<div class="gadget users latest">
  <div class="gadget_header"><h2>{title}</h2></div>
  <div class="gadget_content content">
    <!-- BEGIN user -->
    <a href="{url_user}" title="{username}">{nickname}</a>
    <!-- END user -->
  </div>
  <div class="gadget_footer"></div>
</div>
<!-- END LatestRegistered -->