<!-- BEGIN OnlineUsers -->
<div class="gadget_header"><div class="gadget_title"><h3>{{title}}</h3></div></div>
<div class="gadget_container">
  <div class="gadget_content content">
    <!-- BEGIN user -->
    <a href="{{url_user}}" title="{{username}}">{{nickname}}</a>
    <!-- END user -->
    <!-- BEGIN no_online -->
    <span>{{no_online}}</span>
    <!-- END no_online -->
  </div>
</div>
<div class="gadget_footer"></div>
<!-- END OnlineUsers -->
<!-- BEGIN OnlineStatistics -->
<div class="gadget_header"><div class="gadget_title"><h3>{{title}}</h3></div></div>
<div class="gadget_container">
  <div class="gadget_content content">
    <div><label>{{lbl_registered_users}}</label> : {{registered_users}}</div>
    <div><label>{{lbl_guests_users}}</label> : {{guest_users}}</div>
  </div>
</div>
<div class="gadget_footer"></div>
<!-- END OnlineStatistics -->
<!-- BEGIN LatestRegistered -->
<div class="gadget_header"><div class="gadget_title"><h3>{{title}}</h3></div></div>
<div class="gadget_container">
  <div class="gadget_content content">
    <!-- BEGIN user -->
    <a href="{{url_user}}" title="{{username}}">{{nickname}}</a>
    <!-- END user -->
  </div>
</div>
<div class="gadget_footer"></div>
<!-- END LatestRegistered -->