<!-- BEGIN OnlineUsers -->
<div class="gadget-header card-header d-flex align-items-center justify-content-between">
  <h5 class="m-0 me-2 py-1">{{title}}</h5>
</div>
<div class="gadget-container">
  <div class="gadget-content card-body">
    <!-- BEGIN user -->
    <a href="{{url_user}}" title="{{username}}">{{nickname}}</a>
    <!-- END user -->
    <!-- BEGIN no_online -->
    <span>{{no_online}}</span>
    <!-- END no_online -->
  </div>
</div>
<div class="gadget-footer card-footer" hidden></div>
<!-- END OnlineUsers -->
<!-- BEGIN OnlineStatistics -->
<div class="gadget-header card-header d-flex align-items-center justify-content-between">
  <h5 class="m-0 me-2 py-1">{{title}}</h5>
</div>
<div class="gadget-container">
  <div class="gadget-content card-body">
    <div><label>{{lbl_registered_users}}</label> : {{registered_users}}</div>
    <div><label>{{lbl_guests_users}}</label> : {{guest_users}}</div>
  </div>
</div>
<div class="gadget-footer card-footer" hidden></div>
<!-- END OnlineStatistics -->
<!-- BEGIN LatestRegistered -->
<div class="gadget-header card-header d-flex align-items-center justify-content-between">
  <h5 class="m-0 me-2 py-1">{{title}}</h5>
</div>
<div class="gadget-container">
  <div class="gadget-content card-body">
    <!-- BEGIN user -->
    <a href="{{url_user}}" title="{{username}}">{{nickname}}</a>
    <!-- END user -->
  </div>
</div>
<div class="gadget-footer card-footer" hidden></div>
<!-- END LatestRegistered -->