<!-- BEGIN attributes -->
<div class="gadget_header">
  <div class="row">
    <div class="col-xs-9"><h2>{{title}}</h2></div>
    <div class="col-xs-3"><!-- INCLUDE MenuNavigation.html include/Jaws/Resources --></div>
  </div>
</div>
<div class="gadget_container">
  <div class="gadget_response">
    <div id="users_preferences_response" class="alert {{response_type}}" role="alert">{{response_text}}</div>
  </div>
  <div class="gadget_content">
    <form name="preferencesBox" method="post" onsubmit="return updateUserAttributes(this);">
      <input type="hidden" name="reqGadget" value="Users" />
      <input type="hidden" name="reqAction" value="UpdateUserAttributes" />
      <input type="hidden" name="gadget" value="{{gadget}}" />
      <div class="row">
        <!-- BEGIN attribute -->
        <div class="form-group col-md-6">

          <!-- BEGIN hidden -->
          <input class="form-control {{class}}" 
            type="hidden" name="{{attribute_name}}" value="{{value}}" data-field-type="{{attribute_type}}"
          />
          <!-- END hidden -->

          <!-- BEGIN select -->
          <label>{{attribute_title}}:</label>
          <select class="form-control {{class}}" name="{{attribute_name}}"
            {{required}} {{readonly}} {{disabled}}
          >
            <!-- BEGIN option -->
            <option value="{{value}}" <!-- BEGIN selected --> selected<!-- END selected -->>{{text}}</option>
            <!-- END option -->
          </select>
          <!-- END select -->

          <!-- BEGIN country -->
          <label>{{attribute_title}}:</label>
          <select class="form-control {{class}}" name="{{attribute_name}}" data-field-type="country"
            {{required}} {{readonly}} {{disabled}}
          >
            <!-- BEGIN option -->
            <option value="{{value}}" <!-- BEGIN selected --> selected<!-- END selected -->>{{text}}</option>
            <!-- END option -->
          </select>
          <!-- END country -->

          <!-- BEGIN province -->
          <label>{{attribute_title}}:</label>
          <select class="form-control {{class}}" name="{{attribute_name}}" data-field-type="province"
            {{required}} {{readonly}} {{disabled}}
          >
            <!-- BEGIN option -->
            <option value="{{value}}" <!-- BEGIN selected --> selected<!-- END selected -->>{{text}}</option>
            <!-- END option -->
          </select>
          <!-- END province -->

          <!-- BEGIN city -->
          <label>{{attribute_title}}:</label>
          <select class="form-control {{class}}" name="{{attribute_name}}" data-field-type="city"
            {{required}} {{readonly}} {{disabled}}
          >
            <!-- BEGIN option -->
            <option value="{{value}}" <!-- BEGIN selected --> selected<!-- END selected -->>{{text}}</option>
            <!-- END option -->
          </select>
          <!-- END city -->

          <!-- BEGIN number -->
          <label>{{attribute_title}}:</label>
          <input class="form-control {{class}}" type="number" name="{{attribute_name}}" value="{{value}}"
            placeholder="{{placeholder}}" min="{{min}}" max="{{max}}"
            {{required}} {{readonly}} {{disabled}}
            <!-- BEGIN pattern -->pattern="{{pattern}}"<!-- END pattern -->
          />
          <!-- END number -->

          <!-- BEGIN date -->
          <label>{{attribute_title}}:</label>
          <!-- INCLUDE DatePicker.html include/Jaws/Resources -->
          <!-- END date -->

          <!-- BEGIN checkbox -->
          <label>{{attribute_title}}:</label>
          <input class="form-control {{class}}" type="checkbox"
            name="{{attribute_name}}"
            value="1"
            {{readonly}} {{disabled}}
            <!-- BEGIN checked --> checked<!-- END checked -->
          />
          <!-- END checkbox -->

          <!-- BEGIN text -->
          <label>{{attribute_title}}:</label>
          <input class="form-control {{class}}" type="text" name="{{attribute_name}}" value="{{value}}"
            placeholder="{{placeholder}}" minlength="{{minlength}}" maxlength="{{maxlength}}"
            {{required}} {{readonly}} {{disabled}}
            <!-- BEGIN pattern -->pattern="{{pattern}}"<!-- END pattern -->
          />
          <!-- END text -->
        </div>
        <!-- END attribute -->
      </div>
      <div class="gadget_actions">
        <button class="btn btn-primary" type="submit">
          {{update}}
        </button>
      </div>
    </form>
  </div>
</div>
<div class="gadget_footer"></div>
<!-- END attributes -->