<!-- BEGIN attributes -->
<div class="gadget_header">
  <div class="row">
    <div class="col-xs-9"><h3>{{title}}</h3></div>
    <div class="col-xs-3"><!-- INCLUDE MenuNavigation.html include/Jaws/Resources --></div>
  </div>
</div>
<div class="gadget_container">
  <div class="gadget_response">
    <div id="users_preferences_response" class="alert {{response_type}}" role="alert">{{response_text}}</div>
  </div>
  <div class="gadget_content">
    <form name="preferencesBox" method="post" onsubmit="return updateUserAttributes(this);">
      <input type="hidden" name="reqGadget" value="Users" />
      <input type="hidden" name="reqAction" value="UpdateUserAttributes" />
      <input type="hidden" name="gadget" value="{{gadget}}" />
      <div class="row">
        <!-- BEGIN attribute -->
        <div class="form-group col-md-6" <!-- BEGIN hide -->style="display:none;"<!-- END hide -->>

          <!-- BEGIN hidden -->
          <input class="form-control {{class}}" 
            type="hidden" name="{{attribute_name}}" value="{{value}}" data-field-type="{{attribute_type}}"
          />
          <!-- END hidden -->

          <!-- BEGIN select -->
          <div class="input-group">
            <label class="input-group-addon text-input" for="{{attribute_name}}">
              {{attribute_title}}:
            </label>
            <select class="form-control {{class}}"
              name="{{attribute_name}}" id="{{attribute_name}}"
              {{required}} {{readonly}} {{disabled}}
            >
              <!-- BEGIN option -->
              <option value="{{value}}" <!-- BEGIN selected --> selected<!-- END selected -->>{{text}}</option>
              <!-- END option -->
            </select>
          </div>
          <!-- END select -->

          <!-- BEGIN country -->
          <div class="input-group">
            <label class="input-group-addon text-input" for="{{attribute_name}}">
              {{attribute_title}}:
            </label>
            <select class="form-control {{class}}"
              name="{{attribute_name}}" id="{{attribute_name}}"
              data-field-type="country"
              {{required}} {{readonly}} {{disabled}}
            >
              <!-- BEGIN option -->
              <option value="{{value}}" <!-- BEGIN selected --> selected<!-- END selected -->>{{text}}</option>
              <!-- END option -->
            </select>
          </div>
          <!-- END country -->

          <!-- BEGIN province -->
          <div class="input-group">
            <label class="input-group-addon text-input" for="{{attribute_name}}">
              {{attribute_title}}:
            </label>
            <select class="form-control {{class}}"
              name="{{attribute_name}}" id="{{attribute_name}}"
              data-field-type="province"
              {{required}} {{readonly}} {{disabled}}
            >
              <!-- BEGIN option -->
              <option value="{{value}}" <!-- BEGIN selected --> selected<!-- END selected -->>{{text}}</option>
              <!-- END option -->
            </select>
          </div>
          <!-- END province -->

          <!-- BEGIN city -->
          <div class="input-group">
            <label class="input-group-addon text-input" for="{{attribute_name}}">
              {{attribute_title}}:
            </label>
            <select class="form-control {{class}}"
              id="{{attribute_name}}" name="{{attribute_name}}"
              data-field-type="city"
              {{required}} {{readonly}} {{disabled}}
            >
              <!-- BEGIN option -->
              <option value="{{value}}" <!-- BEGIN selected --> selected<!-- END selected -->>{{text}}</option>
              <!-- END option -->
            </select>
          </div>
          <!-- END city -->

          <!-- BEGIN number -->
          <div class="input-group">
            <label class="input-group-addon text-input" for="{{attribute_name}}" >
              {{attribute_title}}:
            </label>
            <input type="number" class="form-control {{class}}"
              name="{{attribute_name}}" id="attribute_name" value="{{value}}"
              placeholder="{{placeholder}}" min="{{min}}" max="{{max}}"
              {{required}} {{readonly}} {{disabled}}
              <!-- BEGIN pattern -->pattern="{{pattern}}"<!-- END pattern -->
            />
          </div>
          <!-- END number -->

          <!-- BEGIN date -->
          <!-- INCLUDE DatePicker.html include/Jaws/Resources -->
          <!-- END date -->

          <!-- BEGIN checkbox -->
          <div class="input-group form-check">
            <input class="form-control form-check-input {{class}}" type="checkbox"
              name="{{attribute_name}}" id="{{attribute_name}}"
              value="1"
              {{readonly}} {{disabled}}
              <!-- BEGIN checked --> checked<!-- END checked -->
            />
            <label class="form-check-label input-group-addon text-input" for="{{attribute_name}}" >
              {{attribute_title}}
            </label>
          </div>
          <!-- END checkbox -->

          <!-- BEGIN text -->
          <div class="input-group">
            <label class="input-group-addon text-input" for="{{attribute_name}}" >
              {{attribute_title}}:
            </label>
            <input type="text" class="form-control {{class}}"
              name="{{attribute_name}}" id="attribute_name" value="{{value}}"
              placeholder="{{placeholder}}" minlength="{{minlength}}" maxlength="{{maxlength}}"
              {{required}} {{readonly}} {{disabled}}
              <!-- BEGIN pattern -->pattern="{{pattern}}"<!-- END pattern -->
            />
          </div>
          <!-- END text -->
        </div>
        <!-- END attribute -->
      </div>
      <div class="gadget_actions">
        <button class="btn btn-primary" type="submit">
          {{update}}
        </button>
      </div>
    </form>
  </div>
</div>
<div class="gadget_footer"></div>
<!-- END attributes -->