<!-- BEGIN sitemap -->
<div class="gadget_header">
  <div class="gadget_title"><h2>{{title}}</h2></div>
</div>
<div class="gadget_container">
  <div class="gadget_content content">
    <ul>
    <!-- BEGIN item -->
      <li><a href="{{url}}">{{title}}</a>{{childs}}</li>
    <!-- END item -->
    </ul>
  </div>
</div>
<div class="gadget_footer"></div>
<!-- END sitemap -->

<!-- BEGIN branch -->
<ul>
<!-- BEGIN item -->
  <li><a href="{{url}}">{{title}}</a>{{childs}}</li>
<!-- END item -->
</ul>
<!-- END branch -->