.modal-body form .form-group {
    min-height: 60px;
}

.workarea{
width:370px;
padding-right:8px;
vertical-align:top;
}
#settings{
border:1px solid #D3D7CF;
float:left;
margin-bottom:4px;
padding-bottom:10px;
padding-top:10px;
width:980px;
}
.buttons{
clear:both;
}
div.fields{
clear:both;
margin-top:4px;
text-align:right;
}
div.fields label{
margin:0 0 0 .6em;
padding-top:4px;
display:block;
text-align:left;
float:right;
font-weight:bold;
cursor:pointer;
width:17em;
}
div.fields select{
max-width:320px;
}
#comment_box{
border-spacing:2px;
border-collapse:collapse;
}