<!-- BEGIN Polls -->
<div class="gadget_menubar">{{menubar}}</div>
<table width="100%"><tr>
  <td id="p_datagrid">{{grid}}</td>
  <td width="1%" valign="top">
    <input type="hidden" name="pid" id="pid" value="0" />
    <fieldset>
      <legend><span id="legend_title">{{legend_title}}</span></legend>
      <div id="p_work_area">{{poll_ui}}</div>
    </fieldset>
    <div class="buttons">{{btn_cancel}}{{btn_save}}</div>
  </td>
</tr></table>
<!-- END Polls -->
<!-- BEGIN PollUI -->
<table id="poll_box">
  <tr><td colspan="2"><label for="title">{{lbl_title}}:</label><br />{{title}}</td></tr>
  <tr><td colspan="2"><label for="gid">{{lbl_gid}}:</label><br />{{gid}}</td></tr>
  <tr><td><label for="start_time">{{lbl_start_time}}:</label></td><td>{{start_time}}</td></tr>
  <tr><td><label for="stop_time">{{lbl_stop_time}}:</label></td><td>{{stop_time}}</td></tr>
  <tr><td><label for="type">{{lbl_type}}:</label></td><td>{{type}}</td></tr>
  <tr><td><label for="restriction">{{lbl_restriction}}:</label></td><td>{{restriction}}</td></tr>
  <tr><td><label for="result_view">{{lbl_result_view}}:</label></td><td>{{result_view}}</td></tr>
  <tr><td><label for="published">{{lbl_published}}:</label></td><td>{{published}}</td></tr>
</table>
<!-- END PollUI -->
<!-- BEGIN PollAnswersUI -->
<table id="answers_box">
  <tr><td colspan="2"><label for="title">{{lbl_title}}:</label><br />{{title}}</td></tr>
  <tr><td colspan="2"><label for="answer">{{lbl_answer}}:</label></td><tr>
  <tr>
    <td>{{answer}}</td>
    <td>{{btn_add}}</td>
  </tr>
  <tr>
    <td>{{answers_combo}}</td>
    <td>{{btn_stop}}{{btn_up}}{{btn_down}}{{btn_del}}</td>
  </tr>
</table>
<!-- END PollAnswersUI -->