div .titles {
    font-weight: bold;
    text-align: left;
}

#lang {
    margin-bottom: 4px;
}

#lang_box {
    width: 200px;
    float: left;
}

#add_lang {
    margin-top: 8px;
    text-align: left;
}

#add_lang input {
    width: 190px;
    margin-bottom: 2px;
}

#set_box {
    width: 534px;
    float: right;
}

#lang, #component {
    width: 200px;
    max-width: 200px;
}

#buttons {
    border-top: 1px solid #ddd;
    text-align: center;
    margin: 1em;
    padding: 1em;
}

#head_strings {
    border: 1px solid #ddd;
    width: 534px;
}

#head_strings th {
    color: #fff;
    padding: 4px;
    text-align: left;
    background-color: #3465a4;
}

#head_strings #th_from {
    width: 258px;
}

#meta_lang {
    text-align: left;
    padding: 2px;
    width: 508px;
    border-bottom: 1px solid #ddd;
}

#meta_lang input {
    width: 500px;
}

#lang_strings {
    border: 1px solid #ddd;
    font-weight: normal;
    float: right;
    height: 392px;
    width: 532px;
    overflow: auto;
    margin-bottom: 4px;
}

#tbl_strings {
    width: 510px;
}

#tbl_strings td {
    padding: 0px;
    padding-bottom: 1px;
}

#tbl_strings .td_from {
    padding-left: 4px;
    width: 252px;
    vertical-align: top;
    border-bottom: 1px solid #ddd;
}

#tbl_strings .td_to {
}

#tbl_strings textarea {
    padding: 0px;
    width: 252px;
}

.even td {
    background-color: #edf3fe;
}

.odd td {
    background-color: #fff;
}

.filter {
    float: left;
    padding: 3px 0px;
}