<!-- BEGIN WriteConfig -->
<p>{{lbl_info}}</p>
<p>{{lbl_solution}}:</p>
<ol>
  <li>{{lbl_solution_permission}}</li>
  <li>{{lbl_solution_upload}}</li>
</ol>
<textarea class="form-control" cols="60" rows="20" readonly="readonly" class="config-area">
{{config}}
</textarea>
<form method="post">
  <div class="buttons">
    <div class="loglevel">
    <label for="loglevel">{{lbl_loglevel}}:</label>
    <select class="form-control" name="loglevel" onchange="this.form.submit();">
      <!-- BEGIN loglevel -->
      <option value="{{level}}" {{selected}}>{{title}}</option>
      <!-- END loglevel -->
    </select>
    </div>
    <input type="submit" name="WriteConfig_next" value="{{next}} &gt;" />
  </div>
</form>

<!-- END WriteConfig -->