#components {width:310px; background-color:#f7f7f7; border:1px solid #d3d7cf; padding:5px;}
#components > div {height:500px; overflow:auto; background-color:white; border:1px solid #d3d7cf; padding:0px;}
#components h3 {margin:1px 1px 0 1px; padding:4px; background-color:#3465a4; color:white; font-size:small; font-weight:bold;}
#components ul {margin:0; padding:0; list-style:none;}
#components li {padding:2px; margin:0 1px 1px;}
#components li:hover {background-color:#f1f8ff;}
#components li:hover a {display:inline;}
#components li.selected {background-color:#729FCF;}
#components li.selected span {color:white;}
#components li.selected a {color:white;}
#components img {width:32px; vertical-align:middle;}
#components span {display:inline-block; width:200px; padding-left:5px;}
#components a {display:none;}

#component_ui {height:470px; overflow-y:auto; margin-left:5px; padding:20px; border:1px solid #d3d7cf;}
#actions {text-align:right;}

/* Information */
.component-info img {float:left; width:48px;}
.component-info h1 {height:38px; padding:10px 0 0 60px; font-size:14px;}
.component-info h2 {display:inline-block; font-size:12px;}
.component-info span {font-weight:bold;}
.component-info ul {margin:5px 0 15px; list-style-type:square;}
.details {clear:both; margin-top:20px; padding-top:15px; border-top:solid 1px grey;}
.details > div {margin-bottom:15px;}

/* WebFX Tree */
#bigTree > div {margin:5px 0;}
.webfx-tree-container {
  margin: 0px;
  padding: 0px;
  white-space: nowrap;        
}
.webfx-tree-item {
  padding: 0px;
  margin: 0px;
  color: black;
  white-space: nowrap;
}
.webfx-tree-item a, .webfx-tree-item a:active, .webfx-tree-item a:hover {
  margin-left: 0px;
  padding: 0px 0px 0px 0px;
}
.webfx-tree-item a {
  cursor: default;
  color: black;
  text-decoration: none;
}
.webfx-tree-item img {
  margin-left: 2px;
  vertical-align: middle;
  border: 0px;
  width: 16px;
  height: 16px;
}
.webfx-tree-item input {
  vertical-align: middle;
}
.webfx-tree-grid-icon {
  margin-right: 0px;
  visibility: hidden;
}
.webfx-tree-icon {
  display: none;
}
.webfx-tree-item a.selected {
  color: highlighttext;
  background: highlight;
}
.webfx-tree-item a.selected-inactive {
  color: windowtext;
  background: buttonface;
}
