table.tableform  .button {
    text-align: right;
    margin-top: 5px;
}

#settings {
    border: 1px solid #D3D7CF;
    font-weight: bold;
    padding: 8px 10px;
    text-align: left;
    width: 100%;
    clear: both;
}