<!-- BEGIN files -->
<div>
  <label>{{lbl_file}}:</label>
  <div id="files">
    <div id="file_model" style="display: none;">
      <ul>
        <li class="file_details" style="display: none;">
          <ul>
            <li data-type="preview" style="display: none;"></li>
            <li data-type="name"></li>
            <li data-type="size"></li>
            <li data-type="remove">
              <a href="javascript:void(0);"
                onclick="Jaws_Gadget.getInstance('Files').removeFile(this, true);"
                title="{{lbl_remove_file}}">
                {{lbl_remove_file}}
              </a>
            </li>
          </ul>
        </li>
      </ul>

      <input class="form-control-file" type="file"
        data-maxsize="{{maxsize}}"
        data-maxcount="{{maxcount}}"
        data-extensions="{{extensions}}"
        data-preview="{{preview}}"
        name="files_{{interface_type}}[]"
        multiple="multiple"
        <!-- BEGIN accept -->accept="{{type}}/*"<!-- END accept -->
        {{capture}}
        onchange="Jaws_Gadget.getInstance('Files').browseFile(this);"
        style="opacity:0; height:0; width:0;"
      />
      <button class="btn" type="button"
        title="{{lbl_browse_file}}"
        onclick="$(this).prev().click();">
        Browse
      </button>
    </div>

    <div>
      <ul>
        <!-- BEGIN file -->
        <li class="file_details">
          <input type="hidden" name="current_files[]" value="{{fid}}" />
          <ul>
            <!-- BEGIN image_preview -->
            <li data-type="preview">
              <img src="{{src}}" alt="" width="128"/>
            </li>
            <!-- END image_preview -->
            <li data-type="name">{{filename}}</li>
            <li data-type="size">{{filesize}}</li>
            <li data-type="remove">
              <a href="javascript:void(0);"
                onclick="Jaws_Gadget.getInstance('Files').removeFile(this, false);"
                title="{{lbl_remove_file}}">
                {{lbl_remove_file}}
              </a>
            </li>
          </ul>
        </li>
        <!-- END file -->
      </ul>
    </div>

    <div>
      <a href="javascript:void(0);"
        onclick="Jaws_Gadget.getInstance('Files').extraFile(this);">
        {{lbl_extra_file}}
      </a>
    </div>
  </div>
</div>
<!-- END files -->