<!-- BEGIN files -->
<div>
  <label>{{lbl_file}}:</label>
  <div id="files">
    <div id="file_model" style="display: none;">
      <input class="form-control-file" type="file"
        data-maxsize="{{maxsize}}"
        data-extensions="{{extensions}}"
        data-preview="{{preview}}"
        name="files[]"
        multiple
        onchange="Jaws_Gadget.getInstance('Files').browseFile(this);"
        style="opacity:0; height:0; width:0;"
      />
      <button class="btn" type="button"
        title="{{lbl_browse_avatar}}"
        onclick="$(this).prev().click();">
        Browse
      </button>
      <ul>
        <li style="display: none;">
          <ul>
            <li data-type="preview" style="display: none;"></li>
            <li data-type="name"></li>
            <li data-type="size"></li>
            <li data-type="remove">
              <a href="javascript:void(0);"
                onclick="Jaws_Gadget.getInstance('Files').removeFile(this);"
                title="{{lbl_remove_file}}">
                {{lbl_remove_file}}
              </a>
            </li>
          </ul>
        </li>
      </ul>
    </div>
    <!-- BEGIN file -->
    <div id="p_attach{{fid}}">
      <input type="hidden" name="current_files[]" value="{{fid}}" />
      <input class="form-control" type="text" name="current_files_filename" value="{{lbl_filename}}" disabled="disabled" class="file ltr"/>
      <a href="javascript:void(0);"
        onclick="Jaws_Gadget.getInstance('Files').removeFile(this);"
        title="{{lbl_remove_file}}">
        {{lbl_remove_file}}
      </a>
    </div>
    <!-- END file -->
    <div>
      <a href="javascript:void(0);" onclick="Jaws_Gadget.getInstance('Files').extraFile(this);">
        {{lbl_extra_file}}
      </a>
    </div>
  </div>
</div>
<!-- END files -->