#components {width:310px; background-color:#f7f7f7; border:1px solid #d3d7cf; padding:5px;}
#components > div {height:500px; overflow:auto; background-color:white; border:1px solid #d3d7cf; padding:0px;}
#components h3 {
  background:#3465a4 url(../images/arrow-up.png) 98% no-repeat; color:white; cursor:default;
  margin:1px 1px 0 1px; padding:4px; font-size:12px; font-weight:bold;
}
#components h3.collapsed {background:#3465a4 url(../images/arrow-down.png) 98% no-repeat;}
#components ul {margin:0; padding:0; list-style:none;}
#components li {padding:2px; margin:0 1px 1px;}
#components li:hover {background-color:#f1f8ff;}
#components li:hover a {display:inline;}
#components li.selected {background-color:#729FCF;}
#components li.selected span {color:white;}
#components li.selected a {color:white;}
#components li.disabled span {text-decoration:line-through;}
#components img {width:32px; vertical-align:middle;}
#components span {display:inline-block; width:200px; padding-left:5px; cursor:default;}
#components a {display:none;}

#component_ui {
  position:relative; height:474px; margin-left:5px; padding:20px 20px 0 20px; 
  border:1px solid #d3d7cf; vertical-align:top; line-height:2.5;
}
#component_ui h1 {height:38px; padding:10px 0 0 60px; font-size:14px;}
#actions {text-align:right;}

/* Information */
#summary img {float:left; width:48px;}
.summary {border-top:solid 1px silver; margin-top:20px; padding:20px 0 0 10px; line-height:2.5;}
.summary label {font-size:12px; color:#3465a4}
.summary span {font-weight:bold;}

#component h2 {display:inline-block; font-size:12px;}
#component_head {margin-bottom:15px; padding-bottom:40px; border-bottom:solid 1px silver; line-height:1.5;}
#component_head img {float:left; width:48px;}
#tabs {position:absolute; top:88px; left:25px; margin:0; padding:0; list-style:none; line-height:1.3}
#tabs li {
  float:left; padding:2px 15px; margin:0 1px 0 0; background-color:silver; cursor:pointer; font-weight:bold; color:grey;
  border:1px solid silver; border-bottom:none; border-radius:5px 5px 0 0; -moz-border-radius:5px 5px 0 0;
}
#tabs li.active {background-color:white; color:black;}
#btn_close {position:absolute; top:10px; right:10px; width:20px; height:20px; padding:0;}

.component-info {padding-left:10px;}
.component-info span {font-weight:bold;}
.component-info ul {margin:0;}
.component-info .acls {height:190px; overflow-y:auto; margin:0; line-height:1.5; list-style:square;}

#frm_registry {height:350px; overflow-y:auto;}
#frm_registry table {margin-left:10px; border-collapse:collapse;}
#frm_registry th {text-align:right;}
#frm_registry caption {text-align:left; font-size:14px; font-weight:bold; color:#3465a4; margin-bottom:10px;}
#frm_registry input {width:200px;}

/* WebFX Tree */
#bigTree > div {margin-bottom:10px;}
.webfx-tree-item {margin:0;}
.webfx-tree-item a {text-decoration:none; color:black; cursor:default;}
.webfx-tree-item img {vertical-align:middle;}
.webfx-tree-item input {vertical-align:middle;}
.webfx-tree-icon {display:none;}
