<!-- BEGIN template -->
<html>
<head>
<base href="{{BASE_URL}}" />
<meta http-equiv="content-type" content="text/html; charset=utf-8" />
<meta name="application-name" content="index.php:Layout:LayoutManager" />
<link rel="stylesheet" media="screen" type="text/css" href="gadgets/ControlPanel/Resources/style{{.dir}}.css" />
<link rel="stylesheet" media="screen" type="text/css" href="gadgets/Layout/Resources/style{{.dir}}.css" />
<link rel="stylesheet" media="screen" type="text/css" href="gadgets/Layout/Resources/style2{{.dir}}.css" />
<script type="text/javascript" src="libraries/jquery/jquery.js"></script>
</head>
<body>
<form id="form_actions_list" name="form1" action="{{base_script}}" method="post">
<input type="hidden" id="gadget" name="gadget" value="" />
<table id="controls">
    <tr><th>{{gadgets}}</th><th>{{actions}}</tr>
    <tr><td>
        <div id="gadget-list">
        <!-- BEGIN gadget -->
        <div class="gadget-item" id="{{id}}" title="{{desc}}" onclick="parent.parent.selectGadget(document, '{{id}}')"><img src="{{icon}}" width="48" alt="icon"/>{{gadget}}</div>
        <!-- END gadget -->
        </div></td>
        <td><div id="gadget-actions">
            <ul id="actions-list"></ul>
            </div>
        </td>
    </tr>
</table>
<div id="footer"><div id="buttons">{{add_button}}</div></div>
</form>
</body>
</html>
<!-- END template -->