<!-- BEGIN template -->
<html>
<head>
<base href="{BASE_URL}" />
<meta http-equiv="content-type" content="text/html; charset=utf-8" />
<link rel="stylesheet" media="screen" type="text/css" href="gadgets/ControlPanel/resources/public{.dir}.css" />
<link rel="stylesheet" media="screen" type="text/css" href="gadgets/Layout/resources/style{.dir}.css" />
<link rel="stylesheet" media="screen" type="text/css" href="gadgets/Layout/resources/style2{.dir}.css" />
<script type="text/javascript" src="libraries/mootools/core.js"></script>
<script type="text/javascript">
  function getAction(lid, gadget) {
    var action = $('form_actions_list').getElement('input[type="radio"][name="action"]:checked');
    if (!action) {
        alert('!!!!!!!!!!');
        return;
    }

    var params = new Array();
    var paramElemets = Array.from($('action_'+action.value).getElements('select'));
    paramElemets.each(function(elParam, index) {
        params[index] = elParam.value;
    });

    title = $('action_'+action.value).getElementsByTagName('label')[0].innerHTML;
    desc = $('action_'+action.value).getElementsByTagName('span')[0].innerHTML;
    parent.parent.saveElementAction(lid, gadget, action.value, params.join(), title, desc);
  }
</script>
</head>
<body>
<div id="g-info">
  <img src="gadgets/{gadget}/images/logo.png" alt="{gadget}"/>
  <label>{gadget_name}</label>{gadget_description}
</div>
<br />
<form id="form_actions_list" name="form1" action="{base_script}" method="post">
  <div id="gadget-actions">
    <input type="hidden" id="gadget" name="gadget" value="" />
    <ul id="actions-list">
    <!-- BEGIN no_action -->
    <li><strong>{no_gadget_desc}</strong></li>
    <!-- END no_action -->
    <!-- BEGIN gadget_action -->
      <li id="action_{action}">
        <input type="radio" name="action" id="action_{index}" {action_checked} value="{action}"/>
        <label for="action_{index}">{name}</label>
        <!-- BEGIN action_param -->
        {param}
        <!-- END action_param -->
        <span>{desc}</span>
      </li>
    <!-- END gadget_action -->
    </ul>
  </div>
<div id="footer"><div id="buttons">{save}</div></div>
</form>
</body>
</html>
<!-- END template -->
