<!-- BEGIN working_notification -->
<div id="working_notification"></div>
<!-- END working_notification -->
<!-- BEGIN response -->
<div class="gadget_response">
  <div id="{{main_gadget}}_{{main_action}}_response" class="alert {{response_type}}" role="alert">{{response_text}}</div>
</div>
<!-- END response -->
<!-- BEGIN item -->
<div class="item" id="item_{{item_id}}" title="{{description}}" style="text-decoration: {{item_status}};">
    <div class="item_icon"><img src="{{icon}}" width="48" alt="icon"/></div>
    <div class="item-delete">
      <a href="javascript:void(0);" onclick="{{delete}}"><img src="{{delete-img}}" alt="{{lbl_delete}}"/></a>
    </div>
    <div class="item-gadget">{{gadget}}</div>
    <div class="item-action">
        <a id="ea{{item_id}}" name="ea{{item_id}}" href="javascript:void(0);"
           onclick="{{void_link}}elementAction('{{base_script_url}}?gadget=Layout&amp;action=ElementAction&amp;id={{item_id}}&amp;layout={{layout}}');">
           {{action}}</a>
    </div>
    <div class="item-dw">
        <label>{{lbl_when}}:</label>
        <a id="dw{{item_id}}" name="dw{{item_id}}" href="javascript:void(0);"
           onclick="{{void_link}}displayWhen('{{base_script_url}}?gadget=Layout&amp;action=DisplayWhen&amp;id={{item_id}}&amp;layout={{layout}}');">
           {{when}}</a>
    </div>
</div>
<!-- END item -->
<!-- BEGIN drag_drop -->
    <div id="testbox"></div><div id="layout_fake_drop"><div id="layout_fake"></div></div>
<!-- END drag_drop -->
