<!-- BEGIN controls -->
<div id="layout-controls">
  <div id="layout-controls-items">
    <script type="text/javascript">
    function layoutControlsSubmit(sender) {
        var layout_layout_url = '{{layout_layout_url}}';
        var layout_theme_url  = '{{layout_theme_url}}';
        if (sender.id != 'theme') {
            window.location = layout_layout_url.replace('~layout~', $('#layout').val());
            return;
        }
        layout_theme_url = layout_theme_url.replace('~layout~', $('#layout').val());
        window.location = layout_theme_url.replace('~theme~', $('#theme').val());
    }
    </script>
    <table style="width: 100%;border-collapse:collapse; border-spacing: 0;">
      <tr>
        <td>
          <span id="layout-title">
            <img alt="{{title-gadget}}" style="vertical-align: middle;" src="{{icon-gadget}}" />
            <a href="{{admin_script}}">{{cp-title}}</a>
            {{cp-title-separator}}
            <a href="{{layout-url}}">{{title-name}}</a>
            <!-- BEGIN documentation -->
            <a href="{{url}}" target="_blank">
              <img src="{{src}}" alt="{{alt}}" title="{{alt}}" style="vertical-align: top; height: 16px; width: 16px;"/>
            </a>
            <!-- END documentation -->
          </span>
        </td>
        <td></td>
        <td id="themes-combo">{{lbl_theme}}: {{theme_combo}}</td>
        <td id="layouts-combo">{{lbl_layout}}: {{layouts_combo}}</td>
        <td id="add-gadget-btn">{{add_gadget}}</td>
      </tr>
    </table>
  </div>
</div>
<!-- END controls -->