<!-- BEGIN form -->
<div class="gadget-header card-header d-flex align-items-center justify-content-between">
  <h5 class="m-0 me-2 py-1">{{title}}</h5>
</div>
<div class="gadget-container">
  <div class="gadget_response">
    <div id="notepad_{{action}}_response" class="alert {{response_type}}" role="alert">{{response_text}}</div>
  </div>
  <div class="gadget-content card-body">
    <form id="frm_note" name="frm_note" action="{{base_script}}" method="post">
      <input type="hidden" name="reqGadget" value="Notepad" />
      <input type="hidden" name="reqAction" value="{{form_action}}" />
      <input type="hidden" name="id" value="{{id}}" />
      <div><label for="note_title">{{lbl_title}}:</label></div>
      <div><input class="form-control" id="note_title" name="title" value="{{note_title}}" class="x-large"/></div>
      <div><label for="note_content">{{lbl_content}}:</label></div>
      <div>{{note_content}}</div>
      <div class="gadget_actions">
        <button class="btn" type="button" onclick="location.href='{{url_back}}'">{{lbl_cancel}}</button>
        <button class="btn btn-primary" type="button" onclick="submitNote(this.form)">{{lbl_ok}}</button>
      </div>
    </form>
  </div>
</div>
<div class="gadget-footer card-footer" hidden></div>
<script>
var errorIncompleteData = "{{errorIncompleteData}}";
$('#note_title')[0].focus();
</script>
<!-- END form -->