<!-- BEGIN form -->
<div class="gadget_header">
  <div class="gadget_title"><h2>{{title}}</h2></div>
</div>
<div class="gadget_container">
  <div class="gadget_response">
    <div id="notepad_{{action}}_response" class="alert {{response_type}}" role="alert">{{response_text}}</div>
  </div>
  <div class="gadget_content content">
    <form id="frm_note" name="frm_note" action="{{base_script}}" method="post">
      <input class="form-control" type="hidden" name="gadget" value="Notepad" />
      <input class="form-control" type="hidden" name="action" value="{{form_action}}" />
      <input class="form-control" type="hidden" name="id" value="{{id}}" />
      <div><label for="note_title">{{lbl_title}}:</label></div>
      <div><input class="form-control" id="note_title" name="title" value="{{note_title}}" class="x-large"/></div>
      <div><label for="note_content">{{lbl_content}}:</label></div>
      <div>{{note_content}}</div>
      <div class="gadget_actions actions">
        <button class="btn" type="button" onclick="location.href='{{url_back}}'">{{lbl_cancel}}</button>
        <button class="btn btn-primary" type="button" onclick="submitNote(this.form)">{{lbl_ok}}</button>
      </div>
    </form>
  </div>
</div>
<div class="gadget_footer"></div>
<script>
var errorIncompleteData = "{{errorIncompleteData}}";
$('#note_title')[0].focus();
</script>
<!-- END form -->