<!-- BEGIN notepad -->
<div class="gadget_header"><div class="gadget_title"><h3>{{title}}</h3></div></div>
<div class="gadget_container">
  <div class="gadget_response">
    <div id="notepad_notepad_response" class="{{type}}">{{text}}</div>
  </div>
  <div class="gadget_content content">
    <form id="frm_search" action="{{base_script}}" method="post">
      <input type="hidden" name="gadget" value="Notepad" />
      <input type="hidden" name="action" value="Search" />
      {{filter}} {{query}} {{btn_search}} {{btn_reset}}
    </form>
    <table>
      <thead><tr>
        <th><input type="checkbox" id="chk_all" onchange="checkAll()"/></th>
        <th class="note-title">{{lbl_title}}</th>
        <th>{{lbl_created}}</th>
        <th>{{lbl_shared}}</th>
        <th>{{lbl_owner}}</th>
      </tr></thead>
      <tbody id="grid_notes">
        <!-- BEGIN note -->
        <tr id="note_{{id}}">
          <td><input type="checkbox" value="{{id}}"/></td>
          <td><a href="{{url}}">{{title}}</a></td>
          <td>{{created}}</td>
          <td>{{shared}}</td>
          <td class="note-owner" title="{{username}}">{{nickname}}</td>
        </tr>
        <!-- END note -->
      </tbody>
    </table>
    <!-- INCLUDE PageNavigation.html -->
    <div class="gadget_actions actions">
      <button onclick="location.href='{{url_new}}'">{{lbl_new_note}}</button>
      <button id="btn_del_note" onclick="deleteNotes()">{{lbl_del_note}}</button>
    </div>
  </div>
</div>
<div class="gadget_footer"></div>
<script>
var notepad_url = "{{notepad_url}}",
    confirmDelete = "{{confirmDelete}}",
    errorShortQuery = "{{errorShortQuery}}";
initNotepad();
</script>
<!-- END notepad -->