<!-- BEGIN share -->
<div class="gadget_header">
  <div class="gadget_title"><h2>{{title}}</h2></div>
</div>
<div class="gadget_container">
  <div class="gadget_response">
    <div id="notepad_sharenote_response" class="alert {{response_type}}" role="alert">{{response_text}}</div>
  </div>
  <h4>{{note_title}}</h4>
  <div id="note_share">
    <div><label>{{lbl_note_users}}:</label></div>
    {{note_users}}
    <div><label>{{lbl_groups}}:</label></div>
    {{groups}}
    <div><label>{{lbl_users}}:</label></div>
    <div id="sys_users"></div>
    <div class="gadget_actions actions">
      <button class="btn" type="button" onclick="location.href='{{url_back}}'">{{lbl_cancel}}</button>
      <button class="btn btn-primary" type="button" onclick="submitShare({{id}})">{{lbl_ok}}</button>
    </div>
  </div>
</div>
<div class="gadget_footer"></div>
<script>
var UID = "{{UID}}",
    notepad_url = "{{notepad_url}}";
initShare();
</script>
<!-- END share -->
