<!-- BEGIN share -->
<div class="gadget notepad">
  <div class="gadget_header"><h2>{title}</h2></div>
  <div class="gadget_container">
  <div class="gadget_response">
    <div id="notepad_sharenote_response" class="{type}">{text}</div>
  </div>
  <h3>{note_title}</h3>
  <div id="note_share">
    <div><label>{lbl_note_users}:</label></div>
    {note_users}
    <div><label>{lbl_groups}:</label></div>
    {groups}
    <div><label>{lbl_users}:</label></div>
    <div id="sys_users"></div>
    <div class="gadget_actions actions">
      <button type="button" onclick="location.href='{url_back}'">{lbl_cancel}</button>
      <button type="button" onclick="submitShare({id})">{lbl_ok}</button>
    </div>
  </div>
  </div>
  <div class="gadget_footer"></div>
</div>
<script>
var UID = "{UID}",
    notepad_url = "{notepad_url}";
initShare();
</script>
<!-- END share -->
