<!-- BEGIN share -->
<div class="gadget-header card-header d-flex align-items-center justify-content-between">
  <h5 class="m-0 me-2 py-1">{{title}}</h5>
</div>
<div class="gadget-container">
  <div class="gadget_response">
    <div id="notepad_sharenote_response" class="alert {{response_type}}" role="alert">{{response_text}}</div>
  </div>
  <h5>{{note_title}}</h5>
  <div id="note_share">
    <div><label>{{lbl_note_users}}:</label></div>
    {{note_users}}
    <div><label>{{lbl_groups}}:</label></div>
    {{groups}}
    <div><label>{{lbl_users}}:</label></div>
    <div id="sys_users"></div>
    <div class="gadget_actions">
      <button class="btn" type="button" onclick="location.href='{{url_back}}'">{{lbl_cancel}}</button>
      <button class="btn btn-primary" type="button" onclick="submitShare({{id}})">{{lbl_ok}}</button>
    </div>
  </div>
</div>
<div class="gadget-footer card-footer" hidden></div>
<script>
var UID = "{{UID}}",
    notepad_url = "{{notepad_url}}";
initShare();
</script>
<!-- END share -->
