<!-- BEGIN notes -->
<div class="gadget notepad sticky-notes">
  <h2>{title}</h2>
  <div class="gadget_menubar">{menubar}</div>
  <div class="gadget_response">
    <div id="notepad_stickynote_response" class="{type}">{text}</div>
  </div>
  <div>
    <ol>
      <!-- BEGIN note -->
      <li><a href="{note_url}" title="{created}">{note_title}</a></li>
      <!-- END note -->
    </ol>
  </div>
</div>
<!-- END notes -->

<!-- BEGIN note -->
<div class="gadget notepad sticky-note">
  <h2>{title}</h2>
  <div class="gadget_menubar">{menubar}</div>
  <div class="gadget_response">
    <div id="notepad_stickynote_response" class="{type}">{text}</div>
  </div>
  <div>{note_content}</div>
</div>
<!-- END note -->
