#buttons{
float:right;
padding-top:15px;
}
#gadgets_combo{
margin-bottom:10px;
}
.jawsDatagrid{
padding:0px;
}
#map_area input, #map_area select{
margin:0 8px;
}
#map_area label{
margin:5px 0 2px 8px;
}