.workarea{
width:230px;
padding-right:8px;
vertical-align:top;
}
#buttons{
float:left;
padding-top:15px;
}
#gadgets_combo{
margin-bottom:10px;
}
.jawsDatagrid{
padding:0px;
}
#map_area label{
margin:5px 0 2px;
}
#alias, #custom_url{
direction:ltr;
}
#main table{
margin:0 auto;
}
#main table td{
vertical-align: top;
}