<!-- BEGIN list  -->
<div class="gadget glossary">
  <div class="gadget_header"><h2>{title}</h2></div>
  <div class="index">
    <!-- BEGIN letters --><a href="{url}#{letter}">{letter}</a><!-- END letters -->
  </div>
  <div class="gadget_content content">
    <!-- BEGIN letter -->
    <h4><a title="{letter}">{letter}</a></h4>
      <ul>
      <!-- BEGIN term -->
      <li><a href="{url}">{term}</a>
          <p>{description}</p>
      </li>
      <!-- END term -->
      </ul>
    <!-- END letter -->
  </div>
</div>
<!-- END list -->