<!-- BEGIN list  -->
<div class="gadget_header">
  <div class="gadget_title"><h2>{{title}}</h2></div>
</div>
<div class="gadget_container">
  <div class="index">
    <!-- BEGIN letters --><a href="{{url}}#{{letter}}">{{letter}}</a><!-- END letters -->
  </div>
  <div class="gadget_content content">
    <!-- BEGIN letter -->
    <h4><a title="{{letter}}">{{letter}}</a></h4>
      <ul>
      <!-- BEGIN term -->
      <li><a href="{{url}}">{{term}}</a>
          <p>{{description}}</p>
      </li>
      <!-- END term -->
      </ul>
    <!-- END letter -->
  </div>
</div>
<div class="gadget_footer"></div>
<!-- END list -->