<!-- BEGIN definition -->
<div class="gadget_header">
  <div class="gadget_title"><h2>{{title}}</h2></div>
</div>
<div class="gadget_container">
  <div class="gadget_content content">
    <!-- BEGIN term -->
    <h4><a href="{{url}}">{{term}}</a></h4>
    <p>{{description}}</p>
    <div><small>{{created_in}}: {{createtime}}</small>
         <small>{{updated_in}}: {{updatetime}}</small>
    </div>
    <!-- END term -->
    <!-- BEGIN notfound -->
    <p><strong>{{term}}: {{notfound}}</strong></p>
    <!-- END notfound -->
  </div>
</div>
<div class="gadget_footer"></div>
<!-- END definition -->