<!-- BEGIN AdvancedPolicies -->
<div id="policy">
  <table id="policy_advanced">
    <tr>
      <td id="policy_sidebar">{{sidebar}}</td>
      <td id="options_entry">
        <fieldset><legend><span id="legend_title">{{legend_title}}</span></legend>
          <table>
            <tr><td><label for="password_complexity">{{lbl_password_complexity}}</label></td>
                <td>{{password_complexity}}</td>
            </tr>
            <tr><td><label for="password_bad_count">{{lbl_password_bad_count}}</label></td>
                <td>{{password_bad_count}}</td>
            </tr>
            <tr><td><label for="password_lockedout_time">{{lbl_password_lockedout_time}}</label></td>
                <td>{{password_lockedout_time}}</td>
            </tr>
            <tr><td><label for="password_max_age">{{lbl_password_max_age}}</label></td>
                <td>{{password_max_age}}</td>
            </tr>
            <tr><td><label for="password_min_length">{{lbl_password_min_length}}</label></td>
                <td>{{password_min_length}}</td>
            </tr>
            <tr><td><label for="login_captcha">{{lbl_login_captcha}}</label></td>
                <td>{{login_captcha}} {{login_captcha_driver}}</td>
            </tr>
            <tr><td><label for="xss_parsing_level">{{lbl_xss_parsing_level}}</label></td>
                <td>{{xss_parsing_level}}</td>
            </tr>
            <tr><td><label for="session_idle_timeout">{{lbl_session_idle_timeout}}</label></td>
                <td>{{session_idle_timeout}}</td>
            </tr>
            <tr><td><label for="session_remember_timeout">{{lbl_session_remember_timeout}}</label></td>
                <td>{{session_remember_timeout}}</td>
            </tr>
          </table>
        </fieldset>
        <div class="buttons">{{btn_save}}</div>
      </td>
    </tr>
  </table>
<script type="text/javascript">
  currentAction = 'Encryption';
</script>
</div>
<!-- END AdvancedPolicies -->
