<!-- BEGIN AntiSpam -->
<div id="policy">
  <table id="policy_spam">
    <tr>
      <td id="policy_sidebar">{{sidebar}}</td>
      <td id="options_entry">
        <fieldset><legend><span id="legend_title">{{legend_title}}</span></legend>
          <table>
            <tr><td><label for="filter">{{lbl_filter}}</label></td><td>{{filter}}</td></tr>
            <tr>
              <td><label for="default_captcha">{{lbl_default_captcha}}</label></td>
              <td>{{default_captcha}} {{default_captcha_driver}}</td>
            </tr>
            <tr><td><label for="obfuscator">{{lbl_obfuscator}}</label></td><td>{{obfuscator}}</td></tr>
            <tr><td><label for="blocked_domains">{{lbl_blocked_domains}}</label></td><td>{{blocked_domains}}</td></tr>
          </table>
        </fieldset>
        <div class="buttons">{{btn_save}}</div>
      </td>
    </tr>
  </table>
<script type="text/javascript">
  currentAction = 'AntiSpam';
</script>
</div>
<!-- END AntiSpam -->
