<!-- BEGIN pager -->
<div class="gadget_paginator">
  <!-- BEGIN item -->
    <!-- BEGIN next -->
    <span class="next"><a href="{{url_next}}">{{lbl_next}}</a></span>
    <!-- END next -->
    <!-- BEGIN no_next -->
    <span class="next inactive">{{lbl_next}}</span>
    <!-- END no_next -->

    <!-- BEGIN page_number -->
      <span><a href="{{url_page}}">{{lbl_page}}</a></span>
    <!-- END page_number -->
    <!-- BEGIN page_current -->
      <span class="current"><a href="{{url_page}}">{{lbl_page}}</a></span>
    <!-- END page_current -->
    <!-- BEGIN page_separator -->
      <span class="separator">...</span>
    <!-- END page_separator -->

    <!-- BEGIN previous -->
    <span class="prev"><a href="{{url_previous}}">{{lbl_previous}}</a></span>
    <!-- END previous -->
    <!-- BEGIN no_previous -->
    <span class="prev inactive">{{lbl_previous}}</span>
    <!-- END no_previous -->
  <!-- END item -->
  <div><span class="total">{{total}}</span></div>
</div>
<!-- END pager -->
