{% unless comments.compact_view %}
<div class="gadget_section {{comments.gadget}}_comments">
  {% for comment in comments.comments %}
  <div class="comments_post">

    <div class="post_profile">
      <ul>
        <li><span class="user_avatar"><img src="{{comment.avatar}}" alt="{{comment.username}}" title="{{comment.nickname}}"/></span></li>
        {% if comment.user_registered_date %}
        <li><span class="user_register_date">{{ "comments.users_registered_date" | t }}: <span>{{ comment.user_registered_date | date }}</span></span></li>
        {% endif %}
      </ul>
    </div>
    <div class="post_body">
      <div class="post_meta">
        {{ "comments.postedby" | t }}:
        <a href="{{ 'Users' | urlmap: 'Profile', 'user', comment.username }}"
                                          title="{{comment.username}}">{{comment.nickname}}</a>
        &raquo; <abbr title="{{ comment.insert_time | date: 'c', 'gregorian' }}">{{ comment.insert_time | date }}</abbr>
      </div>
      <div class="post_content">{{comment.msg_txt}}</div>
      
      <!-- INCLUDE Like.html gadgets/Rating/Templates -->

      {% unless comment.reply | empty %}
      <div class="reply_content" id="reply_content">
        <blockquote> 
          <cite>{{ "comments.replier" | t }}
          <a href="{{ 'Users' | urlmap: 'Profile', 'user', comment.replier_username }}">{{comment.replier_nickname}}</a> :
          </cite>
          <div>{{comment.reply}}</div>
        </blockquote>
      </div>
      {% endunless %}

    </div>

    <div class="post_actions">[ <a href="javascript:void(0);" onclick="javascript:replyComment();">{{ "comments.reply_to_comment" | t }}</a> ]</div>
  </div>

  <hr style="clear: both; visibility: hidden;"/>
  {% endfor %}

  <!-- INCLUDE Navigation.html include/Jaws/Resources -->

  <hr style="clear: both; visibility: hidden;"/>
  <div class="gadget_actions">
    <span class="comments_feed">{{ "comments.comments_xml" | t }}:
      <a href="{{ 'Comments' | urlmap: 'RecentCommentsAtom', 'gadgetname', gadget, 'actionname', action, 'reference', reference }}">RSS</a> |
      <a href="{{ 'Comments' | urlmap: 'RecentCommentsRSS', 'gadgetname', gadget, 'actionname', action, 'reference', reference }}">Atom</a></span>
  </div>

</div>

{% else %}
<div class="{{gadget}}_comments">
  {% for comment in comments.comments %}
  <div class="comments_post">

    <div class="post_body">
      <div class="post_meta">
        <a href="{{ 'Users' | urlmap: 'Profile', 'user', comment.username }}" title="{{comment.username}}">{{comment.nickname}}</a>
        &raquo; <abbr title="{{ comment.insert_time | date: 'c', 'gregorian' }}">{{ comment.insert_time | date }}</abbr> :
      </div>
      <div class="post_content">{{comment.message_abbr}}
        <a href="{{comment.reference_link}}" title="{{ "comments.read_more" | t }}">{{ "comments.read_more" | t }}</a>
      </div>
    </div>

  </div>

  <hr/>
  {% endfor %}
</div>
{% endunless %}