<div class="gadget_section comments_form">
  <div class="gadget-header card-header d-flex align-items-center justify-content-between">
    <h5 class="m-0 me-2 py-1">{{ "comments.comments" | t }}</h5>
  </div>

  <div class="gadget-container" data-loading-container="comment.form">
    <form action="{{comment_form.base_script}}" method="post">
        <input type="hidden" name="reqGadget" value="Comments"/>
        <input type="hidden" name="reqAction" value="PostMessage"/>
        <input type="hidden" name="requested_gadget" value="{{comment_form.gadget}}"/>
        <input type="hidden" name="requested_action" value="{{comment_form.action}}"/>
        <input type="hidden" name="reference" value="{{comment_form.reference}}"/>

        <div class="gadget-content card-body">
            {% unless "user.logged" | session %}
            <div><label for="name_comments{{comment_form.rand}}">{{ "global.name" | t }}:</label>
                <input class="form-control" name="name" class="large name" id="name_comments{{comment_form.rand}}" type="text" maxlength="20" value="{{comment_form.namevalue}}"/>
            </div>

            <div><label for="email_comments{{comment_form.rand}}">{{ "global.email" | t }}:</label>
                <input class="form-control" name="email" class="large email ltr" id="email_comments{{comment_form.rand}}" type="text" value="{{comment_form.emailvalue}}"/>
            </div>

            <div><label for="url_comments{{comment_form.rand}}">{{ "global.url" | t }}:</label>
                <input class="form-control" name="url" class="large url ltr" id="url_comments{{comment_form.rand}}" type="text" maxlength="100" value="{{comment_form.urlvalue}}" />
            </div>
            {% endunless %}

            <div class="hidden"><label for="comment_url2">{{ "global.spamcheck_empty" | t }}:</label>
                <input class="form-control" name="url2" id="comment_url2" value="{{url2_value}}" type="text" />
            </div>

            <div><label for="message{{comment_form.rand}}">{{ "comments.message" | t }}:</label>
                <textarea class="form-control w-100" id="message{{comment_form.rand}}" rows="7" name="message">{{message}}</textarea>
            </div>
            <div>
              <label class="form-check-label" for="private_comments{{comment_form.rand}}">
                <input class="form-check-input" name="is_private" id="private_comments{{comment_form.rand}}" type="checkbox" value="1" />
                {{ "comments.private" | t }}
              </label>
            </div>

            {% include 'XCaptcha.html' path 'gadgets/Policy/Templates' with comment_form.captcha as captcha %}
        </div>
        <div class="gadget_actions">
            <button class="btn btn-primary" type="submit" name="submit" value="{{ "comments.send" | t }}">{{ "comments.send" | t }}</button>
        </div>
    </form>

  </div>
  <div class="gadget-footer">
    <div class="gadget-response-message alert mb-0 {{response.type}}" role="alert">{{response.text}}</div>
  </div>
</div>