<div class="card-header d-flex flex-wrap justify-content-between gap-4">
  <h5 class="mb-0">{{ 'comments.comments' | t }}</h5>
  <div class="align-content-center">
    <span class="badge bg-label-primary">
      <a class="text-decoration-none"
        href="{{ 'Comments' | urlmap: 'RecentCommentsAtom', 'gadgetname', gadget, 'actionname', action, 'reference', reference }}">Atom</a>
    </span>
    <span class="badge bg-label-primary">
      <a class="text-decoration-none"
        href="{{ 'Comments' | urlmap: 'RecentCommentsRSS', 'gadgetname', gadget, 'actionname', action, 'reference', reference }}">RSS</a>
    </span>
  </div>
</div>
<div class="card-body">
  {% for comment in comments.comments %}
      <div class="row">
        <div class="col-md-3 col-sm-4 text-center">
          {%- if user.avatar %}
            <img class="d-block rounded-circle"
              src="{{ 'Users' | urlmap: 'Avatar', 'user', comment.username }}"
              width="120"
              alt="{{ comment.nickname }}"
            />
          {%- else %}
            <img class="rounded-circle" src="{{'theme_url' | global}}assets/img/avatar.png" width="64" alt="avatar" />
          {%- endif %}
          <span class="d-block my-2">{{comment.nickname}}</span>
          <span class="d-block my-2"><bdi>{{ comment.insert_time | date2str: 'yyyy/MM/dd HH:mm' }}</bdi></span>
        </div>
        <div class="col-md-9 col-sm-8 row">
          <div class="w-100">
            {{comment.msg_txt}}
          </div>
          {% unless comment.reply | empty %}
          <div class="reply_content" id="reply_content">
            <blockquote class="blockquote card shadow-none bg-label-primary mt-5">
              <div class="card-body">
                <cite class="card-title text-primary">
                  {{ "comments.replier" | t }} <a href="{{ 'Users' | urlmap: 'Profile', 'user', comment.replier_username }}">{{comment.replier_nickname}}</a>
                </cite>
                <p class="card-text">{{comment.reply}}</p>
              </div>
            </blockquote>
          </div>
          {% endunless %}
          <!--
          <div class="w-100 align-self-end mt-4">
            <button class="btn btn-label-primary waves-effect"
              type="button"
              onclick="javascript:replyComment();">
              {{ "comments.reply_to_comment" | t }}
            </button>
          </div>
          -->
        </div>
      </div>
      <hr class="my-6">

  {% endfor %}

</div>