form[name=frm_event] {
    margin-top: 30px;
}
#events_datagrid {
    height: 500px;
}
#events_filter{
    width: 100%;
    height:70px;
    text-align:left;
    padding-bottom:4px;
}
#events_filter input,#events_filter select{
    width:180px;
    white-space:nowrap;
    margin:0 10px 4px 0;
}
#events_filter table td{
    padding:2px;
}
#events_filter .filter_label{
    width:70px;
}