form[name=frm_event] {
    margin-top: 30px;
}
#events_datagrid {
    height: 500px;
}
#w2ui-popup [disabled] {
    color: black;
    background-color: white;
}
.popup_response {
    margin-top: 3px;
}
#w2ui-overlay-datagrid-searchOverlay .operator {
    display: none;
}