<!-- BEGIN info -->
<div class="component-info">
  <div><img src="{image}" alt="{gadget}" /><h1>{gadget}: {description}</h1></div>
  <div class="details">
    <div><h2>{lbl_version}</h2> <span>{version}</span></div>
    <div><h2>{lbl_jaws_version}</h2> <span>{jaws_version}</span></div>
    <div><h2>{lbl_location}</h2> <span>{location}</span></div>

    <!-- BEGIN requires -->
    <h2>{lbl_requires}{gadget}</h2>
    <ul><!-- BEGIN item --><li>{gadget}</li><!-- END item --></ul>
    <!-- END requires -->

    <!-- BEGIN acls -->
    <h2>{lbl_acl_rules}</h2>
    <ul class="acls"><!-- BEGIN acl --><li>{acl}</li><!-- END acl --></ul>
    <!-- END acls -->
  </div>
</div>
<!-- END info -->
