<!-- BEGIN poll -->
<div class="gadget_header">
  <div class="gadget_title"><h2>{{title}}</h2></div>
</div>
<div class="gadget_container">
  <div class="gadget_response">
    <div class="alert {{response_type}}" role="alert">{{response_text}}</div>
  </div>
  <div class="gadget_content content">
    <h4>{{title}}</h4>
    <!-- BEGIN voting -->
    <form action="{{base_script}}" name="poll_form_{{pid}}" method="post">
    <input type="hidden" name="gadget" value="Poll" />
    <input type="hidden" name="action" value="Vote" />
    <input type="hidden" name="pid" value="{{pid}}" />
    <!-- BEGIN answer -->
    <div class="poll_answer">
      <label class="form-check-label" for="poll_answer_input_{{aid}}">
        <input class="form-check-input" type="{{type}}" name="answers[]" id="poll_answer_input_{{aid}}" value="{{aid}}"/>
        {{title}}
      </label>
    </div>
    <!-- END answer -->
    <div class="gadget_actions actions">{{result_link}} {{btn_vote}}</div>
    </form>
    <!-- END voting -->
    <!-- BEGIN result -->
    <ul>
      <!-- BEGIN answer -->
      <li class="poll_answer_result poll_answer_{{order}}">
        <label>{{title}}</label>
        <div style="width: {{percent}}%;">{{txt_percent}}({{votes}})</div>
      </li>
      <!-- END answer -->
      <li class="poll_total_votes">
        <label>{{lbl_total_votes}}: {{total_votes}}</label>
      </li>
    </ul>
    <!-- END result -->
  </div>
  <div class="poll_message alert-warning" role="alert">{{already_message}}</div>
  <div class="poll_message alert-warning" role="alert">{{disabled_message}}</div>
</div>
<div class="gadget_footer"></div>
<!-- END poll -->
