<!-- BEGIN all -->
<div class="gadget privateMessage allMessages">
    <div class="gadget_header"><h2>{title}</h2><div class="gadget_menubar">{menubar}</div></div>
    <div class="gadget_response"><div id="simple_response" class="{type}">{text}</div></div>

    <form name="privatemessage" id="privatemessage" action="{requested_url}" method="post">
        <input type="hidden" name="gadget" value="PrivateMessage"/>
        <input type="hidden" name="action" value="AllMessages"/>
        <input type="hidden" name="page" value="{page}"/>
        <input type="hidden" name="view" value="{view}"/>
        <input type="hidden" name="status" value=""/>

        <div class="filters">
            <input type="text" id="term" name="term" size="20" value="{txt_term}">

            <button value="{filter}" id="filter_button" name="filter_button"
                    type="submit"><img src="{icon_filter}" alt="{filter}"/>&nbsp;{filter}
            </button>
        </div>

        <div class="gadget_content content">
            <table>
                <thead>
                <tr>
                    <th>#</th>
                    <th>{lbl_in_out}</th>

                    <th>{lbl_subject}</th>
                    <th>&nbsp;</th>
                    <th>{lbl_from}</th>
                    <th>{lbl_recipients}</th>
                    <th>{lbl_send_time}</th>
                </tr>
                </thead>

                <tbody>
                <!-- BEGIN message -->
                <tr>
                    <td>
                        {rownum}
                    </td>
                    <td>{in_out}</td>
                    <td><a href="{message_url}">{subject}</a></td>

                    <!-- BEGIN have_attachment -->
                    <td><img src="{icon_attachment}" alt="{attachment}"/></td>
                    <!-- END have_attachment -->
                    <!-- BEGIN no_attachment -->
                    <td>&nbsp;</td>
                    <!-- END no_attachment -->

                    <td><a href="{user_url}">{from}</a></td>
                    <td><a href="{user_url}">{recipients}</a></td>
                    <td>{send_time}</td>

                </tr>
                <!-- END message -->
                </tbody>
                <tfoot>
                <tr>
                    <td colspan="7">
                        {lbl_page_item}
                        <select id="page_item" name="page_item" onchange="this.form.submit();">
                            <option {opt_page_item_5} value="5">5</option>
                            <option {opt_page_item_10} value="10">10</option>
                            <option {opt_page_item_20} value="20">20</option>
                            <option {opt_page_item_50} value="50">50</option>
                            <option {opt_page_item_100} value="100">100</option>
                        </select>
                    </td>
                </tr>
                </tfoot>
            </table>

            <!-- INCLUDE PageNavigation.html -->
        </div>
    </form>
    <div class="gadget_footer"></div>
</div>
<!-- END all -->
