<!-- BEGIN compose -->
<div class="gadget privateMessage message" id="compose">
    <div class="gadget_header"><h2>{title}</h2><div class="gadget_menubar">{menubar}</div></div>

    <div class="gadget_response">
      <div id="privatemessage_compose_response" class="{type}">{text}</div>
    </div>

    <form name="compose" action="{base_script}" method="post" enctype="multipart/form-data">
        <input type="hidden" value="15000000" id="MAX_FILE_SIZE" name="MAX_FILE_SIZE">
        <input type="hidden" name="gadget" value="PrivateMessage"/>
        <input type="hidden" name="action" value="ComposeMessage"/>
        <input type="hidden" name="id" id="id" value="{id}"/>
        <input type="hidden" name="parent" id="parent" value="{parent}"/>

        <!-- BEGIN parent_message -->
        <div class="parent-message">
            <!-- INCLUDE Message.html -->
            <hr>
        </div>
        <!-- END parent_message -->

        <!-- BEGIN announcement -->
        <div>
            <label for="announcement">
                <input type="checkbox" value="comments" id="announcement" name="announcement"
                       onclick="toggleAnnouncementChk(this)">
                {lbl_announcement}
            </label>
        </div>
        <!-- END announcement -->

        <div class="content">
            <!-- BEGIN recipients -->
            <div>
                <b>{lbl_recipient}:</b>
            </div>
            <div id="recipient_users_area">
                <label for="recipient_users"><b>{lbl_recipient_users}:</b></label>
                {recipient_users_opt}
            </div>

            <div id="recipient_groups_area">
                <label for="recipient_groups"><b>{lbl_recipient_groups}:</b></label>
                {recipient_groups_opt}
            </div>
            <!-- END recipients -->

             <!-- BEGIN recipient -->
            <div>
                <label for="recipient">{lbl_recipient}:</label>
                <a href="{recipient_user_url}">{recipient_user}</a>
            </div>
            <!-- END recipient -->

            <div>
                <label for="subject"><b>{lbl_subject}:</b></label>
                <input name="subject" id="subject" type="text" value="{subject}"/>
            </div>

            <div>
                <label for="body"><b>{lbl_body}:</b></label>
                {body}
            </div>
        </div>
    </form>

    <form id="frm_file" name="frm_file" method="post" target="ifrm_upload" action="{requested_url}"
          enctype="multipart/form-data" onsubmit="return true">
        <input type="hidden" name="gadget" value="PrivateMessage"/>
        <input type="hidden" name="action" value="UploadFile"/>
        <input type="hidden" name="attachment_number" id="attachment_number" value="1"/>
        <fieldset>
            <legend id="legend_attachments" toggle-status="min">
                <span>
                    <img alt="toggle attachments maximize" src="{icon_add}">
                    {lbl_attachments}
                </span>
            </legend>

            {attachment_ui}
        </fieldset>
    </form>

</div>

<div class="actions">
    <a href="{back_url}" class="button" id="btn_back">{lbl_back}</a>
    <a class="button" href="javascript:sendMessage(false)" id="btn_save_draft">{lbl_save_draft}</a>
    <a class="button" href="javascript:sendMessage(true)" id="btn_send">{lbl_send}</a>
</div>
<!--</div>-->

<script type="text/javascript">
    var toggleMax = "{icon_add}";
    var toggleMin = "{icon_remove}";
    var recipient_user = "{recipient_user}";
    var selectAnnouncementChk = {selectAnnouncementChk};
    if (selectAnnouncementChk) {
        $('announcement').set('checked', 'checked');
        $('recipient_users').set('disabled', true);
        $('recipient_groups').set('disabled', true);
    }

    $('attachment1').show();
    $('attach_loading').hide();
    $('btn_attach1').hide();
    $('attachment_area').toggle();

    function toggleAnnouncementChk(cb)
    {
        if(cb.checked) {
            $('recipient_users').set('disabled', true);
            $('recipient_groups').set('disabled', true);
        } else {
            $('recipient_users').set('disabled', false);
            $('recipient_groups').set('disabled', false);
        }
    }

    function ChangeToggleIcon(obj)
    {
        if ($(obj).get('toggle-status') == 'min') {
            $(obj).getElementsByTagName('img')[0].src = toggleMin;
            $(obj).set('toggle-status', 'max');
        } else {
            $(obj).getElementsByTagName('img')[0].src = toggleMax;
            $(obj).set('toggle-status', 'min');
        }
    }

    window.addEvent('domready', function() {

        $('legend_attachments').addEvent('click', function(){
            $('attachment_area').toggle();
            ChangeToggleIcon(this);
        });
    });

    // auto draft message
    setInterval('autoDraftMessage();', 120000);

</script>

<!-- END compose -->


<!-- BEGIN attachments -->
<!-- BEGIN file -->
<div>
    <input type="checkbox" name="selected_files[]" id="chk_file_{file_id}" value="{file_id}"
           checked>
    <a href="{file_download_link}">{file_name}</a> ({lbl_file_size}: {file_size})
</div>
<!-- END file -->

<div class="attach_actions" id="attachment_area">
    <img id="attach_loading" src="images/loading.gif"/>

    <div id="btn_attach1">
        <img src="gadgets/Contact/Resources/images/attachment.png"/>
        <a id="file_link1"></a> -
        <small id="file_size1"></small>
        <a onclick="javascript:removeAttachment(1);" href="javascript:void(0);"><img border="0"
                                                                                     title="Remove"
                                                                                     alt="Remove"
                                                                                     src="images/stock/cancel.png"></a>
    </div>
    <input type="file" onchange="uploadFile();" id="attachment1" name="attachment1" size="1"
           style="display: block;">

                <span id="attachment_addentry2">
                </span>
</div>
<!-- END attachments -->
