<!-- BEGIN compose -->
<div class="gadget_header">
  <div class="gadget_title"><h2>{{title}}</h2></div>
  <div class="gadget_menubar">{{menubar}}</div>
</div>
<div class="gadget_container">

  <div class="gadget_response">
    <div id="privatemessage_compose_response" class="alert {{response_type}}" role="alert">{{response_text}}</div>
  </div>

  <form id="compose" name="compose" action="{{base_script}}" method="post" enctype="multipart/form-data">
      <input type="hidden" value="15000000" id="MAX_FILE_SIZE" name="MAX_FILE_SIZE">
      <input type="hidden" name="gadget" value="PrivateMessage"/>
      <input type="hidden" name="action" value="SendMessage"/>
      <input type="hidden" name="id" id="id" value="{{id}}"/>

      <!-- BEGIN parent_message -->
      <div class="parent-message">
          <!-- INCLUDE Message.html -->
          <hr>
      </div>
      <!-- END parent_message -->

      <div class="gadget_content content">
          <!-- BEGIN recipients -->
          <div>
              <b>{{lbl_recipient}}:</b>
          </div>

          <!--<label for="recipient_users"><b>{{lbl_recipient_users}}:</b></label>-->


          <label for="recipient_users" class="control-label">{{lbl_recipient_users}}:</label>
          <div class="pillbox" id="recipientUsers">
              <ul class="clearfix pill-group">
                  <li class="pillbox-input-wrap btn-group">
                      <input type="text" class="form-control dropdown-toggle pillbox-add-item"/>
                      <button type="button" class="dropdown-toggle sr-only"><span class="caret"></span><span
                              class="sr-only">Toggle Dropdown</span></button>
                      <ul class="suggest dropdown-menu" role="menu" data-toggle="dropdown" data-flip="auto">
                          <li data-value='options'>options</li>
                      </ul>
                  </li>
              </ul>
          </div>
          <input type="hidden" name="groups" tabindex=0>


          <!--
                    <div class="pillbox" id="recipientUsers">
                        <ul class="clearfix pill-group">
                            <li class="btn btn-default pill" data-value="foo">
                                <span>Item Title</span>
                                <span class="glyphicon glyphicon-close">
                  <span class="sr-only">Remove</span>
                </span>
                            </li>
                            <li class="pillbox-input-wrap btn-group">
                                <a class="pillbox-more">and <span class="pillbox-more-count"></span> more...</a>
                                <input type="text" class="form-control dropdown-toggle pillbox-add-item" placeholder="add item">
                                <button type="button" class="dropdown-toggle sr-only">
                                    <span class="caret"></span>
                                    <span class="sr-only">Toggle Dropdown</span>
                                </button>
                                <ul class="suggest dropdown-menu" role="menu" data-toggle="dropdown" data-flip="auto"></ul>
                            </li>
                        </ul>
                    </div>-->


<!--
          <div id="userBox" class="ajaxResultBox">
              <input class="form-control" type="text" id="userSearch" name="userSearch" onkeyup="searchUsersStart(this.value)" class="large">
              <div id="userSearchResult"></div>
          </div>

          <div class="recipient_users">
              <select class="form-control" multiple="multiple" id="recipient_users" name="recipient_users">
                  &lt;!&ndash; BEGIN user &ndash;&gt;
                  <option value="{{value}}">{{title}}</option>
                  &lt;!&ndash; END user &ndash;&gt;
              </select>

              <button class="btn" type="button" name="btn_del" id="btn_del" onclick="javascript:removeUserFromList();">
                  <img src="{{delete-icon}}" alt="{{lbl_remove_from_list}}" id="" width="16" height="16">
              </button>
          </div>

-->
          <div class="recipient_friends_area">
              <label for="recipient_friends"><b>{{lbl_recipient_friends}}:</b></label>
              <div>
              <!-- BEGIN friend -->
              <label for="friend_{{value}}" class="label label-default">{{title}}
                  <input type="checkbox" name="friends" value="{{value}}" id="friend_{{value}}"
                         title="{{title}}" class="form-control" {{checked}}>
              </label>
              <!-- END friend -->
              </div>
          </div>
          <!-- END recipients -->

           <!-- BEGIN recipient -->
          <div>
              <label for="recipient">{{lbl_recipient}}:</label>
              <a href="{{recipient_user_url}}">{{recipient_user}}</a>
          </div>
          <!-- END recipient -->

          <div>
              <label for="subject"><b>{{lbl_subject}}:</b></label>
              <input class="form-control" name="subject" id="subject" type="text" value="{{subject}}" class="x-large"/>
          </div>

          <div>
              <label for="body"><b>{{lbl_body}}:</b></label>
              {{body}}
          </div>
      </div>
  </form>

  <form id="frm_file" name="frm_file" method="post" target="ifrm_upload" action="{{requested_url}}"
        enctype="multipart/form-data" onsubmit="return true">
      <input type="hidden" name="gadget" value="PrivateMessage"/>
      <input type="hidden" name="action" value="UploadFile"/>
      <input type="hidden" name="attachment_number" id="attachment_number" value="1"/>
      <fieldset>
          <legend id="legend_attachments" toggle-status="min">
              <span>
                  <img alt="toggle attachments maximize" src="{{icon_add}}">
                  {{lbl_attachments}}
              </span>
          </legend>

          {{attachment_ui}}
      </fieldset>
  </form>

  <div class="gadget_actions actions">
      <a class="btn btn-default" href="{{back_url}}" id="btn_back">{{lbl_back}}</a>
      <a class="btn btn-default" href="javascript:sendMessage(true)" id="btn_save_draft">{{lbl_save_draft}}</a>
      <a class="btn btn-default" href="javascript:sendMessage(false)" id="btn_send">{{lbl_send}}</a>
  </div>
</div>
<div class="gadget_footer"></div>

<script type="text/javascript">
    var toggleMax = "{{icon_add}}";
    var toggleMin = "{{icon_remove}}";
    var recipient_user = "{{recipient_user}}";

    $('#attachment1').show();
    $('#attach_loading').hide();
    $('#btn_attach1').hide();
    $('#attachment_area').toggle();

    function ChangeToggleIcon(obj)
    {
        if ($(obj).attr('toggle-status') == 'min') {
            $(obj).find("img").attr('src', toggleMin);
            $(obj).attr('toggle-status', 'max');
        } else {
            $(obj).find("img").attr('src', toggleMax);
            $(obj).attr('toggle-status', 'min');
        }
    }

    $( document ).ready(function() {

        // initiate pillbox
        $('#recipientUsers').pillbox({
            onKeyDown: function (inputData, callback) {
                callback({
                    data: [
                        {
                            text: Math.random(),
                            value: 'num1'
                        },
                        {
                            text: Math.random(),
                            value: 'num2'
                        }
                    ]
                });
            }
        });


        $( "#legend_attachments" ).click(function() {
            $('#attachment_area').toggle();
            ChangeToggleIcon(this);
        });
    });
</script>

<!-- END compose -->


<!-- BEGIN attachments -->
<!-- BEGIN file -->
<div>
    <input class="form-check-input" type="checkbox" name="selected_files[]" id="chk_file_{{file_id}}" value="{{file_id}}" checked>
    <a href="{{file_download_link}}">{{file_name}}</a> ({{lbl_file_size}}: {{file_size}})
</div>
<!-- END file -->

<div class="attach_actions" id="attachment_area">
    <img id="attach_loading" src="images/loading.gif"/>

    <div id="btn_attach1">
        <img src="gadgets/PrivateMessage/Resources/images/attachment.png"/>
        <a id="file_link1"></a> -
        <small id="file_size1"></small>
        <a onclick="javascript:removeAttachment(1);" href="javascript:void(0);"><img border="0"
                                                                                     title="Remove"
                                                                                     alt="Remove"
                                                                                     src="images/stock/cancel.png"></a>
    </div>
    <input class="form-control-file" type="file" onchange="uploadFile();" id="attachment1" name="attachment1" size="1"
           style="display: block;" class="file" />

                <span id="attachment_addentry2">
                </span>
</div>
<!-- END attachments -->
