<!-- BEGIN inbox -->
{alerts}
<div class="gadget privateMessage inbox">
    <h2>{title}</h2>
    <!-- BEGIN response --><div class="{type}">{text}</div><!-- END response -->

    <div class="content">
        <table>
            <thead>
            <tr>
                <th>#</th>
                <th>{lbl_from}</th>
                <th>{lbl_subject}</th>
                <th>{lbl_send_time}</th>
            </tr>
            </thead>

            <tbody>
            <!-- BEGIN message -->
            <tr>
                <td>{rownum}</td>
                <td>{from}</td>
                <td><a href="{message_url}">{subject}</a></td>
                <td>{send_time}</td>
            </tr>
            <!-- END message -->
            </tbody>
        </table>
    </div>
</div>
<!-- END inbox -->
