<!-- BEGIN inboxmessage -->
<div class="gadget privateMessage message">
    <div class="gadget_header"><h2>{title}</h2></div>
  <div class="gadget_container">

    <form name="pm" action="{requested_url}" method="post">
        <input type="hidden" name="gadget" value="PrivateMessage"/>
        <input type="hidden" name="action" id="action" value=""/>
        <input type="hidden" name="id" id="id" value="{id}"/>

        <!-- INCLUDE Message.html -->

    </form>
  </div>
  <div class="gadget_footer"></div>
</div>

<script type="text/javascript">
    /**
     * Delete Message
     */
    function deleteMessage() {
        if (confirm('{confirmDelete}')) {
            window.location.href = "{delete_url}";
        }
    }

</script>
<!-- END inboxmessage -->
