<!-- BEGIN message -->
{alerts}
<div class="gadget privateMessage message">
    <h2>{title}</h2>

    <form name="contacts" action="{base_script}" method="post">
        <input type="hidden" name="gadget" value="PrivateMessage"/>
        <input type="hidden" name="action" id="action" value=""/>
        <input type="hidden" name="id" id="id" value="{id}"/>

        <div class="content">
                <div class="user_avatar"><img src="{avatar}" alt="{username}" title="{nickname}"/></div>
                <div>{lbl_from}: <a href="{user_url}">{from}</a></div>
                <div>{lbl_send_time}: {send_time}</div>

                <div class="actions">
                    <a href="{back_url}" class="button" title="{back}"><img src="{icon_back}" alt="{back}"/></a>
                    <a href="{reply_url}" class="button" title="{reply}"><img src="{icon_reply}" alt="{reply}"/></a>
                    <a href="{forward_url}" class="button" title="{forward}"><img src="{icon_forward}" alt="{forward}"/></a>
                    <a href="javascript:deleteMessage()" class="button" title="{delete}"><img src="{icon_delete}" alt="{delete}"/></a>
                </div>
                <div>{lbl_subject}: {subject}</div>
                <div>
                    <div>{lbl_body}:</div>
                    <div>{body}</div>
                </div>

            <!-- BEGIN attachment -->
            <div>&nbsp;</div>
            <fieldset>
                <legend><span>{lbl_attachments}</span></legend>

                <!-- BEGIN file -->
                <div><a href="{file_download_link}">{file_name}</a> ({lbl_file_size}: {file_size} - {lbl_hints_count}: {hints_count})</div>
                <!-- END file -->

            </fieldset>
            <!-- END attachment -->

        </div>
    </form>
</div>

<script type="text/javascript">
    /**
     * Delete Message
     */
    function deleteMessage()
    {
        if (confirm('{confirmDelete}')) {
            window.location.href = "{delete_url}";
        }
    }

</script>
<!-- END message -->
