<!-- BEGIN message -->
<div class="gadget_header">
  <div class="gadget_title"><h2>{{title}}</h2></div>
</div>
<div class="gadget_container">

  <form name="pm" action="{{requested_url}}" method="post">
      <input type="hidden" name="gadget" value="PrivateMessage"/>
      <input type="hidden" name="action" id="action" value=""/>
      <input type="hidden" name="id" id="id" value="{{id}}"/>

      <div class="gadget_content">
          <div class="user_avatar">
              <img src="{{avatar}}" alt="{{username}}" title="{{nickname}}"/>
          </div>

          <div><b>{{lbl_from}}:</b> <a href="{{user_url}}">{{from}}</a></div>
          <div><b>{{lbl_send_time}}:</b> {{send_time}}</div>

          <div class="gadget_actions">
              <!-- BEGIN back -->
              <a class="btn btn-default" href="{{back_url}}" title="{{back}}"><img src="{{icon_back}}" alt="{{back}}"/></a>
              <!-- END back -->

              <!-- BEGIN reply -->
              <a class="btn btn-default" href="{{reply_url}}" title="{{reply}}"><img src="{{icon_reply}}" alt="{{reply}}"/></a>
              <!-- END reply -->

              <!-- BEGIN forward -->
              <a class="btn btn-default" href="{{forward_url}}" title="{{forward}}"><img src="{{icon_forward}}" alt="{{forward}}"/></a>
              <!-- END forward -->

              <!-- BEGIN archive -->
              <a class="btn btn-default" href="{{archive_url}}" title="{{archive}}"><img src="{{icon_archive}}" alt="{{archive}}"/></a>
              <!-- END archive -->

              <!-- BEGIN restore_archive -->
              <a class="btn btn-default" href="{{restore_archive_url}}" title="{{restore_archive}}"><img src="{{icon_restore_archive}}" alt="{{restore_archive}}"/></a>
              <!-- END restore_archive -->

              <!-- BEGIN trash -->
              <a class="btn btn-default" href="javascript:trashMessage()" title="{{trash}}"><img src="{{icon_trash}}" alt="{{trash}}"/></a>
              <!-- END trash -->

              <!-- BEGIN restore_trash -->
              <a class="btn btn-default" href="{{restore_trash_url}}" title="{{restore_trash}}"><img src="{{icon_restore_trash}}" alt="{{restore_trash}}"/></a>
              <!-- END restore_trash -->

              <!-- BEGIN delete -->
              <a class="btn btn-default" href="javascript:deleteMessage()" title="{{delete}}"><img src="{{icon_delete}}" alt="{{delete}}"/></a>
              <!-- END delete -->
          </div>

          <div><b>{{lbl_subject}}:</b> {{subject}}</div>
          <div>
              <div><b>{{lbl_body}}:</b></div>
              <div>{{body}}</div>
          </div>

          <!-- BEGIN attachment -->
          <div>&nbsp;</div>
          <fieldset>
              <legend><span>{{lbl_attachments}}</span></legend>

              <!-- BEGIN file -->
              <div><a href="{{file_download_link}}" target="_blank">{{file_name}}</a> ({{lbl_file_size}}: {{file_size}})
              </div>
              <!-- END file -->

          </fieldset>
          <!-- END attachment -->

          <!-- BEGIN recipients -->
          <b>{{lbl_recipients}}:</b> {{lbl_all_users}}

          <!-- BEGIN recipients_list -->
          <table class="table table-hover table-bordered">
              <thead>
              <tr>
                  <th>{{lbl_recipient}}</th>
                  <th>{{lbl_view_time}}</th>
              </tr>
              </thead>

              <tbody>

              <!-- BEGIN recipient -->
              <tr>
                  <td><a href="{{user_url}}">{{recipient}}</a></td>
                  <td>{{view_time}}</td>
              </tr>
              <!-- END recipient -->

              </tbody>
          </table>
          <!-- END recipients_list -->

          <!-- END recipients -->

      </div>

      <!-- BEGIN splitter -->
      <hr>
      <!-- END splitter -->

  </form>
</div>
<div class="gadget_footer"></div>
<!-- END message -->
