<!-- BEGIN messages -->
<div class="gadget-header card-header d-flex align-items-center justify-content-between">
  <h5 class="m-0 me-2 py-1">{{title}}</h5>
  <!-- INCLUDE MenuNavigation.html include/Jaws/Resources -->
</div>
<div class="gadget-container">
    <div class="gadget_response">
        <div id="privatemessage_messages_response" class="alert hide {{response_type}}" role="alert">{{response_text}}</div>
    </div>

    <div class="gadget-content card-body">
        <div class="repeater" id="messages-grid" data-staticheight="500">
              <div class="repeater-header">
                  <div class="datagrid-filters">
                      <div class="row">

                          <div class="col-xs-2">
                              <label for="filter_term">{{lbl_term}}: </label>
                          </div>
                          <div class="col-xs-4">
                              <input type="text" class="form-control" name="filter_term" id="filter_term" >
                          </div>


                          <!-- BEGIN filter_read -->
                          <div class="col-xs-2">
                              <label for="filter_read">{{lbl_read}}: </label>
                          </div>
                          <div class="col-xs-4">
                              <select class="form-control" id="filter_read" name="filter_read">
                                  <option
                                          {{opt_read_}} value="">{{lbl_all}}</option>
                                  <option
                                          {{opt_read_yes}} value="yes">{{lbl_yes}}</option>
                                  <option
                                          {{opt_read_no}} value="no">{{lbl_no}}</option>
                              </select>
                          </div>
                          <!-- END filter_read -->

                      </div>
                  </div>

                  <div class="repeater-header-right">
                      <button type="button" id="btnCompose" class="btn btn-info" title="{{lbl_compose}}">
                          <span class="glyphicon glyphicon-plus"></span> {{lbl_compose}}
                      </button>
                      <button type="button" class="btn btn-success btn-refresh" title="{{lbl_reload}}">
                          <span class="glyphicon glyphicon-refresh"></span>
                      </button>
                  </div>
              </div>
              <div class="repeater-viewport">
                  <div class="repeater-canvas"></div>
                  <div class="loader repeater-loader"></div>
              </div>
              <div class="repeater-footer">
                  <div class="repeater-footer-left">
                      <div class="repeater-itemization">
              <span>
                <span class="repeater-start"></span>
                {{lbl_to}} <span class="repeater-end"></span>
                {{lbl_of}} <span class="repeater-count"></span>
                {{lbl_items}}
              </span>
                          <div class="btn-group selectlist dropup" data-resize="auto">
                              <button type="button" class="btn btn-default btn-sm dropdown-toggle" data-toggle="dropdown">
                                  <span class="selected-label">?</span>
                                  <span class="caret"></span>
                                  <span class="sr-only">Toggle Dropdown</span>
                              </button>
                              <ul class="dropdown-menu" role="menu">
                                  <li data-value="10" data-selected="true"><a href="#">10</a></li>
                                  <li data-value="25"><a href="#">25</a></li>
                                  <li data-value="50"><a href="#">50</a></li>
                              </ul>
                              <input class="hidden hidden-field" name="itemsPerPage" readonly="readonly" aria-hidden="true" type="text">
                          </div>
                          <span>{{lbl_per_page}}</span>
                      </div>
                  </div>
                  <div class="repeater-footer-right">
                      <div class="repeater-pagination">
                          <button type="button" class="btn btn-default btn-sm repeater-prev">
                              <span class="glyphicon glyphicon-chevron-left"></span>
                              <span class="sr-only">Previous Page</span>
                          </button>
                          <label class="page-label" id="myPageLabel"></label>
                          <div class="repeater-primaryPaging active">
                              <div class="input-group input-append dropdown combobox dropup">
                                  <input type="text" class="form-control input-sm" aria-labelledby="myPageLabel">
                                  <div class="input-group-btn">
                                      <button type="button" class="btn btn-default btn-sm dropdown-toggle" data-toggle="dropdown">
                                          <span class="caret"></span>
                                          <span class="sr-only">Toggle Dropdown</span>
                                      </button>
                                      <ul class="dropdown-menu dropdown-menu-right"></ul>
                                  </div>
                              </div>
                          </div>
                          <input type="text" class="form-control input-sm repeater-secondaryPaging" aria-labelledby="myPageLabel">
                          <button type="button" class="btn btn-default btn-sm repeater-next">
                              <span class="glyphicon glyphicon-chevron-right"></span>
                              <span class="sr-only">Next Page</span>
                          </button>
                      </div>
                  </div>
              </div>
          </div>
    </div>

    <div class="modal fade" id="messageModal" tabindex="-1" role="dialog" aria-labelledby="messageModalLabel">
        <div class="modal-dialog  modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="messageModalLabel">{{lbl_view_message}}</h4>
                </div>

                <div class="modal-body" id="message-form">
                </div>

                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">{{lbl_back}}</button>
                </div>
            </div>
        </div>
    </div>

</div>
<div class="gadget-footer card-footer" hidden></div>
<!-- END messages -->