<!-- BEGIN message -->
        <div class="gadget_content content">
            <div class="user_avatar">
                <img src="{avatar}" alt="{username}" title="{nickname}"/>
            </div>

            <div><b>{lbl_from}:</b> <a href="{user_url}">{from}</a></div>
            <div><b>{lbl_send_time}:</b> {send_time}</div>

            <!-- BEGIN announcement -->
            <div><b>{lbl_message_is_announcement}</b></div>
            <!-- END announcement -->

            <div class="gadget_actions actions">
                <!-- BEGIN back -->
                <a href="{back_url}" class="button" title="{back}"><img src="{icon_back}" alt="{back}"/></a>
                <!-- END back -->

                <!-- BEGIN history -->
                <a href="{history_url}" class="button" title="{history}"><img src="{icon_history}" alt="{history}"/></a>
                <!-- END history -->

                <!-- BEGIN reply -->
                <a href="{reply_url}" class="button" title="{reply}"><img src="{icon_reply}" alt="{reply}"/></a>
                <!-- END reply -->

                <!-- BEGIN draft -->
                <a href="{draft_url}" class="button" title="{draft}"><img src="{icon_draft}" alt="{draft}"/></a>
                <!-- END draft -->

                <!-- BEGIN publish -->
                <a href="{publish_url}" class="button" title="{publish}"><img src="{icon_publish}" alt="{publish}"/></a>
                <!-- END publish -->

                <!-- BEGIN forward -->
                <a href="{forward_url}" class="button" title="{forward}"><img src="{icon_forward}" alt="{forward}"/></a>
                <!-- END forward -->

                <!-- BEGIN archive -->
                <a href="{archive_url}" class="button" title="{archive}"><img src="{icon_archive}" alt="{archive}"/></a>
                <!-- END archive -->

                <!-- BEGIN delete -->
                <a href="javascript:deleteMessage()" class="button" title="{delete}"><img src="{icon_delete}" alt="{delete}"/></a>
                <!-- END delete -->
            </div>

            <div><b>{lbl_subject}:</b> {subject}</div>
            <div>
                <div><b>{lbl_body}:</b></div>
                <div>{body}</div>
            </div>

            <!-- BEGIN attachment -->
            <div>&nbsp;</div>
            <fieldset>
                <legend><span>{lbl_attachments}</span></legend>

                <!-- BEGIN file -->
                <div><a href="{file_download_link}" target="_blank">{file_name}</a> ({lbl_file_size}: {file_size})
                </div>
                <!-- END file -->

            </fieldset>
            <!-- END attachment -->

            <!-- BEGIN recipients -->
            <b>{lbl_recipients}:</b> {lbl_all_users}

            <!-- BEGIN recipients_list -->
            <table>
                <thead>
                <tr>
                    <th>{lbl_recipient}</th>
                    <th>{lbl_view_time}</th>
                </tr>
                </thead>

                <tbody>

                <!-- BEGIN recipient -->
                <tr>
                    <td><a href="{user_url}">{recipient}</a></td>
                    <td>{view_time}</td>
                </tr>
                <!-- END recipient -->

                </tbody>
            </table>
            <!-- END recipients_list -->

            <!-- END recipients -->

        </div>

        <!-- BEGIN splitter -->
        <hr>
        <!-- END splitter -->
<!-- END message -->
