<!-- BEGIN messages -->
<div class="gadget_header">
  <div class="gadget_title"><h3>{{title}}</h3></div>
  <div class="gadget_menubar">{{menubar}}</div>
</div>
<div class="gadget_container">
  <div class="gadget_response"><div id="simple_response" class="{{type}}">{{text}}</div></div>
  <div class="gadget_content content">
    <form name="privatemessage" id="privatemessage" action="{{requested_url}}" method="post">
      <input class="form-control" type="hidden" name="gadget" value="PrivateMessage"/>
      <input class="form-control" type="hidden" name="action" value="Messages"/>
      <input class="form-control" type="hidden" name="page" value="{{page}}"/>
      <input class="form-control" type="hidden" name="folder" value="{{folder}}"/>
      <input class="form-control" type="hidden" name="status" value=""/>

      <div class="filters">
          <!-- BEGIN filter_read -->
          <label for="read">{{lbl_read}}</label>
          <select class="form-control" id="read" name="read">
              <option
              {{opt_read_}} value="">{{lbl_all}}</option>
              <option
              {{opt_read_yes}} value="yes">{{lbl_yes}}</option>
              <option
              {{opt_read_no}} value="no">{{lbl_no}}</option>
          </select>
          <!-- END filter_read -->

          <input class="form-control" type="text" id="term" name="term" size="20" value="{{txt_term}}" class="medium">

          <button class="btn btn-primary" value="{{filter}}" id="filter_button" name="filter_button"
                  type="submit"><img src="{{icon_filter}}" alt="{{filter}}"/>&nbsp;{{filter}}
          </button>
      </div>

      <table class="table table-hover table-bordered">
          <thead>
          <tr>
              <th><input class="form-check-input" type="checkbox" onclick="toggleCheckboxes();"></th>

              <!-- BEGIN folder_th -->
              <th>{{lbl_folder}}</th>
              <!-- END folder_th -->

              <th>{{lbl_subject}}</th>
              <th>&nbsp;</th>
              <th>{{lbl_from}}</th>
              <th>{{lbl_recipients}}</th>
              <th>{{lbl_send_time}}</th>
          </tr>
          </thead>

          <tbody>
          <!-- BEGIN message -->
          <tr>
              <td>
                  <input class="form-check-input" type="checkbox" name="message_checkbox[]" value="{{id}}" class="table-checkbox">
              </td>

              <!-- BEGIN folder -->
              <td>{{folder}}</td>
              <!-- END folder -->

              <td><a href="{{message_url}}">{{subject}}</a></td>

              <!-- BEGIN have_attachment -->
              <td><img src="{{icon_attachment}}" alt="{{attachment}}"/></td>
              <!-- END have_attachment -->
              <!-- BEGIN no_attachment -->
              <td>&nbsp;</td>
              <!-- END no_attachment -->

              <td><a href="{{from_url}}">{{from}}</a></td>
              <td>{{recipients}}</td>
              <td>{{send_time}}</td>

          </tr>
          <!-- END message -->
          </tbody>
          <tfoot>
          <tr>
              <td colspan="7">
                  {{lbl_page_item}}
                  <select class="form-control" id="page_item" name="page_item" onchange="this.form.submit();">
                      <option {{opt_page_item_5}} value="5">5</option>
                      <option {{opt_page_item_10}} value="10">10</option>
                      <option {{opt_page_item_20}} value="20">20</option>
                      <option {{opt_page_item_50}} value="50">50</option>
                      <option {{opt_page_item_100}} value="100">100</option>
                  </select>
              </td>
          </tr>
          </tfoot>
      </table>

      <!-- INCLUDE PageNavigation.html -->
      <div class="gadget_actions actions">
          <label for="messages_actions_combo">{{lbl_actions}}:&nbsp;</label>
          <select class="form-control" title="{{lbl_actions}}" id="messages_actions_combo" name="messages_actions_combo">
              <option value="">{{lbl_no_action}}</option>

              <!-- BEGIN notifications_action -->
              <option value="archive">{{lbl_archive}}</option>
              <option value="trash">{{lbl_trash}}</option>
              <option value="read">{{lbl_mark_as_read}}</option>
              <option value="unread">{{lbl_mark_as_unread}}</option>
              <!-- END notifications_action -->

              <!-- BEGIN inbox_action -->
              <option value="archive">{{lbl_archive}}</option>
              <option value="trash">{{lbl_trash}}</option>
              <option value="read">{{lbl_mark_as_read}}</option>
              <option value="unread">{{lbl_mark_as_unread}}</option>
              <!-- END inbox_action -->

              <!-- BEGIN outbox_action -->
              <option value="archive">{{lbl_archive}}</option>
              <option value="trash">{{lbl_trash}}</option>
              <!-- END outbox_action -->

              <!-- BEGIN draft_action -->
              <option value="delete">{{lbl_delete}}</option>
              <!-- END draft_action -->

              <!-- BEGIN archive_action -->
              <option value="unarchive">{{lbl_unarchive}}</option>
              <option value="trash">{{lbl_trash}}</option>
              <!-- END archive_action -->

              <!-- BEGIN trash_action -->
              <option value="restore_trash">{{lbl_restore_trash}}</option>
              <option value="delete">{{lbl_delete}}</option>
              <!-- END trash_action -->

              <!-- BEGIN all_action -->
              <option value="delete">{{lbl_delete}}</option>
              <!-- END all_action -->

          </select>

          <button class="btn" value="{{lbl_actions}}" id="action_button" name="action_button"
                  onclick="javascript: return messagesDGAction();" ><img src="{{icon_ok}}" alt="{{lbl_actions}}"/>
          </button>
      </div>
    </form>
  </div>
</div>
<div class="gadget_footer"></div>

<script type="text/javascript">
    function toggleCheckboxes(){
        do_check = !do_check;
        $('.table-checkbox').each(function(el, data) { data.checked = do_check; });
    }
    var do_check = false;

    function messagesDGAction() {
        var action = $("#messages_actions_combo").val();
        if (action == '' || $("input[type=checkbox][name='message_checkbox[]']:checked").length < 1) {
            return false;
        }

        if(action == 'unarchive') {
            $("#privatemessage input[type=hidden][name=action]").val('UnArchiveMessage');
        } else if(action == 'archive') {
            $("#privatemessage input[type=hidden][name=action]").val('ArchiveMessage');
        } else if(action == 'read') {
            $("#privatemessage input[type=hidden][name=action]").val('ChangeMessageRead');
            $("#privatemessage input[type=hidden][name=status]").val('read');
        } else if(action == 'unread') {
            $("#privatemessage input[type=hidden][name=action]").val('ChangeMessageRead');
            $("#privatemessage input[type=hidden][name=status]").val('unread');
        } else if(action == 'trash') {
            $("#privatemessage input[type=hidden][name=action]").val('TrashMessage');
        } else if(action == 'restore_trash') {
            $("#privatemessage input[type=hidden][name=action]").val('RestoreTrashMessage');
        } else if(action == 'delete') {
            if (confirm('{{confirmDelete}}')) {
                $("#privatemessage input[type=hidden][name=action]").val('DeleteMessage');
            } else {
                return false;
            }
        }

       $("#privatemessage").submit();
        return true;
    }
</script>
<!-- END messages -->
