<!-- BEGIN outbox -->
{alerts}
<div class="gadget privateMessage outbox">
    <div class="gadget_header"><h2>{title}</h2><div class="gadget_menubar">{menubar}</div></div>
    <!-- BEGIN response --><div class="gadget_response {type}">{text}</div><!-- END response -->

    <form name="privatemessage" id="privatemessage" action="{base_script}" method="post">
        <input type="hidden" name="gadget" value="PrivateMessage"/>
        <input type="hidden" name="action" value="{action}"/>
        <input type="hidden" name="page" value="{page}"/>

        <div class="filters">
            <label for="replied">{lbl_replied}</label>
            <select id="replied" name="replied">
                <option {opt_replied_} value="">{lbl_all}</option>
                <option {opt_replied_yes} value="yes">{lbl_yes}</option>
                <option {opt_replied_no} value="no">{lbl_no}</option>
            </select>

            <input type="text" id="filter" name="filter" size="20" value="{txt_filter}">

            <button value="{filter}" id="filter_button" name="filter_button"
                    type="submit"><img src="{icon_filter}" alt="{filter}"/>&nbsp;{filter}
            </button>
        </div>

    <div class="content">
        <table>
            <thead>
            <tr>
                <th><a href="javascript:toggleCheckboxes()">#</a></th>
                <th>{lbl_recipients}</th>
                <th>&nbsp;</th>
                <th>{lbl_subject}</th>
                <th>{lbl_send_time}</th>
            </tr>
            </thead>

            <tbody>
            <!-- BEGIN message -->
            <tr>
                <td>
                    <!-- BEGIN checkbox -->
                    <input type="checkbox" name="message_checkbox[]" value="{id}" class="table-checkbox">
                    <!-- END checkbox -->
                    {rownum}
                </td>
                <td>{recipients}</td>

                <!-- BEGIN have_attachment -->
                <td><img src="{icon_attachment}" alt="{attachment}"/></td>
                <!-- END have_attachment -->
                <!-- BEGIN no_attachment -->
                <td>&nbsp;</td>
                <!-- END no_attachment -->

                <td><a href="{message_url}">{subject}</a></td>
                <td>{send_time}</td>
            </tr>
            <!-- END message -->
            </tbody>
        </table>

        <!-- INCLUDE PageNavigation.html -->

        <!-- BEGIN actions -->
        <div class="actions">
            <label for="outbox_actions_combo">{lbl_actions}:&nbsp;</label>
            <select title="{lbl_actions}" id="outbox_actions_combo" name="outbox_actions_combo">
                <option value="">{lbl_no_action}</option>
                <option value="delete">{lbl_delete}</option>
            </select>

            <button value="{lbl_actions}" id="action_button" name="action_button"
                    onclick="javascript: return outboxDGAction();" ><img src="{icon_ok}" alt="{lbl_actions}"/>
            </button>
        </div>
        <!-- END actions -->

    </div>
    </form>

</div>

<script type="text/javascript">
    function toggleCheckboxes(){
        do_check = !do_check;
        $$('.table-checkbox').each(function(el) { el.checked = do_check; });
    }
    var do_check = false;

    function outboxDGAction() {
        var action = document.getElementById("outbox_actions_combo").value;
        if(action == 'delete') {
            document.privatemessage.action.value = 'DeleteOutboxMessage';
        } else {
            return;
        }
        document.getElementById("privatemessage").submit();
        return true;
    }
</script>
<!-- END outbox -->
