<!-- BEGIN outbox -->
{alerts}
<div class="gadget privateMessage inbox">
    <h2>{title}</h2>
    <!-- BEGIN response --><div class="{type}">{text}</div><!-- END response -->

    <form name="pm" action="{base_script}" method="post">
        <input type="hidden" name="gadget" value="PrivateMessage"/>
        <input type="hidden" name="action" value="Outbox"/>
        <input type="hidden" name="page" value="{page}"/>

        <div class="filters">
            <label for="replied">{lbl_replied}</label>
            <select id="replied" name="replied">
                <option {opt_replied_} value=""></option>
                <option {opt_replied_yes} value="yes">{lbl_yes}</option>
                <option {opt_replied_no} value="no">{lbl_no}</option>
            </select>

            <label for="attachment">{lbl_attachment}</label>
            <select id="attachment" name="attachment">
                <option {opt_attachment_} value=""></option>
                <option {opt_attachment_yes} value="yes">{lbl_yes}</option>
                <option {opt_attachment_no} value="no">{lbl_no}</option>
            </select>

            <input type="text" id="filter" name="filter" size="20" value="{txt_filter}">

            <button value="{filter}" id="filter_button" name="filter_button"
                    type="submit"><img src="{icon_filter}" alt="{filter}"/>&nbsp;{filter}
            </button>
        </div>
    </form>

    <div class="content">
        <table>
            <thead>
            <tr>
                <th>#</th>
                <th>{lbl_from}</th>
                <th>{lbl_subject}</th>
                <th>{lbl_send_time}</th>
            </tr>
            </thead>

            <tbody>
            <!-- BEGIN message -->
            <tr>
                <td>{rownum}</td>
                <td>{from}</td>
                <td><a href="{message_url}">{subject}</a></td>
                <td>{send_time}</td>
            </tr>
            <!-- END message -->
            </tbody>
        </table>

        <!-- INCLUDE PageNavigation.html -->

    </div>
</div>
<!-- END outbox -->
