<!-- BEGIN PrivateMessage -->
<div class="gadget privateMessage navigationarea">
    <div class="gadget_header"><h2>{title}</h2></div>
    <div class="content">
        <ul>
            <li><a href="{inbox_url}">{inbox}</a></li>
            <li><a href="{outbox_url}">{outbox}</a></li>
            <li><a href="{draft_url}">{draft}</a></li>
            <li><a href="{announcement_url}">{announcement}</a></li>
            <li><a href="{archived_url}">{archived}</a></li>
            <li><a href="{all_messages_url}">{all_messages}</a></li>
            <li><a href="{compose_message_url}">{compose_message}</a></li>
        </ul>
    </div>
</div>
<!-- END PrivateMessage -->
