<!-- BEGIN PrivateMessage -->
<div class="gadget_header"><h3>{{title}}</h3></div>
<div class="gadget_container">
  <div class="gadget_content content">
      <ul>
          <li><a href="{{notifications_url}}">{{notifications}}</a></li>
          <li><a href="{{inbox_url}}">{{inbox}}</a></li>
          <li><a href="{{outbox_url}}">{{outbox}}</a></li>
          <li><a href="{{draft_url}}">{{draft}}</a></li>
          <li><a href="{{archived_url}}">{{archived}}</a></li>
          <li><a href="{{trash_url}}">{{trash}}</a></li>
          <li><a href="{{all_messages_url}}">{{all_messages}}</a></li>
          <li><a href="{{compose_message_url}}">{{compose_message}}</a></li>
      </ul>
  </div>
</div>
<div class="gadget_footer"></div>
<!-- END PrivateMessage -->
