<!-- BEGIN history -->
<div class="gadget logs login_history">
  <div class="gadget_header"><h2>{title}</h2></div>
  <div class="content">
    <ul>
      <!-- BEGIN 200 -->
      <li>
        <div>
          <img width="16" height="16" title="{status_title}" alt="200" src="images/stock/info.png" />
          <label title="{agent}">{date} - {ip}</label>
        </div>
      </li>
      <!-- END 200 -->
      <!-- BEGIN 401 -->
      <li>
        <div>
          <img width="16" height="16" title="{status_title}" alt="401" src="images/stock/stop.png" />
          <label title="{agent}">{date} - {ip}</label>
        </div>
      </li>
      <!-- END 401 -->
    </ul>
  </div>
</div>
<!-- END history -->