<!-- BEGIN history -->
<div class="gadget_header"><div class="gadget_title"><h3>{{title}}</h3></div></div>
<div class="gadget_container">
  <div class="gadget_content content">
    <ul>
      <!-- BEGIN 200 -->
      <li>
        <div>
          <img width="16" height="16" title="{{status_title}}" alt="200" src="images/stock/info.png" />
          <label title="{{agent}}">{{date}} - {{ip}}</label>
        </div>
      </li>
      <!-- END 200 -->
      <!-- BEGIN 401 -->
      <li>
        <div>
          <img width="16" height="16" title="{{status_title}}" alt="401" src="images/stock/stop.png" />
          <label title="{{agent}}">{{date}} - {{ip}}</label>
        </div>
      </li>
      <!-- END 401 -->
    </ul>
  </div>
</div>
<div class="gadget_footer"></div>
<!-- END history -->