<div class="gadget_header">
  <div class="row">
    <div class="col-xs-12"><h3>{{ "logs.login_history" | t }}</h3></div>
  </div>
</div>
<div class="gadget_container">
  <div class="gadget_content">
    <ul>

      {% for log in logs %}
      <li>
        <div>
          {% if log.result == 200 %}
          <img width="16" height="16" title="{{ "logs.log_status_" | append: log.result |t }}" alt="200" src="images/stock/info.png" />
          {% else %}
          <img width="16" height="16" title="{{ "logs.log_status_" | append: log.result |t }}" alt="401" src="images/stock/stop.png" />
          {% endif %}
          <label title="{{ log.agent }}">{{ log.time | date: 'd MN Y H:i' }} - {{ log.ip }}</label>
        </div>
      </li>
      {% endfor %}

    </ul>
  </div>
</div>
<div class="gadget_footer"></div>