<!-- BEGIN webcam -->
<div class="gadget webcam">
  <div class="gadget_header"><h2>{title}</h2></div>
  <div class="gadget_content content">
    <!-- BEGIN item -->
    <h4>{title}</h4>
    <div><img id="cam{id}" alt="{title}" src="{url}" /></div>
    <script type="text/javascript">
        setTimeout ("refresh_cam{id}()",({refresh}*1000));
        function refresh_cam{id}() 
        {
            document.cam{id}.src = "{url}?" + Math.random();
            setTimeout ("refresh_cam{id}()",({refresh}*1000));
        }
    </script>
    <!-- END item -->
  </div>
</div>
<!-- END webcam -->