<!-- BEGIN webcam -->
<div class="gadget_header"><div class="gadget_title"><h3>{{title}}</h3></div></div>
<div class="gadget_container">
  <div class="gadget_content content">
    <!-- BEGIN item -->
    <h4>{{title}}</h4>
    <div><img id="cam{{id}}" alt="{{title}}" src="{{url}}" /></div>
    <script type="text/javascript">
        setTimeout("refresh_cam{{id}}()",({{refresh}}*1000));
        function refresh_cam{{id}}() 
        {
            $('#cam'.concat({{id}})).attr('src', "{{url}}?" + Math.random());
            setTimeout('refresh_cam{{id}}()', {{refresh}} * 1000);
        }
    </script>
    <!-- END item -->
  </div>
</div>
<div class="gadget_footer"></div>
<!-- END webcam -->