#statistics {
    width: 100%;
    border: 1px solid #d3d7cf;
    padding: 4px;
}

#statistics_title {
    text-align: left;
}

#statistics_label {
    text-align: left;
    white-space: nowrap;
}

#statistics_value {
    text-align: right;
    white-space: nowrap;
}
