fieldset{
width:260px;
}
#statistics{
margin:-11px 8px 10px 0;
}
#statistics tr:nth-child(even){
background-color:#f5f5f5;
}
#statistics th{
white-space:nowrap;
padding-right:5px;
}
#configuration fieldset > div{
margin-bottom:5px;
}
#configuration select{
width:120px;
}
#custom_text{
width:100%;
}