td {
vertical-align:top;
}
#jaws-sidebar-settings{
width:220px;
}
#settings_sidebar {
border-left:1px solid silver;
}
#settings{
width:100%;
padding:10px 0;
border:1px solid silver;
border-right:none;
}
.buttons{
margin-top:5px;
}
.fields{
margin-top:4px;
text-align:right;
}
.fields input,.fields textarea{
width:320px;
}
.fields select{
width:250px;
max-width:320px;
}
.fields label{
display:block;
width:17em;
float:right;
margin-left:.6em;
text-align:left;
line-height:1.8;
}
input.meta-name{
width:100px;
direction:ltr;
}
input.meta-value{
width:215px;
margin-right:0.4em;
direction:ltr;
}
.add-button{
margin-top:5px;
text-align:right;
}
.add-button input,.add-button button{
margin-right:17.6em;
}
/*
.meta-name{
direction:ltr;
}
input.meta-value{
width:17em;
direction:ltr;
margin-left:0.4em;
margin-right:0.4em;
}
.add-button{
margin-top:5px;
direction:ltr;
}
.add-button input, .add-button button{
margin-right:17.6em;
}
*/