td {
vertical-align:top;
}
#jaws-sidebar-settings{
width:220px;
}
#settings_sidebar {
border-right:1px solid silver;
}
#settings{
width:100%;
padding:10px 0;
border:1px solid silver;
border-left:none;
}
.buttons{
margin-top:5px;
}
.fields{
margin-top:4px;
}
.fields input,.fields textarea{
width:320px;
}
.fields select{
width:250px;
max-width:320px;
}
.fields label{
display:block;
width:17em;
float:left;
margin-right:.6em;
text-align:right;
line-height:1.8;
}
input.meta-name{
width:100px;
}
input.meta-value{
width:215px;
margin-left:0.4em;
}
.add-button{
margin-top:5px;
}
.add-button input,.add-button button{
margin-left:17.6em;
}