#settings_sidebar {
float:left;
width:220px;
}
#settings fieldset {
float:right;
width:726px;
min-height:228px;
margin-top:-11px;
}
.buttons{
clear:both;
}
.fields{
margin-top:4px;
}
.fields input,.fields textarea{
width:320px;
}
.fields select{
width:250px;
max-width:320px;
}
.fields label{
display:block;
width:17em;
float:left;
margin-right:.6em;
text-align:right;
line-height:1.8;
}
input.meta-name{
width:100px;
}
input.meta-value{
width:215px;
margin-left:0.4em;
}
.add-button{
margin-top:5px;
}
.add-button input,.add-button button{
margin-left:17.6em;
}

/* Basic */
#site_status{
width:100px;
}
/* Advanced */
#use_gravatar,#show_viewsite{
width:80px;
}
/* Mail */
#smtp_vrfy,#smtp_port,#smtp_auth{
width:80px;
}
#mailer{
width:100px;
}
#gate_email,#gate_title,#sendmail_path,#smtp_host,#smtp_user,#smtp_pass{
width:200px;
}
/* FTP */
#ftp_enabled,#ftp_port{
width:80px;
}
#ftp_mode{
width:100px;
}
#ftp_host,#ftp_user,#ftp_pass,#ftp_root{
width:200px;
}
/* Proxy */
#proxy_enabled,#proxy_port,#proxy_auth{
width:80px;
}
#proxy_host,#proxy_user,#proxy_pass{
width:200px;
}
