<!-- BEGIN weather -->
<div class="gadget_header">
  <div class="gadget_title"><h2>{{title}}</h2></div>
</div>
<div class="gadget_container">
  <div class="gadget_content">
    <!-- BEGIN region -->
    <div class="current">
      <h4><a href="{{url}}">{{region}}</a></h4>
      <a href="{{url}}">
        <img src="{{icon}}" alt="{{alt}}" width="48" height="48" />&nbsp;
        <strong><span class="temp">{{temp}}{{unit}}</span></strong>
      </a>
    </div>
    <!-- END region -->
  </div>
</div>
<div class="gadget_footer"></div>
<!-- END weather -->