<!-- BEGIN sidebar -->
<div id="sidebar">
 <!-- BEGIN notifications -->
 <div class="notify-box">
  <h1>{notify-title}</h1>
  <div class="notify-items">
    <table class="notify-items_tbl">
      <!-- BEGIN item -->
      <tr>
        <td class="item"><img title="{title}" alt="{name}" src="{icon}" />{name}</td>
        <td class="install"><a title="{title}" href="{url}">{install}</a></td>
      </tr>
     <!-- END item -->
    </table>
  </div>
 </div>
 <!-- END notifications -->
 </div>
<!-- END sidebar -->
<div id="body">
 <!-- BEGIN message --><div class="{class}">{message}</div><!-- END message -->
 <!-- BEGIN main -->
  <div class="main-menu">
  <h1 class="main-menu-header">{title}</h1>
   <!-- BEGIN item -->
   <a class="main-item" href= "{url}" title="{desc}" >
    <img class="main-item-icon" src="{icon}" title="{desc}" alt="{name}" />
    {name}
   </a>
   <!-- END item -->
  </div>
 <!-- END main -->
</div>
