<div class="gadget_header">
  <div class="row">
    <div class="col-xs-9"><h2>{{ "quotes.actions_quotes_title" | t }}</h2></div>
    <div class="col-xs-3">{% include 'XMenuNavigation.html' 'include/Jaws/Resources' with navigation %}</div>
  </div>
</div>
<div class="gadget_container">
  <div class="gadget_content">
    <ul>
      {% for quote in quotes %}
      <li>
        {% assign quote.metaurl =  quote.title | metaURL %}
        <a href="{{ 'Quotes' | urlmap: 'quote', 'id', quote.id, 'metaurl', quote.metaurl }}">{{quote.title}}</a>
      </li>
      {% endfor %}
    </ul>

  </div>

  {% include 'XPageNavigation.html' 'include/Jaws/Resources' with pagination %}
</div>
<div class="gadget_footer"></div>