{% if showTitle==1 %}
<div class="gadget_header">
  <div class="row">
    <div class="col-xs-12"><h3>{{ "quotes.actions_quotes_title" | t }}</h3></div>
  </div>
</div>
{% endif %}
<div class="gadget_container">
  <div class="gadget_content">
    <marquee behavior="scroll" direction="{{marquee_direction}}" scrolldelay="100" scrollamount="1"
             onmouseover="this.stop()" onmouseout="this.start()">
      <ul>
        {% for quote in quotes %}
        <li>
          {% assign quote.metaurl =  quote.title | metaURL %}
          <a href="{{ 'Quotes' | urlmap: 'quote', 'id', quote.id, 'metaurl', quote.metaurl }}">{{quote.title}}</a>
          {% if viewMode==2 %}
          <p>{{quote.quotation}}</p>
          {% endif %}
        </li>
        {% endfor %}
      </ul>
    </marquee>
  </div>
</div>
<div class="gadget_footer"></div>