<!-- BEGIN emblems -->
<div class="gadget emblems">
  <h2>{title}</h2>
  <div class="content">
    <!-- BEGIN emblemrow -->
    <div>
      <!-- BEGIN emblem -->
      <div id="emblem_{id}">
      <!-- BEGIN url -->
        <a href="{url}" target="_blank" rel="{rel}"><img src="{src}" title="{title}" alt="{title}"/></a>
      <!-- END url -->
      <!-- BEGIN normal -->
        <img src="{src}" title="{title}" alt="{title}"/>
      <!-- END normal -->
      </div>
      <!-- END emblem -->
    </div>
    <!-- END emblemrow -->
  </div>
</div>
<!-- END emblems -->