/* ----- BLOG EDIT POST UI FIELD ----- */
.blog_field{
padding:4px;
text-align:right;
}
.blog_category{
width:65%;
float:right;
padding:5px;
border:1px solid #ddd;
margin:5px;
margin-top:0px;
}
.blog_advanced{
width:30%;
float:right;
padding:5px;
border:1px solid #ddd;
text-align:right;
}
#edit_timestamp{
padding:1px;
vertical-align:3px;
}
#pubdate_table{
display:inline;
padding:0px;
}
.buttons{
text-align:left;
border-top:1px solid #ddd;
margin:5px;
padding:5px;
}
.summary{
text-align:right;
}
.dark-background{
text-align:right;
}
.summary_label{
white-space:nowrap;
text-align:right;
}
.summary_value{
white-space:nowrap;
text-align:left;
}
.recent_entrie_title{
text-align:right;
}
.recent_entrie_date{
color:#888a85;
font-size:10px;
text-align:left;
}
.category_title{
text-align:right;
vertical-align: top;
}
.editor-preview{
margin-bottom:20px;
overflow:auto;
max-height:400px;
border:1px solid #d3d7cf;
text-align:right;
width:95%;
display:none;
padding:10px;
}
#ip{
direction:ltr;
background-color:#eee;
}
div.oneline label{
width:20em;
float:right;
display:block;
text-align:left;
}
#main > table,#main .tableform{
margin:0 auto;
}
.workarea{
width:370px;
padding-right:8px;
vertical-align:top;
}
#catinfoform{
vertical-align: top;
}
#summary_recent{
width:90%;
padding-right:10px;
vertical-align:top;
}
.filters{
text-align:right;
}