<!-- BEGIN edit_album -->
<div class="gadget_menubar">{{menubar}}</div>
<div id="main" align="center">
  <form name="EditPhoto" method="post" action="{{base_script}}">
  <input type="hidden" name="gadget" value="Phoo" />
  <input type="hidden" name="action" value="{{action}}" />
  {{album}}
  <table class="widetable">
  <tr><td>
   <table width="100%">
    <tr>
     <td class="message"><label for="title">{{name}}:</label>{{name_field}}</td>
    </tr>
    <tr>
     <td>{{description}}</td>
    </tr>
    <tr>
     <td colspan="2" class="extra" align="right">
      <table style="width: 100%;">
       <tr>

          <tr>
              <td colspan="3">
                  <table style="width:100%">
                      <tr>
                          <td><label for="meta_keywords">{{lbl_meta_keywords}}:</label></td>
                          <td>{{meta_keywords}}</td>
                      </tr>
                      <tr>
                          <td><label for="meta_description">{{lbl_meta_description}}:</label></td>
                          <td>{{meta_description}}</td>
                      </tr>
                  </table>
              </td>
          </tr>

        <td id="allow-comments-cell">
         {{allow_comments_field}}
        </td>
        <td id="published-cell">
         <label for="published">{{status}}</label> {{status_field}}
        </td>
       </tr>
      </table>
     </td>
    </tr>
   </table>
  </td></tr>
  <tr><td class="buttons">{{cancel}} {{save}}</td></tr>
  </table>
  </form>
</div>
<!-- END edit_album -->
