<!-- BEGIN phoo -->
<div class="gadget_menubar">{{menubar}}</div>
<div id="main" align="center">
<!-- BEGIN noalbums -->
  <div id="no-albums">
    {{message}}<br /><br />{{form}}
  </div>
<!-- END noalbums -->

<!-- BEGIN photos -->
  <form name="AdminPhotos" action="{{base_action}}" method="post">
    <input type="hidden" name="gadget" value="Phoo" />
    <input type="hidden" name="action" value="AdminPhotos" />
    <table id="phoo-table">
    <tr>
        <td id="albums-combo-cell">
            <table>
                <tr>
                    <td>
                    <label>{{date}}:</label>
                    {{date_combo}}
                    </td>
                </tr>
                <tr>
                    <td>
                    <label>{{albums}}:</label>
                    {{albums_combo}}
                    </td>
                </tr>
                <tr>
                    <td>{{new_album}}</td>
                </tr>
            </table>
        </td>
        <td>
        <!-- BEGIN failures -->
        <center><div class="error-message" style="margin-bottom: 1.4em;">{{message}}</div></center>
        <!-- END failures -->
        <div id="albums-area">
            <!-- BEGIN albums -->
            <div class="phoo-album">
                <span class="phoo-album-date">{{createtime}}</span>
                <h2>{{title}}</h2>
                <div class="phoo-album-description">{{description}}</div>
                <div class="phoo-album-actions">{{actions}}</div>
            </div>
            <div class="clearfix">
                <!-- BEGIN item -->
                <span class="phoo-album-item">
                <a href="{{url}}">
                 <img class="phoo-image phoo-square" src="{{thumb}}" title="{{name}}" width="{{width}}" height="{{height}}" alt="{{name}}" />
                <!-- BEGIN notfound -->
                <br /><span class="not-found">{{notfound}}</span>
                <!-- END notfound -->
                <!-- BEGIN notpublished -->
                <br /><span class="not-published">{{notpublished}}</span>
                <!-- END notpublished -->
                </a>
                </span>
                <!-- END item -->
            </div>
            <br />
            <!-- BEGIN nophotos -->
            <div class="no-photos"><div class="notice-message">{{message}}</div></div>
            <!-- END nophotos -->
            <!-- END albums -->
        </div>
        </td>
    </table>
  </form>
</div>
<!-- END photos -->
<!-- END phoo -->
