<!-- BEGIN LangStrings -->
<div id="meta_lang">
<!-- BEGIN MetaData -->
  <strong>{{label}}:</strong><br/>
  <input type="text" size="40" name="{{label}}" id="{{label}}" value="{{value}}" onchange="LangDataChanged = true;" />
<!-- END MetaData -->
</div>
<table id="tbl_strings">
<!-- BEGIN item -->
<tr class="{{color}}">
  <td class="td_from" title="{{field}}">{{from}}</td>
  <td class="td_to">
    <textarea dir="{{dir}}" rows="{{row_count}}" cols="40" name="{{field}}" style="height: {{height}}px;" onchange="LangDataChanged = true;">{{to}}</textarea>
  </td>
</tr>
<!-- END item -->
</table>
<!-- END LangStrings -->
