<!-- BEGIN form -->
<form action="{{base_script}}" method="post">
  <input class="form-control" type="hidden" name="id" value="{{id}}" />
  <div class="w2ui-page page-0">
    <div class="w2ui-field w2ui-span6">
      <label>{{lbl_subject}}:</label>
      <div>
        <input class="form-control" name="subject" size="60" maxlength="100"/>
      </div>
    </div>
    <div class="w2ui-field w2ui-span6">
      <label>{{lbl_location}}:</label>
      <div>
        <input class="form-control" name="location" size="60" maxlength="100"/>
      </div>
    </div>
    <div class="w2ui-field w2ui-span6">
      <label>{{lbl_desc}}:</label>
      <div>
        {{description}}
      </div>
    </div>
    <div class="w2ui-field w2ui-span6">
      <label>{{lbl_date}}:</label>
      <div>
        <input name="start_date" type="us-date" class="w2field"> {{lbl_to}} <input name="stop_date">
      </div>
    </div>
    <div class="w2ui-field w2ui-span6">
      <label>{{lbl_time}}:</label>
      <div>
        <input class="form-control" type="time" name="start_time" value="{{start_time}}"
               pattern="(0[0-9]|1[0-9]|2[0-3]):([0-5][0-9])" placeholder="00:00"
               oninvalid="setCustomValidity('{{error_time_value}}')"
               onchange="try{{setCustomValidity('')}}catch(e){{}}" />
        {{lbl_to}}
        <input class="form-control" type="time" name="stop_time" value="{{stop_time}}"
               pattern="(0[0-9]|1[0-9]|2[0-3]):([0-5][0-9])" placeholder="00:00"
               oninvalid="setCustomValidity('{{error_time_value}}')"
               onchange="try{{setCustomValidity('')}}catch(e){{}}" />
      </div>
    </div>
    <div class="w2ui-field w2ui-span6">
      <label>{{lbl_type}}:</label>
      <div>
        {{type}}
      </div>
    </div>
    <div class="w2ui-field w2ui-span6">
      <label>{{lbl_priority}}:</label>
      <div>
        {{priority}}
      </div>
    </div>
    <div class="w2ui-field w2ui-span6">
      <label>{{lbl_reminder}}:</label>
      <div>
        {{reminder}}
      </div>
    </div>
    <div class="w2ui-field w2ui-span6">
      <label>{{lbl_recurrence}}:</label>
      <div>
        {{recurrence}} {{month}} {{day}} {{wday}}
      </div>
    </div>
  </div>
  <div class="w2ui-buttons">
    <input type="button" class="btn" value="{{lbl_cancel}}" name="cancel" onclick="fromAction(this.name)"/>
    <input type="button" class="btn btn-green" value="{{lbl_ok}}" name="save" onclick="fromAction(this.name)"/>
  </div>
</form>
<!-- END form -->