{%- if group.show_title %}
  <div class="gadget-header d-flex align-items-center mb-2">
    <h4 class="gadget-header-title m-0 me-2 py-1">
      {{ group.title }}
    </h4>
  </div>
{%- endif %}

<div class="gadget-container">
  <div class="gadget-content">
    {%-for banner in banners %}
      <div class="text-center">
        <a {{- banner.url | formatString: ' href="{0}"', banner.url }}>
          <picture>
            {%- assign chr10 = 10 | chr %}
            {%- assign files = banner.banner | split: chr10 %}
            {%- assign srcFallback = '' %}

            {%- for file in files %}
              {%- assign src = file | strstr: ' ', true | default: file %}
              {%- assign media = file | strstr: ' ', false | strip %}

              {%- if src | contains: '://' | false -%}
                {%- assign src = src | prepend: 'banners/' | dataURL %}
              {%- endif -%}

              {%- if forloop.first %}
                {%- assign srcFallback = src %}
              {%- endif %}
              <source srcset="{{ src }}" {{- media | formatString: ' media="{0}"', media }} />
            {%- endfor %}
            <img src="{{ srcFallback }}" class="d-block w-100" alt="{{ banner.title }}">
          </picture>
          <h5><a href="{{ banner.url }}">{{ banner.title }}</a></h5>
        </a>
      </div>
    {%- endfor %}
  </div>
</div>
<div class="gadget-footer" hidden></div>
