<!-- BEGIN banners -->
<!-- BEGIN title --><div class="gadget_header"><h3>{{title}}</h3></div><!-- END title -->
<div class="gadget_container">
  <div class="gadget_content content">
    <!-- BEGIN banner -->{{template}}<!-- END banner -->
  </div>
</div>
<div class="gadget_footer"></div>
<!-- END banners -->
<!-- BEGIN banners_type_1 -->
<!-- BEGIN title --><div class="gadget_header"><h3>{{title}}</h3></div><!-- END title -->
<div class="gadget_container">
  <div class="gadget_content content">
    <div id="banners_{{gid}}">
    <!-- BEGIN banner -->{{template}}<!-- END banner -->
    </div>
  </div>
</div>
<div class="gadget_footer"></div>
<script type="text/javascript">
  function doVScroll(el)
  {{
      var elParent = el.parentNode;
      if (parseInt(el.style.top) > -el.offsetHeight) {{
          el.style.top = parseInt(el.style.top) - 1 + "px";
      }} else {{
          el.style.top = elParent.offsetHeight + "px";
      }}

      el.timer = setTimeout(function(){{doVScroll(el)}}, 25);
  }}

  var el = document.getElementById('banners_{{gid}}');
  var elParent = el.parentNode;
  el.style.position = 'relative';
  el.style.overflow = 'visible';
  elParent.style.height = '260px';
  elParent.style.position = 'relative';
  elParent.style.overflow = 'hidden';
  el.style.top = el.parentNode.style.height;
  doVScroll(el);
  el.setAttribute('onmouseover', "clearTimeout(this.timer)");
  el.setAttribute('onmouseout',  "doVScroll(this);");
</script>
<!-- END banners_type_1 -->
<!-- BEGIN banners_type_2 -->
<!-- BEGIN title --><div class="gadget_header"><h3>{{title}}</h3></div><!-- END title -->
<div class="gadget_container">
  <div class="gadget_content content">
    <div id="banners_{{gid}}">
    <!-- BEGIN banner -->{{template}}<!-- END banner -->
    </div>
  </div>
</div>
<div class="gadget_footer"></div>
<script type="text/javascript">
  function doHScroll(el)
  {{
      var elParent = el.parentNode;
      if (parseInt(el.style.left) > -el.offsetWidth) {{
          el.style.left = parseInt(el.style.left) - 1 + "px";
      }} else {{
          el.style.left = elParent.offsetWidth + "px";
      }}

      el.timer = setTimeout(function(){{doHScroll(el)}}, 25);
  }}

  var el = document.getElementById('banners_{{gid}}');
  var elParent = el.parentNode;
  el.style.position = 'relative';
  el.style.overflow = 'visible';
  el.style.whiteSpace="nowrap";
  elParent.style.position = 'relative';
  elParent.style.overflow = 'hidden';
  el.style.left = el.parentNode.style.width;
  doHScroll(el);
  el.setAttribute('onmouseover', "clearTimeout(this.timer);");
  el.setAttribute('onmouseout',  "doHScroll(this);");
</script>
<!-- END banners_type_2 -->
