<!-- BEGIN banners -->
<!-- BEGIN title -->
<div class="gadget_header">
  <div class="row">
    <div class="col-xs-12"><h3>{{title}}</h3></div>
  </div>
</div>
<!-- END title -->
<div class="gadget_container">
  <div class="gadget_content">
    <!-- BEGIN banner -->{{template}}<!-- END banner -->
  </div>
</div>
<div class="gadget_footer"></div>
<!-- END banners -->

<!-- BEGIN banners_type_1 -->
<!-- BEGIN title -->
<div class="gadget_header">
  <div class="row">
    <div class="col-xs-12"><h3>{{title}}</h3></div>
  </div>
</div>
<!-- END title -->
<div class="gadget_container">
  <div class="gadget_content">
    <div id="banners_{{gid}}">
      <!-- BEGIN banner -->
      <div class="item <!-- BEGIN first -->active<!-- END first -->">{{template}}</div>
      <!-- END banner -->
    </div>
  </div>
</div>
<div class="gadget_footer"></div>
<script type="text/javascript">
  function doVScroll(el)
  {
      var elParent = el.parentNode;
      if (parseInt(el.style.top) > -el.offsetHeight) {
          el.style.top = parseInt(el.style.top) - 1 + "px";
      } else {
          el.style.top = elParent.offsetHeight + "px";
      }

      el.timer = setTimeout(function(){doVScroll(el)}, 25);
  }

  var el = document.getElementById('banners_{{gid}}');
  var elParent = el.parentNode;
  el.style.position = 'relative';
  el.style.overflow = 'visible';
  elParent.style.height = '260px';
  elParent.style.position = 'relative';
  elParent.style.overflow = 'hidden';
  el.style.top = el.parentNode.style.height;
  doVScroll(el);
  el.setAttribute('onmouseover', "clearTimeout(this.timer)");
  el.setAttribute('onmouseout',  "doVScroll(this);");
</script>
<!-- END banners_type_1 -->

<!-- BEGIN banners_type_2 -->
<!-- BEGIN title -->
<div class="gadget_header">
  <div class="row">
    <div class="col-xs-12"><h3>{{title}}</h3></div>
  </div>
</div>
<!-- END title -->
<div class="gadget_container">
  <div class="gadget_content">
    <div id="banners_{{gid}}" class="carousel slide" data-ride="carousel">
      <ol class="carousel-indicators">
        <!-- BEGIN indicator -->
        <li data-target="#banners_{{gid}}" data-slide-to="{{index}}" <!-- BEGIN first -->class="active"<!-- END first -->></li>
        <!-- END indicator -->
      </ol>
      <div class="carousel-inner">
        <!-- BEGIN banner -->
        <div class="item <!-- BEGIN first -->active<!-- END first -->">{{template}}</div>
        <!-- END banner -->
      </div>
    </div>
    <a class="left carousel-control" href="#banners_{{gid}}" data-slide="prev">
      <span class="glyphicon glyphicon-chevron-left"></span>
    </a>
    <a class="right carousel-control" href="#banners_{{gid}}" data-slide="next">
      <span class="glyphicon glyphicon-chevron-right"></span>
    </a>
  </div>
</div>
<div class="gadget_footer"></div>
<!-- END banners_type_2 -->
