#sa_filter{
    height:70px;
    text-align:right;
    padding-bottom:4px;
    width: 100%;
}
#sa_filter input,#sa_filter select{
    width:130px;
    white-space:nowrap;
    margin:0 10px 4px 0;
}
#sa_filter table td{
    padding:2px;
}
#sa_filter .filter_label{
    width:70px;
}
