<!-- BEGIN rating -->
<div class="gadget_meta_rating">
  <label>{{lbl_rating}}Rating:</label>
  <span id="rating_{{gadget}}_{{action}}_{{reference}}">
    <!-- BEGIN item -->
    <input type="radio" name="rating" value="{{value}}" <!-- BEGIN checked -->checked="checked"<!-- END checked -->>
    <!-- END item -->
     ({{rates_count}}) - ({{rates_avg}})
  </span>
  <script type="text/javascript">
    $('#rating_{{gadget}}_{{action}}_{{reference}}').children('input').on('change', function() {
        $.loadScript('gadgets/Rating/Resources/script.js', $.proxy(function() {
            postRating('{{gadget}}', '{{action}}', '{{reference}}', '{{item}}', $(this).val());
        }, this));
    });
  </script>
</div>
<!-- END rating -->
