<!-- BEGIN SimpleBox -->
<div class="gadget-header card-header d-flex align-items-center justify-content-between">
  <h5 class="m-0 me-2 py-1">{{title}}</h5>
</div>
<div class="gadget-container">
  <form name="search_form" method="get" action="{{base_script}}">
  <input type="hidden" name="reqGadget" value="Search" />
  <input type="hidden" name="reqAction" value="Results" />
  <div class="gadget-content card-body">
    <input class="form-control" type="text" name="all" value="{{all}}" title="{{ttl_all}}" placeholder="{{search}}">
    <button class="btn btn-primary" type="submit" value="search">{{search}}</button>
  </div>
  </form> 
</div>
<div class="gadget-footer card-footer" hidden></div>
<!-- END SimpleBox -->
<!-- BEGIN Box -->
<div class="gadget-header card-header d-flex align-items-center justify-content-between">
  <h5 class="m-0 me-2 py-1">{{title}}</h5>
</div>
<div class="gadget-container">
  <form name="search_form" method="get" action="{{base_script}}">
  <input type="hidden" name="reqGadget" value="Search" />
  <input type="hidden" name="reqAction" value="Results" />
  <div class="gadget-content card-body">
    <div>
      <label>{{lbl_all}}:</label>
      <input class="form-control" type="text" name="all" value="{{all}}" title="{{ttl_all}}">
    </div>
    <div>
      <label>{{lbl_search_in}}:</label>
      <select class="form-control" name="gadgets">
      <!-- BEGIN gadget -->
      <option value="{{gadget}}" {{selected}}>{{title}}</option>
      <!-- END gadget -->
      </select>
    </div>
  </div>
  <div class="gadget_actions">
    <button class="btn btn-primary" type="submit" value="search">{{search}}</button>
  </div>
  </form> 
</div>
<div class="gadget-footer card-footer" hidden></div>
<!-- END Box -->
<!-- BEGIN AdvancedBox -->
<div class="gadget-header card-header d-flex align-items-center justify-content-between">
  <h5 class="m-0 me-2 py-1">{{title}}</h5>
</div>
<div class="gadget-container">
  <form name="search_form" method="get" action="{{base_script}}">
  <input type="hidden" name="reqGadget" value="Search" />
  <input type="hidden" name="reqAction" value="Results" />
  <div class="gadget-content card-body">
    <fieldset>
      <legend><span>{{lbl_word_filter}}</span></legend>
      <p><label>{{lbl_all}}</label>{{all}}</p>
      <p><label>{{lbl_exact}}</label>{{exact}}</p>
      <p><label>{{lbl_least}}</label>{{least}}</p>
      <p><label>{{lbl_exclude}}</label>{{exclude}}</p>
    </fieldset>
    <fieldset>
      <legend><span>{{lbl_data_filter}}</span></legend>
      <p><label>{{lbl_search_in}}</label>{{gadgets_combo}}</p>
    </fieldset>
  </div>
  <div class="gadget_actions">{{btn_search}}</div>
  </form>
</div>
<div class="gadget-footer card-footer" hidden></div>
<!-- END AdvancedBox -->