<!-- BEGIN SimpleBox -->
<div class="gadget_header">
  <div class="gadget_title"><h2>{{title}}</h2></div>
</div>
<div class="gadget_container">
  <form name="search_form" method="get" action="{{base_script}}">
  <input type="hidden" name="gadget" value="Search" />
  <input type="hidden" name="action" value="Results" />
  <div class="gadget_content">
    <input class="form-control" type="text" name="all" class="large" value="{{all}}" title="{{ttl_all}}" placeholder="{{search}}">
    <button class="btn btn-primary" type="submit" value="search">{{search}}</button>
  </div>
  </form> 
</div>
<div class="gadget_footer"></div>
<!-- END SimpleBox -->
<!-- BEGIN Box -->
<div class="gadget_header">
  <div class="gadget_title"><h2>{{title}}</h2></div>
</div>
<div class="gadget_container">
  <form name="search_form" method="get" action="{{base_script}}">
  <input type="hidden" name="gadget" value="Search" />
  <input type="hidden" name="action" value="Results" />
  <div class="gadget_content">
    <div>
      <label>{{lbl_all}}:</label>
      <input class="form-control" type="text" name="all" class="large" value="{{all}}" title="{{ttl_all}}">
    </div>
    <div>
      <label>{{lbl_search_in}}:</label>
      <select class="form-control" name="gadgets" class="large">
      <!-- BEGIN gadget -->
      <option value="{{gadget}}" {{selected}}>{{title}}</option>
      <!-- END gadget -->
      </select>
    </div>
  </div>
  <div class="gadget_actions">
    <button class="btn btn-primary" type="submit" value="search">{{search}}</button>
  </div>
  </form> 
</div>
<div class="gadget_footer"></div>
<!-- END Box -->
<!-- BEGIN AdvancedBox -->
<div class="gadget_header">
  <div class="gadget_title"><h2>{{title}}</h2></div>
</div>
<div class="gadget_container">
  <form name="search_form" method="get" action="{{base_script}}">
  <input type="hidden" name="gadget" value="Search" />
  <input type="hidden" name="action" value="Results" />
  <div class="gadget_content">
    <fieldset>
      <legend><span>{{lbl_word_filter}}</span></legend>
      <p><label>{{lbl_all}}</label>{{all}}</p>
      <p><label>{{lbl_exact}}</label>{{exact}}</p>
      <p><label>{{lbl_least}}</label>{{least}}</p>
      <p><label>{{lbl_exclude}}</label>{{exclude}}</p>
    </fieldset>
    <fieldset>
      <legend><span>{{lbl_data_filter}}</span></legend>
      <p><label>{{lbl_search_in}}</label>{{gadgets_combo}}</p>
    </fieldset>
  </div>
  <div class="gadget_actions">{{btn_search}}</div>
  </form>
</div>
<div class="gadget_footer"></div>
<!-- END AdvancedBox -->