#quotes,#quotes_groups{
width:100%;
}
#td_quotes,#td_groups{
vertical-align:top;
padding-right:8px;
}
#td_quotes div:first-child{
margin-bottom:5px;
}
#td_quotes label{
display:block;
}
#td_quotes select,#groups_combo{
width:300px;
}
#td_form{
width:100%;
vertical-align:top;
border:1px solid silver;
padding:12px;
}
#td_form th{
text-align:left;
}
#td_form th+td{
padding:2px;
width:87%;
}
#title{
width:100%;
}
#gid{
min-width:171px;
}
#start_time,#stop_time{
width:145px;
}
#show_title,#published{
width:60px;
}
#quotation{
width:100%;
height:200px;
}
#view_mode,#view_type{
width:120px;
}
#limit_count,#show_title,#random,#published{
width:60px;
}