/*Menubar*/
#menu-bar, #menu-bar ul 
{
  float:               left;
  width:               36em;
  list-style:          none;
  line-height:         1;
  background:          white;
  font-weight:         bold;
  padding:             0;
  border:              solid #eda;
  border-width:        1px 0;
  margin:              0 0 1em 0;
}

#menu-bar a 
{
  display:             block;
  width:               10em;
  color:               #7C6240;
  text-decoration:     none;
  padding:             0.25em 2em;
}

#menu-bar a.daddy 
{
  background:          url(rightarrow.gif) center right no-repeat;
}

#menu-bar li 
{
  float:               left;
  padding:             0;
  width:               10em;
}

#menu-bar li ul 
{
  position:            absolute;
  left:                -999em;
  height:              auto;
  width:               14.4em;
  font-weight:         normal;
  border-width:        0.25em;
  margin:              0;
}

#menu-bar li li 
{
  padding-right:       1em;
  width:               13em
  }

#menu-bar li ul a 
{
  width:               13em;
}

#menu-bar li ul ul 
{
  margin:              -1.75em 0 0 14em;
}

#menu-bar li:hover > ul
{
  left:                auto;
}

#menu-bar li:hover
{
  background: #eda;
}

/*Sortable Table*/
.datagrid 
{ 
  font:		  Icon;
  border:		  1px Solid ThreeDShadow;
  background:	  Window;
  color:		  WindowText;
}

.datagrid thead 
{
  background:	  ButtonFace;
}

.datagrid td 
{
  padding:	  2px 5px;
}

.datagrid thead td 
{
  border:		  1px solid;
  border-color:	  ButtonHighlight ButtonShadow ButtonShadow ButtonHighlight;
  cursor:		  default;
}

.datagrid thead td:active 
{
  border-color:       ButtonShadow ButtonHighlight ButtonHighlight ButtonShadow;
  padding:            3px 4px 1px 6px;
}

.datagrid thead td[_sortType=None]:active 
{
  border-color:	 ButtonHighlight ButtonShadow ButtonShadow ButtonHighlight;
  padding:	 2px 5px;
}
/*.sort-arrow  should not be renamed*/
.sort-arrow 
{
  width:             11px;
  height:            11px;
  background-position: center center;
  background-repeat:   no-repeat;
  margin:              0 2px;
}

.sort-arrow.descending 
{
  background-image:	url("../images/downsimple.png");
}

.sort-arrow.ascending 
{
  background-image: url("../images/upsimple.png");
}

/*====================== Piwi calendar ======================*/
#piwical
{
	font-family:arial;
	font-size:11px;
	border-width:1px;
	border-style:solid;
	border-color:#a0a0a0;
}

.header
{
	background-color: darkblue;
}

.week
{
	text-decoration: none;
	background-color: #fefefe;
}

.anchor
{
	text-decoration:none;
	color:black;
	font-size:11px;
	font-family: arial;
}

.menu
{
	border-style: solid;
	border-width: 0;
	border-color: #3366FF;
	cursor: pointer;
}

.menuitem
{
	cursor: pointer;
	font-family: arial;
	font-size: 10px;
	border-width: 1px;
	border-style: solid;
	background-color: #FFFFDD;
}

.menuitem:hover
{
	background-color: #FFAA00;
}

.startday
{
	font-weight: bold;
	text-decoration: none;
	color: #000000;
	font-weight: bold;
}

.today
{
	color: red;
	text-decoration: none;
	font-weight: bolder;
}

.holiday
{
	color: white;
	background-color: black;
}

.anyday
{
	color: #000000;
	text-decoration: none;
}