/* piwimenuMenu Style Sheet */

.piwimenuMenu,.piwimenuSubMenuTable
{
	font-family:	verdana, arial, sans-serif;
	font-size:	13px;

	padding:	0;

	white-space:	nowrap;
	cursor:		default;
}

.piwimenuSubMenu
{
	position:	absolute;
	visibility:	hidden;

	/*
	   Netscape/Mozilla renders borders by increasing
	   their z-index.  The following line is necessary
	   to cover any borders underneath
	*/
	z-index:	100;
	border:		0;
	padding:	0;

	overflow:	visible;
	border:		1px solid #8C867B;

	filter:progid:DXImageTransform.Microsoft.Shadow(color=#BDC3BD, Direction=135, Strength=4);
}

.piwimenuSubMenuTable
{
	overflow:	visible;
}

.piwimenuMainItem,.piwimenuMainItemHover,.piwimenuMainItemActive,
.piwimenuMenuItem,.piwimenuMenuItemHover,.piwimenuMenuItemActive
{
	border:		0;
	cursor:		default;
	white-space:	nowrap;
}

.piwimenuMainItem
{
	background-color:	#EFEBDE;
}

.piwimenuMainItemHover,.piwimenuMainItemActive
{
	background-color:	#C6D3EF;
}

.piwimenuMenuItem
{
	background-color:	WHITE;
}

.piwimenuMenuItemHover,.piwimenuMenuItemActive
{
	background-color:	#C6D3EF;
}


/* horizontal main menu */

.piwimenuMainItem
{
	padding:	1px;
	border:		0;
}

td.piwimenuMainItemHover,td.piwimenuMainItemActive
{
	padding:	0px;
	border:		1px solid #3169C6;
}

.piwimenuMainFolderLeft,.piwimenuMainItemLeft,
.piwimenuMainFolderText,.piwimenuMainItemText,
.piwimenuMainFolderRight,.piwimenuMainItemRight
{
	background-color:	inherit;
}

/* vertical main menu sub components */

td.piwimenuMainFolderLeft,td.piwimenuMainItemLeft
{
	padding-top:	2px;
	padding-bottom:	2px;
	padding-left:	0px;
	padding-right:	2px;

	border-top:	1px solid #3169C6;
	border-bottom:	1px solid #3169C6;
	border-left:	1px solid #3169C6;

	background-color:	inherit;
}

td.piwimenuMainFolderText,td.piwimenuMainItemText
{
	padding-top:	2px;
	padding-bottom:	2px;
	padding-left:	5px;
	padding-right:	5px;

	border-top:	1px solid #3169C6;
	border-bottom:	1px solid #3169C6;

	background-color:	inherit;
	white-space:	nowrap;
}

td.piwimenuMainFolderRight,td.piwimenuMainItemRight
{
	padding-top:	2px;
	padding-bottom:	2px;
	padding-left:	0px;
	padding-right:	0px;

	border-top:	1px solid #3169C6;
	border-bottom:	1px solid #3169C6;
	border-right:	1px solid #3169C6;

	background-color:	inherit;
}

tr.piwimenuMainItem td.piwimenuMainFolderLeft,
tr.piwimenuMainItem td.piwimenuMainItemLeft
{
	padding-top:	3px;
	padding-bottom:	3px;
	padding-left:	1px;
	padding-right:	2px;

	white-space:	nowrap;

	border:		0;
	background-color:	inherit;
}

tr.piwimenuMainItem td.piwimenuMainFolderText,
tr.piwimenuMainItem td.piwimenuMainItemText
{
	padding-top:	3px;
	padding-bottom:	3px;
	padding-left:	5px;
	padding-right:	5px;

	border:		0;
	background-color:	inherit;
}

tr.piwimenuMainItem td.piwimenuMainItemRight,
tr.piwimenuMainItem td.piwimenuMainFolderRight
{
	padding-top:	3px;
	padding-bottom:	3px;
	padding-left:	0px;
	padding-right:	1px;

	border:		0;
	background-color:	inherit;
}

/* sub menu sub components */

.piwimenuMenuFolderLeft,.piwimenuMenuItemLeft
{
	padding-top:	2px;
	padding-bottom:	2px;
	padding-left:	1px;
	padding-right:	3px;

	border-top:	1px solid #3169C6;
	border-bottom:	1px solid #3169C6;
	border-left:	1px solid #3169C6;

	background-color:	inherit;
	white-space:	nowrap;
}

.piwimenuMenuFolderText,.piwimenuMenuItemText
{
	padding-top:	2px;
	padding-bottom:	2px;
	padding-left:	5px;
	padding-right:	5px;

	border-top:	1px solid #3169C6;
	border-bottom:	1px solid #3169C6;

	background-color:	inherit;
	white-space:	nowrap;
}

.piwimenuMenuFolderRight,.piwimenuMenuItemRight
{
	padding-top:	2px;
	padding-bottom:	2px;
	padding-left:	0px;
	padding-right:	0px;

	border-top:	1px solid #3169C6;
	border-bottom:	1px solid #3169C6;
	border-right:	1px solid #3169C6;

	background-color:	inherit;
	white-space:	nowrap;
}

.piwimenuMenuItem .piwimenuMenuFolderLeft,
.piwimenuMenuItem .piwimenuMenuItemLeft
{
	padding-top:	3px;
	padding-bottom:	3px;
	padding-left:	2px;
	padding-right:	3px;

	white-space:	nowrap;

	border:		0;
	background-color:	#EFEFDE;
}

.piwimenuMenuItem .piwimenuMenuFolderText,
.piwimenuMenuItem .piwimenuMenuItemText
{
	padding-top:	3px;
	padding-bottom:	3px;
	padding-left:	5px;
	padding-right:	5px;

	border:		0;
	background-color:	inherit;
}

.piwimenuMenuItem .piwimenuMenuFolderRight,
.piwimenuMenuItem .piwimenuMenuItemRight
{
	padding-top:	3px;
	padding-bottom:	3px;
	padding-left:	0px;
	padding-right:	1px;

	border:		0;
	background-color:	inherit;
}

/* menu splits */

.piwimenuMenuSplit
{
	margin:		2px;
	height:		1px;
	overflow:	hidden;
	background-color:	inherit;
	border-top:	1px solid #C6C3BD;
}

/* image shadow animation */

/*
	seq1:	image for normal
	seq2:	image for hover and active

	To use, in the icon field, input the following:
	<img class="seq1" src="normal.gif" /><img class="seq2" src="hover.gif" />
*/

.piwimenuMenuItem img.seq1
{
	display:	inline;
}

.piwimenuMenuItemHover seq2,
.piwimenuMenuItemActive seq2
{
	display:	inline;
}

.piwimenuMenuItem .seq2,
.piwimenuMenuItemHover .seq1,
.piwimenuMenuItemActive .seq1
{
	display:	none;
}
