#layout-controls{
right:0;
position:absolute;
}
.layout-section{
height:5em;
}
.layout-section .item{
background:none;
background-color:rgb(234,234,234);
}
.layout-section .item_icon{
position:relative;
}
.layout-section .item-delete{
position:relative;
}
img{
filter:expression(this.onpropertychange ? '!important' :fixpngTransparency(this));
}
