<!-- BEGIN not_allow -->
<div class="gadget">
  <div class="simple-response-msg">{msg}</div>
</div>
<!-- END not_allow -->
<!-- BEGIN deletepost -->
<div class="gadget forum_delete_post">
  <h2>{level} <a href="{url}">{subject}</a> <span> {separator}</span> <span>{title}</span></h2>
  <!-- BEGIN response --><div class="simple-response-msg">{msg}</div><!-- END response -->
  <form name="new_post" action="{base_script}" method="post">
    <input type="hidden" name="gadget" value="Forum" />
    <input type="hidden" name="action" value="DeletePost" />
    <input type="hidden" name="pid" value="{pid}" />
    <input type="hidden" name="tid" value="{tid}" />
    <input type="hidden" name="step" value="delete" />
    <div class="content">
      <div class="dpost_message">{delete_message}</div>
      <div class="post_info">
        <ul>
          <li>{posted_by}: {user_name}</li>
          <li>{psted_date}</li>
        </ul>
      </div>
      <div class="post_message"><p>{lbl_message}:</p>
         {message}
      </div>
      {confirm_check}
    </div>
    <div class="actions">
        <button type="submit" value="{delete}">{delete}</button>
        <button type="button" name="cancel" id="cancel" value="{cancel}"
            onclick="this.form.step.value='cancel'; this.form.submit();">{cancel}</button>
    </div>
  </form>
</div>
<!-- END deletepost -->