<!-- BEGIN topic -->
<div class="gadget forum">
  <h2><a href="{url}">{title}</a></h2>
  <div class="content">
    <!-- BEGIN post -->
    <ul class="topics_list">
      <li>
        <dl>
          <dt><a href="{url}">{title}</a></dt>
          <dd class="post_by">{username}</dd>
          <dd class="post_date">{post_date}</dd>
        </dl>
        <dl>
            <dd class="post_message">{message}</dd>
        </dl>
      </li>
    </ul>
    <!-- END post -->
  </div>
  <!-- BEGIN actions -->
  <div class="actions">
    <a href="{url_newpost}" title="lbl_newpost">{lbl_newpost}</a>
  </div>
  <!-- END actions -->
</div>
<!-- END topic -->