<!-- BEGIN topic -->
<div class="gadget forum">
  <h2><a href="{url}">{title}</a></h2>
  <div class="content">
    <!-- BEGIN post -->
    <div class="forum_post">
      <dl class="post_profile">
        <dt>{username}{nickname}{user_url}</dt>
        <dd>{posts_lbl}: {posts_count}</dd>
        <dd>{joined_lbl}: {joined_time}</dd>
      </dl>
      <div class="post_meta">{postedby_lbl}{username}{nickname}{user_url}{createtime}</div>
      <div class="post_content">{message}</div>
      <!-- BEGIN update -->
      <div class="post_update">{updatedby_lbl}{username}{nickname}{user_url}{update_reason}{update_time}</div>
      <!-- END update -->
      <!-- BEGIN actions -->
      <div class="post_actions">
        <a href="{url_editpost}" title="lbl_editpost">{lbl_editpost}</a>
      </div>
      <!-- END actions -->
    </div>
    <!-- END post -->
  </div>
  <!-- BEGIN actions -->
  <div class="actions">
    <a href="{url_newpost}" title="lbl_newpost">{lbl_newpost}</a>
  </div>
  <!-- END actions -->
</div>
<!-- END topic -->