fieldset {width:320px; border:1px solid silver; margin:0; padding:10px;}
fieldset input:not([type=checkbox]) {width:100%;}
fieldset table {width:100%}
fieldset th {width:1%; text-align:left;}
.response_notice {color:#0a0;}
.response_error {color:#a00;}

#path span {color:blue; cursor:pointer;}
#path span:hover {text-decoration:underline;}

#files {width:400px}
#filelink img {vertical-align:middle; margin:0 5px;}
#frm_file th, #frm_upload th {width:75px;}
#ifrm_upload {display:none;}

#users {
  border:1px solid silver; margin:0; padding:10px;
  max-height:150px; overflow-y:auto; line-height:1.5;
}
#share_users {width:100%; height:100px;}
#users input {margin-right:3px; vertical-align:middle;}
#users label {font-weight:bold; vertical-align:middle;}
