.directory fieldset {border:1px solid silver; margin:0; padding:10px;}
.directory fieldset input:not([type=checkbox]) {width:100%;}
.directory fieldset table {width:100%}
.directory fieldset th {width:1%; text-align:right;}
.directory .gadget_response {margin-top:-26px;}

.files-table{
width:100%;
font:11px tahoma;
}
.files-table th{
text-align:right;
}
.files-table td{
cursor:default;
white-space:nowrap;
}
.files-table tr.selected td{
background-color:#7299c4;
color:white;
}
.file-icon{
position:relative;
}
.file-icon img{
width:32px;
}
.file-title{
width:100%;
cursor:default;
word-break:break-all;
overflow:hidden;
}
.file-size{
text-align:right;
}

.file-info table{
width:100%;
}
.file-info th{
white-space:nowrap;
}

.file-image img {
max-width:540px;
}

#dir_pathbar, #dir_searchbar{
float:right;
font-size:11px;
}
#dir_pathbar img{
vertical-align:middle;
cursor:pointer;
}
#dir_path span {
cursor:pointer;
}
#dir_path span:hover {
color:blue;
}
#dir_searchbar img{
vertical-align:middle;
}

#file_actions{
float:left;
}
#file_actions img{
vertical-align:middle;
}
#file_actions img.disabled{
filter: url("data:image/svg+xml;utf8,<svg xmlns=\'http://www.w3.org/2000/svg\'><filter id=\'grayscale\'><feColorMatrix type=\'matrix\' values=\'0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0 0 0 1 0\'/></filter></svg>#grayscale"); /* Firefox 10+, Firefox on Android */
filter: gray; /* IE6-9 */
-webkit-filter: grayscale(100%);
opacity:0.5;
}

#frm_search{
clear:both;
}
#frm_search #file_filter{
width:140px;
height:22px;
vertical-align:top;
}
#frm_search #btn_search_close{
display:none;
}
#frm_search input, #frm_search select {
    width:180px;
}

#dir_tree{
line-height:1.5;
border:1px solid silver;
padding:10px;
}
#dir_tree li{
padding-right:15px;
border-right:1px dotted silver;
}
#dir_tree > ul > li{
padding-right:0;
border-right:0;
}
#dir_tree a{
padding:1px 2px;
cursor:pointer;
}
#dir_tree a.selected{
background-color:grey;
color:white;
}

#file_arena{
max-height:300px;
overflow-y:auto;
margin:5px 0;
}

#filelink img {vertical-align:middle; margin:0 5px;}
#frm_file th, #frm_upload th {width:75px;}
#ifrm_upload {display:none;}

#users {
  border:1px solid silver; margin:0; padding:10px;
  max-height:150px; overflow-y:auto; line-height:1.5;
}
#users input {margin-left:3px; vertical-align:middle;}
#users label {font-weight:bold; vertical-align:middle;}

#btn_unpublic{
display:none;
}

.file-info{
font-size:11px;
}
.file-info td.file-size{
direction:ltr;
text-align:right;
}
