<!-- BEGIN albums -->
<div class="gadget albums">
  <div class="gadget_header"><h2>{title}</h2></div>
  <div class="content">
    <!-- BEGIN item -->
    <table>
    <tr>
      <td style="vertical-align: top">
        <h3><a href="{url}">{name}</a></h3>
        {description}
        <div class="album-info">{createtime}<br />{howmany}</div>
      </td>
      <td style="vertical-align: top; width: 1%">
        <a href="{url}" title="{name}"><img src="{thumb}" width="{width}" height="{height}" alt="{filename}" /></a>
      </td>
    </tr>
    </table>
    <div class="album_group">
      <!-- BEGIN group -->
      <a href="{url}" rel="tag">{name}</a> {separator}
      <!-- END group -->
    </div>
    <!-- END item -->
  </div>
</div>
<!-- END albums -->
