<!-- BEGIN photoblog_portrait -->
<!-- BEGIN main -->
<div class="gadget_header"><h3>{{title}} / {{createtime}}</h3></div>
<div class="gadget_container">
  <div class="gadget_content content">
    <a href="{{url}}" target="_blank"><img src="{{medium}}" alt="{{title}}" width="{{width}}" height="{{height}}" /></a>
    <p>{{description}}</p>
  </div>
  <!-- END main -->
  <div class="filmstrip">
    <!-- BEGIN item -->
    <a href="{{url}}"><img src="{{thumb}}" alt="{{title}} | {{createtime}}" width="{{width}}" height="{{height}}" /></a>
    <!-- END item -->
  </div>
</div>
<div class="gadget_footer"></div>
<!-- END photoblog_portrait -->