<!-- BEGIN photoblog_portrait -->
<div class="gadget phoo_blog">
  <!-- BEGIN main -->
  <h2>{title} / {createtime}</h2>
  <div class="gadget_content content">
    <a href="{url}" target="_blank"><img src="{medium}" alt="{title}" width="{width}" height="{height}" /></a>
    <p>{description}</p>
  </div>
  <!-- END main -->
  <div class="filmstrip">
    <!-- BEGIN item -->
    <a href="{url}"><img src="{thumb}" alt="{title} | {createtime}" width="{width}" height="{height}" /></a>
    <!-- END item -->
  </div>
  <div class="gadget_footer"></div>
</div>
<!-- END photoblog_portrait -->