<!-- BEGIN ViewAlbumPage -->
<div class="gadget_header">
  <div class="gadget_title"><h2>{{title}}</h2></div>
</div>
<div class="gadget_container">
  <p>{{description}}</p>
  <!-- BEGIN photos -->
  <div class="gadget_content content">
    <!-- BEGIN item -->
    <a href="{{url}}" title="{{name}}"><img width="{{width}}" height="{{height}}" src="{{thumb}}" title="{{name}}" alt="{{name}}" /></a> 
    <!-- END item -->
  </div>
  <!-- END photos -->
  <!-- INCLUDE Navigation.html include/Jaws/Resources -->
</div>
<div class="gadget_footer"></div>
<!-- END ViewAlbumPage -->