<!-- BEGIN summary -->
{{menubar}}
<div id="main">
  <table class="summary" style="width:100%;">
    <tr><td style="vertical-align: top">
      <table style="border: 1px solid #d3d7cf; padding: 4px;">
        <tr><td colspan="2" class="dark-background">{{blog_stats}}</td></tr>
        <!-- BEGIN item -->
        <tr>
          <td class="summary_label" style="background-color: {{bgcolor}};">{{label}}</td>
          <td class="summary_value" style="background-color: {{bgcolor}};">{{value}}</td>
        </tr>
        <!-- END item -->
      </table>
    </td></tr>
  </table>
<!-- BEGIN message --><span class="control-panel-message">{{message}}</span><br /><br /><!-- END message -->
</div>
<!-- END summary -->
