body {font-size: small;}

h1 { font-size: medium; }
h2 { font-size: small; }
h3 { font-size: x-small; }
h4 { font-size: xx-small; }

form { margin: 0px; }

td, label { font-size: x-small; }

img {
filter: expression(this.onpropertychange ? '!important' : fixpngTransparency(this));
}

input, select, textarea {
font-size: x-small;
color: #333;
background:#fff url(../images/field-bg.png) repeat-x top;
border-top: 1px solid #999;
border-left: 1px solid #ccc;
border-right: 1px solid #ccc;
border-bottom: 1px solid #ddd;
padding: 3px;
blr: expression(this.onfocus ? '!important' : fixOnFocus(this, 'input_focus'));
}

input {
height: 24px;
}

.input_focus {
color: #000;
background-color: #fff;
border: 1px solid #3465a4;
}

button {
/*filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='gadgets/ControlPanel/images/button.png', sizingMethod='scale');
background: #fcfcfc url(../../../images/blank.gif) repeat-x top left;
*/
color: #888a85;
background: #fcfcfc url(../../ControlPanel/images/button.png) repeat-x top right;
font-size: x-small;
font-weight: bold;
border: 1px solid #babdb6;
border-top: 1px solid #d3d7cf;
border-left: 1px solid #d3d7cf;
margin: 0px;
margin-left: 4px;
padding: 1px 2px;
min-height: 15px;
width: 1px;
overflow: visible;
/*blr: expression(this.onmouseover ? '!important' : fixOnMouseOver(this, 'button_hover'));
blr: expression(this.onmousedown ? '!important' : fixOnMouseDown(this, 'button_active'));*/
}

.button_hover {
filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='gadgets/ControlPanel/images/button-hover.png', sizingMethod='scale');
background: #fafafa url(../../../images/blank.gif) repeat-x top left;
}

.button_active {
filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='gadgets/ControlPanel/images/button-hover.png', sizingMethod='scale');
background: #e4e6e1 url(../../../images/blank.gif) repeat-x top left;
}

fieldset div strong {
font-size: x-small;
}

fieldset br {
display : expression((document.all[this.sourceIndex+1].type=='checkbox')? 'inline': 'none');
}

fieldset label {
display: expression((document.all[this.sourceIndex-1].type=='checkbox' ||
 document.all[this.sourceIndex+1].type=='checkbox')? 'inline': 'block');
font-size: x-small;
}

div.oneline label {
font-size: x-small;
}

#sidebar {
  width: 264px;
}

.jawsDatagrid {
font-size: x-small;
}

.jawsDatagrid td {
  padding: 1px;
}

.notify-box h1 {
font-size: x-small;
}

.notify-items {
height: expression(this.scrollHeight > 210? '210px' : 'auto');
}

.notify-items table {
font-size: x-small;
}

.main-menu-header {
font-size: medium;
}

.main-item {
margin: 0px;
width: 80px;
height: 85px;
font-size: smaller;
}

/* ----- MESSAGE BOX ----- */
#msgbox-wrapper {
height: 25px;
border: none;
}

.error-message, .warning-message, .notice-message, .working-message {
display: inline;
padding-top: 4px;
padding-bottom: 3px;
}

.error-message a, .warning-message a, .notice-message a, .working-message a {
margin: 0px;
margin-left: 16px;
}

.warning-message {
background-image: none;
filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='../../../images/stock/warning-small.png', sizingMethod='fixed');
}

.error-message {
background-image: none;
filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='../../../images/stock/error-small.png', sizingMethod='fixed');
}

#login-info .name {
display: inline;
}

#login fieldset label {
cursor:pointer;
display:block;
font-size: 10pt;
font-weight:bold;
text-align:right;
}

#login fieldset input {
width: 210px;
}