/* css for tabs */
ul#tabs {
    margin: 0;
    margin-top: 8px;
    padding: 0;
    text-align: right;
}

ul#tabs li  {
    display: inline;
    list-style: none;
}

ul#tabs span {
    background: #eee;
    border: 1px solid #c7c7c7;
    border-bottom: none;
    text-decoration: none;
    padding: 4px 4px 0px 4px;
    color: #888a85;
    font-weight: bold;
}

ul#tabs span:hover {
    cursor: pointer;
    background-color: #cee14b;
    color: #9db029;
}

ul#tabs span.current {
    background: #fff;
    color: #3465a4;
    border-top: 3px solid #c7c7c7;
    border-left: 1px solid #c7c7c7;
    border-right: 1px solid #c7c7c7;
    border-bottom: none;
    padding: 4px 4px 1px 4px;
}
/* end css for tabs */

#file_box td, #dir_box td {
    padding-top: 5px;
    text-align: right;
    
}

#file_box .buttons, #dir_box .buttons {
    text-align: left;
    padding-top: 4px;
}

#d_work_area {
    display: none;
}
#f_work_area,
#d_work_area {
    padding: 10px;
    border:  1px solid #D3D7CF;
}

#fb_datagrid td {
    direction: ltr;
}

#fb_datagrid td  span img {
    float: right;
}

#loc {
    float: right;
    max-width: 510px;
    padding-top: 4px;
    text-align: right;
    word-wrap: break-word;
    display: inline-block;
}

#location {
    float: left;
    direction: ltr;
    max-width: 510px;
    word-wrap: break-word;
}

#location a {
    padding: 3px;
}

#order {
    float: left;
    padding-left: 2px;
}

#file_browser {background-color:#FFFFFF; font-size:12px; padding:10px; direction:rtl;}
#file_browser .navigation {text-align:right; padding:5px 0;}
#file_browser .files {padding:10px; border:1px solid #888; border-radius:5px;}
#file_browser table {width:100%; border-spacing:0; text-align:right;}
#file_browser th {height:20px; background-color:#3465A4; color:#FFFFFF;}
#file_browser .col-icon {width:20px;}
