<div class="gadget_menubar">{{menubar}}</div>

<div class="repeater" id="categories-grid" data-staticheight="500">
    <div class="repeater-header">
      <div class="datagrid-filters">
        <div class="row">
          <form action="#" onsubmit="return false">

            {% if req_gadget | empty %}
            <div class="col-xs-1">
              <label for="filter_gadget">{{ "categories.gadget" | t }}: </label>
            </div>
            <div class="col-xs-3">
              <select name="filter_gadget" id="filter_gadget" class="form-control">
                <option value="0">{{ "global.all" | t }}</option>
                {% for gadget in gadgets %}
                <option value="{{ gadget.name }}">{{ gadget.title }}</option>
                {% endfor %}
              </select>
            </div>

            <div class="col-xs-1">
              <label for="filter_action">{{ "categories.action" | t }}: </label>
            </div>
            <div class="col-xs-3">
              <select name="filter_action" id="filter_action" class="form-control">
                <option value="0">{{ "global.all" | t }}</option>
              </select>
            </div>
            {% else %}
              {% if req_action | empty %}
                <div class="col-xs-1">
                  <label for="filter_gadget">{{ "categories.action" | t }}: </label>
                </div>
                <div class="col-xs-3">
                  <select name="filter_action" id="filter_action" class="form-control">
                    <option value="0">{{ "global.all" | t }}</option>
                    {% for action in current_actions %}
                    <option value="{{forloop.key}}">{{ action }}</option>
                    {% endfor %}
                  </select>
                </div>
              {% endif %}
            {% endif %}

            <div class="col-xs-1">
              <label for="filter_term">{{ "global.term" | t }}: </label>
            </div>
            <div class="col-xs-3">
              <input type="text" class="form-control" name="filter_term" id="filter_term" >
            </div>

          </form>
        </div>
      </div>

      <p></p>

      <div class="repeater-header-right">
        <button type="button" class="btn btn-info" id="btn-add-category">
          <span class="glyphicon glyphicon-plus"></span> {{ "global.add" | t }}
        </button>
        <button type="button" class="btn btn-success btn-m btn-refresh">
          <span class="glyphicon glyphicon-refresh"></span> {{ "global.reload" | t }}
        </button>
      </div>
    </div>


    <div class="repeater-viewport">
      <div class="repeater-canvas"></div>
      <div class="loader repeater-loader"></div>
    </div>
    <div class="repeater-footer">
      <div class="repeater-footer-left">
        <div class="repeater-itemization">
          <span>
            <span class="repeater-start"></span>
            {{ "global.to" | t }} <span class="repeater-end"></span>
            {{ "global.of" | t }} <span class="repeater-count"></span>
            {{ "global.items" | t }}
          </span>
          <div class="btn-group selectlist dropup" data-resize="auto">
            <button type="button" class="btn btn-default btn-sm dropdown-toggle" data-toggle="dropdown">
              <span class="selected-label">?</span>
              <span class="caret"></span>
              <span class="sr-only">Toggle Dropdown</span>
            </button>
            <ul class="dropdown-menu" role="menu">
              <li data-value="10" data-selected="true"><a href="#">10</a></li>
              <li data-value="25"><a href="#">25</a></li>
              <li data-value="50"><a href="#">50</a></li>
            </ul>
            <input class="hidden hidden-field" name="itemsPerPage" readonly="readonly" aria-hidden="true" type="text">
          </div>
          <span>{{ "global.perpage" | t }}</span>
        </div>
      </div>
      <div class="repeater-footer-right">
        <div class="repeater-pagination">
          <button type="button" class="btn btn-default btn-sm repeater-prev">
            <span class="glyphicon glyphicon-chevron-left"></span>
            <span class="sr-only">Previous Page</span>
          </button>
          <label class="page-label" id="myPageLabel"></label>
          <div class="repeater-primaryPaging active">
            <div class="input-group input-append dropdown combobox dropup">
              <input type="text" class="form-control input-sm" aria-labelledby="myPageLabel">
              <div class="input-group-btn">
                <button type="button" class="btn btn-default btn-sm dropdown-toggle" data-toggle="dropdown">
                  <span class="caret"></span>
                  <span class="sr-only">Toggle Dropdown</span>
                </button>
                <ul class="dropdown-menu dropdown-menu-right"></ul>
              </div>
            </div>
          </div>
          <input type="text" class="form-control input-sm repeater-secondaryPaging" aria-labelledby="myPageLabel">
          <button type="button" class="btn btn-default btn-sm repeater-next">
            <span class="glyphicon glyphicon-chevron-right"></span>
            <span class="sr-only">Next Page</span>
          </button>
        </div>
      </div>
    </div>
  </div>

  <div class="modal fade" id="categoryModal" tabindex="-1" role="dialog" aria-labelledby="categoryModalLabel">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          <h4 class="modal-title" id="categoryModalLabel">{{ "global.add" | t }}</h4>
        </div>
        <div class="modal-body">


          <form action="#" id="category-form">

            {% if req_gadget | empty %}
            <div class="row">
              <div class="form-group col-md-6">
                <label for="gadget">{{ "categories.gadget" | t }}:</label>
                <select name="gadget" id="gadget" class="form-control">
                  {% for gadget in gadgets %}
                  <option value="{{ gadget.name }}">{{ gadget.title }}</option>
                  {% endfor %}
                </select>
              </div>

              <div class="form-group col-md-6">
                <label for="action">{{ "categories.action" | t }}:</label>
                <select name="action" id="action" class="form-control"></select>
              </div>
            </div>
            {% else %}
              {% if req_action | empty %}
                <div class="row">
                  <div class="form-group col-md-6">
                    <label for="gadget">{{ "categories.action" | t }}:</label>
                    <select name="action" id="action" class="form-control">
                      {% for action in current_actions %}
                      <option value="{{forloop.key}}">{{ action }}</option>
                      {% endfor %}
                    </select>
                  </div>
                </div>
              {% endif %}
            {% endif %}

            <div class="row">
              <div class="form-group col-md-6">
                <label for="title">{{ "global.title" | t }}:</label>
                <input class="form-control" name="title" id="title" value="" type="text"/>
              </div>

              <div class="form-group col-md-6">
                <label for="title">{{ "global.published" | t }}:</label>
                <select name="published" id="published" class="form-control">
                  <option value="0">{{ "global.no" | t }}</option>
                  <option value="1" selected>{{ "global.yes" | t }}</option>
                </select>
              </div>
            </div>

            <div class="form-group"><label for="description">{{ "global.description" | t }}:</label>
              <textarea class="form-control" name="description" id="description" cols="45" rows="4">{{description}}</textarea>
            </div>

            <div class="panel panel-default">
              <div class="panel-heading" role="tab" id="headingExtra">
                <h4 class="panel-title">
                  <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseExtra" aria-expanded="false" aria-controls="collapseExtra">
                    {{ "global.meta_info" | t }}
                  </a>
                </h4>
              </div>
              <div id="collapseExtra" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingOne">
                <div class="panel-body">

                  <div class="form-group"><label for="meta_title">{{ "global.meta_title" | t }}:</label>
                    <input class="form-control" name="meta_title" id="meta_title" value="" type="text"/>
                  </div>

                  <div class="form-group"><label for="meta_keywords">{{ "global.meta_keywords" | t }}:</label>
                    <input class="form-control" name="meta_keywords" id="meta_keywords" value="" type="text"/>
                  </div>

                  <div class="form-group"><label for="meta_description">{{ "global.meta_description" | t }}:</label>
                    <textarea class="form-control" name="meta_description" id="meta_description" cols="45" rows="2">{{meta_description}}</textarea>
                  </div>
                </div>
              </div>
            </div>

            <div class="form-group"><label for="insert_time">{{ "categories.insert_time" | t }}:</label>
              <input class="form-control" name="insert_time" id="insert_time" value="{{insert_time}}" type="text" disabled />
            </div>
          </form>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">
            {{ "global.cancel" | t }}
          </button>
          <button type="button" class="btn btn-primary" id="btn-save-category">
            {{ "global.save" | t }}
          </button>
        </div>
      </div>
    </div>
  </div>