<!-- BEGIN Categories -->
<div class="gadget_menubar">{{menubar}}</div>
<div>
  <div class="repeater" id="categories-grid" data-staticheight="500">
    <div class="repeater-header">
      <div class="datagrid-filters">
        <table style="width: 100%;">
          <tr>
            <!-- BEGIN visible_filters -->
            <td><label for="filter_action">{{lbl_action}}: </label></td>
            <td><input type="text" id="filter_action" name="filter_action" class="form-control"></td>

            <td><label for="filter_gadget">{{lbl_gadget}}: </label></td>
            <td><select name="filter_gadget" id="filter_gadget" class="form-control">
              <!-- BEGIN filter_gadget -->
              <option value="{{value}}">{{title}}</option>
              <!-- END filter_gadget -->
            </select></td>
            <!-- END visible_filters -->

            <!-- BEGIN hidden_filters -->
            <td>
              <input type="hidden" name="filter_gadget" id="filter_gadget" value="{{gadget}}">
            </td>
            <td>
              <input type="hidden" name="filter_action" id="filter_action" value="{{action}}">
            </td>
            <!-- END hidden_filters -->
            <td></td>
          </tr>

          <tr>
            <td><label for="filter_term">{{lbl_term}}: </label></td>
            <td><input type="text" id="filter_term" name="filter_term" class="form-control"></td>
          </tr>

        </table>
      </div>
      <div class="repeater-header-right">
        <button type="button" class="btn btn-success btn-m" data-toggle="modal" data-target="#categoryModal">
          <span class="glyphicon glyphicon-plus"></span> {{lbl_add}}
        </button>
      </div>
    </div>
    <div class="repeater-viewport">
      <div class="repeater-canvas"></div>
      <div class="loader repeater-loader"></div>
    </div>
    <div class="repeater-footer">
      <div class="repeater-footer-left">
        <div class="repeater-itemization">
          <span>
            <span class="repeater-start"></span>
            {{lbl_to}} <span class="repeater-end"></span>
            {{lbl_of}} <span class="repeater-count"></span>
            {{lbl_items}}
          </span>
          <div class="btn-group selectlist dropup" data-resize="auto">
            <button type="button" class="btn btn-default btn-sm dropdown-toggle" data-toggle="dropdown">
              <span class="selected-label">?</span>
              <span class="caret"></span>
              <span class="sr-only">Toggle Dropdown</span>
            </button>
            <ul class="dropdown-menu" role="menu">
              <li data-value="10" data-selected="true"><a href="#">10</a></li>
              <li data-value="25"><a href="#">25</a></li>
              <li data-value="50"><a href="#">50</a></li>
            </ul>
            <input class="hidden hidden-field" name="itemsPerPage" readonly="readonly" aria-hidden="true" type="text">
          </div>
          <span>{{lbl_per_page}}</span>
        </div>
      </div>
      <div class="repeater-footer-right">
        <div class="repeater-pagination">
          <button type="button" class="btn btn-default btn-sm repeater-prev">
            <span class="glyphicon glyphicon-chevron-left"></span>
            <span class="sr-only">Previous Page</span>
          </button>
          <label class="page-label" id="myPageLabel"></label>
          <div class="repeater-primaryPaging active">
            <div class="input-group input-append dropdown combobox dropup">
              <input type="text" class="form-control input-sm" aria-labelledby="myPageLabel">
              <div class="input-group-btn">
                <button type="button" class="btn btn-default btn-sm dropdown-toggle" data-toggle="dropdown">
                  <span class="caret"></span>
                  <span class="sr-only">Toggle Dropdown</span>
                </button>
                <ul class="dropdown-menu dropdown-menu-right"></ul>
              </div>
            </div>
          </div>
          <input type="text" class="form-control input-sm repeater-secondaryPaging" aria-labelledby="myPageLabel">
          <button type="button" class="btn btn-default btn-sm repeater-next">
            <span class="glyphicon glyphicon-chevron-right"></span>
            <span class="sr-only">Next Page</span>
          </button>
        </div>
      </div>
    </div>
  </div>

  <div class="modal fade" id="categoryModal" tabindex="-1" role="dialog" aria-labelledby="categoryModalLabel">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          <h4 class="modal-title" id="categoryModalLabel">{{lbl_add}}</h4>
        </div>
        <div class="modal-body">


          <form action="#" id="category-form">

            <!-- BEGIN visible_inputs -->
            <div class="row">
              <div class="form-group col-md-6">
                <label for="gadget">{{lbl_gadget}}:</label>
                <select name="gadget" id="gadget" class="form-control">
                  <!-- BEGIN gadget -->
                  <option value="{{value}}">{{title}}</option>
                  <!-- END gadget -->
                </select>
              </div>

              <div class="form-group col-md-6">
                <label for="action">{{lbl_action}}:</label>
                <input class="form-control" name="action" id="action" value="" type="text"/>
              </div>
            </div>
            <!-- END visible_inputs -->

            <!-- BEGIN hidden_inputs -->
            <input type="hidden" name="gadget" id="gadget" class="form-control" value="{{gadget}}">
            <input type="hidden" name="action" id="action" class="form-control" value="{{action}}">
            <!-- END hidden_inputs -->

            <div class="row">
              <div class="form-group col-md-6">
                <label for="title">{{lbl_title}}:</label>
                <input class="form-control" name="title" id="title" value="" type="text"/>
              </div>

              <div class="form-group col-md-6">
                <label for="title">{{lbl_published}}:</label>
                <select name="published" id="published" class="form-control">
                  <option value="0">{{lbl_no}}</option>
                  <option value="1" selected>{{lbl_yes}}</option>
                </select>
              </div>
            </div>

            <div class="form-group"><label for="description">{{lbl_description}}:</label>
              <textarea class="form-control" name="description" id="description" cols="45" rows="4">{{description}}</textarea>
            </div>

            <div class="panel panel-default">
              <div class="panel-heading" role="tab" id="headingExtra">
                <h4 class="panel-title">
                  <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseExtra" aria-expanded="false" aria-controls="collapseExtra">
                    {{lbl_meta_info}}
                  </a>
                </h4>
              </div>
              <div id="collapseExtra" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingOne">
                <div class="panel-body">

                  <div class="form-group"><label for="meta_title">{{lbl_meta_title}}:</label>
                    <input class="form-control" name="meta_title" id="meta_title" value="" type="text"/>
                  </div>

                  <div class="form-group"><label for="meta_keywords">{{lbl_meta_keywords}}:</label>
                    <input class="form-control" name="meta_keywords" id="meta_keywords" value="" type="text"/>
                  </div>

                  <div class="form-group"><label for="meta_description">{{lbl_meta_description}}:</label>
                    <textarea class="form-control" name="meta_description" id="meta_description" cols="45" rows="2">{{meta_description}}</textarea>
                  </div>
                </div>
              </div>
            </div>

            <div class="form-group"><label for="insert_time">{{lbl_insert_time}}:</label>
              <input class="form-control" name="insert_time" id="insert_time" value="{{insert_time}}" type="text" disabled />
            </div>
          </form>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal"
            onclick="Jaws_Gadget.getInstance('Categories').stopAction();">
            {{lbl_cancel}}
          </button>
          <button type="button" class="btn btn-primary"
            onclick="Jaws_Gadget.getInstance('Categories').saveCategory()">
          {{lbl_save}}
          </button>
        </div>
      </div>
    </div>
  </div>

</div>
<!-- END Categories -->