ul.tree-menu {
    font-size: 12px;
    line-height: 16px;
    font-family: tahoma;
    margin: 0;
    padding: 0;
}
ul.tree-menu ul {
    margin: 0 0 0 20px;
    padding: 2px 0 0 0;
}
ul.tree-menu li {
    list-style-type: none;
    margin: 0;
    padding: 0;
}
ul.tree-menu li.section {
    background-image: url("images/folder.gif");
    background-repeat: no-repeat;
    background-position: top left;
    padding-top: 1px;
    padding-bottom: 1px;
}
ul.tree-menu li.section-open {
    background-image: url("images/folder-open.gif");
    background-repeat: no-repeat;
    background-position: top left;
    padding-top: 1px;
    padding-bottom: 1px;
}
ul.tree-menu li.box {
    background-image: url("images/doc.gif");
    background-repeat: no-repeat;
    background-position: top left;
    padding-top: 1px;
    padding-bottom: 1px;
}
ul.tree-menu a {
    margin-left: 20px;
    color: #0000ff;
    text-decoration: none;
    white-space: nowrap;
}
ul.tree-menu a:hover {
    margin-left: 20px;
    color: #0000ff;
    text-decoration: underline;
    white-space: nowrap;
}