<!-- BEGIN comments -->
<div class="content">
    <ul>
        <!-- BEGIN entry -->
        <li><div><a href="{url}" title="{email}/{updatetime}" rel="external">{name}</a>: {message}</div></li>
        <!-- END entry -->
    </ul>
</div>
<!-- INCLUDE PageNavigation.html -->
<!-- END comments -->

<!-- BEGIN new_comment -->
<div class="gadget comments_comments">
  <h2>{title}</h2>

    <!-- BEGIN response --><div class="simple-response-msg">{msg}</div><!-- END response -->
    <div class="content" id="comments_messages">
        {comments_messages}
    </div>

    <!-- BEGIN fieldset -->
    <form action="{base_script}" method="post">
        <input type="hidden" name="gadget" value="Comments" />
        <input type="hidden" name="action" value="PostMessage" />
        <div class= "fieldset">
            <!-- BEGIN info-box -->
            <p><label for="name_comments{rand}">{name}:</label>
                <input name="name" id="name_comments{rand}" type="text" maxlength="20" value="{namevalue}" />
            </p>
            <p><label for="email_comments{rand}">{email}:</label>
                <input name="email" id="email_comments{rand}" type="text" value="{emailvalue}" style="direction: ltr;" />
            </p>
            <p><label for="url_comments{rand}">{url}:</label>
                <input name="url" id="url_comments{rand}" type="text" maxlength="100" value="{urlvalue}" style="direction: ltr;" />
            </p>
            <!-- END info-box -->
            <!-- BEGIN captcha -->
            <p><label>{lbl_captcha}:</label><br /><span>{captcha}<br /><small>{captcha_msg}</small></span><br />{captchavalue}</p>
            <!-- END captcha -->
            <p><label for="message{rand}">{message}:</label>
                <textarea id="message{rand}" cols="17" rows="4" name="message"></textarea>
            </p>
        </div>
        <div class="actions"><button type="submit" value="{send}">{send}</button></div>
    </form>
    <!-- END fieldset -->

    <!-- BEGIN unregistered -->
    <div class="simple-response-msg">{msg}</div>
    <!-- END unregistered -->

</div>

<!-- END new_comment -->