<!-- BEGIN comments -->
<div class="comments {gadget}">
    <!-- BEGIN entry -->
    <div class="comments_post">

        <div class="post_profile">
            <ul>
                <li><img src="{avatar}" alt="{username}" title="{nickname}"/></li>
                <!-- BEGIN registered_date -->
                <li>{registered_date_lbl}: <span>{registered_date}</span></li>
                <!-- END registered_date -->
            </ul>
        </div>

        <div class="post_body">
            <div class="post_meta">
                {postedby_lbl}: <a href="{user_url}" title="{username}">{nickname}</a>
                &raquo; <abbr title="{insert_time_iso}">{insert_time}</abbr>
            </div>
            <div class="post_content">{message}</div>
        </div>

        <div class="comment_reply">[ {reply-link} ]</div>
    </div>

    <hr style="clear: both; visibility: hidden;"/>
    <!-- END entry -->
    <!-- INCLUDE PageNavigation.html -->
    <hr style="clear: both; visibility: hidden;"/>
    <div class="actions">
        <!-- BEGIN action -->
        <a class="button" href="{action_url}" title="{action_lbl}">{action_lbl}</a>
        <!-- END action -->
    </div>

</div>
<!-- END comments -->