<!-- BEGIN recent_comments -->
<div class="gadget blog_recent_comments">
  <h2>{title}</h2>
  <div class="content">
      <ul>
          <!-- BEGIN entry -->
          <li><div><a href="{url}" title="{email}/{updatetime}" rel="external">{name}</a>: {message}</div></li>
          <!-- END entry -->

          <!-- BEGIN reply -->
          <li><div class="reply">{lbl_reply}: <a href="{url}" title="{email}" rel="external">{replier}</a>: {reply}</div></li>
          <!-- END reply -->
      </ul>
  </div>
</div>
<!-- END recent_comments -->