#sysinfo_sidebar {
float: left;
width: 220px;
}
#sysinfo fieldset{
float:right;
width:726px;
margin-top:-11px;
}
#gadget_sidebar-sysinfo{
width:220px;
padding-right:6px;
}
#info_section table{
width:100%;
font-size:smaller;
border-spacing:2px;
}
#info_section tr:nth-child(even){
background-color:#f5f5f5;
}
#info_section th{
border:1px solid #ddd;
width:180px;
padding:2px;
color:#c94100;
font-weight:normal;
white-space:nowrap;
text-align:left;
}
#info_section td{
border:1px solid #ddd;
padding:2px;
color:#3465cc;
}
