<!-- BEGIN Aliases -->
<div class="gadget_menubar">{{menubar}}</div>
<div id="main">
<table>
<tr><td>
<form name="menu_form" method="post" action="{{base_script}}" onclick="return false;">
<select class="form-control" id="alias-combo" size="10" onchange="editAlias(this.value)" style="width: 270px; max-width: 270px; min-width: 270px;">
 <!-- BEGIN alias -->
<option id="alias-{{id}}" value="{{id}}"> + {{alias_value}}</option>
<!-- END alias -->
</select><br />
<div id="buttons">
{{new}}
</div>
</form>
</td><td>
{{edit_form}}
</td></tr>
</table>
</div>
<script type="text/javascript">
var selectGadget = "{{selectGadget}}";
$('#alias_id').val('-');
$('#custom_url').val('');
$('#alias').val('');
</script>
<!-- END Aliases -->
