<!-- BEGIN SpamTraining -->
<p>Spam Training.</p>
<p>This is a standalone stage in your installation process.</p>
<p>Jaws can filter spam messages in some gadgets, like for example: comments in your blog entries, in photo comments or
in many other gadgets but the filter needs to 'learn' which messages are classified as a spam.</p>
<p>We have included many spam examples in a directory of the installer (SpamTraining/data) that will be saved in the
database for future usage. If you want to add more spam example you need to:</p>

<ul>
 <li>Update an example of a spam message (or a copy of messages) to a file under install/stages/SpamTraining/data</li>
 <li>The extension of this file should be .txt, for example: MyExamples.txt</li>
 <li>Once the Spam Trainer is execute it will collect all the words and classify them as spam</li>
</ul>

<div style="text-align: right">
 <form method="post">
  <input type="submit" name="SpamTraining_complete" value="Next &gt;" />
 </form>
</div>
<!-- END SpamTraining -->
