.avatar {
float: left;
margin-right: 5px;
margin-bottom: 5px;
border: 1px solid #000;
}

.blog-navigation {
font-size: 80%;
border: 1px solid #d3d7cf;
background-color: #fafafa;
padding: 4px;
display: block;
height: 15px;
}

.blog-pagenavigation {
margin-top: 20px;
padding-bottom: 5px;
}

.blog-pagenavigation-alignleft {
float:left
}

.blog-pagenavigation-alignright {
float:right
}

.blog-entry {
margin-top: 20px;
padding-bottom: 5px;
border-bottom: 1px solid #d3d7cf;
}


.blog-title {
color: #000;
font-size: 16px;
font-weight: bold;
}

.blog-title a {
text-decoration: none;
color: #000;
}

.blog-title a:hover {
color: #3465a4;
}

.blog-body {
text-align: justify;
}

.blog-addinfo {
padding: 5px;
text-align: right;
font-size: xx-small;
color: #babdb6;
clear: both;
}

.blog-entry-nav .float-left {float:left}
.blog-entry-nav .float-right {float:right}
.blog-tb {
padding: 5px;
font-size: 8pt;
background: none;
text-align: left;
margin-bottom: 2px;
border: 1px solid #d3d7cf;
}
.blog-page-nav .float-left {float:left}
.blog-page-nav .float-right {float:right}

.blog-comment-title {
color: #000;
font-weight: bold;
font-size: 110%;
}

.blog-comment-title a, .blog-comment-title a:hover {
color: #000;
text-decoration: none;
}


.calendar table {
margin-top: 10px;
padding: 2px;
border: 1px solid #d3d7cf;
width: 100%;
}

.calendar #cal-header {
color: #fff;
background: #3465a4;
font-size: 12px;
font-weight: bold;
padding: 2px;
text-align: center;
}

.calendar #cal-footer a {
font-weight: bold;
color: #fff;
text-decoration: none;
}

.calendar #cal-footer #arrow-left {
margin-left: 2px;
float: left;
}

.calendar #cal-footer #arrow-right {
margin-right: 2px;
float: right;
}

.calendar .weekday {
color: #babdb6;
background: #eee;
font-size: 10px;
font-weight: bold;
padding: 2px;
text-align: center;
}

.calendar .noday {
color: #aaa;
font-size: 10px;
padding: 2px;
text-align: center;
}

.calendar .noday a {
color: #aaa;
text-decoration: underline;
}

.calendar .day {
color: #555753;
font-size: 10px;
padding: 2px;
text-align: center;
}

.calendar .day a {
color: #3465a4;
text-decoration: underline;
}

.calendar .today {
background-color: #3465a4;
color: #fff;
font-size: 10px;
font-weight: bold;
text-align: center;
}

.calendar .today a {
color: #fff;
text-decoration: underline;
}

.blog-list, .blog-recent-list {
list-style: none;
margin: 0;
padding: 0;
}

.blog-recent-list li {
font-size: x-small;
margin-bottom: 4px;
}

.emblem {
text-align:center;
margin:4px;
}

.tag-cloud-1 {
font-size: 0.6em;
}

.tag-cloud-2 {
font-size: 0.7em;
font-weight: bold;
}

.tag-cloud-3 {
font-size: 0.75em;
font-weight: bold;
}

.tag-cloud-4 {
font-size: 0.8em;
font-weight: bold;
}

.tag-cloud-5 {
font-size: 0.85em;
font-weight: bold;
}

.tag-cloud-6 {
font-size: 0.9em;
font-weight: bold;
}

.tag-cloud-7 {
font-size: 0.95em;
font-weight: bold;
}

.tag-cloud-8 {
font-size: 1em;
font-weight: bold;
}

.tag-cloud-9 {
font-size: 1.1em;
font-weight: bold;
}

.tag-cloud-10 {
font-size: 1.3em;
font-weight: bold;
}

.tag-cloud {
text-align: justify;
}

.tag-cloud ul {
padding: 4px;
margin: 0px;
}

.tag-cloud li {
display: inline;
margin: 0px;
padding: 0px;
white-space: nowrap;
}

.tag-cloud a {
text-decoration: none;
}

.tag-cloud a:hover {
color: white;
background: #3465a4;
}
