.privateMessage .h-splitter {
    border-bottom: 1px dashed #000000;
    margin-bottom: 10px;
    height: 10px;
}
.privateMessage .filter label + input,
.privateMessage .filter label + textarea,
.privateMessage .filter label + select {
    display:inline;
    width: inherit;
    padding-left:10px
}
.privateMessage .grid_actions label + input,
.privateMessage .grid_actions label + textarea,
.privateMessage .grid_actions label + select {
    display:inline;
    width: inherit;
}