*{
margin:0;
padding:0;
border:0 none;
font-family:tahoma,verdana,arial,helvetica,sans-serif;
font-size:1em;
letter-spacing:0;
}
a{text-decoration:none;}
sub{vertical-align:sub;font-size:75%;}
sup{vertical-align:super;font-size:75%;}
ol{list-style-type:decimal;list-style-position:inside;margin:0 4px;}
ul{list-style-type:circle;list-style-position:inside;margin:0 4px;}
ul ul,ul ol,ol ol,ol ul{margin-left:1em;}
h1,h2,h3,h4,h5,h6,b,strong{font-weight:bold;}
html{
color:#666;
height:100%;
line-height:140%;
overflow-x:hidden;
vertical-align:baseline;
}
body{
height:100%;
margin:0;
padding:0;
background:#fff url(data:image/png;base64\,iVBORw0KGgoAAAANSUhEUgAAAAEAAABoCAIAAAC/jA1MAAAAA3NCSVQICAjb4U/gAAAACXBIWXMAAAsSAAALEgHS3X78AAAAH3RFWHRTb2Z0d2FyZQBNYWNyb21lZGlhIEZpcmV3b3JrcyA4tWjSeAAAAEBJREFUGJVjMIqcwsTAwDCKEZjh1pNTTCdv/Wb4//8/051nL5kYGRmhmAFCMyD4THA+A6o6qBomDH2Y6jDVwPkAG1cNCSp8pbMAAAAASUVORK5CYII=) repeat-x;
font-size:75%;
}
h1{font-size:150%;}
h2{font-size:130%;}
h3{font-size:115%;}
h4{font-size:100%;}
h5{font-size:85%;}
h6{font-size:70%;}
code{
display:block;
white-space:pre;
}
fieldset{
clear:both;
margin-bottom:1em;
}
legend{
width:100%;
margin-bottom:5px;
border-radius:2px;
border-bottom:1px solid #ccc;
box-shadow:20px 0px 25px #eee inset;
}
legend span{
padding:4px;
color:#325994;
}
legend span img{
vertical-align:-3px;
}
fieldset legend.collapse+div{
display:none;
}
fieldset legend.collapse span{
padding-left:20px;
background:url("../../../images/stock/plus.png") no-repeat 2px;
}
fieldset legend.uncollapse+div{
display:block;
}
fieldset legend.uncollapse span{
padding-left:20px;
background:url("../../../images/stock/minus.png") no-repeat 2px;
}
a:link,a:visited{
color:#325994;
}
abbr{
display:inline-block;
}
table{
width:100%;
border-spacing:1px;
}
table thead,table tfoot{
padding:0px;
color:#325994;
line-height:140%;
background:#eee;
}
table th{
padding:2px 4px;
text-align:left;
font-weight:bold;
border:1px solid #ccc;
border-radius:2px 2px 0 0;
}
table tr:nth-child(even){
background:#ebf1f3;
}
table td{
padding:2px 4px;
}
input,textarea,select{
color:#666;
padding:2px;
vertical-align:middle;
border:1px solid #ccc;
box-sizing:border-box;
-ms-box-sizing:border-box;
-moz-box-sizing:border-box;
}
input:focus,textarea:focus,select:focus{
border:1px solid #5279b4;
}
label+input,label+textarea,label+select,.jaws_editor textarea{
width:100%;
display:block;
}
button,.button{
color:#325994;
padding:1px 4px;
background:#eee;
line-height:140%;
border-radius:2px;
border:1px solid #ccc;
box-sizing:border-box;
-ms-box-sizing:border-box;
-moz-box-sizing:border-box;
}
button img,.button img{
vertical-align:-3px;
}
.ltr{direction:ltr;}
.rtl{direction:rtl;}
.xx-small{width:24px;}
.x-small{width:20%;}
.small{width:40%;}
.medium{width:50%;}
.large{width:60%;}
.x-large{width:80%;}
.xx-large{width:100%;}
.clear{clear:both;}
.hidden{display:none;}
.invisible{visibility:hidden;}

.clearfix:after{
display:block;
clear:both;
width:100%;
height:0;
content:".";
visibility:hidden;
}
.wrapper{
width:1000px;
margin:0 auto;
}
#container{
min-height:100%;
}
#header{
color:#fff;
clear:both;
height:68px;
}
#header #title{
float:left;
width:560px;
margin-top:24px;
}
#header a{
color:#fff;
}
#header .gadget_header h3{
display:none;
}
#header span{
font-size:110%;
}
#headbar{
float:right;
width:425px;
height:26px;
margin-top:42px;
}
#main_gadget_layout #headbar{
margin-top:4px;
}
#content{
clear:both;
width:1000px;
padding-top:20px;
padding-bottom:30px;
}
#mainbar{
float:left;
width:560px;
}
#bar1{
width:190px;
float:right;
margin-left:15px;
}
#bar2{
width:220px;
float:right;
}
#footer{
clear:both;
height:28px;
margin-top:-28px;
line-height:28px;
background:#fff url(data:image/png;base64\,iVBORw0KGgoAAAANSUhEUgAAAAEAAAAcCAIAAAAvP0KbAAAABGdBTUEAALGPC/xhBQAAAGJJREFUGFcFwbcVwjAAQMG//xrsQUfDCGDic1DOkuVKvuMx37lcb4wxeC6CaZW8NsVbKD5S85WGn7L8tWU2jsV4VuvZXED4iAwRFRI6ZmwquFzwpRJKI9ZGajt575Teqf04AYkzTSrYjbl3AAAAAElFTkSuQmCC) repeat-x;
position:relative;
}
#footer .wrapper{
padding-top:8px;
line-height:120%;
}
.accessibility{
width:0px;
height:0px;
position:fixed;
visibility:hidden;
}
.gadget{
position:relative;
margin-bottom:12px;
}
.gadget_header{
}
.gadget_header h3{
margin-bottom:8px;
}
#mainbar .gadget_header h2{
margin-bottom:8px;
display:inline-block;
}
.gadget_menubar{
float:right;
display:none;
}
#mainbar .gadget_menubar{
display:inline-block;
}
.gadget_menubar li{
display:inline;
}
.gadget_menubar li img{
vertical-align:-3px;
}
.gadget_response{
width:100%;
text-align:center;
}
.gadget_response div{
display:none;
font-weight:bold;
line-height:150%;
border-radius:2px;
padding:1px 20px 0;
}
.response_notice{
border:1px solid #795;
display:inline-block !important;
background:#dea url("../../../images/stock/notice.png") no-repeat 2px;
}
.response_warning{
border:1px solid #dd5;
display:inline-block !important;
background:#ffb url("../../../images/stock/warning.png") no-repeat 2px;
}
.response_error{
border:1px solid #c00;
display:inline-block !important;
background:#fbb url("../../../images/stock/error.png") no-repeat 2px;
}
.response_loading{
border:1px solid #579;
display:inline-block !important;
background:#ace url("../../../images/loading.svg") no-repeat 2px;
}
div.simple-response-msg:not(:empty){
display:inline-block !important;
background:#ddd;
}
.gadget_section{
margin-bottom:10px;
}
.gadget_meta_tags{
padding:2px 4px;
margin-top:4px;
background:#eee;
border-bottom:1px solid #ccc;
}
.gadget_meta_tags ul,.gadget_meta_tags ul li{
display:inline;
}
.actions{
text-align:left;
padding-top:4px;
}
.actions label+input,.actions label+textarea,.actions label+select{
width:auto;
display:table-cell;
}
.filters{
clear:both;
padding-bottom:4px;
}
.filters label+input,.filters label+textarea,.filters label+select{
width:auto;
display:table-cell;
}
.spam_check{
display:none;
}
.actions div{
text-align:left;
}
.blog .gadget_content img.blog_post_image{
float:left;
margin-right:8px;
vertical-align:top;
}
.blog .gadget_content img.blog_post_image[src^="data:image"]{
display:none;
}
.blog_post_meta{
clear:both;
padding:2px 4px;
margin-top:4px;
background:#eee;
border-bottom:1px solid #ccc;
}
.sidebar .gadget_header h3{
color:#325994;
text-indent:8px;
border-radius:2px;
background:#eee;
border:1px solid #ccc;
}
/* top header menu */
#headbar .menu ul{
padding:0px;
background:#325994;
list-style-type:none;
}
#headbar .menu li{
float:left;
padding:2px 10px;
}
#headbar .menu ul li a span{
color:#fff;
}
#headbar .menu li:hover,#headbar li.menu_current{
background:#fff;
}
#headbar .menu li:hover > a span,#headbar li.menu_current > a span{
color:#325994 !important;
}
#headbar .menu ul ul{
left:0;
top:26px;
height:0;
z-index:99;
width:222px;
margin-left:0;
position:absolute;
visibility:hidden;
}
#headbar .menu ul li:hover>ul,#headbar .menu ul a:hover+ul{
height:auto;
visibility:visible !important;
}
#headbar .menu ul ul ul{
top:-2px;
margin-left:200px;
}
#headbar .menu ul:hover ul ul{
visibility:hidden;
}
#headbar .menu ul:hover ul:hover ul ul{
visibility:hidden;
}
#headbar .menu ul ul li{
margin:2px;
display:block;
position:relative;
}
#headbar .menu ul ul a,#headbar .menu ul ul a:visited{
width:190px;
height:100%;
display:block;
padding:2px 4px;
}
#headbar .menu li:hover{
position:relative;
}
#headbar .menu li img{
vertical-align:middle;
}
/* pager style */
.gadget_paginator{
padding:4px;
margin:3px auto;
line-height:180%;
text-align:center;
}
.gadget_paginator span{
padding:0px 4px;
border-radius:2px;
display:inline-block;
border:1px solid #ccc;
}
.gadget_paginator span.inactive{
color:#ccc;
}
.gadget_paginator span.current{
font-weight:bold;
}
.gadget_paginator div.total{
margin:4px auto 0px;
display:inline-block;
}
/* navigator */
.gadget_navigator{
clear:both;
display:block;
min-height:2em;
}
.gadget_navigator .prev{
float:left;
}
.gadget_navigator .next{
float:right;
}
/* tag cloud */
.tags-cloud .content{
text-align:justify;
}
.tags-cloud .content li{
padding:0 2px;
display:inline;
}
.tag-link-0{
font-size:80%;
}
.tag-link-1{
font-size:85%;
}
.tag-link-2{
font-size:90%;
}
.tag-link-3{
font-size:95%;
font-weight:bold;
}
.tag-link-4{
font-size:100%;
font-weight:bold;
}
.tag-link-5{
font-size:105%;
font-weight:bold;
}
.tag-link-6{
font-size:110%;
font-weight:bold;
}
.tag-link-7{
font-size:120%;
font-weight:bold;
}
.tag-link-8{
font-size:130%;
font-weight:bold;
}
.tag-link-9{
font-size:140%;
font-weight:bold;
}
/* users style */
div.user_avatar{
float:right;
width:132px;
text-align:center;
}
div.user_avatar img{
max-width:128px;
}
/* forums style */
#main_gadget_forums #mainbar,
#main_gadget_eventscalendar #mainbar{
width:775px;
}
#main_gadget_forums #bar2,
#main_gadget_eventscalendar #bar2{
display:none;
}
.forums_group{
margin-bottom:10px;
}
.forums dt{
width:450px;
font-weight:bold;
padding-right:5px;
}
.forums dt, .forums dd{
display:table-cell;
vertical-align:middle;
}
.forums dt > span{
display:block;
font-weight:normal;
}
.forums_header{
padding:4px;
color:#325994;
border:1px solid #ccc;
border-radius:2px 2px 0 0;
background:#eee;
}
.forums_header dd{
border-left:1px solid #ccc;
}
.forums_list{
margin:0;
border:1px solid #ccc;
border-top:none;
}
ul.forums_list{
list-style:none;
}
.forums_list li{
padding:5px;
border-bottom:1px solid #ccc;
background:none;
}
.forums_list li:last-child{
border-bottom:none;
}
.forums_stat{
width:50px;
height:25px;
padding:0 5px;
text-align:center;
}
dd.forums_lastpost{
width:200px;
padding:0 5px;
}
.forum_post{
position:relative;
word-wrap:break-word;
padding:10px 0;
margin-bottom:10px;
border-radius:2px;
background:#eee;
}
.forum_post .post_profile{
float:left;
width:128px;
border-right:1px solid #fff;
}
.forum_post .post_profile ul{
list-style-type:none;
}
.forum_post .post_profile li:last-child span{
display:block;
}
.forum_post .post_profile img{
width:80px;
}
.forum_post:after{
content:".";
display:block;
height:0;
clear:both;
width:100%;
visibility:hidden;
}
.forum_post .post_body{
float:right;
width:625px;
padding:0 10px;
}
.forum_post .post_content{
text-align:justify;
padding:10px 0;
}
.forum_post .post_update{
margin-top:20px;
border-top:1px dashed #ccc;
font-size:80%;
}
.forum_post .post_update span{
font-style:italic;
}
.forum_post .post_actions{
position:absolute;
top:10px;
right:10px;
font-size:80%;
}
/* comments style */
.comments_post{
position:relative;
word-wrap:break-word;
padding:10px 0;
margin-bottom:10px;
border-radius:2px;
background:#eee;
}
.comments_post .post_profile{
float:left;
width:128px;
border-right:1px solid #fff;
}
.comments_post .post_profile li:last-child span{
display:block;
}
.comments_post .post_profile img{
width:80px;
}
.comments_post:after{
content:".";
display:block;
height:0;
clear:both;
width:100%;
visibility:hidden;
}
.comments_post .post_body{
float:right;
padding:0 10px;
}
#mainbar .comments_post .post_body{
float:right;
width:390px;
padding:0 10px;
}
.comments_post .post_content{
text-align:justify;
padding:10px 0;
}
.comments_post .post_update{
margin-top:20px;
border-top:1px dashed #ccc;
font-size:80%;
}
.comments_post .post_update span{
font-style:italic;
}
.comments_post .post_actions{
position:absolute;
top:10px;
right:10px;
font-size:80%;
}
.comments_post blockquote{
background-color:#E1EBF2;
margin:0;
padding:10px 20px;
}
.comments_post cite{
font-style:italic;
}
/* Poll */
.poll_answer_result div{
color:#ccc;
height:24px;
min-width:1%;
text-align:left;
overflow:visible;
font-weight:bold;
background:#325994;
white-space:nowrap;
}
/* Search */
.search_result_meta img{
float:left;
}
/* Photo Organizer */
.phoo .content{
text-align:center;
}


/* PrivateMessage */
.privateMessage  .actions{
clear:both;
float:right;
}
.privateMessage hr{
border:1px dashed;
margin-top:20px;
margin-bottom:20px;
}
.privateMessage .center{
margin:0 auto;text-align:center
}
.recipient_users::after {
content:'';
display:block;
clear:both
}
.recipient_users select {
width:100%;
}
.recipient_users input {
width:84%;
}
#userSearch{
background:url("/gadgets/PrivateMessage/Resources/images/search.png") 98% no-repeat;
}
.recipient_users > div:nth-child(1) {
width:48%;
padding-right:2%;
float:left;
}
.recipient_users > div:nth-child(2) {
width:48%;
padding-right:2%;
float:right;
position:relative;
}
.recipient_groups_area {
width:48%;
}
#userSearchResult {
border:1px solid #00007F;
position:absolute;
display:none;
float:left;
width:80%;
}
#userSearchResult .delete {
background:url("/gadgets/PrivateMessage/Resources/images/close-mini.png") no-repeat scroll 0 0 rgba(0, 0, 0, 0);
height:15px;
position:absolute;
right:-7px;
top:-7px;
width:15px;
}
.ajaxResultBox div {
background-color:#ffffff;
color:#000000;
cursor:default;
}
.ajaxResultBox div:hover {
background-color:#d3d3d3;
color:#0000ff;
cursor:pointer;
}

/* Subscription */
.subscription ul{
list-style-type : none;
}
.subscription .subscription_items{
margin-left: 15px;
}