body {
margin: 0;
padding: 0;
direction: ltr;
font-size: 1em;
text-align: center;
background: #fff url(top.jpg) repeat-x top left;
font-family: "Lucida Grande", Myriad, "Andale Sans", "Luxi Sans", "Bitstream Vera Sans", Tahoma, "Toga Sans", Helvetica, Arial, sans-serif;
}

/* Header section */
#top_header {
width: 790px;
min-height: 80px;
height: 80px;
display: block;
margin: 0 auto;
padding: 0;
text-align: left;
}

#top_header h1 {
margin: 0;
padding-top: 20px;
color: #fff;
font-weight: bold;
font-size: large;
}

#top_header h1 a, #top_header h1 a:hover {
color: #fff;
text-decoration: none;
}

#top_header p {
color: #fff;
margin: 0px;
}
/* End Header */

/* Container */
#container {
padding: 0;
width: 790px;
margin: 0 auto;
display: block;
text-align: left;
font-size: smaller;
background: transparent;
}

html>body #container{
width: 790px;
}
/* End Container */

/* Footer */
#sub_footer {
letter-spacing: 1px;
border-top: 1px dotted #babdb6;
margin-top: 40px;
color: #888a85;
padding: 10px;
clear: both;
}

#sub_footer a, #sub_footer a:hover{
text-decoration: none;
}

#sub_footer p {
font-size: smaller;
margin: 0 0 10px 0;
}
/* End Footer */

#main {
width: 410px;
float: left;
margin: 0 8px;
}

#bar1 {
float: left;
width: 180px;
}

#bar2 {
float: right;
width: 180px;
}

.clearfix:after {
content: ".";
display: block;
height: 0;
clear: both;
visibility: hidden;
}

pre {
width: 100%;
overflow: auto;
}

.light-color{ color: #729fcf; }
.medium-color { color: #3465a4; }
.dark-color { color: #3465a4; }
.light-background { background-color: #729fcf; color: #3465a4; }
.medium-background{ background-color: #3465a4; color: #fff; }
.dark-background{ background-color: #3465a4; color: #fff; }
.accent-color { color: #cee14b; }
.accent-background{ background-color: #cee14b; color: #9db029; }

#main-section {
/*width: 90%;
padding: 10px;
padding-top: 20px; */
margin-left: auto;
margin-right: auto;
text-align: left;
width: 100%;
}

a {
color: #3465a4;
}

a:hover {
color: #9db029;
}

h1, h2, h3, h4, table th {
color: #3465a4;
}

h1 a, h2 a, h3 a, h4 a, table th a{
color: #3465a4;
text-decoration: none;
}

h1 { font-size: large; }
h2 { font-size: medium;}
h3 { font-size: small; }
h4 { font-size: x-small; }

.strong-color {
background: #3465a4;
color: #fff; padding: 4px;
font-weight: bold;
}

/* Begin forms */
textarea {
padding: 2px;
font-size: 10pt;
border: 1px solid #cccccc;
}
input, select {font-size: 11pt; border: 1px solid #cccccc;}

button{font-size:12px; border: 1px solid #333;}
button, input[type="button"], input[type="submit"]{
color: #888a85;
font-size: 8pt;
cursor: pointer;
background-color: #efefef;
border: 1px solid #babdb6;
border-top: 1px solid #d3d7cf;
border-left: 1px solid #d3d7cf;
}
* html button{
color: #888a85;
font-size: 8pt;
cursor: pointer;
background-color: #efefef;
border: 1px solid #babdb6;
border-top: 1px solid #d3d7cf;
border-left: 1px solid #d3d7cf;
}

button:hover, input[type="button"]:hover, input[type="submit"]:hover{
background-color: #3465a4;
color: #fff;
}

button:active, input[type="button"]:active, input[type="submit"]:active {
background-color: #fff;
color: #000;
border: 1px solid #3465a4;
}

select {
cursor: pointer;
}

input[type="text"], input[type="password"], textarea {
color: #555753;
background-color: #fff;
border: 1px solid #d3d7cf;
border-top: 1px solid #babdb6;
border-left: 1px solid #babdb6;
padding: 3px;
}

input[type="text"]:focus, input[type="password"]:focus, textarea:focus{
color: #000;
background-color: #fff;
border: 1px solid #3465a4;
}

textarea {
width: inherit;
}

.widetable {
width: 100%;
}

table.tableform .button {
text-align: center;
}

fieldset {
border: 0;
margin: 0;
padding: 0;
margin-bottom: 1em;
font-size: small;
}

legend {
background-color: white;
font-weight: bold;
font-size: 110%;
padding: 4px;
padding-left: .5em;
padding-right: .5em;
}

label {
font-weight: bold;
cursor: pointer;
}

fieldset td {
padding: 1px;
}

fieldset br {
display : none;
}

fieldset label {
display: block;
font-size: 100%;
}

div.oneline label, div.oneline_no_width label {
margin: 0;
margin-right: .6em;
display: block;
text-align: right;
float: left;
font-size: 100%;
font-weight: bold;
cursor: pointer;
}

div.oneline label {
width: 15em;
}

div.oneline_no_width label {
text-align: left;
}

div.checkbox label {
margin: 0;
display: block;
width: 13em;
text-align: right;
}

div.checkbox .el {
margin-left: 13em;
}

div.checkbox .el label, div.checkbox_el label {
font-weight: normal;
display: block;
margin: 0;
text-align: left;
}

div.radiobox label {
display: inline;
}

div.radiobox input {
vertical-align: middle;
}

div hr {
border-color: black;
}

button {
width: auto;
overflow: visible;
}

div.buttons {
clear: both;
padding-top: 10px;
float: right;
}

fieldset div {
clear: left;
padding: 0 1em;
padding-bottom: 6px;
}

fieldset div strong {
font-size: 100%
}

fieldset div span.form-error {
display: block;
color: #F00;
font-weight: bold;
letter-spacing: 1px;
}

fieldset div span.comment {
display: none;
}

fieldset div:hover span.comment {
font-size: 95%;
color: #c96;
background-color: #faf0e6;
/*\*/
margin-left: 3em;
/**/
padding: .2em .5em .3em;
border: 1px solid #c96;
display: block;
position: absolute;
z-index: 100;
float: right;
-moz-border-radius: 4px;
}
* html fieldset div span.comment {
font-size: 95%;
color: #c96;
margin-left: 3em;
padding: .3em;
border-left: 1px solid #c96;
display: block;
}

div#requiredNote {
font-size: 100%;
letter-spacing: 0.5px;
/* clear: both; */
margin-top: 10px;
}

label.mandat, span.mandat {
color: #930;
font-weight: bold;
}

label.mandat:after, span.mandat:after {
content: "*";
}

.removed {
display: none !important;
}

input[type="checkbox"], select {
-moz-border-top-colors: #babdb6 transparent;
-moz-border-left-colors: #babdb6 transparent;
-moz-border-bottom-colors: #d3d7cf transparent;
-moz-border-right-colors: #d3d7cf transparent;
-moz-border-radius: 1px;
padding: 1px;
font-family: "Lucida Grande", Myriad, "Andale Sans", "Luxi Sans", "Bitstream Vera Sans", Tahoma, "Toga Sans", Helvetica, Arial, sans-serif;
font-size: small;
}

input[type="checkbox"]:focus {
-moz-border-top-colors: #3465a4 transparent;
-moz-border-left-colors: #3465a4 transparent;
-moz-border-bottom-colors: #3465a4 transparent;
-moz-border-right-colors: #3465a4 transparent;
}

.form_comment {
font-size: x-small;
}
/* End forms */

.terminal {
margin-top: 15px;
padding: 15px;
font-size: small;
font-family: "Courier New", Courier;
background: #000;
border: solid 1px #d3d7cf;
line-height: 110%;
color: white;
width: 90%;
}

.code, .xml , .script {
margin: 16px;
padding: 16px;
font-size: small;
font-family: "Courier New", Courier;
background: #fff;
border: solid 1px #d3d7cf;
line-height: 100%;
color: #000dbd;
width: 90%;
}

.keyword {
color: #00a20b;
}

.comment {
color:red;
}

.literal {
color: purple;
}

.term-box {
background-color: #fafafa;
color: #3465a4;
border: 1px solid #9db029;
padding: 10px;
font-size: 11px;
width: 95%;
}

table {
text-align: left;
}

.tableform {
width: 100%;
}

.tableform td {
display: table-cell;
vertical-align: top;
}

img {
border: 0;
}

/* Debug */
#debug-table {
background-color: white;
color: black;
font-size: x-small;
}

#debug-table pre {
font-size: small;
}

pre.var_dump {
line-height:1.8em;
}

pre.var_dump span.type {
color:#006600;
background:transparent;
}

pre.var_dump span.value {
padding:2px; color:#339900;
background:#F0F0F0;
border: 1px dashed #CCCCCC;
}
/* End Debug */

/** pager **/
.pager {text-align: center; color: #888; font-size: 90%; margin: 2em auto 0.8em auto;}
.pager span {padding: 0.3em 0.4em; margin: 0 0.1em; border: 1px solid #999;}
span.pager_previous, span.pager_next {border: 2px solid #999;}
span.pager_previous {margin-right: 0.7em;}
span.pager_next {margin-left: 0.7em;}
.pager span a {text-decoration: none;}
.pager span:hover {background-color: #666;}
.pager span:hover a {color: #fff;}
.pager span.pager_current:hover {background: transparent;}
.pager div {margin:10px auto;}

/** Simple Site **/
.simplesitemenu {
}

.menu_level a {
height: 20px;
min-height: 20px;
}

.menu_level_1 {
font-weight: bold;
}

.menu_level_1 a {
text-decoration: none;
}

.menu_level_1 a {
}

.menu_option_active {
color: #000;
text-decoration: none;
font-weight: bold;
}

.menu_level_2 {
padding-left: 20px;
}

.menu_level_2 a {
}

.menu_level_3 {
padding-left: 40px;
}

.menu_level_3 a {
}

.menu_level_4 {
padding-left: 60px;
}

.menu_level_4 a {
}
/** SimpleSite **/

/* Used for simple responses (messages saved in session) */
.simple-response-msg {
background: #f4f4f4; 
border: 1px solid #b2b2b2; 
padding: .3em;
}

/** Messages **/
.error-message, .warning-message, .notice-message, .working-message {
-moz-border-radius: 4px;
font-weight: bold;
display: inline;
text-align: left;
line-height: 25px;
padding-left: 26px;
padding-right: 8px;
padding-top: 4px;
padding-bottom: 3px;
background-repeat: no-repeat;
background-position: 2px 0px;
}

.notice-message {
border: 1px solid #9db029;
background-color: #e6f0a5;
background-image: url("../../images/stock/info-small.png");
}

.warning-message {
border: 1px solid #fce94f;
background-color: #fdf4a7;
background-image: url("../../images/stock/warning-small.png");
}

.error-message {
border: 1px solid #cc0000;
background-color: #fabfbf;
background-image: url("../../images/stock/error-small.png");
}


/* Common styles for all gadgets */
.clearfix:after {
height: 0;
clear: both;
width: 100%;
content: ".";
display: block;
visibility: hidden;
}
.gadget {margin-bottom: 10px;}
.wide .gadget {margin-bottom: 2px;}
.gadget h2 {
padding: 1px;
font-size: 12px;
text-align: left;
margin-bottom: 2px;
}
.gadget .content {font-size: 10pt; padding: 2px 5px; border-top: none;}
.gadget .content p {padding: 0px; margin: 4px 0px;}
.gadget .content ul {list-style: none;}
.gadget .content ul li {padding-bottom: 2px;}
.gadget .actions {margin:0px 5px; font-size: 10pt; text-align: right; border-top: 1px dotted #f0ddaa;}
.gadget .actions div {text-align: left;}
.gadget .actions button{
margin: 2px;
padding: 1px;
min-height: 18px;
min-width: 42px;
font-weight: bold;
overflow: visible;
border: 1px solid #babdb6;
border-top: 1px solid #d3d7cf;
border-right: 1px solid #d3d7cf;
}

/*Tag-Clud*/
.tag-cloud-1 {font-size: 0.6em;}
.tag-cloud-2 {font-size: 0.7em;font-weight: bold;}
.tag-cloud-3 {font-size: 0.75em;font-weight: bold;}
.tag-cloud-4 {font-size: 0.8em;font-weight: bold;}
.tag-cloud-5 {font-size: 0.85em;font-weight: bold;}
.tag-cloud-6 {font-size: 0.9em;font-weight: bold;}
.tag-cloud-7 {font-size: 0.95em;font-weight: bold;}
.tag-cloud-8 {font-size: 1em;font-weight: bold;}
.tag-cloud-9 {font-size: 1.1em;font-weight: bold;}
.tag-cloud-10 {font-size: 1.3em;font-weight: bold;}

/* Commnets */
.comment .comment_info, .comment_reply {
padding: 5px;
text-align: right;
font-size: xx-small;
color: #babdb6;
clear: both;
}
.comment .content {text-align: justify;}
.comment .avatar {
float: left;
margin-right: 5px;
margin-bottom: 5px;
border: 1px solid #000;
}
.comment_level_0 {margin-left: 0px;}
.comment_level_1 {margin-left: 10px;}
.comment_level_2 {margin-left: 20px;}
.comment_level_3 {margin-left: 30px;}
.comment_level_4 {margin-left: 40px;}
.comment_level_5 {margin-left: 50px;}
.comment_level_6 {margin-left: 60px;}
.comment_level_7 {margin-left: 70px;}
.comment_form p {clear: left; padding-bottom:4px;}
.comment_form p label {display: block;}
.comment_form input, .comment_form select, .comment_form textarea {padding: 2px; width: 250px; font-size: 10pt;}
.comment_form span {font-size: 8pt; display: block;}
.comment_form .actions {text-align:left;}
.spam_check {display: none;}
.comment_form #blog_mail_comment {width: 16px; border: none;}
.comment_form #phoo_mail_comment {width: 16px; border: none;}

/* Contact */
.contact .content label {display: block; font-weight: bold; padding-top:5px;}
.contact input, .contact select {width: 70%;}
.contact .content textarea {width: 99%;}

/* Poll */
.poll .content input {padding: 2px; border: none;}
.poll .content label {padding-left: 2px;}
.poll_result table {width: 98%; margin: 0px; padding:0px; font-size:10pt;}
.poll_result th { border: 1px solid #d3d7cf; }
.poll_result td {font-size:9pt; padding:4px; padding-left:2px; border: 1px solid #d3d7cf; }
.poll_result .txt_percent {width: 28px;}
.poll_result .img_percent {width: 128px;}
.poll_result .img_percent img {height: 18px; background-color:#3377cc;}
.poll_result .votes {width: 28px;}
.poll_result .resume {font-weight:bold; font-size:9pt;}

/* Phoo */
.phoo_random .content {text-align: center;}
.phoo_image .content {text-align: center;}
.phoo_random .content img, .phoo_album .content img {border: 1px solid rgb(186, 189, 182); padding: 4px;}
.phoo_image .content img {border: 1px solid rgb(186, 189, 182); padding: 8px;}
.phoo_image .pager {margin-bottom: 10px; font-size: xx-small;}
.albums .content img { border: 1px solid #babdb6; padding: 4px; }
.album-info { text-align: right; color: #babdb6; font-size: x-small; }

/* Quotes */
.quotes .content {padding: 0px;}
.quotes ul {list-style: none;}
.quotes li , .rssreader li {
display: block;
color: #271739;
font-size: 12px;
padding: 2px;
padding-right: 6px;
text-decoration: none;
border-bottom: 1px dashed #ccc;
}
.quotes ul a:hover {color: #ef3300;}
.wide .quotes .content ul li {display: inline;}

/* Search */
.simple_search .content input {width: 132px; margin-right: 2px;}
.search .content input {width: 99%; margin-bottom: 2px;}
.search .content p label {font-size: 8pt; font-weight: bold;}
.search .content select {margin-left: 4px; width: 130px;}
.wide .search .content, .wide .search .content p {display:inline;}
.wide .search .content input {width: 200px;}
.wide .search .actions {display:inline; width: 196px; border: none;}
.advance_search .content h4 {padding: 4px 0;}
.advance_search .content p label {font-size: 8pt; font-weight: bold;}
.advance_search .content input {width: 99%; margin-bottom: 2px;}
.advance_search .content select {margin-left: 4px; width: 130px;}
.wide .advance_search .content input {width: 280px;}
.wide .advance_search .content p {padding-left: 245px; clear: left;}
.wide .advance_search .content p label {float:left; width: 240px; margin-left: -245px;}
.wide .advance_search .actions {text-align:left;}
.wide .advance_search .actions button {margin-left: 250px;}
.search_results .content li {border-bottom:1px dashed #d3d7cf; padding-top: 10px;}
.search_results .snippet div {text-align: right;}
.search_results .snippet div a {float: left; font-weight: bold;}
.search_results .snippet p {clear:both; text-align: left;}
.search_results .snippet {float: left; width: 480px;}
.search_results .gadget_logo {float: right;}

/* VisitCounter */
.visitcounter .classic {padding-left: 125px; clear: left; border-bottom: 1px dotted #f0cca0;}
.visitcounter .classic label {font-weight: bold; float:left; width: 120px; margin-left: -125px; border-right: 1px dotted #f0cca0;}

/* Emblems */
.emblems h2 {display: none;}
.emblems .content {text-align: center;}
.emblems .content img, .emblems .content a {padding-top: 2px;}

/* FAQ */
.faq h4 {font-size: 11pt;}
.faq .content p, .faq_category p {padding: 5px;}
.faq .content ul li ul li, .faq_category .content ul li {border-bottom: 1px dotted #f0cca0; padding-top:5px;}
.faq .content ul li ul li span {font-weight: bold;}
.faq .summary {padding-bottom: 5px;}
.faq .summary li {margin-left: 20px; font-size: 10pt;}
.faq .summary li{font-weight: bold;}
.faq .summary liol li {font-weight: normal;}
.faq_category h4 {font-size: 10pt;}

/* Glossary */
.glossary_random .content h4, .glossary_term .content h4 {font-size: 11pt;}
.glossary_term .content p {padding: 5px;}
.glossary h3 {margin-bottom: 10px;}
.glossary span {
border: 1px solid #d3d7cf;
padding: 4px;
background: #eee;
font-size: xx-small;
}
.glossary span a {padding: 2px;}
.glossary .content {margin-top: 10px;}
.glossary .content h4 a {font-size: 12pt;}
.glossary .content li a {font-size: 10pt; font-weight: bold;}
.glossary .content li {border-bottom: 1px dotted #f0cca0; padding-top: 5px;}

/* chatbox */
.chatbox .fieldset {padding:0px 5px;}
.chatbox .fieldset label {display: block; font-weight: bold;}
.chatbox .fieldset input {width: 99%;}
.chatbox .fieldset textarea {width: 99%;}

/* users */
.loginbox .content label {font-weight: bold;}
.loginbox input {width: 99%;}
.loginbox #login_remember {width: 16px; border: none;}
.loginbox #login_usecrypt {width: 16px; border: none;}

.users p {clear: left; padding-bottom:4px;}
.users p label {font-weight: bold; float:left; width: 145px; font-weight: bold;}
.users input, .users select, .users textarea {padding: 2px; width: 60%; font-size: 10pt;}
.users .actions {text-align:left; margin-left: 148px;}
.registerbox p span, .profilebox p span {font-size: 8pt; display: block; padding-left: 145px;}

.users #register_gender {width: 148px;}
.users #register_dob input {width: 40px;}
.users #register_dob span {display: inline; padding-left: 5px;}

.users #profile_gender {width: 148px;}
.users #personal_dob input {width: 40px;}
.users #personal_dob span {display: inline; padding-left: 5px;}

/* preferences */
.preferences p {padding-bottom: 4px;}
.preferences label {display: block; font-weight: bold;}
.preferences input, .preferences select {padding: 2px; width: 170px; font-size: 10pt;}
.wide .preferences p {clear: left; padding-left: 145px;}
.wide .preferences p label {float:left; display: inline; width: 140px; margin-left: -145px;}
.wide .preferences input, .wide .preferences select {width: 255px;}
.wide .preferences .actions {text-align:left; margin-left: 148px;}

/* Menu */
.menu:after {height: 0; clear: both; content: "."; display: block; visibility: hidden;}
.menu .content, .menu .content ul, .menu .content ul li {padding:0; margin:0;}
.menu .content ul {position:relative; list-style-type: none; display:inline-block; z-index:1000;}
.narrow .menu .content ul {z-index:500;}
.menu a, .menu a:visited {
padding:4px;
display:block;
min-height:18px;
font-weight: bold;
text-decoration:none;
border:1px solid #fff;
border-bottom: none;
}
.menu li {background:#f0f0f0;}
.menu li img {vertical-align: middle;}
.wide .menu li {float: left;}
.narrow .menu li a, .narrow .menu li a:visited {width:168px;}
.wide .menu li ul li a, .wide .menu li ul li a:visited {width:190px;}
.menu li:hover {position:relative;}
.menu li:hover > a {background:#ddd; color:#37a;}
.narrow .menu li ul {display:none;}
.wide .menu li ul {display:none;}
.menu li:hover > ul {
display:block;
position:absolute;
padding:10px 30px 30px 30px;
background:transparent none;
}
.wide .menu li:hover > ul {top:16px; left:-30px;}
.wide .menu li ul li:hover > ul {top:-10px; left:148px;}
.narrow .menu li:hover > ul {top:-10px; left:148px;}
.menu ul table {
top:0;
left:0;
z-index:1000;
font-size:1em;
position:absolute;
border-collapse:collapse;
}
* html .menu a:hover {background:#ddd; color:#37a; position:relative;}
* html .wide .menu a:hover {float: left;}
* html .narrow .menu li a, * html .narrow .menu li a:visited {width:164px;}
* html .wide .menu li ul, * html .wide .menu li ul li a, * html .wide .menu li ul li a:visited {width:200px;}
* html .narrow .menu li ul {
display:block;
position:absolute;
visibility:hidden;
top:-11px; left:148px;
padding:10px 30px 30px 30px;
background:transparent none;
}
* html .wide .menu li ul {
display:block;
position:absolute;
visibility:hidden;
top:0px; left:148px;
padding:10px 30px 30px 30px;
background:transparent none;
}
.wide .menu ul li a:hover ul ul{visibility:hidden;}
.wide .menu ul li a:hover ul a:hover ul ul{visibility:hidden;}
.wide .menu ul li a:hover ul a:hover ul a:hover ul ul{visibility:hidden;}
.wide .menu ul li a:hover ul a:hover ul a:hover ul a:hover ul ul {visibility:hidden;}
.wide .menu ul li a:hover ul {visibility:visible; left:-31px; top:14px;}
.wide .menu ul li a:hover ul a:hover ul{visibility:visible; top:-11px; left:148px;}
.wide .menu ul li a:hover ul a:hover ul a:hover ul {visibility:visible;}
.wide .menu ul li a:hover ul a:hover ul a:hover ul a:hover ul {visibility:visible;}
.wide .menu ul li a:hover ul a:hover ul a:hover ul a:hover ul a:hover ul {visibility:visible;}
.narrow .menu ul a:hover ul ul{visibility:hidden;}
.narrow .menu ul a:hover ul a:hover ul ul{visibility:hidden;}
.narrow .menu ul a:hover ul a:hover ul a:hover ul ul{visibility:hidden;}
.narrow .menu ul a:hover ul {visibility:visible;}
.narrow .menu ul a:hover ul a:hover ul{visibility:visible;}
.narrow .menu ul a:hover ul a:hover ul a:hover ul {visibility:visible;}
.narrow .menu ul a:hover ul a:hover ul a:hover ul a:hover ul {visibility:visible;}

/* ServerTime */
.servertime h2 {display: none;}
