*{
margin:0;
padding:0;
border:0 none;
white-space:normal;
text-decoration:none;
font-family:tahoma,verdana,arial,helvetica,sans-serif;
font-size:1em;
letter-spacing:0;
}
html{
color:#666;
height:100%;
line-height:150%;
vertical-align:baseline;
}
body{
height:100%;
margin:0;
padding:0;
background:#fff url(data:image/png;base64\,iVBORw0KGgoAAAANSUhEUgAAAAEAAABoCAIAAAC/jA1MAAAAA3NCSVQICAjb4U/gAAAACXBIWXMAAAsSAAALEgHS3X78AAAAH3RFWHRTb2Z0d2FyZQBNYWNyb21lZGlhIEZpcmV3b3JrcyA4tWjSeAAAAEBJREFUGJVjMIqcwsTAwDCKEZjh1pNTTCdv/Wb4//8/051nL5kYGRmhmAFCMyD4THA+A6o6qBomDH2Y6jDVwPkAG1cNCSp8pbMAAAAASUVORK5CYII=) repeat-x;
font-size:75%;
}
h1{
font-size:150%;
}
h2{
color:#325994;
font-size:110%;
line-height:140%;
}
h3{
font-size:100%;
}
h4{
font-weight:normal;
}
ul{
list-style-type:none;
}
ul li{
padding:0 5px;
}
fieldset{
clear:both;
margin-bottom:1em;
}
legend{
width:100%;
margin-bottom:5px;
border-radius:2px;
border-bottom:1px solid #ccc;
box-shadow:-20px 0px 25px #eee inset;
}
legend span{
padding:4px;
color:#325994;
}
legend span img{
vertical-align:-3px;
}
fieldset legend.collapse+div{
display:none;
}
fieldset legend.collapse span{
padding-right:20px;
background:url("../../../images/stock/plus.png") no-repeat right 2px;
}
fieldset legend.uncollapse+div{
display:block;
}
fieldset legend.uncollapse span{
padding-right:20px;
background:url("../../../images/stock/minus.png") no-repeat right 2px;
}
a:link,a:visited{
color:#325994;
}
table{
width:100%;
border-spacing:1px;
}
table thead,table tfoot{
padding:0px;
color:#325994;
line-height:140%;
background:#eee;
}
table th{
padding:2px 4px;
text-align:right;
font-weight:bold;
border:1px solid #ccc;
border-radius:2px 2px 0 0;
}
table tr:nth-child(even){
background:#ebf1f3;
}
table td{
padding:2px 4px;
}
input,textarea,select{
color:#666;
padding:2px;
border:1px solid #ccc;
box-sizing:border-box;
-ms-box-sizing:border-box;
-moz-box-sizing:border-box;
}
input:focus,textarea:focus,select:focus{
border:1px solid #5279b4;
}
label+input,label+textarea,label+select,.jaws_editor textarea{
width:100%;
display:block;
}
button,.button{
color:#325994;
padding:1px 4px;
background:#eee;
line-height:140%;
border-radius:2px;
border:1px solid #ccc;
box-sizing:border-box;
-ms-box-sizing:border-box;
-moz-box-sizing:border-box;
}
button img,.button img{
vertical-align:-3px;
}
.clearfix:after{
display:block;
clear:both;
width:100%;
height:0;
content:".";
visibility:hidden;
}
.wrapper{
width:980px;
margin:0 auto;
}
#container{
direction:rtl;
min-height:100%;
}
#header{
color:#fff;
height:68px;
}
#header #title{
float:right;
width:540px;
margin-top:20px;
}
#header a{
color:#fff;
}
#header h2{
display:none;
}
#header span{
font-size:110%;
}
#headbar{
float:left;
width:425px;
height:58px;
margin-top:8px;
}
#content{
width:980px;
padding-top:20px;
padding-bottom:30px;
}
#mainbar{
float:right;
width:540px;
}
#bar1{
width:190px;
float:left;
margin-right:15px;
}
#bar2{
width:220px;
float:left;
}
#footer{
height:28px;
margin-top:-28px;
line-height:28px;
background:#fff url(data:image/png;base64\,iVBORw0KGgoAAAANSUhEUgAAAAEAAAAcCAIAAAAvP0KbAAAABGdBTUEAALGPC/xhBQAAAGJJREFUGFcFwbcVwjAAQMG//xrsQUfDCGDic1DOkuVKvuMx37lcb4wxeC6CaZW8NsVbKD5S85WGn7L8tWU2jsV4VuvZXED4iAwRFRI6ZmwquFzwpRJKI9ZGajt575Teqf04AYkzTSrYjbl3AAAAAElFTkSuQmCC) repeat-x;
position:relative;
}
#footer .wrapper{
padding-top:8px;
line-height:120%;
}
.accessibility{
width:0px;
height:0px;
position:fixed;
visibility:hidden;
}
.gadget{
position:relative;
margin-bottom:12px;
}
.gadget_header{
}
.gadget h2{
margin-bottom:8px;
}
#mainbar .gadget h2{
display:inline-block;
}
.gadget_menubar{
float:left;
display:none;
}
#mainbar .gadget_menubar{
display:inline-block;
}
.gadget_menubar li{
display:inline;
}
.gadget_menubar li img{
vertical-align:-3px;
}
.gadget_response{
width:100%;
text-align:center;
}
.gadget_response div{
display:none;
font-weight:bold;
line-height:150%;
border-radius:2px;
padding:1px 20px 0;
}
.response_notice{
border:1px solid #795;
display:inline-block !important;
background:#dea url("../../../images/stock/notice.png") no-repeat right 2px;
}
.response_warning{
border:1px solid #dd5;
display:inline-block !important;
background:#ffb url("../../../images/stock/warning.png") no-repeat right 2px;
}
.response_error{
border:1px solid #c00;
display:inline-block !important;
background:#fbb url("../../../images/stock/error.png") no-repeat right 2px;
}
.response_loading{
border:1px solid #579;
display:inline-block !important;
background:#ace url("../../../images/loading.svg") no-repeat right 2px;
}
div.simple-response-msg{
display:inline-block !important;
background:#ddd;
}
.gadget_section{
padding-bottom:10px;
}
.gadget_meta_tags{
padding:2px 4px;
margin-top:4px;
background:#eee;
border-bottom:1px solid #ccc;
}
.gadget_meta_tags ul,.gadget_meta_tags ul li{
display:inline;
}
.actions{
text-align:left;
padding-top:4px;
}
.actions label+input,.actions label+textarea,.actions label+select{
width:auto;
display:table-cell;
}
.filters{
clear:both;
padding-bottom:4px;
}
.filters label+input,.filters label+textarea,.filters label+select{
width:auto;
display:table-cell;
}
.spam_check{
display:none;
}
.actions div{
text-align:right;
}
.blog_post_meta{
padding:2px 4px;
margin-top:4px;
background:#eee;
border-bottom:1px solid #ccc;
}
.sidebar .gadget h2{
text-indent:8px;
border-radius:2px;
background:#eee;
border:1px solid #ccc;
}
/* top header menu */
#headbar .gadget{
margin-top:32px;
}
#headbar .menu ul{
padding:0px;
background:#325994;
}
#headbar .menu li{
float:right;
padding:2px 10px;
}
#headbar .menu ul li a span{
color:#fff;
}
#headbar .menu li:hover,#headbar li.menu_current{
background:#fff;
}
#headbar .menu li:hover > a span,#headbar li.menu_current > a span{
color:#325994 !important;
}
#headbar .menu ul ul{
right:0;
top:26px;
height:0;
z-index:99;
width:220px;
position:absolute;
visibility:hidden;
}
#headbar .menu ul li:hover ul,#headbar .menu ul a:hover ul{
height:auto;
visibility:visible;
padding-bottom:2px;
}
#headbar .menu ul:hover ul ul{
visibility:hidden;
}
#headbar .menu ul:hover ul:hover ul ul{
visibility:hidden;
}
#headbar .menu ul ul li{
display:block;
position:relative;
}
#headbar .menu ul ul a,#headbar .menu ul ul a:visited{
width:190px;
height:100%;
display:block;
padding:2px 4px;
}
#headbar .menu li:hover{
position:relative;
}
#headbar .menu li img{
vertical-align:middle;
}
/* pager style */
.pager{
padding:4px;
margin:3px auto;
line-height:180%;
text-align:center;
}
.pager span{
padding:0px 4px;
border-radius:2px;
display:inline-block;
border:1px solid #ccc;
}
.pager span.page_inactive{
color:#ccc;
}
.pager span.pager_current{
font-weight:bold;
}
.pager div.pager_total{
margin:4px auto 0px;
}
/* navigator */
.navigator{
clear:both;
display:block;
min-height:2em;
}
.navigator .navigator_prev{
float:right;
}
.navigator .navigator_next{
float:left;
}
/* tag cloud */
.tags-cloud .content{
text-align:justify;
}
.tags-cloud .content li{
padding:0 2px;
display:inline;
}
.tag-link-0{
font-size:80%;
}
.tag-link-1{
font-size:85%;
}
.tag-link-2{
font-size:90%;
}
.tag-link-3{
font-size:95%;
font-weight:bold;
}
.tag-link-4{
font-size:100%;
font-weight:bold;
}
.tag-link-5{
font-size:105%;
font-weight:bold;
}
.tag-link-6{
font-size:110%;
font-weight:bold;
}
.tag-link-7{
font-size:120%;
font-weight:bold;
}
.tag-link-8{
font-size:130%;
font-weight:bold;
}
.tag-link-9{
font-size:140%;
font-weight:bold;
}
/* users style */
.users.preferences input,.users.preferences textarea,.users.preferences select{
float:left;
width:380px;
display:inline;
}
.users #personal_fname,.users #personal_lname,
.users #username,.users #nickname,.users #personal_ssn,.users #email,
.users #country,.users #city,.users #postal_code,
.users #user_language,.users #user_theme,.users #user_editor{
width:380px;
}
.users #personal_avatar{
width:128px;
height:23px;
padding:0px;
}
.users #user_gender{
width:148px;
}
.users #user_dob label{
display:block;
}
.users #user_dob input{
width:40px;
display:inline-block;
}
.users #user_dob span{
display:inline;
padding-right:5px;
}
div.user_avatar{
float:left;
width:132px;
text-align:center;
}
div.user_avatar img{
max-width:128px;
}
/* forums style */
#requested_gadget_forums #mainbar,
#requested_gadget_eventscalendar #mainbar{
width:775px;
}
#requested_gadget_forums #bar2,
#requested_gadget_eventscalendar #bar2{
display:none;
}
.forums_group{
margin-bottom:10px;
}
.forums dt{
width:450px;
font-weight:bold;
padding-left:5px;
}
.forums dt, .forums dd{
display:table-cell;
vertical-align:middle;
}
.forums dt > span{
display:block;
font-weight:normal;
}
.forums_header{
padding:4px;
color:#325994;
border:1px solid #ccc;
border-radius:2px 2px 0 0;
background:#eee;
}
.forums_header dd{
border-right:1px solid #ccc;
}
.forums_list{
border:1px solid #ccc;
border-top:none;
}
.forums_list li{
padding:5px;
border-bottom:1px solid #ccc;
background:none;
}
.forums_list li:last-child{
border-bottom:none;
}
.forums_stat{
width:50px;
height:25px;
padding:0 5px;
text-align:center;
}
dd.forums_lastpost{
width:200px;
padding:0 5px;
}
.forum_post{
position:relative;
word-wrap:break-word;
padding:10px 0;
margin-bottom:10px;
border-radius:2px;
background:#eee;
}
.forum_post .post_profile{
float:right;
width:128px;
border-left:1px solid #fff;
}
.forum_post .post_profile li:last-child span{
display:block;
}
.forum_post .post_profile img{
width:80px;
}
.forum_post:after{
content:".";
display:block;
height:0;
clear:both;
width:100%;
visibility:hidden;
}
.forum_post .post_body{
float:left;
width:625px;
padding:0 10px;
}
.forum_post .post_content{
text-align:justify;
padding:10px 0;
}
.forum_post .post_update{
margin-top:20px;
border-top:1px dashed #ccc;
font-size:80%;
}
.forum_post .post_update span{
font-style:italic;
}
.forum_post .post_actions{
position:absolute;
top:10px;
left:10px;
font-size:80%;
}
/* comments style */
.comments_post{
position:relative;
word-wrap:break-word;
padding:10px 0;
margin-bottom:10px;
border-radius:2px;
background:#eee;
}
.comments_post .post_profile{
float:right;
width:128px;
border-left:1px solid #fff;
}
.comments_post .post_profile li:last-child span{
display:block;
}
.comments_post .post_profile img{
width:80px;
}
.comments_post:after{
content:".";
display:block;
height:0;
clear:both;
width:100%;
visibility:hidden;
}
.comments_post .post_body{
float:left;
width:390px;
padding:0 10px;
}
.comments_post .post_content{
text-align:justify;
padding:10px 0;
}
.comments_post .post_update{
margin-top:20px;
border-top:1px dashed #ccc;
font-size:80%;
}
.comments_post .post_update span{
font-style:italic;
}
.comments_post .post_actions{
position:absolute;
top:10px;
left:10px;
font-size:80%;
}
.comments_post blockquote{
background-color:#E1EBF2;
margin:0;
padding:10px 20px;
}
.comments_post cite{
font-style:italic;
}
/* Poll */
.poll_answer_result div{
color:#ccc;
height:24px;
min-width:1%;
text-align:right;
overflow:visible;
font-weight:bold;
background:#325994;
white-space:nowrap;
}
/* Search */
.search_result_meta img{
float:right;
}
/* Photo Organizer */
.phoo_image .content{
text-align:center;
}


/* PrivateMessage */
.privateMessage  .actions{
    clear: both;
    float: left;
}
.privateMessage hr{
    border: 1px dashed;
    margin-top: 20px;
    margin-bottom: 20px;
}
.privateMessage .center{
    margin:0 auto;text-align: center
}