<!-- BEGIN similarity -->
<div class="gadget_header"><h3>{{title}}</h3></div>
<div class="gadget_container">
  <div class="gadget_content">
      <ul>
          <!-- BEGIN reference -->
          <li class="gadget_section">
              <div class="tag_result_meta">
                  <img src="{{image}}" alt="{{title}}"/>
                  <h4><a href="{{url}}" target="{{target}}">{{title}}</a></h4>
                  <span>{{date}}</span>
              </div>
          </li>
          <!-- END reference -->
      </ul>
  </div>
</div>
<div class="gadget_footer"></div>
<!-- END similarity -->