<!-- BEGIN tag -->
<div class="gadget tag">
    <div class="gadget_header"><h2>{title}</h2></div>

    <div class="gadget_section tag_result_summary">
        <!-- BEGIN subtitle -->{text}<!-- END subtitle -->
        <!-- BEGIN gadget --><h3>{gadget_result}</h3><!-- END gadget -->
    </div>

    <div class="gadget_content content">
        <ul>
            <!-- BEGIN tag_item -->
            <li class="gadget_section">
                <div class="tag_result_meta">
                    <img src="{image}" width="48" alt="{title}"/>
                    <h3><a href="{url}" target="{target}">{title}</a></h3>
                    <span>{date}</span>
                </div>
                <p>{snippet}</p>
            </li>
            <!-- END tag_item -->
        </ul>
        <!-- BEGIN notfound -->{message}<!-- END notfound -->
    </div>

    <!-- INCLUDE PageNavigation.html -->
    <div class="gadget_footer"></div>
</div>
<!-- END tag -->