<!-- BEGIN tag -->
<div class="gadget_header">
  <div class="gadget_title"><h2>{{title}}</h2></div>
</div>
<div class="gadget_container">
  <div class="gadget_section tag_result_summary">
      <!-- BEGIN subtitle -->{{text}}<!-- END subtitle -->
      <!-- BEGIN gadget --><h4>{{gadget_result}}</h4><!-- END gadget -->
  </div>

  <div class="gadget_content content">
      <ul>
          <!-- BEGIN tag_item -->
          <li class="gadget_section">
              <div class="tag_result_meta">
                  <img src="{{image}}" width="48" alt="{{title}}"/>
                  <h4><a href="{{url}}" target="{{target}}">{{title}}</a></h4>
                  <span>{{date}}</span>
              </div>
              <p>{{snippet}}</p>
          </li>
          <!-- END tag_item -->
      </ul>
      <!-- BEGIN notfound -->{{message}}<!-- END notfound -->
  </div>

  <!-- INCLUDE Navigation.html include/Jaws/Resources -->
</div>
<div class="gadget_footer"></div>
<!-- END tag -->