<!-- BEGIN tagcloud -->
<div class="gadget_header">
  <div class="row">
    <div class="col-xs-9"><h3>{{title}}</h3></div>
    <div class="col-xs-3"><!-- INCLUDE MenuNavigation.html include/Jaws/Resources --></div>
  </div>
</div>
<div class="gadget_container">
  <div class="gadget_content">
    <ul>
    <!-- BEGIN tag -->
      <li><a class="tag-link-{{size}}" href="{{url}}" title="{{frequency}}">{{tagname}}</a></li>
    <!-- END tag -->
    </ul>
  </div>
</div>
<div class="gadget_footer"></div>
<!-- END tagcloud -->