ul{
margin:0;
margin-top:10px;
padding:0;
list-style-type:none;
width:100%;
}
li{
margin:0;
margin-bottom:4px;
padding:5px;
cursor:move;
}
.category{
text-align:left;
}
.category_action{
text-align:right;
}
#preview div{
text-align:left;
}
.tableform{
width:100%;
}
.tableform td{
padding-bottom:5px;
}
.jaws_textarea_editor{
margin-bottom:5px;
}
#preview{
display:none;
max-height:400px;
overflow:auto;
padding:10px;
text-align:left;
width:95%;
}
#q_datagrid{
    width:470px;
    vertical-align: top;
}
.top-align{
    vertical-align: top;
}
.main {
    width: 100%;
}
#q_work_area{
    width:488px;
    padding:4px;
}