.ddm1 {
    font: 11px tahoma;
}
.ddm1 .item1,
.ddm1 .item1:hover,
.ddm1 .item1-active,
.ddm1 .item1-active:hover {
    padding: 3px 8px 4px 8px;
    border: 1px #003366;
    border-style: solid solid none solid;
    text-decoration: none;
    display: block;
    position: relative;
}
.ddm1 .item1 {
    background: #0EA138;
    color: #ffffff;
}
.ddm1 .item1:hover,
.ddm1 .item1-active,
.ddm1 .item1-active:hover {
    background: #FF6600;
    color: #ffffff;
}
.ddm1 .item2,
.ddm1 .item2:hover {
    padding: 3px 8px 4px 8px;
    text-decoration: none;
    display: block;
    white-space: nowrap;
}
.ddm1 .item2 {
    background: #3264C7;
    color: #ffffff;
}
.ddm1 .item2:hover {
    background: #6699FF;
    color: #ffffff;
}
.ddm1 .section {
    border: 1px #003366;
    border-style: solid solid solid solid;
    position: absolute;
    visibility: hidden;
    z-index: -1;
}
.ddm1 .bottom,
.ddm1 .bottom:hover { border-style: solid solid solid solid; }

* html .ddm1 td { position: relative; } /* ie 5.0 fix */