<!-- BEGIN template -->
<html>
<head>
<base href="{BASE_URL}" />
<meta http-equiv="content-type" content="text/html; charset=utf-8" />
<link rel="stylesheet" media="screen" type="text/css" href="gadgets/ControlPanel/resources/public{.dir}.css" />
<link rel="stylesheet" media="screen" type="text/css" href="gadgets/Layout/resources/style{.dir}.css" />
<link rel="stylesheet" media="screen" type="text/css" href="gadgets/Layout/resources/style2{.dir}.css" />
<!--[if lt IE 7]>
<link rel="stylesheet" media="screen" type="text/css" href="gadgets/ControlPanel/resources/public{.dir}.ie.css" />
<link rel="stylesheet" media="screen" type="text/css" href="gadgets/Layout/resources/style{.dir}.ie.css" />
<![endif]-->
<script type="text/javascript">
function showGadgets () {
    var div = document.getElementById('selected_gadgets');
    if (div.style.display == 'none') {
        div.style.display = 'block';
    } else {
        div.style.display = 'none';
    }
}

function getSelectedGadgets() {
    if (document.getElementById('display_in').value == 'always') {
        return '*';
    } else {
        var res = '';
        items = document.getElementsByName('checkbox_index[]');
        for (i = 0; i < items.length; i++) {
            if (items[i].checked) {
                res += items[i].value + ',';    
            }
        }
        if (res.length > 0) {
            res = res.substr(0, res.lastIndexOf(','));
        }
        return res;
    }
}
</script>
</head>
<body>
<form id="form_gadgets_list" name="form1" action="{base_script}" method="post">
<label><strong>{display_when}</strong></label>{display_in_combo}
<div id="selected_gadgets" style="display: {selected_display}">
{selected_gadgets}
</div>
<div id="footer"><div id="buttons">{save}</div></div>
</form>
</body>
</html>
<!-- END template -->
