<!-- BEGIN Activities -->
<div class="gadget_header">
  <div class="row">
    <div class="col-xs-12"><h2>{{title}}</h2></div>
  </div>
</div>
<div class="gadget_container">
  <div class="gadget_content">
    <!-- BEGIN gadget -->
    <div>
      {{gadget}} :
      <ul>
      <!-- BEGIN action -->
        <li>{{action}}: {{hits}}</li>
      <!-- END action -->
      </ul>
    </div>
    <!-- END gadget -->

    <!-- BEGIN no_activity -->
    <span>{{no_activity}}</span>
    <!-- END no_activity -->
  </div>
</div>
<div class="gadget_footer"></div>
<!-- END Activities -->