<!-- BEGIN Report -->
<form action="#" id="report-form-{{gadget}}-{{action}}-{{reference}}">
    <div class="form-group"><label for="type">{{lbl_type}}:</label>
        <select name="type" id="type" class="form-control">
            <!-- BEGIN type -->
            <option value="{{value}}">{{title}}</option>
            <!-- END type -->
        </select>
    </div>

    <div class="form-group"><label for="priority">{{lbl_priority}}:</label>
        <select name="priority" id="priority" class="form-control">
            <!-- BEGIN priority -->
            <option value="{{value}}">{{title}}</option>
            <!-- END priority -->
        </select>
    </div>

    <div class="form-group"><label for="comment">{{lbl_comment}}:</label>
        <textarea class="form-control" name="comment" id="comment" cols="45" rows="4">{{comment}}</textarea>
    </div>

</form>
<!-- END Report -->