<!-- BEGIN admin -->
<div id="search">
  <form action="{{base_script}}" method="post" onsubmit="return false;">
    <input type="hidden" name="gadget" value="Search" />
    <input type="hidden" name="action" value="SaveChanges" />
    <script type="text/javascript">
      function show_gadgets () {
          var div = document.getElementById('selected_gadgets');
          if (div.style.display == 'none') {
              div.style.display = 'block';
          } else {
              div.style.display = 'none';
          }
      }
    </script>
    <fieldset>
      <legend><span>{{settings}}</span></legend>
      <strong>{{use_with}}</strong> {{use_with_combo}}
      <div id="selected_gadgets" style="display:{{display}};">
      {{selected_gadgets}}
      </div>
    </fieldset>
    <div class="buttons">{{save_button}}</div>
  </form>
</div>
<!-- END admin -->
