.titlebar{
text-align:left;
background:#d3d7cf url(../../ControlPanel/Resources/images/titlebar-bg.png) repeat-x bottom left;
padding-left:5px;
padding-right:10px;
margin-bottom:5px;
border:1px solid #d3d7cf;
height:2.4em;
}
.titlebar span{
float:left;
padding:.4em;
white-space:nowrap;
display:table-cell;
vertical-align:middle;
padding-left:6px;
padding-right:6px;
border-left:1px solid #ddd;
}
.titlebar span img{
width:16px;
vertical-align:-3px;
margin-right:2px;
}
#forums_area{
float:left;
width:304px;
}
#forums_tree{
margin:0px;
padding:0px;
width:302px;
height:410px;
border:1px solid #d3d7cf;
background-color:#f7f7f7;
overflow:auto;
}
#forums_tree img{
width:16px;
vertical-align:-4px;
margin-right:0.2em;
}
#forums_tree a{
text-decoration:none;
}
#forums_tree a:hover{
text-decoration:underline;
}
.forums_group_area{
margin:0px;
padding:4px;
background-color:#f7f7f7;
border-bottom:1px dotted #d3d7cf;
}
.forums_group{
clear:both;
font-size:11px;
text-align:right;
padding-bottom:16px;
}
.forums_group_area .forums_group{
background-color:#ddd;
}
.forums_group .title{
float:left;
}
.forum_actions{
float:right;
}
.forums_group_item{
padding:0px;
text-align:left;
margin:1px 0px 1px 10px;
}
.forums_group_item a{
cursor:pointer;
}
#work_area{
float:left;
width:671px;
margin-left:3px;
margin-bottom:4px;
}
#work_area span{
width:400px;
overflow:hidden;
}
#forums_edit{
height:380px;
border:1px solid #d3d7cf;
}
#tbl_group, #tbl_forum{
padding:4px;
text-align:left;
}
#tbl_group td, #tbl_forum td{
padding:8px 0px 0px 10px;
}
#gid{
width:258px;
}
#title, #description, #fast_url{
width:480px;
}
#order, #locked, #private, #published{
width:120px;
}