<!-- BEGIN directory -->
<div class="gadget_header">
  <div class="gadget_title"><h2>{{gadget_title}}</h2></div>
  <div class="gadget_menubar">{{menubar}}</div>
  <div class="gadget_submenubar">{{submenubar}}</div>
</div>
<div class="gadget_container directory">
  <div class="gadget_response">
    <div id="directory_directory_response" class="alert {{response_type}}" role="alert">{{response_text}}</div>
  </div>

  <div>
    <a href="{{root_url}}" title="{{root}}">
      <img src="gadgets/Directory/Resources/images/home.png" alt="root"/>
    </a>
    <span>{{path}}</span>
  </div>

  <div class="gadget_content content">
    {{content}}
  </div>
  <!-- BEGIN upload_files -->
  <div class="gadget_actions actions">
    <button id="active_btn" onclick="javascript:newFile();" class="btn btn-primary" >
      <span class="glyphicon glyphicon-upload" aria-hidden="true"></span>
      {{upload}}
    </button>
  </div>
  <!-- END upload_files -->
  <!-- BEGIN upload_form -->
  <div id="fileUIArea" style="display: none">
    <form id="file_form" action="{{base_script}}"
          method="post" enctype="multipart/form-data">
      <input type="hidden" name="gadget" value="Directory"/>
      <input type="hidden" name="action" value="SaveFile"/>
      <input type="hidden" name="id" id="id"/>
      <input type="hidden" name="parent" id="parent" value="{{parent}}"/>
      <input type="hidden" name="referrer" id="referrer" value="{{referrer}}"/>

      <table class="table">
        <tr id="tr_file">
          <th>{{lbl_file}}:</th>
          <td><input class="form-control file" type="file" name="file"/></td>
        </tr>
        <tr>
          <th>{{lbl_thumbnail}}:</th>
          <td><input class="form-control file" type="file" name="thumbnail"/></td>
        </tr>
        <tr>
          <th>{{lbl_title}}:</th>
          <td><input name="title" id="title" style="width: 100%" value="{{title}}"/></td>
        </tr>
        <tr>
          <th>{{lbl_desc}}:</th>
          <td>{{description}}</td>
        </tr>
        <tr>
          <th>{{lbl_tags}}:</th>
          <td><input name="tags" id="tags" placeholder="tag1, tag2, ..."
                     value="{{tags}}"/></td>
        </tr>
        <tr>
          <th>{{lbl_public}}:</th>
          <td><input class="form-check-input" type="checkbox" id="public"
                     name="public" {{public_checked}}/></td>
        </tr>

        <!-- BEGIN published -->
        <tr>
          <th>{{lbl_published}}:</th>
          <td><input class="form-check-input" type="checkbox" id="published"
                     name="published" {{published_checked}}/></td>
        </tr>
        <!-- END published -->
      </table>
      <div class="gadget_actions actions">
        <button class="btn btn-default" type="button" onclick="stopAction()">{{lbl_cancel}}</button>
        <button class="btn btn-primary" type="submit">{{lbl_ok}}</button>
      </div>
    </form>
  </div>
  <!-- END upload_form -->

</div>
<div class="gadget_footer"></div>
<!-- END directory -->

<!-- BEGIN filters -->
<form name="search-file" method="post" action="{{requested_url}}">
  <input type="hidden" name="gadget" value="Directory" />
  <input type="hidden" name="action" value="Directory" />
  <table id="table logs_filter">
    <tr>
      <td class="filter_label"><label for="filter_file_type">{{lbl_type}}:</label></td>
      <td>
        <select class="form-control" name="filter_file_type" id="filter_file_type">
          <!-- BEGIN file_type -->
          <option value="{{value}}" {{selected}}>{{title}}</option>
          <!-- END file_type -->
        </select>
      </td>

      <td class="filter_label"><label for="filter_file_size">{{lbl_size}}:</label></td>
      <td>
        <select class="form-control" name="filter_file_size" id="filter_file_size">
          <!-- BEGIN file_size -->
          <option value="{{value}}" {{selected}}>{{title}}</option>
          <!-- END file_size -->
        </select>
      </td>

    </tr>
    <tr>
      <td class="filter_label"><label for="filter_from_date">{{lbl_from_date}}:</label></td><td>{{from_date}}</td>
      <td class="filter_label"><label for="filter_to_date">{{lbl_to_date}}:</label></td><td>{{to_date}}</td>
    </tr>

    <tr>
      <td class="filter_label"><label for="filter_order">{{lbl_order}}:</label></td>
      <td>
        <select class="form-control" name="filter_order" id="filter_order">
          <option value="2" {{order_selected_2}}>{{lbl_create_time}} &darr;</option>
          <option value="1" {{order_selected_1}}>{{lbl_create_time}} &uarr;</option>
        </select>
      </td>

      <td colspan="2"><button name="search" class="btn">{{lbl_search}}</button></td>
    </tr>
  </table>
</form>
<!-- END filters -->

<!-- BEGIN files -->
<table class="table file-list">
  <thead><tr>
    <th colspan="2">{{lbl_title}}</th>
    <th>{{lbl_created}}</th>
    <th>{{lbl_modified}}</th>
    <th>{{lbl_type}}</th>
    <th>{{lbl_size}}</th>
    <th>{{lbl_action}}</th>
  </tr></thead>
  <tbody class="file">
  <!-- BEGIN file -->
  <tr id="file_{{id}}" title="{{description}}">
    <td class="file-title"><a href="{{url}}"><img src="{{icon}}" alt="{{title}}" /></a></td>
    <td class="file-title"><a href="{{url}}">{{title}}</a></td>
    <td class="file-created">{{created}}</td>
    <td class="file-modified">{{modified}}</td>
    <td class="file-type">{{type}}</td>
    <td class="file-size">{{size}}</td>
    <td class="file-action">
      <!-- BEGIN action -->
      <a href="javascript:void(0);" onclick="javascript:deleteFile({{id}});">
        <img src="libraries/piwi/piwidata/art/stock/actions/edit-delete.png"
             alt="{{lbl_delete}}" title="{{lbl_delete}}" border="0"></a>

      <a href="javascript:void(0);" onclick="javascript:editFile({{id}}, {{parent}});">
        <img src="libraries/piwi/piwidata/art/stock/stock_edit.png"
             alt="{{lbl_edit}}" title="{{lbl_edit}}" border="0"></a>
      <!-- END action -->
    </td>
  </tr>
  <!-- END file -->
  </tbody>
</table>
<!-- INCLUDE Navigation.html include/Jaws/Resources -->
<!-- END files -->

<!-- BEGIN file -->
<table class="table file-info">
  <tr><th width="1">{{lbl_title}}:</th><td><img src="{{thumbnail}}" alt="">{{title}}</td></tr>
  <tr><th>{{lbl_desc}}:</th><td>{{description}}</td></tr>
  <tr><th>{{lbl_filename}}:</th><td>{{user_filename}}</td></tr>
  <tr><th>{{lbl_type}}:</th><td title="{{mime_type}}">{{type}}</td></tr>
  <tr><th>{{lbl_size}}:</th><td class="file-size">{{size}} ({{file_size}} {{lbl_bytes}})</td></tr>
  <tr><th>{{lbl_created}}:</th><td title="{{create_time}}">{{created}}</td></tr>
  <tr><th>{{lbl_modified}}:</th><td title="{{update_time}}">{{modified}}</td></tr>
  <tr><th>{{lbl_download}}:</th><td><a href="{{download}}"><img src="images/stock/bottom.png" alt="download" /></a></td></tr>
</table>
<!-- INCLUDE ReferenceTags.html gadgets/Tags/Templates -->
<br><p>{{preview}}</p>
<!-- INCLUDE Like.html gadgets/Rating/Templates -->
{{comments}}
{{comment-form}}
<!-- END file -->

<!-- BEGIN message -->
<p>{{msg}}</p>
<!-- END message -->
