<!-- BEGIN filters -->
<form name="search-file" method="post" action="{{requested_url}}">
  <input type="hidden" name="gadget" value="Directory" />
  <input type="hidden" name="action" value="Directory" />
  <table id="table logs_filter">
    <tr>
      <td class="filter_label"><label for="filter_file_type">{{lbl_type}}:</label></td>
      <td>
        <select class="form-control" name="filter_file_type" id="filter_file_type">
          <!-- BEGIN file_type -->
          <option value="{{value}}" {{selected}}>{{title}}</option>
          <!-- END file_type -->
        </select>
      </td>

      <td class="filter_label"><label for="filter_file_size">{{lbl_size}}:</label></td>
      <td>
        <select class="form-control" name="filter_file_size" id="filter_file_size">
          <!-- BEGIN file_size -->
          <option value="{{value}}" {{selected}}>{{title}}</option>
          <!-- END file_size -->
        </select>
      </td>

    </tr>
    <tr>
      <td class="filter_label"><label for="filter_from_date">{{lbl_from_date}}:</label></td><td>{{from_date}}</td>
      <td class="filter_label"><label for="filter_to_date">{{lbl_to_date}}:</label></td><td>{{to_date}}</td>
    </tr>

    <tr>
      <td class="filter_label"><label for="filter_order">{{lbl_order}}:</label></td>
      <td>
        <select class="form-control" name="filter_order" id="filter_order">
          <option value="2" {{order_selected_2}}>{{lbl_create_time}} &darr;</option>
          <option value="1" {{order_selected_1}}>{{lbl_create_time}} &uarr;</option>
        </select>
      </td>

      <td colspan="2"><button name="search" class="btn">{{lbl_search}}</button></td>
    </tr>
  </table>
</form>
<!-- END filters -->