<!-- BEGIN file -->
<table class="table file-info">
  <tr><th width="1">{{lbl_title}}:</th><td><img src="{{thumbnail}}" alt="">{{title}}</td></tr>
  <tr><th>{{lbl_desc}}:</th><td>{{description}}</td></tr>
  <tr><th>{{lbl_filename}}:</th><td>{{user_filename}}</td></tr>
  <tr><th>{{lbl_type}}:</th><td title="{{mime_type}}">{{type}}</td></tr>
  <tr><th>{{lbl_size}}:</th><td class="file-size">{{size}} ({{file_size}} {{lbl_bytes}})</td></tr>
  <tr><th>{{lbl_created}}:</th><td title="{{create_time}}">{{created}}</td></tr>
  <tr><th>{{lbl_modified}}:</th><td title="{{update_time}}">{{modified}}</td></tr>
  <tr><th>{{lbl_download}}:</th><td><a href="{{download}}"><img src="images/stock/bottom.png" alt="download" /></a></td></tr>
</table>
<!-- INCLUDE ReferenceTags.html gadgets/Tags/Templates -->
<br><p>{{preview}}</p>
<!-- INCLUDE Like.html gadgets/Rating/Templates -->
{{comments}}
{{comment-form}}
<!-- END file -->