<!-- BEGIN files -->
<table class="table file-list">
  <thead><tr>
    <th colspan="2">{{lbl_title}}</th>
    <th>{{lbl_created}}</th>
    <th>{{lbl_modified}}</th>
    <th>{{lbl_type}}</th>
    <th>{{lbl_size}}</th>
    <th>{{lbl_action}}</th>
  </tr></thead>
  <tbody class="file">
  <!-- BEGIN file -->
  <tr id="file_{{id}}" data-file-id = "{{id}}" title="{{description}}">
    <td class="file-title"><a href="{{url}}"><img src="{{icon}}" alt="{{title}}" /></a></td>
    <td class="file-title"><a href="{{url}}">{{title}}</a></td>
    <td class="file-created">{{created}}</td>
    <td class="file-modified">{{modified}}</td>
    <td class="file-type">{{type}}</td>
    <td class="file-size">{{size}}</td>
    <td class="file-preview"></td>
    <td class="file-action">
    <!-- BEGIN action -->
    <a href="javascript:void(0);" onclick="Jaws_Gadget.getInstance('Directory').deleteFile({{id}});">
      <img src="libraries/piwi/piwidata/art/stock/actions/edit-delete.png"
           alt="{{lbl_delete}}" title="{{lbl_delete}}" border="0" />
    </a>

    <a href="javascript:void(0);" onclick="Jaws_Gadget.getInstance('Directory').editFile({{id}}, {{parent}});">
      <img src="libraries/piwi/piwidata/art/stock/stock_edit.png"
           alt="{{lbl_edit}}" title="{{lbl_edit}}" border="0" />
    </a>
    <!-- END action -->
    </td>
  </tr>
  <!-- END file -->
  </tbody>
</table>
<!-- INCLUDE Navigation.html include/Jaws/Resources -->

<!-- BEGIN message -->
<p>{{msg}}</p>
<!-- END message -->
<!-- END files -->