<!-- BEGIN share -->
<fieldset>
<div><b>Shared for:</b></div>
<select id="share_users" size="10"></select>
<div></div>
<!-- BEGIN edit -->
<form id="frm_share">
  <div><b>Groups:</b></div>
  {groups}
  <div><b>Users:</b></div>
  <div id="users"></div>
</form>
<!-- END edit -->
</fieldset>
<!-- BEGIN actions -->
<div class="actions">
  <button type="button" onclick="submitShare()">{lbl_ok}</button>
  <button type="button" onclick="cancel()">{lbl_cancel}</button>
</div>
<!-- END actions -->
<!-- END share -->
