<!-- BEGIN statistics -->
<div class="gadget directory statistics">
  <div class="gadget_header"><h3>{title}</h3></div>
  <div class="gadget_container">
  <div class="gadget_content content">
    <table>
      <tr><th>{lbl_files}:</th><td>{files}</td></tr>
      <tr><th>{lbl_dirs}:</th><td>{dirs}</td></tr>
      <tr><th>{lbl_shared}:</th><td>{shared}</td></tr>
      <tr><th>{lbl_foreign}:</th><td>{foreign}</td></tr>
      <tr><th>{lbl_public}:</th><td>{public}</td></tr>
    </table>
  </div>
  </div>
  <div class="gadget_footer"></div>
</div>
<!-- END statistics -->
