<!-- BEGIN uploadUI -->
<div class="gadget_header">
    <h3><a href="{{url}}">{{title}}</a></h3>
</div>
<div class="gadget_container">
    <div>
        <a href="{{root_url}}" title="{{root}}">
            <img src="gadgets/Directory/Resources/images/home.png" alt="root"/>
        </a>
        <span>{{path}}</span>
    </div>

    <div class="gadget_content content">
        <div class="gadget_response">
            <div id="directory_uploadfileui_response" class="alert {{response_type}}" role="alert">{{response_text}}</div>
        </div>

        <fieldset>
            <form id="frm_upload" action="{{base_script}}" target="ifrm_upload"
                  method="post" enctype="multipart/form-data" onsubmit="return true;">
                <input type="hidden" name="gadget" value="Directory" />
                <input type="hidden" name="action" value="UploadFile" />
                <input type="hidden" name="type" value="file" />
                <table class="table">
                    <tr><th>{{lbl_file}}:</th><td>
                        <input class="form-control-file" type="file" name="file" onchange="uploadFile()" class="file" />
                    </td></tr>
                </table>
            </form>
            <form id="frm_thumbnail_upload" action="{{base_script}}" target="ifrm_upload"
                  method="post" enctype="multipart/form-data" onsubmit="return true;">
                <input type="hidden" name="gadget" value="Directory" />
                <input type="hidden" name="action" value="UploadFile" />
                <input type="hidden" name="type" value="thumbnail" />
                <table class="table">
                    <tr><th>{{lbl_thumbnail}}:</th><td>
                        <input class="form-control-file" type="file" name="file" onchange="uploadThumbnailFile()" class="file" />
                    </td></tr>
                </table>
            </form>
            <form id="frm_file">
                <input type="hidden" name="id" />
                <input type="hidden" name="parent" id="parent" value="0" />
                <table class="table">
                    <tr id="tr_file"><th>{{lbl_file}}:</th><td id="file_link"></td></tr>
                    <tr id="tr_thumbnail"><th>{{lbl_thumbnail}}:</th><td><img src="" id="thumbnail_image" alt=""></td></tr>
                    <tr><th>{{lbl_title}}:</th><td><input name="title" id="title" style="width: 100%" value="{{title}}" /></td></tr>
                    <tr><th>{{lbl_desc}}:</th><td>{{description}}</td></tr>
                    <tr><th>{{lbl_tags}}:</th><td><input name="tags" id="tags" placeholder="tag1, tag2, ..."
                                                         value="{{tags}}"/></td></tr>
                    <tr><th>{{lbl_public}}:</th><td><input class="form-check-input" type="checkbox" id="public"
                                                           name="public" {{public_checked}} /></td></tr>

                    <!-- BEGIN published -->
                    <tr><th>{{lbl_published}}:</th><td><input class="form-check-input" type="checkbox" id="published"
                                                              name="published" {{published_checked}}/></td></tr>
                    <!-- END published -->
                </table>
            </form>
        </fieldset>
        <div class="gadget_actions actions">
            <button class="btn" type="button" onclick="cancel()">{{lbl_cancel}}</button>
            <button class="btn btn-primary" type="button" onclick="submitFile()" id="btn_ok">{{lbl_ok}}</button>
        </div>

    </div>

</div>
<!-- END uploadUI -->