<!-- BEGIN workspace -->
<div class="gadget directory">
  <h2>{title}</h2>
  <div id="simple_response" class="{response_type}">{response}</div>
  <div class="toolbar">
    <img src="{new_file}" alt="{lbl_new_file}" title="{lbl_new_file}" onclick="newFile()" />
    <img src="{new_dir}" alt="{lbl_new_dir}" title="{lbl_new_dir}" onclick="newDirectory()" />
    <img src="{search}" alt="{lbl_search}" title="{lbl_search}" onclick="toggleSearch()" />
  </div>
  <div><span id="dir_pathbar"></span></div>
  <div id="frm_search">
    <input id="file_search"></input>
    <button onclick="performSearch()">{lbl_search}</button>
    <button onclick="toggleSearch(); updateFiles();">x</button>
  </div>
  <select id="file_filter" onchange="updateFiles()">
    <option value="all">All files & folders</option>
    <option value="shared">Shared files & folders only</option>
    <option value="foreign">Shares from other users only</option>
  </select>
  <div id="file_actions">
    <button type="button" id="btn_props" onclick="props()">{lbl_props}</button>
    <button type="button" id="btn_edit" onclick="edit()">{lbl_edit}</button>
    <button type="button" id="btn_move" onclick="move()">{lbl_move}</button>
    <button type="button" id="btn_delete" onclick="del()">{lbl_delete}</button>
    <!-- BEGIN share -->
    <button type="button" id="btn_share" onclick="share()">{lbl_share}</button>
    <!-- END share -->
    <button type="button" id="btn_download" onclick="downloadFile()">{lbl_download}</button>
  </div>
  <div id="file_arena" class="list-view">
    <!-- BEGIN fileTemplate -->
    <dl id="file_{id}" title="{description}">
      <dd class="file-icon">{icon}<span class="file-sharing {shared} {foreign} {public}"></span></dd>
      <dd class="file-title">{title}</dd>
      <dd class="file-created">{created}</dd>
      <dd class="file-modified">{modified}</dd>
      <!--dd class="file-type">{type}</dd-->
      <dd class="file-owner">{username}</dd>
      <dd class="file-size">{size}</dd>
    </dl>
    <!-- END fileTemplate -->
  </div>
  <div id="statusbar">
    <!-- BEGIN statusbar -->
    <strong>{title}</strong>
    <span id="stat_file_size">Size: </span>{size}
    <span>Date created: </span>{created}
    <span>Date modified: </span>{modified}
    <!-- END statusbar -->
  </div>
  <select id="view_type" onchange="changeFileView(this.value)">
    <option value="icon">Icon view</option>
    <option value="list">List view</option>
  </select>
  <div id="form"></div>
</div>
<script>
  var UID = "{UID}",
      site_url = "{site_url}",
      data_url = "{data_url}",
      icon_url = "{icon_url}",
      imgDeleteFile = "{imgDeleteFile}";
  initDirectory();
</script>
<!-- END workspace -->
