<!-- BEGIN list -->
<table class="table table-hover table-bordered">
 <thead>
  <tr>
    <th style="width: 15px;"><input class="form-check-input" type="checkbox" id="chk_all_rows" onchange="toggleCheckboxes(this.checked)" /></th>
    <th style="width: 15px;"></th>
    <th style="width: 270px;">{{lbl_name}}</th>
    <th>{{lbl_title}}</th>
  </tr>
 </thead>
  <!-- BEGIN item1 -->
  <tr>
    <td><input class="form-check-input" type="checkbox" name="adr[]" id="adr_{{index}}" value="{{index}}" class="table-checkbox"/></td>
    <td><!-- BEGIN is_public --><img src="{{icon_public}}" alt="public" /><!-- END is_public --></td>
    <td><a href="{{view_url}}" id="aid_{{index}}">{{name}}</a></td>
    <td>{{title}}</td>
  </tr>
  <!-- END item1 -->
</table>
<!-- END list -->