<!-- BEGIN address_list -->
<div class="gadget_header"><h3>{title}</h3><div class="gadget_menubar">{menubar}</div></div>
<div class="gadget_container">
  <div class="gadget_response">
    <div id="addressbook_addressbook_response" class="{type}">{text}</div>
  </div>
  <div class="gadget_content content">
    <div class="addressbook_list_search">
        {lbl_group}: 
        <select id="addressbook_group" name="group" style="width: 150px;" >
          <option value="0">{lbl_all_groups}</option>
          <!-- BEGIN group_item -->
          <option value="{gid}">{group_name}</option>
          <!-- END group_item -->
        </select>
        {lbl_term}: 
        <input id="addressbook_term" name="term" type="text" value="" class="large" />
        <button onclick="FilterAddress();" value="{lbl_search}" id="FilterAddress" name="FilterAddress" type="button">
          <img alt="lbl_search" src="{icon_filter}"> {lbl_search}
        </button>
    </div>

    <form name="AddressBookAction" action="{base_script}" method="post" onsubmit="return ExAction();" id="AddressBookAction">
    <input type="hidden" name="gadget" value="AddressBook" />

      <div class="addressbook_result" id="addressbook_result">
          {addressbook}
      </div>

      <div class="gadget_actions actions">
        <div style="float: left;">
          <select id="addressbook_gaction" name="action" style="width: 150px;" >
            <option value="AddressBook">{lbl_no_action}</option>
            <option value="DeleteAddress">{lbl_delete}</option>
            <option value="VCardBuild">{lbl_export}</option>
          </select>
          <button value="" id="BtnExAction" name="BtnExAction" type="submit"><img alt="" src="{icon_ok}"></button>
        </div>
        <a class="button" href="{accept_gaction_url}" title="{accept_gaction}" style="float: left; display:none;">{accept_gaction}</a>
        <!-- BEGIN actions -->
        <a class="button" href="{action_url}" title="{action_lbl}">{action_lbl}</a>
        <!-- END actions -->
      </div>
    </form>
  </div>
</div>
<div class="gadget_footer"></div>
<script type="text/javascript">
  var confirmDelete = "{confirmDelete}";
  var deleteURL = "{deleteURL}";
</script>
<!-- END address_list -->