<!-- BEGIN address_list -->
<div class="gadget addressbook_list">
  <h2>{title}</h2>
  <div class="content">
    <div class="addressbook_list_search"></div>
    <table>
      <tr>
        <th>{lbl_name}</th>
        <th>{lbl_company}</th>
        <th>{lbl_title}</th>
        <th>{lbl_email}</th>
        <th>{lbl_tel}</th>
      </tr>
      <!-- BEGIN item -->
        <td>{name}</td>
        <td>{company}</td>
        <td>{title}</td>
        <td>{email}</td>
        <td>{tel}</td>
      <!-- END item -->
    </table>
    <!-- BEGIN actions -->
    <div class="actions">
        <a href="{add_address_link}">{add_address}</a>
    </div>
    <!-- END actions -->
  </div>
</div>
<!-- END address_list -->