<!-- BEGIN address -->
<div class="gadget addressbook">
  <h2>{top_title}</h2>
  <!-- BEGIN response --><div class="simple-response-msg">{msg}</div><!-- END response -->
  <form name="addressbook" action="{base_script}" method="post" enctype="multipart/form-data" id="edit_addressbook">
  <input type="hidden" name="gadget" value="AddressBook" />
  <input type="hidden" name="action" value="{action}" />
  <input type="hidden" name="id" value="{id}" />
  <input type="hidden" name="last_refreh_user_link" id="last_refreh_user_link" value="-1" />
  <div class="content">
    <fieldset>
      <div class="addressbook_image"><img id="person_image" src="{image_src}" alt="person image" width="128px" /></div>
      <div>
        <label for="addressbook_user_link" >{lbl_user_link}:</label>
        <select id="addressbook_user_link" name="user_link" style="width: 150px; display: inline;" >
          <!-- BEGIN user_item -->
          <option value="{user_id}" {selected}>{user_name}</option>
          <!-- END user_item -->
        </select>
        <button onclick="GetUserInfo();" value="" id="LoadUserInfo" name="LoadUserInfo"type="button">
          <img alt="" src="{icon_load}">
        </button>
      </div>
      <div>
        <label for="addressbook_lastname" >{lbl_lastname}:</label>
        <input id="addressbook_lastname" name="name[0]" type="text" value="{name0}" />
      </div>
      <div>
        <label for="addressbook_firstname" >{lbl_firstname}:</label>
        <input id="addressbook_firstname" name="name[1]" type="text" value="{name1}" />
      </div>
      <input type="hidden" name="name[2]" value="" />
      <input type="hidden" name="name[3]" value="" />
      <input type="hidden" name="name[4]" value="" />
      <div>
        <label for="addressbook_nickname" >{lbl_nickname}:</label>
        <input id="addressbook_nickname" name="nickname" type="text" value="{nickname}" />
      </div>
      <div>
        <label for="addressbook_title" >{lbl_title}:</label>
        <input id="addressbook_title" name="title" type="text" value="{title}" />
      </div>
      <div>
        <label for="person_image">{lbl_upload_image}:</label>
        <input type="file" name="image" id="person_image">
      </div>
      <div>
        <input type="checkbox" name="delete_image" id="delete_image" value="1">
        <label for="delete_image">{lbl_delete_image}</label>
      </div>
    </fieldset>
    <fieldset>
      <legend><span>{tel_title}</span></legend>
      <div id="tel_p">
       <!-- BEGIN tel -->
       <div id="tel_{index}" class="tel">
        <select name="tel_type[{index}]" style="width: 150px;" >
          <!-- BEGIN item -->
          <option value="{type_id}" {selected}>{type_name}</option>
          <!-- END item -->
        </select>
        <input name="tel_number[{index}]" type="text" value="{value}" />
        <button onclick="AddTellItem();" value="" id="addTelButton" name="addTelButton"type="button">
          <img alt="{lbl_add_tell}" src="{icon_add}">
        </button>
        <button onclick="RemoveItem(this);" value="" id="removeTelButton" name="removeTelButton"type="button">
          <img alt="{lbl_remove_tell}" src="{icon_remove}">
        </button>
       </div>
       <!-- END tel -->
      </div>
    </fieldset>
    <fieldset>
      <legend><span>{email_title}</span></legend>
      <div id="email_p">
       <!-- BEGIN email -->
       <div id="email_{index}" class="email">
        <select name="email_type[{index}]" style="width: 150px;" >
          <!-- BEGIN item -->
          <option value="{type_id}" {selected}>{type_name}</option>
          <!-- END item -->
        </select>
        <input name="email[{index}]" type="text" value="{value}" />
        <button onclick="AddEmailItem();" value="" id="addEmailButton" name="addEmailButton"type="button">
          <img alt="{lbl_add_email}" src="{icon_add}">
        </button>
        <button onclick="RemoveItem(this);" value="" id="removeEmailButton" name="removeEmailButton"type="button">
          <img alt="{lbl_remove_email}" src="{icon_remove}">
        </button>
       </div>
       <!-- END email -->
      </div>
    </fieldset>
    <fieldset>
      <legend><span>{adr_title}</span></legend>
      <div id="adr_p">
       <!-- BEGIN adr -->
       <div id="adr_{index}" class="adr">
        <select name="adr_type[{index}]" style="width: 150px;" >
          <!-- BEGIN item -->
          <option value="{type_id}" {selected}>{type_name}</option>
          <!-- END item -->
        </select>
        <button onclick="AddAdrItem();" value="" id="addAdrButton" name="addAdrButton"type="button">
          <img alt="{lbl_add_adr}" src="{icon_add}">
        </button>
        <button onclick="RemoveItem(this);" value="" id="removeAdrButton" name="removeAdrButton"type="button">
          <img alt="{lbl_remove_adr}" src="{icon_remove}">
        </button>
        <textarea name="adr[{index}]" cols="25" rows="6" style="width: 100%;">{value}</textarea>
       </div>
       <!-- END adr -->
      </div>
    </fieldset>
    <fieldset>
      <legend><span>{other_details}</span></legend>
      <div id="url_p">
       <!-- BEGIN url -->
       <div id="url_{index}" class="url">
        <label>{lbl_url}:</label>
        <input name="url[{index}]" type="text" value="{value}" style="width: 350px; display: inline;"/>
        <button onclick="AddUrlItem();" value="" id="addUrlButton" name="addUrlButton"type="button">
          <img alt="{lbl_add_Url}" src="{icon_add}">
        </button>
        <button onclick="RemoveItem(this);" value="" id="removeUrlButton" name="removeUrlButton"type="button">
          <img alt="{lbl_remove_Url}" src="{icon_remove}">
        </button>
       </div>
       <!-- END url -->
      </div>

      <div>
        <label for="addressbook_notes" >{lbl_notes}: </label>
        <textarea id="addressbook_notes" name="notes" cols="25" rows="6">{notes}</textarea>
      </div>
      <div>
        <input type="checkbox" name="public" id="addressbook_public"
            <!-- BEGIN selected -->checked="checked"<!-- END selected -->
            value="true" />
        <label for="addressbook_public">{lbl_public}</label>
      </div>
    </fieldset>
    <fieldset>
      <legend><span>{group_title}</span></legend>
      <!-- BEGIN group -->
        <div>
          <input type="checkbox" name="groups[{gid}]" id="group_{gid}"
                <!-- BEGIN selected_group -->checked="checked"<!-- END selected_group -->
                value="true" />
          <label for="group_{gid}">{lbl_group}</label>
        </div>
      <!-- END group -->
    </fieldset>
  </div>
  <div class="actions">
    <a class="button" href="{cancel_url}" title="{cancel_lbl}">{cancel_lbl}</a>
    <a class="button" href="javascript:SaveAddress();" title="{lbl_save}">{lbl_save}</a>
  </div>
  </form>

 <script type="text/javascript">
    var lastID = {lastID};
    var nameEmptyWarning = "{nameEmptyWarning}";

    remain = $('removeTelButton').parentNode.parentNode.getElementsByTagName('div').length;
    if (remain == 1) {
        $('removeTelButton').style.display = 'none';
    }

    remain = $('removeEmailButton').parentNode.parentNode.getElementsByTagName('div').length;
    if (remain == 1) {
        $('removeEmailButton').style.display = 'none';
    }

    remain = $('removeAdrButton').parentNode.parentNode.getElementsByTagName('div').length;
    if (remain == 1) {
        $('removeAdrButton').style.display = 'none';
    }

    remain = $('removeUrlButton').parentNode.parentNode.getElementsByTagName('div').length;
    if (remain == 1) {
        $('removeUrlButton').style.display = 'none';
    }
 </script>

</div>
<!-- END address -->
