<!-- BEGIN group -->
<div class="gadget addressbook_group">
  <div class="gadget_header"><h3>{top_title}</h3><div class="gadget_menubar">{menubar}</div></div>
  <div class="gadget_container">
  <div class="gadget_response">
    <div id="addressbook_managegroups_response" class="{type}">{text}</div>
  </div>
  <form name="addressbook_group" action="{base_script}" method="post" enctype="multipart/form-data">
  <input type="hidden" name="gadget" value="AddressBook" />
  <input type="hidden" name="action" value="{action}" />
  <input type="hidden" name="gid" value="{gid}" />
  <div class="gadget_content content">
      <p><label>{lbl_name}:</label>
         <input name="name" type="text" value="{name}" />
      </p>
      <p><label>{lbl_desc}:</label>
         <textarea name="description" cols="25" rows="6">{desc}</textarea>
      </p>
  </div>
  <div class="gadget_actions actions">
    <a class="button" href="{cancel_url}" title="{cancel_lbl}">{cancel_lbl}</a>
    {btn_save}
  </div>
  </form>
  </div>
  <div class="gadget_footer"></div>
</div>
<!-- END group -->
