<!-- BEGIN group -->
<div class="gadget addressbook_group">
  <h2>{top_title}</h2>
  <!-- BEGIN response --><div class="simple-response-msg">{msg}</div><!-- END response -->
  <form name="addressbook_group" action="{base_script}" method="post" enctype="multipart/form-data">
  <input type="hidden" name="gadget" value="AddressBook" />
  <input type="hidden" name="action" value="SaveGroup" />
  <input type="hidden" name="gid" value="{gid}" />
  <div class="content">
      <p><label>{lbl_name}:</label>
         <input name="adr_group_name" type="text" value="{name}" />
      </p>
      <p><label>{lbl_desc}:</label>
         <textarea name="adr_group_desc" cols="25" rows="6">{desc}</textarea>
      </p>
  </div>
  <div class="actions">{btn_save}{btn_cancel}</div>
  </form>
</div>
<!-- END group -->
