<!-- BEGIN group -->
<div class="gadget addressbook_list">
  <div class="gadget_header"><h2>{title}</h2></div>
  <div class="gadget_container">
  <div class="gadget_content content">
   <ul>
    <li><a href="{address_list_link}">{address_list}</a></li>
    <li><a href="{groups_link}">{groups}</a></li>
   </ul>
    <ul>
      <!-- BEGIN item -->
      <li><a href="{link}" alt="{description}" >{name}</a></li>
      <!-- END item -->
    </ul>
  </div>
  </div>
  <div class="gadget_footer"></div>
</div>
<!-- END group -->