<!-- BEGIN address_list -->
<div class="gadget_header">
  <div class="gadget_title"><h3>{{title}}</h3></div>
  <div class="gadget_menubar">{{menubar}}</div>
</div>
<div class="gadget_container">
  <div class="gadget_response">
    <div id="addressbook_groupmembers_response" class="alert {{type}}" role="alert">{{text}}</div>
  </div>
  <div class="gadget_content content">
    <div class="addressbook_group">
      <form name="addressbook_bonding" action="{{base_script}}" method="post" enctype="multipart/form-data" id="addressbook_bonding">
      <input class="form-control" type="hidden" name="gadget" value="AddressBook" />
      <input class="form-control" type="hidden" name="action" value="BondAddress" />
      <input class="form-control" type="hidden" name="group" value="{{group}}" />
        {{lbl_address}}: 
        <select class="form-control" id="addressbook_group" name="address" style="width: 150px;" >
          <!-- BEGIN address_item -->
          <option value="{{aid}}">{{address_name}}</option>
          <!-- END address_item -->
        </select>
        <button class="btn" onclick="AddAddressToGroup();" value="" id="BtnAddAddressToGroup" name="BtnAddAddressToGroup" type="button">
          <img alt="" src="{{add_icon}}">
        </button>
      </form>  
    </div>
    <form name="addressbook_unbonding" action="{{base_script}}" method="post" enctype="multipart/form-data" id="addressbook_unbonding">
    <input class="form-control" type="hidden" name="gadget" value="AddressBook" />
    <input class="form-control" type="hidden" name="action" value="UnbondAddress" />
    <input class="form-control" type="hidden" name="group" value="{{group}}" />
        <table class="table table-hover table-bordered">
         <thead>
          <tr>
            <th style="width: 15px;"><input class="form-check-input" type="checkbox" id="chk_all_rows" onchange="toggleCheckboxes(this.checked)" /></th>
            <th style="width: 270px;">{{lbl_name}}</th>
            <th>{{lbl_title}}</th>
          </tr>
         </thead>
          <!-- BEGIN item1 -->
          <tr>
            <td><input class="form-check-input" type="checkbox" name="adr[]" id="adr_{{index}}" value="{{index}}" class="table-checkbox" /></td>
            <td>{{name}}</td>
            <td>{{title}}</td>
          </tr>
          <!-- END item1 -->
        </table>

        <div class="gadget_actions actions">
            <div style="float: left;">
              <select class="form-control" id="addressbook_gaction" name="actions" style="width: 150px;" >
                <option value="">{{lbl_no_action}}</option>
                <option value="UnbondAddress">{{lbl_delete}}</option>
              </select>
              <button class="btn btn-primary" value="" id="BtnExAction" name="BtnExAction" type="submit"><img alt="" src="{{icon_ok}}"></button>
            </div>
            <a class="btn btn-default" href="{{edit_group_link}}" title="{{edit_group}}" >{{edit_group}}</a>
        </div>
    </form>
  </div>
</div>
<div class="gadget_footer"></div>
<!-- END address_list -->