<!-- BEGIN address_list -->
<div class="gadget addressbook_list">
  <h2>{title}</h2>
  <div class="content">
  <!-- BEGIN response --><div class="simple-response-msg">{msg}</div><!-- END response -->
    <div class="addressbook_group">
      <form name="addressbook_bonding" action="{base_script}" method="post" enctype="multipart/form-data" id="addressbook_bonding">
      <input type="hidden" name="gadget" value="AddressBook" />
      <input type="hidden" name="action" value="BondAddress" />
      <input type="hidden" name="group" value="{group}" />
        {lbl_address}: 
        <select id="addressbook_group" name="address" style="width: 150px;" >
          <!-- BEGIN address_item -->
          <option value="{aid}">{address_name}</option>
          <!-- END address_item -->
        </select>
        <button onclick="AddAddressToGroup();" value="" id="BtnAddAddressToGroup" name="BtnAddAddressToGroup"type="button">
          <img alt="" src="{icon_add}">
        </button>
      </form>  
    </div>
    <table>
      <tr>
        <th>{lbl_name0}</th>
        <th>{lbl_name1}</th>
        <th>{lbl_action}</th>
      </tr>
      <!-- BEGIN item1 -->
      <tr>
        <td>{name0}</td>
        <td>{name1}</td>
        <td><a class="button" href="{unbond_url}" title="{unbond}" >{unbond}</a></td>
      </tr>
      <!-- END item1 -->
    </table>
    <div class="actions">
        <a class="button" href="{back_to_groups_link}" title="{back_to_groups}" >{back_to_groups}</a>
    </div>
  </div>
</div>
<!-- END address_list -->