<!-- BEGIN groups -->
<div class="gadget addressbook_list">
  <div class="gadget_header">
   <h2>{title}</h2>
   <div class="gadget_menubar">{menubar}</div>
  </div>
  <div class="gadget_response">
    <div id="addressbook_managegroups_response" class="{type}">{text}</div>
  </div>
  <div class="gadget_content content">
    <div class="addressbook_list_search"></div>
    <form name="AddressBookAction" action="{base_script}" method="post" >
    <input type="hidden" name="gadget" value="AddressBook" />
        <table>
         <thead>
          <tr>
            <th style="width: 15px;"><input type="checkbox" id="chk_all_rows" onchange="toggleCheckboxes(this.checked)" /></th>
            <th>{lbl_name}</th>
            <th>{lbl_description}</th>
          </tr>
         </thead>
          <!-- BEGIN item -->
          <tr>
            <td><input type="checkbox" name="gid[]" id="gid_{index}" value="{index}" class="table-checkbox" /></td>
            <td id="ag_{index}"><a href="{view_member_url}" title="{name}">{name}</a></td>
            <td>{description}</td>
          </tr>
          <!-- END item -->
        </table>

        <div class="gadget_actions actions">
            <div style="float: left;">
              <select id="addressbook_gaction" name="action" style="width: 150px;" >
                <option value="ManageGroups">{lbl_no_action}</option>
                <option value="DeleteGroup">{lbl_delete}</option>
              </select>
              <button value="" id="BtnExAction" name="BtnExAction" type="submit"><img alt="" src="{icon_ok}"></button>
            </div>
            <!-- BEGIN actions -->
            <a class="button" href="{add_group_link}" title="{add_group}" >{add_group}</a>
            <!-- END actions -->
        </div>
    </form>
  <script type="text/javascript">
    var confirmDelete = "{confirmDelete}";
  </script>
  </div>
  <div class="gadget_footer"></div>
</div>
<!-- END groups -->