<!-- BEGIN groups -->
<div class="gadget addressbook_list">
  <h2>{title}</h2>
  <ul class="gadget_menubar"><li><a href="{address_list_link}">{address_list}</a></li></ul>
  <!-- BEGIN response -->
  <div class="gadget_response simple-response-msg">{msg}</div>
  <!-- END response -->
  <div class="content">
    <div class="addressbook_list_search"></div>
    <table>
      <tr>
        <th>{lbl_name}</th>
        <th>{lbl_description}</th>
        <th>{lbl_actions}</th>
      </tr>
      <!-- BEGIN item -->
      <tr>
        <td id="ag_{index}">{name}</td>
        <td>{description}</td>
        <td>
          <!-- BEGIN action -->
            <a href="{action_url}" title="{action_lbl}"><img src="{icon}" alt="{action_lbl}" /></a>
          <!-- END action -->
        </td>
      </tr>
      <!-- END item -->
    </table>
    <!-- BEGIN actions -->
    <div class="actions">
        <a class="button" href="{add_group_link}" title="{add_group}" >{add_group}</a>
    </div>
    <!-- END actions -->
  <script type="text/javascript">
    var confirmDelete = "{confirmDelete}";
    var deleteURL = "{deleteURL}";
  </script>
  </div>
</div>
<!-- END groups -->