<!-- BEGIN address_list -->
<div class="gadget addressbook_list">
  <h2>{title}</h2>
  <div class="content">
    <table>
      <tr>
        <th>{lbl_name0}</th>
        <th>{lbl_name1}</th>
        <th>{lbl_title}</th>
      </tr>
      <!-- BEGIN item1 -->
      <tr>
        <td><a href="{view_url}" title="{name0}" >{name0}</a></td>
        <td>{name1}</td>
        <td>{title}</td>
      </tr>
      <!-- END item1 -->
    </table>
    <div class="actions">
        <a class="button" href="{back_to_my_adr_link}" title="{back_to_my_adr}" >{back_to_my_adr}</a>
    </div>
  </div>
</div>
<!-- END address_list -->