<!-- BEGIN address_list -->
<div class="gadget addressbook_list">
  <div class="gadget_header"><h2>{title}</h2></div>
  <div class="gadget_content content">
    <table>
     <thead>
      <tr>
        <th>{lbl_name}</th>
        <th>{lbl_title}</th>
      </tr>
     </thead>
      <!-- BEGIN item1 -->
      <tr>
        <td><a href="{view_url}" title="{name}" >{name}</a></td>
        <td>{title}</td>
      </tr>
      <!-- END item1 -->
    </table>
    <div class="gadget_actions actions">
        <a class="button" href="{back_to_my_adr_link}" title="{back_to_my_adr}" >{back_to_my_adr}</a>
    </div>
  </div>
  <div class="gadget_footer"></div>
</div>
<!-- END address_list -->