<!-- BEGIN vcard -->
<div class="gadget_header">
  <div class="gadget_title"><h3>{{title}}</h3></div>
  <div class="gadget_menubar">{{menubar}}</div>
</div>
<div class="gadget_container">
  <div class="gadget_response"><div class="alert {{type}}" role="alert">{{text}}</div></div>
  <div class="gadget_content content">
    <form name="import_vcard" action="{{base_script}}" method="post" enctype="multipart/form-data" id="import_vcard">
      <input class="form-control" type="hidden" name="gadget" value="AddressBook" />
      <input class="form-control" type="hidden" name="action" value="VCardImportFile" />
      <div>
        <p>{{upload_vcard_file_desc}}</p>
        <input class="form-control-file" type="file" name="vcard_file" id="vcard_file" class="file">
      </div>
      <div class="gadget_actions actions">
          <button class="btn btn-primary" value="{{lbl_save}}" id="btn_import_vcard" name="btn_import_vcard" type="submit">{{lbl_save}}</button>
          <!-- BEGIN actions -->
          <a class="btn btn-default" href="{{action_url}}" title="{{action_lbl}}">{{action_lbl}}</a>
          <!-- END actions -->
      </div>
    </form>
  </div>
</div>
<div class="gadget_footer"></div>
<!-- END vcard -->