<!-- BEGIN address -->
<div class="gadget addressbook">
  <h2>{top_title}</h2>
  <div class="content">
      <p><label>{lbl_fname}:</label> {fname}</p>
      <p><label>{lbl_lname}:</label> {lname}</p>
      <p><label>{lbl_nickname}:</label> {nickname}</p>
      <p><label>{lbl_title}:</label> {title}</p>
      <!-- BEGIN item -->
      <p><label>{lbl_item}:</label> {item}</p>
      <!-- END item -->
      <p><label>{lbl_notes}:</label>{notes}</p>
      <!-- BEGIN selected --><p><label for="addressbook_public">{lbl_is_public}</label></p><!-- END selected -->
      <!-- BEGIN group -->
      <p><label for="group_{gid}">{lbl_group}</label></p>
      <!-- END group -->

    <!-- BEGIN actions -->
    <div class="actions">
       <!-- BEGIN action -->
        <a class="button" href="{action_url}" title="{action_lbl}">{action_lbl}</a>
       <!-- END action -->
    </div>
    <!-- END actions -->
  </div>
</div>
<!-- END address -->
