<!-- BEGIN Requirements -->
<p style="color: #7F0000;">{{requirements}}:
<table class="fs_table" cellpadding=0 cellspacing=0>
<tr><th width="228px" class="title" >{{directive}}</th>
    <th width="94px">{{requirement}}</th>
    <th width="94px">{{actual}}</th>
    <th>{{result}}</th></tr>
<!-- BEGIN req_item -->
<tr><td class="title">{{item}}</td>
    <td>{{item_requirement}}</td>
    <td>{{item_actual}}</td>
    <td>{{result}}</td></tr>
<!-- END req_item -->
</table>
</p><br />

<p style="color: #00007F;">{{optional}}:
<table class="fs_table" cellpadding=0 cellspacing=0>
<tr><th width="228px" class="title" >{{directive}}</th>
    <th width="94px">{{recommended}}</th>
    <th width="94px">{{actual}}</th>
    <th>{{result}}</th></tr>
<!-- BEGIN rec_item -->
<tr><td class="title">{{item}}</td>
    <td>{{item_requirement}}</td>
    <td>{{item_actual}}</td>
    <td>{{result}}</td></tr>
<!-- END rec_item -->
</table>
</p><br />

<div class="buttons">
    <form method="post">
        <input type="submit" name="Requirements_complete" value="{{next}} &gt;" />
    </form>
</div>
<!-- END Requirements -->
