<!-- BEGIN ForumUI -->
<div>
  <input type="hidden" name="fid" id="fid" value="0" />
  <table id="tbl_forum" border="0" cellpadding="0" cellspacing="0">
    <tr><td><label for="gid">{{lbl_gid}}:</label></td><td>{{gid}}</td></tr>
    <tr><td colspan="2" style="border-bottom: 1px dashed #d3d7cf;"></td></tr>
    <tr><td><label for="title">{{lbl_title}}:</label></td><td>{{title}}</td></tr>
    <tr><td><label for="description">{{lbl_description}}:</label></td><td>{{description}}</td></tr>
    <tr><td><label for="fast_url">{{lbl_fast_url}}:</label></td><td>{{fast_url}}</td></tr>
    <tr><td><label for="order">{{lbl_order}}:</label></td><td>{{order}}</td></tr>
    <tr><td><label for="locked">{{lbl_locked}}:</label></td><td>{{locked}}</td></tr>
    <tr><td><label for="private">{{lbl_private}}:</label></td><td>{{private}}</td></tr>
    <tr><td><label for="published">{{lbl_published}}:</label></td><td>{{published}}</td></tr>
  </table>
</div>
<!-- END ForumUI -->