<!-- BEGIN Authentication -->
<p>{{key_path_info}}</p>
<p>{{auth_upload}}</p>
<p>{{key_file_info}}</p>
<div class="key">{{key}}</div>
<div>
 <form method="post">
  <label style="display: block;">
    <input class="form-check-input" type="checkbox" name="secure" id="secure" {{checked_secure}} value="true"/>
    {{rsa_security}}
  </label>
  <div class="buttons">
    <label>
      <input class="form-check-input" type="checkbox" name="customize" id="customize" {{checked_customize}} value="true"/>
      {{custom_installation}}
    </label>
    <input type="submit" name="Authentication_next" value="{{next}} &gt;" />
  </div>
 </form>
</div>
<!-- END Authentication -->
