.addressbook_image {float: right;}
#addressbook_name, #addressbook_firstname, #addressbook_lastname, #addressbook_nickname {width: 380px;}
#addTelButton, #addEmailButton, #addAdrButton, #addUrlButton,
#removeTelButton, #removeEmailButton, #removeAdrButton, #removeUrlButton
 {padding: 0;}
.addressbook #email_p, .addressbook #tel_p {
border-bottom: 1px dashed #CCCCCC;
margin-bottom: 5px;
margin-top: 10px;
}
.addressbook #email_p .email, .addressbook #tel_p .tel {margin-bottom: 5px;}
.addressbook_list_search, .addressbook_group {margin: 5px 0px;}
.addressbook_list_search button, .addressbook_group button {padding: 1px;}
#addressbook_term {width: 200px;}
.actions {margin-top: 5px;}
.addressbook_view p label {font-weight: bold;}
.addressbook_view .actions {margin-top: 20px;}