.addressbook_image {float: right;}
#addressbook_nickname {width: 410px; float: left}
#addressbook_firstname {width: 190px;}
#addressbook_lastname {width: 205px;}
#addTelButton, #addEmailButton, #addAdrButton, #addUrlButton,
#removeTelButton, #removeEmailButton, #removeAdrButton, #removeUrlButton {padding: 0;}
.addressbook #email_p, .addressbook #tel_p {
border-bottom: 1px dashed #CCCCCC;
margin-bottom: 5px;
margin-top: 10px;
}
.addressbook #email_p .email, .addressbook #tel_p .tel {margin-bottom: 5px;}
.addressbook_list_search, .addressbook_group {margin: 5px 0px;}
.addressbook_list_search button, .addressbook_group button {padding: 1px;}
#addressbook_term {width: 200px;}
.actions {margin-top: 5px;}
.addressbook_view p label {font-weight: bold;}
.addressbook_view .actions {margin-top: 20px;}

.addressbook_image .actions button {
height: 24px;
margin: 0;
width: 24px;
padding: 3px 5px;
}
.addressbook_image .wrapper1 {height: 24px; overflow: hidden; position: absolute; top: 0; width: 24px;}
.addressbook_image .wrapper1 input {width: 110px; padding: 0pt; font-size: 30px; margin: 0; opacity: 0;}