<!-- BEGIN info -->
<div style="padding-left: 10px; width: 520px;">
<div id="title">{gadget}: {description}</div>
<!-- BEGIN requires -->
<table class="pretty-table">
<caption>{requires}</caption>
<tr><th>{gadget}</th></tr>
<!-- BEGIN item -->
<tr><td>{gadget}</td></tr>
<!-- END item -->
</table>
<!-- END requires -->

<!-- BEGIN provides -->
<table class="pretty-table">
<caption>{provides}</caption>
<tr><th>{description}</th><th>{type}</th></tr>
<!-- BEGIN item -->
<tr><td>{description}</td><td>{type}</td></tr>
<!-- END item -->
</table>
<!-- END provides -->
</div>
<!-- END info -->
