<div class="gadget_header">
  <div class="row">
    <div class="col-xs-12"><h3>{{ "contact.us" | t }}</h3></div>
  </div>
</div>
<div class="gadget_container">
  <div class="gadget_response">
    <div class="alert {{response.type}}" role="alert">{{response.text}}</div>
  </div>
  <form name="contact" action="{{base_script}}"
    method="post"
    onsubmit="return submitContactForm(this);"
    enctype="multipart/form-data"
  >
  <input type="hidden" name="reqGadget" value="Contact" />
  <input type="hidden" name="reqAction" value="Send" />
  <div class="gadget_content">
    <div class="contact_comments">{{comments}}</div>
    {% unless "user.logged" | session %}
      {% if name | isset %}
        <div>
          <label>{{ "global.name" | t }}:</label>
          <input class="form-control" name="name" type="text" value="{{name}}" />
        </div>
      {% endif %}
      {% if email | isset %}
        <div>
          <label>{{ "global.email" | t }}:</label>
          <input class="form-control ltr" name="email" type="text" value="{{email}}" />
        </div>
      {% endif %}
    {% endunless %}
    {% if company | isset %}
      <div>
        <label>{{ "contact.company" | t }}:</label>
        <input class="form-control" name="company" type="text" value="{{company}}" />
      </div>
    {% endif %}
    {% unless "user.logged" | session %}
      {% if url | isset %}
        <div>
          <label>{{ "global.url" | t }}:</label>
          <input class="form-control ltr" name="url" type="text" value="{{url}}" />
        </div>
      {% endif %}
    {% endunless %}
    {% if tel | isset %}
      <div>
        <label>{{ "contact.tel" | t }}:</label>
        <input class="form-control ltr" name="tel" type="text" value="{{tel}}" />
      </div>
    {% endif %}
    {% if fax | isset %}
      <div>
        <label>{{ "contact.fax" | t }}:</label>
        <input class="form-control ltr" name="fax" type="text" value="{{fax}}" />
      </div>
    {% endif %}
    {% if mobile | isset %}
      <div>
        <label>{{ "contact.mobile" | t }}:</label>
        <input class="form-control ltr" name="mobile" type="text" value="{{mobile}}" />
      </div>
    {% endif %}
    {% if address | isset %}
      <div>
        <label>{{ "contact.address" | t }}:</label>
        <input class="form-control" name="address" type="text" value="{{address}}" />
      </div>
    {% endif %}

    {% if recipients %}
      <div>
        <label>{{ "contact.recipient" | t }}:</label>
        <select class="form-control" name="recipient">
        {%- for recipient in recipients %}
          <option value="{{recipient.id}}" {{ recipient.id | equal: selected_recipient, "selected" }}>
            {{recipient.name}}
          </option>
        {%- endfor %}
        </select>
      </div>
    {% endif %}

      <div>
        <label>{{ "contact.subject" | t }}:</label>
        <input class="form-control" name="subject" type="text" value="{{subject}}" />
      </div>

      <div>
        <label>{{ "contact.message" | t }}:</label>
        <textarea class="form-control" name="message" rows="6">{{message}}</textarea>
      </div>

    {% if attachment %}
      <div>
        <label>{{ "contact.attachment" | t }}:</label>
        <input class="form-control-file" name="attachment" type="file" />
      </div>
    {% endif %}

    {% include 'XCaptcha.html' path 'gadgets/Policy/Templates' with captcha %}
  </div>

  <div class="gadget_actions">
    <button class="btn btn-primary" type="submit">{{ "contact.send" | t }}</button>
  </div>

  </form>
</div>
<div class="gadget_footer"></div>
