<!-- BEGIN contact -->
<div class="gadget_header">
  <div class="row">
    <div class="col-xs-12"><h2>{{title}}</h2></div>
  </div>
</div>
<div class="gadget_container">
  <div class="gadget_response">
    <div class="alert {{response_type}}" role="alert">{{response_text}}</div>
  </div>
  <form name="contact" action="{{base_script}}"
    method="post"
    onsubmit="return submitContactForm(this);"
    enctype="multipart/form-data"
  >
  <input type="hidden" name="reqGadget" value="Contact" />
  <input type="hidden" name="action" value="Send" />
  <div class="gadget_content">
    <div class="contact_comments">{{comments}}</div>
  <!-- BEGIN name -->
      <div><label>{{lbl_name}}:</label>
         <input class="form-control" name="name" type="text" value="{{name}}" />
      </div>
  <!-- END name -->
  <!-- BEGIN email -->
      <div><label>{{lbl_email}}:</label>
         <input class="form-control ltr" name="email" type="text" value="{{email}}" />
      </div>
  <!-- END email -->
  <!-- BEGIN company -->
      <div><label>{{lbl_company}}:</label>
         <input class="form-control" name="company" type="text" value="{{company}}" />
      </div>
  <!-- END company -->
  <!-- BEGIN url -->
      <div><label>{{lbl_url}}:</label>
         <input class="form-control ltr" name="url" type="text" value="{{url}}" />
      </div>
  <!-- END url -->
  <!-- BEGIN tel -->
      <div><label>{{lbl_tel}}:</label>
         <input class="form-control ltr" name="tel" type="text" value="{{tel}}" />
      </div>
  <!-- END tel -->
  <!-- BEGIN fax -->
      <div><label>{{lbl_fax}}:</label>
         <input class="form-control ltr" name="fax" type="text" value="{{fax}}" />
      </div>
  <!-- END fax -->
  <!-- BEGIN mobile -->
      <div><label>{{lbl_mobile}}:</label>
         <input class="form-control ltr" name="mobile" type="text" value="{{mobile}}" />
      </div>
  <!-- END mobile -->
  <!-- BEGIN address -->
      <div><label>{{lbl_address}}:</label>
         <input class="form-control" name="address" type="text" value="{{address}}" />
      </div>
  <!-- END address -->
  <!-- BEGIN recipient -->
      <div><label>{{lbl_recipient}}:</label>
          <select class="form-control" name="recipient">
          <!-- BEGIN item -->
          <option value="{{recipient_id}}" {{selected}}>{{recipient_name}}</option>
          <!-- END item -->
          </select>
      </div>
  <!-- END recipient -->
  <!-- BEGIN subject -->
      <div><label>{{lbl_subject}}:</label>
         <input class="form-control" name="subject" type="text" value="{{subject}}" /></div>
  <!-- END subject -->
  <!-- BEGIN message -->
      <div><label>{{lbl_message}}:</label>
         <textarea class="form-control" name="message" rows="6">{{message}}</textarea>
      </div>
  <!-- END message -->
  <!-- BEGIN attachment -->
      <div><label>{{lbl_attachment}}:</label>
         <input class="form-control-file" name="attachment" type="file" /></div>
  <!-- END attachment -->
  <!-- INCLUDE Captcha.html gadgets/Policy/Templates -->
  </div>
  <div class="gadget_actions">{{btn_send}}</div>
  </form>
</div>
<div class="gadget_footer"></div>
<!-- END contact -->
