<!-- BEGIN contact -->
<div class="gadget_header"><h3>{title}</h3></div>
<div class="gadget_container">
  <div class="gadget_response"><div class="simple-response-msg">{msg}</div></div>
  <form name="contact" action="{base_script}" method="post" enctype="multipart/form-data">
  <input type="hidden" name="gadget" value="Contact" />
  <input type="hidden" name="action" value="Send" />
  <div class="gadget_content content">
    <div class="contact_comments">{comments}</div>
  <!-- BEGIN name -->
      <div><label>{lbl_name}:</label>
         <input name="name" class="large name" type="text" value="{name}" />
      </div>
  <!-- END name -->
  <!-- BEGIN email -->
      <div><label>{lbl_email}:</label>
         <input name="email" class="large email ltr" type="text" value="{email}" />
      </div>
  <!-- END email -->
  <!-- BEGIN company -->
      <div><label>{lbl_company}:</label>
         <input name="company" class="large name" type="text" value="{company}" />
      </div>
  <!-- END company -->
  <!-- BEGIN url -->
      <div><label>{lbl_url}:</label>
         <input name="url" class="large url ltr" type="text" value="{url}" />
      </div>
  <!-- END url -->
  <!-- BEGIN tel -->
      <div><label>{lbl_tel}:</label>
         <input name="tel" class="large tel ltr" type="text" value="{tel}" />
      </div>
  <!-- END tel -->
  <!-- BEGIN fax -->
      <div><label>{lbl_fax}:</label>
         <input name="fax" class="large tel ltr" type="text" value="{fax}" />
      </div>
  <!-- END fax -->
  <!-- BEGIN mobile -->
      <div><label>{lbl_mobile}:</label>
         <input name="mobile" class="large tel ltr" type="text" value="{mobile}" />
      </div>
  <!-- END mobile -->
  <!-- BEGIN address -->
      <div><label>{lbl_address}:</label>
         <input name="address" class="large address" type="text" value="{address}" />
      </div>
  <!-- END address -->
  <!-- BEGIN recipient -->
      <div><label>{lbl_recipient}:</label>
          <select name="recipient" class="large">
          <!-- BEGIN item -->
          <option value="{recipient_id}" {selected}>{recipient_name}</option>
          <!-- END item -->
          </select>
      </div>
  <!-- END recipient -->
  <!-- BEGIN subject -->
      <div><label>{lbl_subject}:</label>
         <input name="subject" class="x-large" type="text" value="{subject}" /></div>
  <!-- END subject -->
  <!-- BEGIN message -->
      <div><label>{lbl_message}:</label>
         <textarea name="message" class="x-large" rows="6">{message}</textarea>
      </div>
  <!-- END message -->
  <!-- BEGIN attachment -->
      <div><label>{lbl_attachment}:</label>
         <input name="attachment" type="file" /></div>
  <!-- END attachment -->
  <!-- INCLUDE Captcha.html gadgets/Policy/Templates -->
  </div>
  <div class="gadget_actions actions">{btn_send}</div>
  </form>
</div>
<div class="gadget_footer"></div>
<!-- END contact -->
