<!-- BEGIN html -->
<table class="table table-hover table-bordered" border="1">
  <tr><td>{{lbl_name}}:</td><td>{{name}}</td></tr>
  <tr><td>{{lbl_email}}:</td><td>{{email}}</td></tr>
  <tr><td>{{lbl_company}}:</td><td>{{company}}</td></tr>
  <tr><td>{{lbl_url}}:</td><td>{{url}}</td></tr>
  <tr><td>{{lbl_tel}}:</td><td>{{tel}}</td></tr>
  <tr><td>{{lbl_fax}}:</td><td>{{fax}}</td></tr>
  <tr><td>{{lbl_mobile}}:</td><td>{{mobile}}</td></tr>
  <tr><td>{{lbl_address}}:</td><td>{{address}}</td></tr>
  <tr><td>{{lbl_recipient}}:</td><td>{{recipient}}</td></tr>
  <tr><td>{{lbl_subject}}:</td><td>{{subject}}</td></tr>
  <tr><td colspan="2">{{lbl_message}}:</td></tr>
  <tr><td colspan="2">{{message}}</td></tr>
</table>
<br/>
-------------------
<br/>
<a href="{{site-url}}">{{site-name}}</a>
<!-- END html -->
<!-- BEGIN text -->
{{lbl_name}}: {{name}}
{{lbl_email}}: {{email}}
{{lbl_company}}: {{company}}
{{lbl_url}}: {{url}}
{{lbl_tel}}: {{tel}}
{{lbl_fax}}: {{fax}}
{{lbl_mobile}}: {{mobile}}
{{lbl_address}}: {{address}}
{{lbl_recipient}}: {{recipient}}
{{lbl_subject}}: {{subject}}
{{lbl_message}}:
{{message}}

-------------------
{{site-name}}
{{site-url}}
<!-- END text -->