<!-- BEGIN menu -->
<!-- BEGIN group_title -->
<div class="gadget_header">
  <div class="gadget_title"><h2>{{title}}</h2></div>
</div>
<!-- END group_title -->
<div class="gadget_container">
    <div class="gadget_content">
      <div class="navbar-thumbnail" id="navbar-{{gid}}">
        {{menus_tree}}
      </div>
    </div>
</div>
<div class="gadget_footer"></div>
<!-- END menu -->

<!-- BEGIN mainmenu -->
<ul class="drilldown">
  <!-- BEGIN items -->
  <!-- BEGIN complex -->
  <li class="dropdown {{class}}">
    <a href="{{url}}" target="{{target}}">
      <!-- BEGIN symbol --><i class="{{symbol}}"></i><!-- END symbol -->
      {{image}}<span>{{title}}</span>
    </a>
    {{submenu}}
  </li>
  <!-- END complex -->
  <!-- BEGIN simple -->
  <li class="{{class}}">
    <a href="{{url}}" target="{{target}}">
      <!-- BEGIN symbol --><i class="{{symbol}}"></i><!-- END symbol -->
      {{image}}<span>{{title}}</span>
    </a>
  </li>
  <!-- END simple -->
  <!-- END items -->
</ul>
<!-- END mainmenu -->

<!-- BEGIN submenu -->
<ul class="">
  <!-- BEGIN items -->
  <!-- BEGIN complex -->
  <li class="{{class}}">
    <a class="" href="{{url}}" target="{{target}}">
      <!-- BEGIN symbol --><i class="{{symbol}}"></i><!-- END symbol -->
      {{image}}<span>{{title}}</span>
    </a>
    {{submenu}}
  </li>
  <!-- END complex -->
  <!-- BEGIN simple -->
  <li class="{{class}}">
    <a href="{{url}}" target="{{target}}">
      <!-- BEGIN symbol --><i class="{{symbol}}"></i><!-- END symbol -->
      {{image}}<span>{{title}}</span>
    </a>
  </li>
  <!-- END simple -->
  <!-- END items -->
</ul>
<!-- END submenu -->