<div class="gadget_container">
  <nav class="navbar navbar-expand-lg bg-body-tertiary">
    <div class="gadget_content container-fluid gx-0">
      {%- if home %}
      <a class="navbar-brand" href="{{home.url}}">
        <i class="{{home.symbol}}"></i><span>{{home.title}}</span>
      </a>
      {%- endif %}
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbar-{{group.id}}">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbar-{{group.id}}">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          {%- include 'Menu2Levels.html' with levels as menus %}
        </ul>
        <form class="d-flex" name="search_form" method="get" action="{{base_script}}">
          <input type="hidden" name="reqGadget" value="Search" />
          <input type="hidden" name="reqAction" value="Results" />
          <div class="input-group">
            <input class="form-control" type="text" name="all" placeholder="{{ 'global.search' | t }}">
            <button class="btn btn-outline-secondary" type="submit" title="{{ 'global.search' | t }}">
              <i class="fas fa-magnifying-glass"></i>
            </button>
          </div>
        </form>
      </div>
    </div>
  </nav>
</div>