<!-- BEGIN menu -->
<div class="gadget_header"></div>
<div class="gadget_container">
    <div class="gadget_content">
      <div class="navbar-thumbnail" id="navbar-{{gid}}">
        <div class="drilldown">
          <div class="breadcrumbwrapper">
            <ul>
              <!-- BEGIN home -->
              <li class="first active">
                <a href="{{url}}">
                  <i class="{{symbol}}"></i><span>{{title}}</span>
                </a>
              </li>
              <!-- END home -->
            </ul>
          </div>
          {{menus_tree}}
        </div>
      </div>
    </div>
</div>
<div class="gadget_footer"></div>
<!-- END menu -->

<!-- BEGIN mainmenu -->
<ul class="drilldown-menu nav">
  <!-- BEGIN items -->
  <!-- BEGIN complex -->
  <li class="{{class}}">
    <a href="{{url}}" target="{{target}}">
      <i class="{{symbol}}"></i>{{image}}<span>{{title}}</span>
    </a>
    {{submenu}}
  </li>
  <!-- END complex -->
  <!-- BEGIN simple -->
  <li class="{{class}}">
    <a href="{{url}}" target="{{target}}">
      <i class="{{symbol}}"></i>{{image}}<span>{{title}}</span>
    </a>
  </li>
  <!-- END simple -->
  <!-- END items -->
</ul>
<!-- END mainmenu -->

<!-- BEGIN submenu -->
<ul class="nav">
  <!-- BEGIN items -->
  <!-- BEGIN complex -->
  <li class="{{class}}">
    <a href="{{url}}" target="{{target}}">
      <i class="{{symbol}}"></i>{{image}}<span>{{title}}</span>
    </a>
    {{submenu}}
  </li>
  <!-- END complex -->
  <!-- BEGIN simple -->
  <li class="{{class}}">
    <a href="{{url}}" target="{{target}}">
      <i class="{{symbol}}"></i>{{image}}<span>{{title}}</span>
    </a>
  </li>
  <!-- END simple -->
  <!-- END items -->
</ul>
<!-- END submenu -->