<div class="gadget_container w-100">
  <nav class="navbar navbar-expand bg-body-tertiary">
    <div class="gadget_content container-fluid flex-column align-items-start gx-0">
      {%- if home %}
      <a class="navbar-brand ms-2" href="{{home.url}}">
        <i class="{{home.symbol}}"></i><span>{{home.title}}</span>
      </a>
      {%- endif %}
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbar-{{group.id}}">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse flex-column" id="navbar-{{group.id}}">
        <ul class="navbar-nav flex-column me-auto mb-2 mb-lg-0">
          {%- include 'Menu3Levels.html' with levels as menus %}
        </ul>
      </div>
    </div>
  </nav>
</div>