<!-- BEGIN menu -->
<!-- BEGIN group_title -->
<div class="gadget_header">
  <div class="gadget_title"><h2>{{title}}</h2></div>
</div>
<!-- END group_title -->
<div class="gadget_container">
  <div class="gadget_content content">
    {{menus_tree}}
  </div>
</div>
<div class="gadget_footer"></div>
<!-- END menu -->
<!-- BEGIN levels -->
<ul>
<!-- BEGIN menu_item -->
  <li class="menu_item<!-- BEGIN current --> menu_current<!-- END current --><!-- BEGIN super --> menu_super<!-- END super --><!-- BEGIN first --> menu_first<!-- END first --><!-- BEGIN last --> menu_last<!-- END last -->">
    <a href="{{url}}" target="{{target}}">{{image}}<span>{{title}}</span></a>{{sub_menu}}
  </li><!-- END menu_item -->
</ul>
<!-- END levels -->