<!-- BEGIN tags -->
{menubar}
<div id="main">
<table style="width: 100%">
  <tr>
    <td colspan="2" style="vertical-align: top">
      <div>
          <!-- BEGIN gadgets_filter -->
          <label for="gadgets_filter">{lbl_gadgets_filter}: </label>{gadgets_filter}
          <!-- END gadgets_filter -->
          {gadgets_filter}
           {filter}
           {filter_button}
      </div>
    </td>
  </tr>
  <tr>
    <td style="vertical-align: top;text-align: left">
      {grid}
      <div class="buttons">{actions_combo}{btn_execute}</div>
    </td>
    <td class="workarea" style="vertical-align: top; width: 370px;">
      <input type="hidden" name="id" id="id" value="0" />
      <fieldset>
        <legend><span id="legend_title">{legend_title}</span></legend>
        <div id="c_work_area">{tag_ui}</div>
      </fieldset>
    </td>
  </tr>
  <tr>
    <td></td>
    <td class="buttons">{btn_cancel}{btn_save}</td>
  </tr>
</table>

<script type="text/javascript">
  var addNewTagTitle = "{legend_title}";
  var editTagTitle = "{editTagTitle}";
  currentAction = 'Tags';
  $('gadgets_filter').selectedIndex = 0;
  initDataGrid('tags_datagrid', TagsAjax, getTagsDataGrid);
  var incompleteTafFields       = "{incompleteTagFields}";
  var confirmTagDelete          = "{confirmTagDelete}";
  var selectMoreThanOneTags     = "{selectMoreThanOneTags}";
  var tagDetail_title           = "{tagDetail_title}";
</script>

</div>
<!-- END tags -->
<!-- BEGIN tagUI -->
<table id="tag_box">
    <tr>
        <td><label for="name">{lbl_name}:</label></td>
        <td>{name}</td>
    </tr>
    <tr>
        <td><label for="title">{lbl_title}:</label></td>
        <td>{title}</td>
    </tr>
    <tr>
        <td><label for="description">{lbl_description}:</label></td>
        <td>{description}</td>
    </tr>
    <tr>
        <td><label for="meta_keywords">{lbl_meta_keywords}:</label></td>
        <td>{meta_keywords}</td>
    </tr>
    <tr>
        <td><label for="meta_description">{lbl_meta_description}:</label></td>
        <td>{meta_description}</td>
    </tr>
</table>
<!-- END tagUI -->