<!-- BEGIN Logs -->
<div class="gadget_menubar">{{menubar}}</div>
<div id="main">
<table width="100%">
  <tr>
    <td id="l_datagrid" valign="top">
        <table id="logs_filter">
            <tr>
                <td class="filter_label"><label for="filter_from_date">{{lbl_filter_from_date}}:</label></td><td>{{filter_from_date}}</td>
                <td class="filter_label"><label for="filter_gadget">{{lbl_filter_gadget}}:</label></td><td>{{filter_gadget}}</td>
                <td class="filter_label"><label for="filter_priority">{{lbl_filter_priority}}:</label></td><td>{{filter_priority}}</td>
            </tr>
            <tr>
                <td class="filter_label"><label for="filter_to_date">{{lbl_filter_to_date}}:</label></td>
                <td>{{filter_to_date}}</td>

                <td class="filter_label"><label for="filter_user">{{lbl_filter_user}}:</label></td>
                <td>
                    <div class="input-group input-append dropdown combobox" id="filter_user">
                        <input type="text" class="form-control" placeholder="{{lbl_filter_user}}"
                               data-toggle="tooltip" data-placement="top" title="{{lbl_filter_user}}">
                        <div class="input-group-btn">
                            <button type="button" class="btn btn-default dropdown-toggle"
                                    data-toggle="dropdown" title=""><span class="caret"></span></button>
                            <ul class="dropdown-menu dropdown-menu-right">
                                <li data-value="0" data-selected=""><a href="#">{{lbl_all_users}}</a></li>
                            </ul>
                        </div>
                    </div>
                </td>

                <td class="filter_label"><label for="filter_result">{{lbl_filter_result}}:</label></td>
                <td>{{filter_result}}</td>
            </tr>

            <tr>
                <td class="filter_label"><label for="filter_status">{{lbl_filter_status}}:</label></td>
                <td>{{filter_status}}</td>
                <td class="filter_label"></td>
                <td></td>
                <td class="filter_label"></td>
                <td></td>
            </tr>
        </table>

        {{datagrid}}
        <div class="buttons">{{actions_combo}}{{btn_execute}}</div>
    </td>
    <td id="log_ui">
      <fieldset>
        <legend><span id="legend_title">{{legend_title}}</span></legend>
        <div id="l_work_area">{{log_ui}}</div>
      </fieldset>
    </td>
  </tr>
  <tr>
    <td class="buttons" colspan="2">{{btn_cancel}}</td>
  </tr>
</table>
</div>
<!-- END Logs -->
<!-- BEGIN LogUI -->
<table id="log_box">
  <colgroup>
    <col id="labels" />
    <col />
  </colgroup>
  <tr><td><label for="log_gadget">{{lbl_gadget}}:</label></td><td id="log_gadget"></td></tr>
  <tr><td><label for="log_action">{{lbl_action}}:</label></td><td id="log_action"></td></tr>
  <tr><td><label for="log_backend">{{lbl_backend}}:</label></td><td id="log_backend"></td></tr>
  <tr><td><label for="log_priority">{{lbl_priority}}:</label></td><td id="log_priority"></td></tr>
  <tr><td><label for="log_result">{{lbl_result}}:</label></td><td id="log_result"></td></tr>
  <tr><td><label for="log_status">{{lbl_status}}:</label></td><td id="log_status"></td></tr>
  <tr><td><label for="log_apptype">{{lbl_apptype}}:</label></td><td id="log_apptype"></td></tr>
  <tr><td><label for="log_auth">{{lbl_auth}}:</label></td><td id="log_auth"></td></tr>
  <tr><td><label for="log_username">{{lbl_username}}:</label></td><td id="log_username"></td></tr>
  <tr><td><label for="log_ip">{{lbl_ip}}:</label></td><td id="log_ip"></td></tr>
  <tr><td><label for="log_agent">{{lbl_agent}}:</label></td><td id="log_agent"></td></tr>
  <tr><td><label for="log_date">{{lbl_date}}:</label></td><td id="log_date"></td></tr>
</table>
<!-- END LogUI -->