<!-- BEGIN Logs -->
{{menubar}}
<div id="main">
<table width="100%">
  <tr>
    <td id="l_datagrid" valign="top">
        <table id="logs_filter">
            <tr>
                <td class="filter_label"><label for="filter_from_date">{{lbl_filter_from_date}}:</label></td><td>{{filter_from_date}}</td>
                <td class="filter_label"><label for="filter_gadget">{{lbl_filter_gadget}}:</label></td><td>{{filter_gadget}}</td>
                <td class="filter_label"><label for="filter_priority">{{lbl_filter_priority}}:</label></td><td>{{filter_priority}}</td>
            </tr>
            <tr>
                <td class="filter_label"><label for="filter_to_date">{{lbl_filter_to_date}}:</label></td><td>{{filter_to_date}}</td>
                <td class="filter_label"><label for="filter_user">{{lbl_filter_user}}:</label></td><td>{{filter_user}}</td>
                <td class="filter_label"><label for="filter_status">{{lbl_filter_status}}:</label></td><td>{{filter_status}}</td>
            </tr>
        </table>

        {{datagrid}}
        <div class="buttons">{{actions_combo}}{{btn_execute}}</div>
    </td>
    <td id="log_ui">
      <fieldset>
        <legend><span id="legend_title">{{legend_title}}</span></legend>
        <div id="l_work_area">{{log_ui}}</div>
      </fieldset>
    </td>
  </tr>
  <tr>
    <td class="buttons" colspan="2">{{btn_cancel}}</td>
  </tr>
</table>
<script type="text/javascript">
    var confirmLogsDelete = "{{confirmLogsDelete}}";
    initDataGrid('logs_datagrid', LogsAjax, getLogs);
</script>
</div>
<!-- END Logs -->
<!-- BEGIN LogUI -->
<table id="log_box">
  <colgroup>
    <col id="labels" />
    <col />
  </colgroup>
  <tr><td><label for="log_gadget">{{lbl_gadget}}:</label></td><td id="log_gadget"></td></tr>
  <tr><td><label for="log_action">{{lbl_action}}:</label></td><td id="log_action"></td></tr>
  <tr><td><label for="log_backend">{{lbl_backend}}:</label></td><td id="log_backend"></td></tr>
  <tr><td><label for="log_priority">{{lbl_priority}}:</label></td><td id="log_priority"></td></tr>
  <tr><td><label for="log_status">{{lbl_status}}:</label></td><td id="log_status"></td></tr>
  <tr><td><label for="log_apptype">{{lbl_apptype}}:</label></td><td id="log_apptype"></td></tr>
  <tr><td><label for="log_username">{{lbl_username}}:</label></td><td id="log_username"></td></tr>
  <tr><td><label for="log_nickname">{{lbl_nickname}}:</label></td><td id="log_nickname"></td></tr>
  <tr><td><label for="log_ip">{{lbl_ip}}:</label></td><td id="log_ip"></td></tr>
  <tr><td><label for="log_agent">{{lbl_agent}}:</label></td><td id="log_agent"></td></tr>
  <tr><td><label for="log_date">{{lbl_date}}:</label></td><td id="log_date"></td></tr>
</table>
<!-- END LogUI -->