/* Jaws installer stylesheet */
* {
font-family: tahoma, helvetica, arial, sans-serif;
}

body {
margin: 0;
padding: 0;
direction: ltr;
font-size: 1em;
text-align: center;
background: #fff url(images/top.jpg) repeat-x top right;
}

a {
color: #3465a4;
}

a:hover {
color: #9db029;
}

h1, h2, h3, h4, table th {
color: #3465a4;
}

h1 a, h2 a, h3 a, h4 a, table th a{
color: #3465a4;
text-decoration: none;
}

h1 { font-size: large; }
h2 { font-size: medium;}
h3 { font-size: small; }
h4 { font-size: x-small; }

h1 {
clear: both;
font-size: 150%;
margin-left: 20px;
margin-right: 20px;
margin-bottom: 35px;
border-bottom: none;
}

h1 img {
float: left;
}

label {
cursor: pointer;
font-weight: bold;
}

input, select {
font-size: 11pt;
border: 1px solid #cccccc;
}

button{
width: auto;
font-size: 12px;
border: 1px solid #333;
overflow: visible;
}

button, input[type="button"], input[type="submit"]{
color: #888a85;
font-size: 8pt;
cursor: pointer;
background-color: #efefef;
border: 1px solid #babdb6;
border-top: 1px solid #d3d7cf;
border-right: 1px solid #d3d7cf;
}

button:hover, input[type="button"]:hover, input[type="submit"]:hover{
background-color: #3465a4;
color: #fff;
}

button:active, input[type="button"]:active, input[type="submit"]:active {
background-color: #fff;
color: #000;
border: 1px solid #3465a4;
}

select {
cursor: pointer;
}

input[type="text"], input[type="password"], textarea {
color: #555753;
background-color: #fff;
border: 1px solid #d3d7cf;
border-top: 1px solid #babdb6;
border-right: 1px solid #babdb6;
padding: 3px;
}

input[type="text"]:focus, input[type="password"]:focus, textarea:focus{
color: #000;
background-color: #fff;
border: 1px solid #3465a4;
}

input[type="checkbox"], select {
padding: 1px;
font-size: small;
}

textarea {
padding: 2px;
width: inherit;
font-size: 10pt;
border: 1px solid #cccccc;
font-family: "Courier New", tahoma, helvetica, arial, sans-serif;
}

fieldset div {
clear: left;
padding: 0 1em;
padding-bottom: 6px;
}

fieldset div strong {
font-size: 100%
}

div.buttons {
clear: both;
padding-top: 10px;
text-align: left;
}

#top_header {
width: 850px;
min-height: 80px;
height: 80px;
display: block;
margin: 0 auto;
padding: 0;
text-align: right;
}

#top_header h1 {
margin: 0;
padding-top: 20px;
color: #fff;
font-weight: bold;
font-size: large;
}

#top_header h1 a, #top_header h1 a:hover {
color: #fff;
text-decoration: none;
}

#top_header p {
color: #fff;
margin: 0px;
}

#container {
padding: 0;
width: 790px;
margin: 0 auto;
display: block;
direction: rtl;
text-align: right;
font-size: smaller;
background: transparent;
}

html>body #container{
width: 790px;
}

#sub_footer {
letter-spacing: 1px;
border-top: 1px dotted #babdb6;
margin-top: 40px;
color: #888a85;
padding: 10px;
clear: both;
}

#sub_footer a, #sub_footer a:hover{
text-decoration: none;
}

#sub_footer p {
font-size: smaller;
margin: 0 0 10px 0;
}

#main {
width: 100%;
max-width: 100%;
margin: 0 8px 0 8px;
}

.clearfix:after {
content: ".";
display: block;
height: 0;
clear: both;
visibility: hidden;
}

ul, ol {padding: 0; margin: 0 25px 10px 0;}
ul li, ol li {margin: 0px;}

ol.stagelist {
float: right;
border: 1px solid #9db029;
border-radius: 3px;
background-color: #e6f0a5;
padding: 10px 30px 10px 0px;
margin: 0 0 0 20px;
width: 210px;
line-height:1.4em
}

ol.stagelist li {
margin: 0px;
}

li.current {
font-weight: bold;
}

li.complete {
text-decoration: line-through;
}

.content {
padding-left: 48px;
margin-right: 270px;
}

.msg_info, .msg_warning, .msg_error {
   -moz-border-radius: 4px;
font-weight: bold;
display: block;
text-align: right;
padding-left: 8px;
padding-right: 26px;
padding-top: 4px;
padding-bottom: 3px;
overflow: auto;
background-repeat: no-repeat;
background-position: right;
}

.msg_info {
border: 1px solid #9db029;
background-color: #e6f0a5;
background-image: url("../../images/stock/info-small.png");
}

.msg_warning {
border: 1px solid #fce94f;
background-color: #fdf4a7;
background-image: url("../../images/stock/warning-small.png");
}

.msg_error {
border: 1px solid #cc0000;
background-color: #fabfbf;
background-image: url("../../images/stock/error-small.png");
}

h1 {
clear: both;
font-size: 150%;
margin-left: 20px;
margin-right: 20px;
margin-bottom: 35px;
border-bottom: none;
}

h1 img {
float: left;
}

.key {
padding: 10px;
border: 1px solid #d3d7cf;
background-color: #eeeeec;
margin-bottom: 10px;
font-size: 15px;
font-weight: bold;
text-align: center;
}

label {
font-weight: bold;
}

#tbl_customize {
direction:ltr;
text-align:left;
}

.form_comment {
font-size: 80%;
}

.config-area {
width: 100%;
font-size: 8pt;
direction: ltr;
text-align: left;
}
div.loglevel {
float: right;
}
.loglevel select {
direction: ltr;
}

.fs_table {
text-align: center;
margin-bottom:10px;
border: 1px solid #d3d7cf;
}

.fs_table th {
font-size: 100%;
font-weight: bold;
padding: 4px;
color: #fff;
background-color: #3465a4;
}

.fs_table td {
font-size: small;
font-weight: bold;
padding: 4px;
border: 1px solid #d3d7cf;
}

.fs_table .title {
text-align: right;
}
#log_install {
text-align:right;
margin-bottom:10px;
}
#log_install label{
font-size:10px;
font-weight:normal;
}
