#themes_info {
    text-align: right;
}

#themes_info th {
    color: #3465a4;
}

#buttons_area {
    float: left;
    padding: 5px 0;
    border-spacing: 0px;
}

#themes_combo, #theme_upload {
    direction: ltr;
}

#themes_combo {
    width: 250px;
    height: 290px;
}
#themes_combo optgroup {
    direction: rtl;
}
#themes_combo optgroup option {
    direction: ltr;
}
#themes_info_area {
    width: 500px;
    text-align: right;
}

#theme_area {
    width: 100%;
    height: 350px;
    max-height: 350px;
    overflow: auto;
    border: 1px solid #ccc;
}

#extra_options {
    text-align: right;
    padding-top: 10px;
}
