<!-- BEGIN albums -->
<div class="gadget albums">
  <h2>{title}</h2>
  <div class="content">
    <!-- BEGIN item -->
    <table>
    <tr>
    <td valign="top">
    <h3><a href="{url}">{name}</a></h3>
    {description}
    <div class="album-info">{createtime}<br />{howmany}</div>
    </td>
    <td valign="top" width="1%">
    <a href="{url}" title="{name}"><img src="{thumb}" width="{width}" height="{height}" border="0" alt="{filename}" /></a>
    </td>
    </tr>
    </table>
    <!-- END item -->
  </div>
</div>
<!-- END albums -->
