<!-- BEGIN comment -->
<div class="gadget comment comment_level_{level}">
  <h3><a name="{commentname}" title="{title}">{title}</a></h3>
  <div class="comment_info">
    <a href="{url}">{name}</a>, &lt;{email}&gt; / {createtime}
    <!-- ip {ip_address} -->
    <em>{status_message}</em>
  </div>
  <div class="content">
    <img src="{avatar_source}" class="avatar" alt="avatar" height="48" width="48" />
    <p>{comments}</p>
  </div>
  <!-- BEGIN reply-link -->
  <div class="comment_reply">[ {reply-link} ({replies}) ]</div>
  <!-- END reply-link -->
  <div class="clearfix"></div>
</div>
<!-- BEGIN thread -->{thread}<!-- END thread -->
<!-- END comment -->