<!DOCTYPE html>
<!-- BEGIN layout -->
<html lang="{{site_languages}}">
<head>
  <base href="{{base_url}}" />
  <title>{{site-name}}: {{control-panel}}</title>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <!-- BEGIN metas -->{{elements}}<!-- END metas -->
  <!-- BEGIN links -->{{elements}}<!-- END links -->
</head>
<body id="requested_gadget_{{requested_gadget}}" class="fuelux">
  <div id="working_notification"></div>
  <div id="header">
    <div id="site-info">
      <h1><a href="{{admin-script}}">{{site-name}}: {{control-panel}}</a></h1>
      <p>{{site-slogan}}</p>
    </div>
    <div id="login-info">
      <!-- BEGIN login-info -->
      <img alt="{{name}}" width="48" height="48" src="{{avatar}}" />
      <div class="name">{{my-account}}</div>
      <div class="logout">
        <a href="{{logout-url}}">{{logout}}</a> - 
        <a href="{{site-url}}">{{view-site}}</a>
      </div>
      <!-- END login-info -->
    </div>
    <div class="clearfix"></div>
    <!-- BEGIN warning --><div id="warning-wrapper"><div class="warning">{{warning}}</div></div><!-- END warning -->
  </div>
  <div class="clearfix" style="margin-bottom:20px;"></div>

  <div id="container" class="clearfix">
    <div id="main-section" class="clearfix">
      <!-- BEGIN cptitle -->
      <div id="control-panel-title">
        <img alt="{{title-gadget}}" style="vertical-align: middle;" src="{{icon-gadget}}" />
        <a href="{{admin-script}}">{{cp-title}}</a> {{cp-title-separator}} <a href="{{admin-script}}?gadget={{title-gadget}}">{{title-name}}</a>
        <span id="cpsubtitle"></span>
        <!-- BEGIN documentation -->
        <a href="{{url}}" target="_blank"><img src="{{src}}" width="16" alt="{{alt}}" title="{{alt}}"/></a>
        <!-- END documentation -->
      </div>
      <!-- END cptitle -->
      <div class="gadget_response">
        <div id="{{main_gadget}}_{{main_action}}_response" class="alert {{response_type}}" role="alert">{{response_text}}</div>
      </div>
      <!-- BEGIN main -->{{ELEMENT}}<!-- END main -->
    </div>

    <div id="footer">
      <p><strong>{{site-name}}</strong><br />{{site-slogan}}</p>
      <p>Powered by the <a href="http://jaws-project.com" rel="external">Jaws Project</a></p>
    </div>
  </div>
  <!-- BEGIN scripts -->
  {{elements}}
  <!-- END scripts -->
</body>
</html>
<!-- END layout -->