<!-- BEGIN layout --><?xml version="1.0" encoding="utf-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en">
 <head>
  <title>{site-name}</title>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <base href="{BASE_URL}" />
<!-- BEGIN head -->{ELEMENT}<!-- END head -->
  <link rel="icon" type="image/png" href="images/jaws.png" />

  <script type="text/javascript">
  function focusOnLoad(focusObject)
  {
    document.getElementById(focusObject).focus();
    document.getElementById(focusObject).select();
  }

  function ValidateForm_login_form(form) {
   if (!form.elements['usecrypt[]'].checked) {
       return true;
   }
    setMaxDigits(128);
    var pub_key = new RSAPublicKey(form.exponent.value, form.modulus.value, 128);
    form.password.value = encryptedString(pub_key, form.password.value);
    return true;
  }
  </script>
 </head>
 <body onload="javascript: focusOnLoad('{loadObject}')">
  <div id="header">
   <h1><a href="{admin_script}">{site-name}: {control-panel}</a></h1>
   <p>{site-slogan}</p>
  </div>
  <hr />
  <div id="container" class="clearfix">
   <div id="main-section" class="clearfix">
    <div id="login" style="width: 100%;" align="center">
      <!-- BEGIN message --><center><div class="warning-message">{message}</div></center><!-- END message -->
      <center>{form}</center>
     <div class="login-footer"><a href="{base_url}">{back}</a></div>
    </div>
   </div>
   <hr />
   <div id="footer" style="margin-top: 100px;">
    <p><strong>{site-name}</strong><br />
    {site-slogan}</p>
    <p>Powered by the <a href="http://www.jaws-project.com" rel="external">Jaws Project</a></p>
   </div>
  </div>
 </body>
</html>
<!-- END layout -->
